[2020-10-14 14:27] pb82 commented on #130
fixed in v3.6.0, see https://github.com/integr8ly/grafana-operator/blob/v3.6.0/documentation/env_vars.md

[2020-10-14 14:27] #130 closed

[2020-10-14 23:06] weisdd commented on #276
@HubertStefanski A Helm chart normally has a set of templates (the `templates` folder) and `Values.yaml`. In a template, there's no need to quote expressions like `{{ .Values.keycloak.enabled }}` - they are expected there by design. `Values.yaml` is a different thing, it has to follow pure YAML rules, so you can't use templating functions without first quoting your expression or using line folding

[2020-10-15 08:53] weisdd commented on #214
@HubertStefanski I'd like to elaborate on one more reason why it's important to have a configurable logging level ("warn" in my case).
As you know, many companies have centralized logging. The exact implementation depends on a type of cloud you're using or other consideration - it could be a flavor of ExK or some native service (e.g. [Cloud Logging](https://cloud.google.com/logging)). In either ca

[2020-10-15 10:41] HubertStefanski commented on #214
Hi @weisdd , I'll look into this with priority, seeing the recent increase in communications around this issue. Thanks for sharing your case, it highlights the issue quite well, :+1:

[2020-10-21 10:50] Cellebyte opened #296 "[Bug] dataStorage not available in crd definition."
**Describe the bug**
CRD is missing `dataStorage`

**To Reproduce**
Steps to reproduce the behavior:
1. Try to apply grafana object with
[code]
2. Breaks because the crd was not updated.

**Expected behavior**
Apply succeeds and I got a deployment with `PersistantVolume`.

**Additional context**

[https://github.com/integr8ly/grafana-operator/blob/dca10dc78d2c2b49f253535314567270f4f5a4f4/deploy/ex

[2020-10-25 13:25] rieger-jared commented on #117
👍 Agree with the above. A lot of other operators out there are supporting this(Fluxcd for example). Not hard to implement as stated above.

[2020-10-26 14:23] made-with-care opened #297 "Bump operator in community-operators to 3.6.0"
Current version of operator in [community-operators](https://github.com/operator-framework/community-operators/tree/master/community-operators/grafana-operator) is 3.5.0.
Please bump it to 3.6.0.

[2020-10-27 12:36] HubertStefanski commented on #297
@made-with-care community-operators PR for the version bump is in progress :+1: thanks for reminding us!

[2020-11-03 09:29] HubertStefanski commented on #297
Resolved, community-operators PR has been merged, sorry for the long wait.

[2020-11-03 09:29] #297 closed

[2020-11-05 11:42] ocervell commented on #155
Any updates here ?

[2020-11-05 11:55] pb82 commented on #155
@ocervell The latest release (3.6.0) allows you to set env vars, so you can try the suggestion from @tlipatov-asapp

[2020-11-05 15:06] ocervell commented on #155
@pb82 thanks for the answer ! Could you help me on how to do it ?
I've tried the following and it doesn't seem to work (still getting the message that plugin is not installed...):

Example:
[code]

[code]

[2020-11-09 10:52] tibcoplord opened #299 "[Bug] Upgrade to use kubernetes api v1"
**Describe the bug**
When installing grafana CRD with recent kubectl a warning is issues about a deprecated api.

**To Reproduce**
[code]

**Expected behavior**
No warnings shown.

**Runtime (please complete the following information):**
[code]

[2020-11-09 16:30] forestoden opened #300 "[Bug] Deploying Grafana with dataStorage configured fails to start Grafana"
**Describe the bug**
Deploying Grafana with `dataStorage` causes the Grafana Pod to fail during start up due to the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
Deploy Grafana on v3.6.0 of `grafana-operator` using this minimal spec:
[code]

Watch the Pod created for Grafana. It will enter `CrashLoopBackOff`

**Expected behavior**
A clear and concise description of wha

[2020-11-09 23:57] JohnRusk opened #302 "What do the environment variables in the YAML do?"
The YAML examples, for installing the operator, set the following environment variables:
[code]

I wanted to find out what they did, so I searched this GitHub project for them. But couldn't find them anywhere, except in YAML. I was expecting to also find them in code - i.e. in code which consumes the environment variables.  Are they still used?  And if so, where can I find the relevant code or doc

[2020-11-10 14:56] tlipatov-asapp commented on #155
This is working perfectly, thank you!

[2020-11-10 14:59] pb82 commented on #155
@ocervell hmm, changing the env vars should automatically restart Grafana. Did you have to do something else to get it working?

[2020-11-10 15:01] pb82 commented on #155
@ocervell Also when providing custom env vars you should define the admin credentials in there too, see https://github.com/integr8ly/grafana-operator/blob/master/documentation/env_vars.md#requirements-when-providing-external-admin-credentials

[2020-11-10 16:29] pb82 commented on #302
`TEMPLATE_PATH` is actually no longer used and should be removed.
The others are used inside the operator-sdk that this operator is built on: https://github.com/operator-framework/operator-sdk
Indirectly, the `WATCH_NAMESPACE` is retrieved here: https://github.com/integr8ly/grafana-operator/blob/master/cmd/manager/main.go#L123

[2020-11-10 18:33] JohnRusk commented on #302
Ah, thanks!

[2020-11-10 20:14] pb82 commented on #302
I'm closing this. Feel free to reopen if you have more questions @JohnRusk

[2020-11-10 20:14] #302 closed

[2020-11-17 15:51] rscot231 commented on #220
What is the motivation for using a struct rather than a map for `jsonData` and `secureJsonData`? The grafana provisioning docs might be complete with respect to out of the box data sources, but third party plugins are free to do other things. Would you be open to a contribution to support maps instead of structs?

[2020-11-18 17:44] jsanda opened #303 "[Bug] GrafanaDataSource in same namespace as operator not found when WATCH_NAMESPACE="""
**Describe the bug**
grafana-operator can manage Grafana and GrafanaDashboard instances across multiple namespaces. This [doc](https://github.com/integr8ly/grafana-operator/blob/master/documentation/multi_namespace_support.md) mentions that that there is multi-namespace support for GrafanaDataSource. A GrafanaDataSource has to be deployed in the same namespace as the operator.

If you configure th

[2020-11-18 17:49] jsanda opened #304 "Add multi-namespace support for GrafanaDataSource"
**Is your feature request related to a problem? Please describe.**
I am using grafana-operator in the [k8ssandra](https://github.com/k8ssandra/k8ssandra) project. In short the project provides Helm charts for deploying Cassandra clusters with supporting tooling for monitoring, backup/restore, etc. There are scenarios in which the user would want to use a single Grafana instance to monitor multiple

[2020-11-18 18:08] jsanda opened #305 "[Bug] Docs incorrect about multi-namespace support for Grafana CR"
**Describe the bug**
The [docs](https://github.com/integr8ly/grafana-operator/blob/master/documentation/multi_namespace_support.md) say this:

I have configured and deployed the operator in a separate namespace, and it reconciles Grafana instances in other namespaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure and deploy the operator with cluster-scoped permissions and with WA

[2020-11-18 18:14] jsanda opened #306 "Make the grafana service name configurable"
**Is your feature request related to a problem? Please describe.**
When creating a Grafana object, the operator deploys a service which is always named `grafana-service`.

I am using grafana-operator in the [k8ssandra](https://github.com/k8ssandra/k8ssandra) project. We could be deploying multiple Grafana instances and I would like to be able to customize the service name to avoid potential collis

[2020-11-23 12:49] HubertStefanski commented on #181
Closing for the meanwhile, seems like this problem/feature is nothing we can do on the operator side of things. @jinleileiking  if you think there's something that could be done to further support this then go ahead and comment and i'll reopen this issue  :+1:

[2020-11-23 12:49] #181 closed

[2020-11-23 13:01] HubertStefanski commented on #84
Hi @thebithead, Are you still encountering this issue? or have you switched to v3 of the operator? I'm trying to close off most issues relating to 2.0.0 as that is a version we no longer support full-time, thanks!

[2020-11-23 13:15] HubertStefanski commented on #85
There was a move to make the whole operator stateless, this meant removing some stateful fields from CRDs, hence the breaking change and major version bump for the operator from 2.0.0 -> 3.0.0, this now means that every version past 3.0.0  won't break on upgrade (hopefully), the added benefit was the fact that the operator wouldn't leave any "dirty" resources lying around since finalizers were no

[2020-11-23 13:15] #85 closed

[2020-11-23 13:25] HubertStefanski commented on #117
Hi @rieger-jared @rverma-jm @elmariofredo @kferrone if you guys wouldn't mind supporting this I don't think there'd be an issue if you made a PR and kept it up to date,  I think the main concern we had with this before was the fact that we (from the integreatly side of things) would only be able to support ansible, as that is what we had experience with, with limited people working around this ope

[2020-11-23 13:51] HubertStefanski commented on #124
@shivpathak I'm closing off this issue since the initial problem has been dealt with, did you end up figuring what was wrong with the TLS part?  If that's a problem still with the newest release would you mind creating a new issue with the details? thanks! :+1:

[2020-11-23 13:51] #124 closed

[2020-11-23 14:07] HubertStefanski commented on #144
@Slach I'm going to close this off seeing as @danielqsj  PR has been merged, thanks for contributing all! :+1:

[2020-11-23 14:07] #144 closed

[2020-11-23 14:18] HubertStefanski commented on #136
@cmoulliard @afoninsky Hi guys, bringing this topic back around, have you seen this behaviour with recent grafana versions?

[2020-11-23 23:56] kungfuchicken commented on #117
@HubertStefanski i'm happy to hear the team is open to including other deployment methods in the repo. If there's anything I can do to support this, just let me know.

[2020-11-24 09:08] HubertStefanski commented on #117
@kungfuchicken Sure, if you want to send in a PR or re-open an existing one go ahead, and I'll try to facilitate, but please keep in mind that we may not be able to fully support this ourselves so it will be up to the community to keep this up to date, thanks!

[2020-11-25 19:46] weisdd opened #307 "GrafanaDeployment: ReadinessProbe/LivenessProbe customization"
**Is your feature request related to a problem? Please describe.**
Currently, both readiness and liveness probes are [hardcoded](https://github.com/integr8ly/grafana-operator/blob/f258c0b1301007ca9b49e9e6023ae1541da47693/pkg/controller/model/grafanaDeployment.go#L405):
[code]
Here we can see that timers are drastically different from each other, with readiness probes being way less tolerable to sl

[2020-11-26 12:17] DeanBrunt commented on #189
We're also pretty keen to see this added for Postgres datasources.

Either syntax like @avrahams proposes or something of the forms (to support both secret loaded and hardcoded values):
[code]
and
[code]

[2020-11-29 06:19] tjungbauer opened #309 "Add support for Custom query parameters"
**Is your feature request related to a problem? Please describe.**
Please add support for the setting: "Custom query parameters" (customQueryParameters) into the datasource.

**Describe the solution you'd like**
It would be great if the Operator considers the datasource setting *customQueryParameters*.
Currently, you can set it in the CRD, but it does not end up in the ConfigMap nor in Grafana.

*

[2020-11-30 15:59] 1nd2rd3st opened #310 "Loki Datasource missing jsonData 'maxLines'"
Hi,

from related issue [#268](https://github.com/integr8ly/grafana-operator/issues/268) and [#220](https://github.com/integr8ly/grafana-operator/issues/220) i saw that fields in the jsonData need to be whitelisted seperatly.

For the loki datasource im currently missing the field **maxLines**, like its defined on the [Grafana Doc](https://grafana.com/docs/grafana/latest/datasources/loki/#configur

[2020-11-30 18:35] HubertStefanski commented on #307
Thanks for suggesting this feature @weisdd, this feature will most likely make its way into master whenever the loki branch is merged, since I'll be working with liveness/readiness probes for that I'll also refactor the ones for grafana while I'm at it. :+1:

[2020-12-01 11:37] ocervell commented on #155
Can we add a blob to the documentation on installing plugins ? Then we can close this :)

[2020-12-04 10:40] NissesSenap commented on #174
Any update on this?

[2020-12-10 13:17] HubertStefanski commented on #307
Closing off, resolved, thanks for raising this issue @weisdd , this feature is now available in 3.7.0 👍

[2020-12-10 13:17] #307 closed

[2020-12-10 17:09] weisdd commented on #307
@HubertStefanski Oh, great to hear that, thanks!

[2020-12-15 14:07] #149 closed

[2020-12-16 05:12] 4n4nd commented on #189
+1 This feature would be relevant for our use case :+1:

[2020-12-16 13:56] noelmcloughlin opened #318 "supply checksums"
**Is your feature request related to a problem? Please describe.**

**(If applicable)If your feature request solves a bug please provide a link to the community issue**

**Describe the solution you'd like**

Can you provide checksums.txt with your releases?

[2020-12-17 06:31] 1337andre commented on #136
no problems with 3.6

LGTM

[2020-12-30 11:16] DeanBrunt opened #322 "Support InfluxDB Datasource jsonData and secureJsonData fields"
**Is your feature request related to a problem? Please describe.**
Provisioning of InfluxDB datasource with `jsonData` and `secureJsonData` fields is not supported.

**Describe the solution you'd like**
Inclusion of at least the following fields:
`jsonData`-
- `defaultBucket`
- `httpMode`
- `version`
- `organization`

`secureJsonData` -
- `token`

**Additional context**
It's worth noting that they

[2020-12-30 11:28] DeanBrunt commented on #322
I'm going to pick this up as absence of these is currently blocking me.

[2020-12-30 13:47] #322 closed

[2020-12-30 17:09] MatteoJoliveau opened #324 "[Bug] Cannot configure Loki's derived fields"
Because of [jsonData fields whitelisting](https://github.com/integr8ly/grafana-operator/issues/220#issuecomment-658124968) I'm facing a problem similar to [this issue](https://github.com/integr8ly/grafana-operator/issues/310).

Can I ask what is the rationale behind whitelisting jsonData? It seems that explicitly allowing each and every field is not a particularly scalable solution, especially reg

[2020-12-31 16:12] DeanBrunt commented on #324
I've been wondering this myself.

It doesn't seem to serve much purpose beyond unmarshalling everything to `map[string]interface{}` and back again, unless there's something I'm missing.

If we generated the CRD manifests using these structs, I'd be a bit more on board with the whitelisting as it would be a stronger type guarantee, but this doesn't happen as far as I can tell so the benefit is not

[2021-01-09 02:29] Cellebyte commented on #151
As the Helm Chart is now merged upstream the Issue can be closed :) @pb82 now this awesome project has an official bitnami chart for the grafana-operator.

[2021-01-09 02:29] #151 closed

[2021-01-11 16:49] dan-j commented on #212
I've just come across this and fell down a rabbit hole when the pod wasn't becoming ready.

The `deploy/` manifests include a readinessProbe like so:

[code]

I can't see where this gets written? Are these manifests out of date too?

Has the above mentioned operator-sdk update happened? If it has, I don't mind adding a PR to re-introduce the health probes.

[2021-01-11 16:56] dan-j commented on #212
Ok, now I've confused myself, the manifests I've copied from somewhere included the `readinessProbe:`, however after looking into #205 just now, I noticed these were removed. I've no idea where I've copied the yaml from, I must have been browsing an old commit.

In any case, is there a reason why you're not using the `HealthProbeBindAddress` from `manager.Options`? Rather than writing your own tem

[2021-01-12 11:07] HubertStefanski commented on #212
Hi  @dan-j , I'm actually not sure whether that specific version where we found errors has been replaced, @pb82 would you happen to know? However, I am now working on the operator-sdk upgrade to v1.3.0, so we would want those reintroduced then. I'll try to remember to address this during the upgrade, thanks for bumping this thread :+1:

[2021-01-13 02:22] goof15kw opened #328 "[Bug] log.console config section not propagated to grafana.ini, preventing grafana from logging in json"
**Describe the bug**
A clear and concise description of what the bug is.
Cannot configure json logs
**To Reproduce**
Steps to reproduce the behavior:
1. Configure Grafana CR as per docs to log in json format (using log.console config section).
2. Observe grafana does not log in json

**Expected behavior**
grafana logs in json

**Suspect component/Location where the bug might be occuring**
See PR

[2021-01-15 11:40] Cellebyte commented on #286
@tegioz the grafana-operator should be listed now in the artifacthub via the bitnami repository as it is now also available as a helm chart.
https://artifacthub.io/packages/helm/bitnami/grafana-operator

[2021-01-16 17:28] #328 closed

[2021-01-18 08:05] shantpschauhan opened #331 "Grafana UI Authentication failing while connecting grafana UI using HAProxy Ingress"
We are using Grafana V3.5.0 . Our grafana UI with configured user/passwd is working fine when we expose this as LoadBalancer.
But when we configure grafana for Ingress type, configure grafana ui user /passwd in grafana yaml and use HA proxy as ingress, then we are able to reach the UI web page using HA Proxy Ingress but user authentication is failing for garfana.
Please suggest what we need to con

[2021-01-18 16:52] HubertStefanski commented on #318
GoReleaser has been added, it should now supply checksums with releases, thanks for the suggestiong @noelmcloughlin! :+1:

[2021-01-18 16:52] #318 closed

[2021-01-18 16:52] HubertStefanski commented on #310
Resolved, thanks for the raising this issue @1nd2rd3st :+1:

[2021-01-18 16:52] #310 closed

[2021-01-18 16:54] HubertStefanski commented on #324
Resolved thanks for raising this issue @MatteoJoliveau :+1:
also CC @pb82  on @DeanBrunt comment.
Leaving open for discussion on that point.

[2021-01-19 16:19] dciancio opened #333 "Disconnected mode support"
Does this operator support disconnected installations?
If not, is this something that could be added?

Installation using the operator would make things a lot easier to deploy, rather than deploying Grafana and any dependencies manually, especially having to maintain / upgrade the component after initial installation.

[2021-01-20 14:08] pb82 commented on #333
@dciancio what exactly do you mean with disconnected installations? Do you mean that the operator only installs Grafana, but then does not reconcile any resources?

[2021-01-20 14:10] pb82 commented on #306
fixed in #319

[2021-01-20 14:10] #306 closed

[2021-01-20 15:08] david-martin commented on #333
Speaking offline with @dciancio , my understanding of 'disconnected' is that there is no access to the internet and any resources & images are mirrored to a local registry.

With that being said, I believe the ask here is if anything in the operator itself needs to reach out to the internet in order to operate (please correct me if my understanding is incorrect).

The only thing I'm aware of is an

[2021-01-21 09:49] tsia commented on #333
i can add my experience from our OpenShift disconnected Setup. I had to change some quay.io URLs in the grafana-operator ClusterServiceVersion. However there seems to be a reference to the `grafana/grafana:<version>` image somewhere. (can't remember the exact spot.)

with ImageContentSourcePolicies it would be possible to redirect these image references to a local registry however this only works

[2021-01-21 11:33] shantpschauhan commented on #331
Hi Team... Your suggestion/ fix would be highly appreciated....please suggest.

[2021-01-21 11:44] tsia opened #336 "[Bug] panic: "invalid memory address or nil pointer dereference""
**Describe the bug**
after creating a Grafana Instance the grafana-operator Pod is crashing

**To Reproduce**
Steps to reproduce the behavior:
1. Install Grafana Operator
2. Create Grafana Instance (with default settings)
3. grafana-operator pod is created and started. after a few seconds it crashes
4. check the logs of that pod

**Expected behavior**
the pod isn't crashing

**Runtime (please comp

[2021-01-21 13:40] pb82 commented on #336
@HubertStefanski is this fixed by your most recent change?

[2021-01-21 14:57] HubertStefanski commented on #336
@pb82 @tsia Fixed in v3.8.1, released yesterday and should be available on olm/operatorhub as well as quay

[2021-01-24 18:37] #336 closed

[2021-01-26 13:56] tsia commented on #336
i can confirm that 3.8.1 is working fine now

[2021-01-26 14:25] #214 closed

[2021-01-26 15:42] dciancio commented on #333
@tsia @david-martin  Would it be possible to make the operator check ImageContentSourcePolicies and if configured, leverage that configuration?

[2021-01-27 10:41] R0peE opened #337 "Grafana operator caching service ip address with Openshift 4.x"
Hi Guys,

We are facing an issue where grafana-operator is unable to reach the grafana service after some time. Due to that new dashboards cannot be created from custom resources, and the finalizer cannot run on dashboards which are being deleted when the custom resource is being removed. If we restart the grafana-operator pod the issue resolves for some time. It seems somehow the operator is cach

[2021-01-27 12:44] #324 closed

[2021-01-27 12:46] HubertStefanski commented on #331
@pb82  Might have a better idea

[2021-01-28 13:13] munipravy commented on #113
Any update on PDB ? Is it included in spec currently ?

[2021-01-28 17:07] david-martin commented on #337
Thanks for creating the issue and sharing logs @R0peE.

This looks related to an issue that come up on slack before (https://kubernetes.slack.com/archives/C019A1KTYKC/p1603269711055500)
Different causes by the sound of it, but similar symptoms.

I wonder if this block is the cause of this?
https://github.com/integr8ly/grafana-operator/blob/8ff52f867a3f8136ddbff8acc81c8e6218b13033/pkg/controller/gr

[2021-01-29 16:22] david-martin commented on #333
It sounds reasonable.
I'm not familiar with this resource, but if it helps with adding disconnected support in a reasonable way, then 👍

The grafana/grafana image ref looks to be configured in https://github.com/integr8ly/grafana-operator/blob/b6a0c35986312a13d53692033af94e681b03abc4/pkg/controller/model/constants.go#L4-L5

[2021-01-29 16:24] david-martin commented on #333
Found some relevant docs https://docs.openshift.com/container-platform/4.6/openshift_images/image-configuration.html#images-configuration-registry-mirror_image-configuration

[2021-01-29 21:33] dciancio commented on #333
@david-martin - so if I understand this correctly,
1) mirror grafana image to a local registry
2) mirror community operator catalog locally
3) install the operator which points to the local catalog and it should in turn check the ImageContentSourcePolicies automatically to reference the mirrored image in the local registry.

Basically, are you saying the operator does not contain any hardcoding an

[2021-02-01 12:12] pacospace opened #339 "Question reagrding spec.name for Grafana Dashboard CRD for Dashbord from URL"
I have question regarding `spec.name` in Grafana Dashboard CRD for Dashbord from URL.

Is it mandatory to have `.json` suffix in `spec.name`? [1]

Reference:

[1] https://github.com/integr8ly/grafana-operator/blob/faceedabf2864402cc45767fe44ccd56e1b7955a/deploy/examples/dashboards/DashboardFromURL.yaml#L8

[2021-02-02 20:14] ibotty opened #340 "[Bug] Grafana CRD config does not pass `user` into grafana's config"
**Describe the bug**
My grafana.integreatly.org/v1alpha1 instance is working fine but in one thing.

The following snippet is not reflected in the grafana.ini.

[code]
In the grafana-deployment pod:
[code]

**Runtime (please complete the following information):**
 - Grafana Operator Version: v3.7.1
 - Environment: OKD 4.6.0-0.okd-2020-12-12-135354
 - Deployment type: deployed from OperatorHub

[2021-02-02 20:33] ibotty commented on #340
Argh.  That was a typo.  It's `users`.  Sorry for the noise!

[2021-02-02 20:33] #340 closed

[2021-02-03 17:56] rscot231 opened #342 "[Bug] Apparent goroutine and socket leak"
**Describe the bug**
A clear and concise description of what the bug is.

A grafana operator pod running with no traffic exhibits continuously increasing network traffic, fs usage, and goroutine count until eventually crashing and restarting. The network traffic seems to be keepalives from an ever increasing number of open sockets.

The associated grafana pod exhibits increasing network traffic bu

[2021-02-03 22:56] rscot231 commented on #342
It seems this may have been fixed by https://github.com/integr8ly/grafana-operator/pull/308. I will verify tomorrow and close this issue if so.

[2021-02-04 12:15] david-martin commented on #84
Closing as v2 of operator being used.
Please reopen if this is an issue in latest version

[2021-02-04 12:15] #84 closed

[2021-02-04 12:19] david-martin commented on #92
@abergmeier Does it work when you set allow_sign_up to true?

[2021-02-04 12:22] david-martin commented on #115
@pb82 Can you try this out to see if it's possible (or should be possible)

[2021-02-04 12:26] david-martin commented on #117
@kungfuchicken Do you want to proceed with this?
A PR to add the file would be great and we can follow up on any maintenance concerns

[2021-02-04 12:32] david-martin commented on #123
@Daiki-Kawanuma When using the auth proxy, we're limited by the config options in Grafana i.e. https://grafana.com/docs/grafana/latest/auth/auth-proxy/#auth-proxy-authentication
There is no tenancy capabilities this way from what I can see.
You would have to manage users manually (via orgs in Grafana perhaps?)

[2021-02-04 12:32] #123 closed

[2021-02-04 12:35] david-martin commented on #136
Closing as resolved

[2021-02-04 12:35] #136 closed

[2021-02-04 12:39] david-martin commented on #141
@robbieheywood Did you have any luck trying the workaround?

Also, it is now possible to define the service name via `service.name` field in the Grafana CR as of #319
See https://github.com/integr8ly/grafana-operator/blob/master/deploy/crds/Grafana.yaml#L85-L87

[2021-02-04 12:39] #141 closed

[2021-02-04 12:41] david-martin commented on #143
This feature request makes sense.
@bacek What way would you see notifications being configured via the Operator?
A new CR(s)?

[2021-02-04 12:46] david-martin commented on #155
@ocervell yes, documentation makes sense here.
Feel free to propose a PR if you have time

[2021-02-04 12:50] david-martin commented on #163
@marcolan018 This change makes sense.
It would require a change to https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/config/grafanaIni.go

[2021-02-04 13:02] HubertStefanski commented on #339
Good question, I don't think it is @pb82?

[2021-02-04 22:25] rscot231 commented on #342
This was indeed fixed by upgrading to a newer version. Closing.

[2021-02-04 22:25] #342 closed

[2021-02-05 12:36] pacospace commented on #339
We are not using it indeed, and it appears that is not required consequently. Just wanted a confirmation from maintainers so that we can be more precise in the documentation.

Thank you very much! @HubertStefanski @pb82

[2021-02-05 12:41] pb82 commented on #339
@pacospace No, I believe the name is no longer used anywhere and we should remove it. For now, you can put any name in there.

[2021-02-05 14:08] pacospace commented on #339
I can open PR if you want :) I ll update out docs meanwhile to be more precise!

[2021-02-05 17:26] HubertStefanski commented on #339
@pacospace Sure, We'll be happy to review and have it in :)

[2021-02-05 21:46] #339 closed

[2021-02-09 12:34] pb82 commented on #164
@flickerfly we will provide the CSV inside this Repo too

[2021-02-09 12:37] pb82 commented on #165
@tux-o-matic the only difference to standard Kubernetes is that we allow you to provide an array of selectors: the reason is that we want to be able to OR them. A single label selector allows you to specify multiple labels, but then they must all match.

[2021-02-09 12:37] #165 closed

[2021-02-09 12:40] pb82 commented on #169
This sounds reasonable. We also have to add support for the proxy env var to the init containers.

[2021-02-09 12:43] pb82 commented on #172
I think it's documented now: `watch for dashboards in all namespaces`.

[2021-02-09 12:43] #172 closed

[2021-02-09 12:48] pb82 commented on #174
@NissesSenap @dulltz We are working on publishing a roadmap, but it will still take some time. Multi namespace support is considered, but probably not one of the top priorities from our side (although we certainly will accept community pull requests for this).

[2021-02-09 12:51] pb82 commented on #189
Agree, this is very useful to have. We will look into this when we get a chance.

[2021-02-09 12:55] pb82 commented on #212
@robertely We should be able to bring the readiness probe back, a bug related to it has been resolved in the operator sdk already.

[2021-02-09 12:59] pb82 commented on #215
This makes sense. We should be using `exec` to run `wget` and check the return code.
As a temporary solution: you can now override the default probes, so you should be able to resolve the issue by providing your own probes.

[2021-02-09 13:07] pb82 commented on #249
This makes sense but is likely not something we can work on anytime soon. However we would gladly accept Pull Requests if someone is willing to work on it.

[2021-02-09 13:13] pb82 commented on #251
@mrgleeco this is included in v3.6.0 onwards. `jsonnet/library: "true"` is still the correct way to import libraries in configmaps.

[2021-02-09 13:13] #251 closed

[2021-02-09 13:15] pb82 commented on #256
@LH8PPL this looks like an upgrade issue. Are you upgrading from a pre 3.0.0 version of the Operator?

[2021-02-09 14:57] BernhardGruen opened #346 "[Bug] Empty StorageClassName does not work correctly (i.e. does not use the default one)"
**Describe the bug**

Not setting the StorageClassName does not work as it does not set the "default" StorageClassName for the cluster - instead it prints out an empty string.

**To Reproduce**
Don't set dataStorage.class in kind grafana.

**Expected behavior**
StorageClassName should not be appended to the PVC if it is not actually set

**Suspect component/Location where the bug might be occuring

[2021-02-10 10:00] pb82 commented on #346
`omitempty` missing here: https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafana_types.go#L82

[2021-02-12 11:13] R0peE commented on #337
Hi @david-martin

Thanks for picking up this topic! I would like to ask if there is any suggested workaround, until there is a fix for this issue? (if this is an issue?)

Should we maybe use a NodePort service instead of the ClusterIP?

[2021-02-12 16:41] ljuaneda opened #349 "[RFE] Support for repeatable tablePanel"
'repeat' option is available for all kind of standard panels except for the table.

[2021-02-12 21:05] HubertStefanski commented on #346
resolved in #347

[2021-02-12 21:05] #346 closed

[2021-02-13 11:15] #349 closed

[2021-02-13 11:16] ljuaneda commented on #349
Sorry wrong repo I guess it's more about the grafonnet library

[2021-02-13 12:05] ljuaneda opened #351 "Add support for grafonnet-7 libs"
The grafonnet-lib project is moving soon to a new library for v7 : https://github.com/grafana/grafonnet-lib/blob/master/grafonnet-7.0

could you import those libs next to the old ones and let the user choose when importing the root lib ?

[2021-02-13 12:13] ljuaneda commented on #351
I think it could be done adding one line in the actual Dockerfile :

`ADD grafonnet-lib/grafonnet-7.0 /opt/jsonnet/grafonnet-7.0`

[2021-02-15 15:13] david-martin commented on #333
`quay.io` is referenced in at least 1 place
https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/config/controller_config.go#L25

Some example template files also reference `quay.io`, but I don't think that would be a problem

[2021-02-15 20:49] mavanier opened #352 "[Bug] Unable to provision Dashboard with LDAP enabled"
**Describe the Bug**

With a fresh deployment of a Grafana instance, the dashboard provisionning fails.
Not able to provisioned dashboard because the GrafanaClient use the local admin user credentials against the LDAP.

After a few tries, the admin user is disabled.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new Grafana custom resource
[code]

2. Create a GrafanaDatasource cus

[2021-02-16 01:44] clcchai opened #353 "update base and Init container image URL for grafana CR"
is there an option to update the grafana resource?
https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/Grafana.yaml

container - image used  - that points to grafana verion "        image: grafana/grafana:7.1.1"
init container -  "        image: quay.io/integreatly/grafana_plugins_init:0.0.3"

to a specified location that we require?

[2021-02-16 03:54] clcchai commented on #353
setting baseImage works but initImage as per the md , dont seem to work
https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md

[2021-02-16 10:10] clcchai commented on #353
issue resolved by this PR
https://github.com/integr8ly/grafana-operator/pull/348

[2021-02-16 10:10] #353 closed

[2021-02-16 10:54] pb82 commented on #352
@mavanier was the dashboard imported correctly when using Grafana 6.5.1?

Also, is this syntax something that Grafana supports:

[code]
?

[2021-02-16 12:39] pb82 commented on #256
Closing this for now, feel free to reopen if you are still having issues.

[2021-02-16 12:39] #256 closed

[2021-02-16 12:41] pb82 commented on #268
available in v3.8.0+

[2021-02-16 12:41] #268 closed

[2021-02-16 12:48] pb82 commented on #276
@weisdd Implementing `BoolOrString` sounds like a possible solution (similar to `IntOrString` for Kubernetes port references) that is also backwards compatible. I'm not sure when we would be able to work on that, but would accept a PR if someone wants to take it on.

[2021-02-16 12:57] pb82 commented on #286
Closing this as done, thanks @Cellebyte for adding the Heml Chart to ArtifactHub!

[2021-02-16 12:57] #286 closed

[2021-02-16 13:01] pb82 commented on #299
This will be addressed as part of the upgrade to operator-sdk 1.3

[2021-02-16 13:44] HubertStefanski commented on #299
@tibcoplord The incoming upgrade will resolve this issue as kubebuilder(as used in operator-sdk v1.+) will generate CRDs using v1 as the api

[2021-02-16 13:49] mavanier commented on #352
@pb82 Yes, the dashboard is loaded correctly in Grafana 6.5.1.
Also after some tests the **admin_user** and **admin_password** are required to provision dashboards.

As per Grafana documentation, variable expansion can be used and $__file is one of the three supported provider.
https://grafana.com/docs/grafana/latest/administration/configuration/#variable-expansion

[2021-02-16 13:59] HubertStefanski opened #354 "[Bug]Grafana status block isn't updated"
**Describe the bug**
The operator should keep reference to all known dashboards(along with it's namespace and folderID) within the Grafana CRs status block.
Currently the Operator fails to reconcile the status block and dashboards are no longer visible inside the Grafana CR.
This is only an issue whereby, if the operator gets restarted it will lose reference of all dashboards and will have to reim

[2021-02-17 12:41] pb82 commented on #351
@ljuaneda instead of adding both, do you know how backwards-compatible Grafonnet is? Can we simply update the existing directory to the latest version?

[2021-02-18 07:25] ljuaneda commented on #351
Yes it would be great to update to the latest version.
I understand new version of grafonnet is not backward compatible but it seems it is the path adopted by the grafana’s team... But I can go without for the moment, I’ve figured how to deal with the new table style on my own.

[2021-02-19 11:15] MatteoJoliveau commented on #226
hi @pb82, sorry to resurrect an old issue but I noticed that only `envFrom` is supported.
Similarly to the example posted by OP, we have a `Secret` that contains a generic `clientSecret` key. This secret is created by a separate operator and the key cannot be changed. Would it be possible to add support for `env` so that we can rename the envar to something Grafana understands?

Our usecase would

[2021-02-19 11:29] pb82 commented on #352
Oh i see. Then the problem is that the operator takes the value of the `admin_password` field (which is a template) and tries to use it as the actual password.

[2021-02-20 01:55] ArthurSens opened #358 "Datasource discovery through K8s Services"
**Is your feature request related to a problem? Please describe.**

At [Gitpod](https://github.com/gitpod-io/gitpod), we have a Kubernetes cluster and a CI/CD system that creates a new namespace and deploy a new Gitpod installation for every commit pushed to any of our branches. We call these installations a "Preview Environment", that can be used for several reasons, e.g., load testing, UI previe

[2021-02-20 22:10] clayrisser opened #359 "Wrong casing in docs for customFolderName"
`CustomFolderName` should be `customFolderName` in the docs.

https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md

https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafanadashboard_types.go#L29

[2021-02-22 12:01] Coder63 opened #361 "[502 Data proxy error while adding datasource in grafana ]"
**Describe the bug**
Getting Data proxy error while adding datasource /api/datasources/proxy/3/coralogix/_mapping remote_addr=x.x.x.x referer=https://x.com/grafana/datasources/edit/3/ error="http: proxy error: dial tcp 63.32.17.31:9443: i/o timeout"

**To Reproduce**
Steps to reproduce the behavior:
1. On Private GKE cluster
2. Install Grafana Crds & Grafana7.1
3. Add Coralogix datasource .
4. Che

[2021-02-22 13:17] david-martin commented on #358
I'm wondering how this discovery would work.
Would it be some logic that understands what a `Prometheus` CR is and watches for them across the whole cluster?
Or would it be looking for specifically labelled services or pods?

Yes, this makes sense as the easiest way to interact with the grafana operator & manage datasources.

That's interesting.
In this case, the prometheus operator looks for serv

[2021-02-22 14:05] HubertStefanski commented on #359
closed by #360

[2021-02-22 14:05] #359 closed

[2021-02-22 14:43] ArthurSens commented on #358
Hey, thanks for the quick response!

No, I don't think it is necessary that Grafana knows if a discovered endpoint is indeed a Prometheus or not. I think that such validation should be done by the user.

Exactly :slightly_smiling_face:! Probably a new CRD that manages this discovery and configures Grafana with new datasources would make sense.

Good point! I think that the strategy could be copied

[2021-02-22 15:22] ArthurSens commented on #358
![grafana-operator-sd-proposal](https://user-images.githubusercontent.com/24193764/108728647-8cf53380-7508-11eb-9077-9df0ca1c4fc1.png)

Would something like this make sense?

[2021-02-23 11:16] pb82 commented on #361
@Coder63 can you share your Grafana CR? Are you setting up custom certificates in the config?

[2021-02-23 11:25] pb82 commented on #337
Look like our logic currently prefers IP over DNS name. We can try to switch this around.

[2021-02-23 11:27] pb82 commented on #354
@HubertStefanski this mostly affects unplanned restarts of the Operator. Still something we should figure out.

[2021-02-23 11:35] ArthurSens commented on #358
Maybe a better alternative is to just create a single CRD, but with a `type` field. An [admission webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) would validate the fields with the provided `type`.

![grafana-operator-sd-proposal-2](https://user-images.githubusercontent.com/24193764/108838120-fa10d380-75b1-11eb-83c0-acfbc768f6ec.png)

[2021-02-23 11:39] pb82 commented on #358
@ArthurSens how long lived are those dynamic Prometheus instances? One thing to be aware of is that Grafana needs to be restarted when new Datasources are added (or updated/removed). If the frequency is too high, the restarts could become a problem.

[2021-02-23 11:45] ArthurSens commented on #358
They remain up for at least 2 hours, but can be extended if needed :slightly_smiling_face:

And thanks for pointing it out about the restart problem, I wasn't aware of it. Just for curiosity's sake, why does Grafana need to be restarted? I thought that Grafana-Operator created dashboards and datasources with Grafana's autoprovisioning feature, that way grafana can hot-reload everything :thinking:

[2021-02-23 11:50] pb82 commented on #358
The operator manages dashboards via the Grafana API, but datasources are still written to a ConfigMap and mounted into the filesystem. Grafana reloads this file only on restart.

But there is a datasource API that we could use: https://grafana.com/docs/grafana/latest/http_api/data_source/#data-source-api

[2021-02-23 11:59] ArthurSens commented on #358
Oh nice! That is even better than autoprovisioning

[2021-02-23 12:40] david-martin commented on #300
@pb82 to check if the linked PR breaks on openshift

[2021-02-23 12:48] david-martin commented on #303
@jsanda Can you check if specifying the `--scan-all` flag is sufficient for your use case?
See https://github.com/integr8ly/grafana-operator/blob/master/documentation/multi_namespace_support.md#support-for-multiple-namespaces for more info on what it does.

It looks like setting the env var `WATCH_NAMESPACE=""` seems to cause unexpected behaviour, so would need to be investigated.
What way are you

[2021-02-23 12:53] david-martin commented on #304
This use case makes sense.
A similar model to how GrafanaDashboards are handled could be adopted e.g. have a `dataSourceSelector` & `dataSourceNamespaceSelector` in the Grafana CR.
I don't believe there's anything blocking this.

However, it would be good to refactor the datasource management logic to use the API rather than configmap (and restarting grafana).

[2021-02-23 12:59] david-martin commented on #305
Although this technically works, there are issues with a couple of things that mean this is not a supported feature:

* the grafana operator only keeps track of only 1 set of grafana credentials
* if more than 1 Grafana CR is created is created in the same namespace there would be conflicts in the resource names
* the operator doesn't detect data sources outside of its own namespace (i.e what #304

[2021-02-23 12:59] #305 closed

[2021-02-23 13:00] david-martin commented on #309
Closed by #350

[2021-02-23 13:00] #309 closed

[2021-02-23 17:05] R0peE commented on #337
We did a fix internally, just a slight modification, and for now it seems to be working correctly:

[code]

[2021-02-24 12:31] Cellebyte commented on #337
@pb82 i get a similar issue when using the service Connection.

[code]

When I do a reverse lookup of the IP it seems fine.
Could it be an issue with the HTTP Client doing caching of TCP handles?

[code]

[2021-02-25 17:33] Coder63 commented on #361
I'm using skip TLS..  following this article https://coralogix.com/tutorials/grafana-plugin/

`apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: grafana
spec:
  deployment:
    replicas: 1
    securityContext:
        runAsUser: 472
        runAsGroup: 472
        fsGroup: 472
  dataStorage:
    accessModes:
    - ReadWriteOnce
    size: 25Gi
    class: standard
  config:
    lo

[2021-02-25 22:55] HubertStefanski opened #362 "Refactor controllers to use controllerruntime CreateOrUpdate"
**Is your feature request related to a problem? Please describe.**
Currently, the operator utilises the  [ActionRunner Interface](https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/common/clusterActions.go#L23-L32l) to perform CRUD operations on Kubernetes resources.
This approach is mostly fine, however, it's not entirely future proof, nor does it lend itself to fast develop

[2021-03-01 10:09] Coder63 commented on #361
Can we call it a bug or still looking ?

[2021-03-01 11:20] ableischwitz commented on #143
Albeit different from the other configurations, what about enabling the provisioning mechanism of Grafana:

https://grafana.com/docs/grafana/latest/administration/provisioning/#alert-notification-channels

One may configure a config-map which then would only needed to be mounted by the deployment to a proper location. Adding a watch which would trigger a restart of the pod on change of that config

[2021-03-02 12:37] david-martin commented on #331
@shantpschauhan

How are you setting this up? Is this different than the Ingress support via the operator?

How is it failing? Is there an error in the UI or the logs of grafana?

[2021-03-02 12:46] david-martin commented on #333
@dciancio From my understanding of ImageContentSourcePolicies from reading
https://access.redhat.com/documentation/en-us/openshift_container_platform/4.4/html/images/image-configuration#images-configuration-registry-mirror_image-configuration,
if you specify all the images to mirror there shouldn't be an issue with running in disconnected mode?

With regards any plugins, you would need to specify

[2021-03-02 12:50] david-martin commented on #337
Changing the ordering makes sense here i.e. default to service name.
That should solve for both reported scenarios

[2021-03-02 12:55] david-martin commented on #351
A possible solution here is to import multiple versions and have the older version (0.1) be the version imported if you just specify `import 'grafonnet/grafana.libsonnet';`.
For all versions (including 0.1), the version can be appended to be more specific e.g. `import 'grafonnet-7.0/grafana.libsonnet';`

[2021-03-02 13:00] Cellebyte commented on #337
I can confirm that the issue has to do with the v3.6.0 we upgraded to v3.7.0 and the issue is now gone.

[2021-03-03 14:43] ableischwitz commented on #333
@david-martin Key element of **ImageContentSourcePolicies** is that there is no pull possible whenever an image is referred by it's tag. This MUST be a SHA256 digest. So every container image used by the operator - and Grafana - will needed to be referenced by their SHA256 digests in order to be "redirected" to an internal registry.

A resulting `registries.conf` section would look like this:

[co

[2021-03-03 14:47] ableischwitz commented on #333
I found the following images to be used - may be there are others as well.
* quay.io/integreatly/grafana-operator:3.9.0
* quay.io/integreatly/grafana_plugins_init:0.0.3
* grafana/grafana:7.1.1  <- should be referenced with a registry as well.

Hope this helps.

[2021-03-07 17:53] mhaddon commented on #143
For me the config ini way is perfect as it already has the secret management built-in.

[2021-03-08 10:06] schewara commented on #143
As I am hitting the same issue here, I wanted to provide some thoughts from my current observations

* the provisioning approach, as mentioned by @ableischwitz sounds nice, as long as one has the option to configure the mountpoint, which is currently not possible from what I saw and to override the provisioning config in the paths section of the configuration seems to be unavailable as well.
* Cus

[2021-03-08 12:12] slopezz opened #363 "Grafana-operator multi-namespace support from OLM via ENV VAR instead of container args"
**Is your feature request related to a problem? Please describe.**

Right now,  to have grafana-operator watching from multiple namespace, as per docs at https://github.com/integr8ly/grafana-operator/blob/master/documentation/multi_namespace_support.md#watching-for-dashboards-in-all-namespaces, you need to:
- Add extra ClusterRole
- Modify container args with `--scan-all`

For the **required extra

[2021-03-09 12:07] pb82 commented on #352
What is the format of `grafana-auth-secrets`? Does it contain the `GF_SECURITY_ADMIN_USERNAME` and `GF_SECURITY_ADMIN_PASSWORD` values? In that case, could you remove this section from the config:

[code]

and use `envFrom`  instead? see https://github.com/integr8ly/grafana-operator/blob/master/documentation/env_vars.md

[2021-03-09 12:42] pb82 commented on #354
In Grafana there is a section about Dashboard Versions. Updates (with changes) usually increment the version and Grafana allows you to go back to earlier versions of the dashboard. Can we make sure that in this case, when an update happens without any changes to the dashboard, the version is *not* incremented?

[2021-03-09 12:58] pb82 commented on #358
@ArthurSens after some discussion we think that could be more easily solved by managing Grafana datasources from outside the operaotr, where also the knowledge about the datasources is better understood. Specifically we're concerned about how the the Operator would handle:

1. Different types of data sources
2. Configuration per data source (how would the imported datasource be configured, e.g. au

[2021-03-09 12:58] #358 closed

[2021-03-09 13:03] ArthurSens commented on #358
Fair points!

Thanks for taking the idea into consideration and evaluating its pain points better

[2021-03-09 13:04] pb82 commented on #361
@Coder63 have you tried curling the URL that the datasource tries to access from within the Grafana pod? It looks like Grafana can't access that address / port.

[2021-03-09 14:05] #337 closed

[2021-03-09 15:26] mavanier commented on #352
I added both new keys to the my `grafana-auth-secrets` and I was able to provision the dashboards.

Could I get rid of the `grafana-admin-credentials` that was created by the operator in the namespace?
It would be nice to have to clean the namespace when the `skipCreateAdminAccount: true` is used.

[2021-03-10 11:20] schewara commented on #117
Having support for Kustomize, would be really great, as we also use it here extensively.

I'm just afraid it's not done by only adding a `kustomization.yaml` File to the Repo for the following reasons:

- ConfigMaps and Secrets, when generated by a `configMapGenerator` or `secretGenerator` have hashes added to the Object and won't be found by the CRD, unless the hashes are explicitly disabled thro

[2021-03-10 12:07] schewara commented on #143
I was able to find an `ugly hack` to get the provisioning of notifiers to work.

One downside is that `GrafanaDataSource` resources can't be used anymore as they are put into `/etc/grafana/provisioning/datasources` which is not read anymore.
Therefore they also need to be added as `ConfigMaps` or `Secrets`.
I haven't tested other implications, therefore I can't rule any other possible problems out

[2021-03-10 13:46] ddreggors commented on #333
I see quay.io referenced in at least 7 places in code:

https://github.com/integr8ly/grafana-operator/search?q=quay.io&type=code

[2021-03-10 15:19] HubertStefanski commented on #333
@ddreggors Note that only *.go files should apply, yaml examples, makefiles or markdown docs shouldn't be considered hardcoding as they don't strictly affect runtime logic.

[2021-03-10 18:08] slopezz commented on #363
While not being able to modify the operator behaviour with `Subscription` custom resource, I tried the workaround of:
1. Installing operator (v3.9) from community-operators on `grafana` namespace
1. Adding manual documented ClusterRole
1. Using Grafana CR field `dashboardNamespaceSelector` (with key-value `monitoring-key: middleware`)  **(this CR field is not documented on the CRD)**
1. Creating a

[2021-03-11 11:29] Cellebyte opened #365 "[Dashboards] Support authentication for DashboardsFromUrl using secrets"
**Is your feature request related to a problem? Please describe.**

When you want to pull in dashboards from a https source which needs authentication it is currently not possible to do that.
I think for the most parts basicAuth is sufficient enough.

**(If applicable)If your feature request solves a bug please provide a link to the community issue**

**Describe the solution you'd like**
A way to

[2021-03-11 14:07] Cellebyte opened #366 "[Bug] Grafana Operator is not able to read ConfigMaps with the current RBAC implementation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a GrafanaDashboard with configmap ref.
2. Create a Configmap which holds a Dashboard or Jsonnet Lib
3. Look at the logs.

**Expected behavior**
The rbac in the deploy should be fixed so that ConfigMaps are able to be read by the operator.
Currently some documented t

[2021-03-11 17:53] obaranov commented on #363
We have exactly the same problem with the multi/namespace support (v 3.9.0). The Operator seems to be able to watch dashboards only from the namespace where it runs.

Perhaps this should be reported as "bug"

[2021-03-11 20:43] pb82 commented on #366
Was the ConfigMap in the same namespace as the Operator?

[2021-03-12 05:58] Cellebyte commented on #366
@pb82 the operator was deployed cluster wide.

[2021-03-13 04:05] andrewm-aero opened #367 "Support OAuth with Custom Root CA"
**Is your feature request related to a problem? Please describe.**
We are investigating using this to replace our manual Grafana deployment. All of our application ingresses use TLS certificates signed by our internal root CA, including our OAuth server. As far as I can tell, there is no way for the operator to have Grafana trust this root CA, preventing us from securing a Grafana instance deploye

[2021-03-15 12:14] slopezz commented on #363
Maybe it could be implemented a new ENV VAR called `EXTRA_ARGS` (which I'd say is pretty common on containers), so that way, it could be added any required extra args via ENV VAR instead of modifying the container args directly? that way it would work for both manual or OLM operator deployment

[2021-03-16 12:47] pb82 commented on #363
Ideally we would only have a CR field to enable multi namespace support (e.g. dashboardNamespaceSelector). Unfortunately that won't work because the Operator needs to know on startup which namespaces to watch (and not then the CR is created). The ENV VAR solution proposed by @slopezz seems workable. Can you pass those env vars also when installing from OLM? As far as i know it does not allow you t

[2021-03-16 12:50] pb82 commented on #365
This sounds reasonable and we should enable a similar feature (secretRefs for credentials) for data sources.

[2021-03-16 12:52] pb82 commented on #366
Looks like permissions for configmaps need to be added here: https://github.com/integr8ly/grafana-operator/blob/master/deploy/cluster_roles/cluster_role_grafana_operator.yaml

[2021-03-16 12:59] pb82 commented on #367
@andrewm-aero This seems reasonable to support. We had a look at how the Prometheus Operator handles that and it turns out it allows you to add custom Volumes and VolumeMounts (see https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L1259). I think we should support the same.

[2021-03-16 13:05] pb82 commented on #352
@mavanier unfortunately the operator relies on that secret to get its credentials, even if you provide your own account. So there's no easy way to get rid of that.

I'm closing this, but feel free to reopen if you're still having trouble with that use case.

[2021-03-16 13:05] #352 closed

[2021-03-16 13:08] pb82 commented on #92
Closing as out of date.

[2021-03-16 13:08] #92 closed

[2021-03-16 14:17] mavanier commented on #352
I had problems provisioning the dashboards for a fresh installation in a new namespace, using `skipCreateAdminAccount: true`.

The `grafana-admin-credentials` secret was not present in the namespace and the dashboards weren't in UI.
No warning/error in the operator logs. No warning/error in the grafana deployment.

I was able to fix this with those steps:
1. Changing the `skipCreateAdminAccount: f

[2021-03-17 11:09] slopezz commented on #363
In order to finetune an operator deployment, you need to use the `Subscription` resource, where you can set some envvars that will be propagated to the operator deployment.

If the `--scan-all` or the `--namespaces` variables were exposed as envvars we could fine tune them using the subscription, so that would work for us (although we may still require to manually add some extra permissions).

Nev

[2021-03-17 13:03] tux-o-matic opened #369 "[Bug] Memory usage other time"
**Describe the bug**
We can see with our different Grafana Operator instances that memory usage can grow from 40MB to more than 800MB.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the Operator without memory limits set.
2. Create a GrafanaDataSource
3. Create 5 or more GrafanaDashboard resources
4. Wait a few days/weeks and see memory usage grows every 10 minutes or so in small inc

[2021-03-17 15:52] slopezz opened #370 "[Bug] error creating dashboard, expected status 200 but got 400"
**Describe the bug**

Since doing a simple change on a few GrafanaDashboards, by just updating Title name:
- On previous grafana-operator versions where dashboards per namespace were nor ordered into namespace folders, we solved the possible collision of same dashboard name on different namespaces, by adding the namespace on the title, like `Namespace 1 / Dashboard` and `Namespace 2 / Dashboard`
-

[2021-03-19 10:04] tux-o-matic commented on #369
Tested with a memory limit of 400MB and eventually the Operator process ran garbage collection as it approached 400MB to go back down o 16MB.
So either it should be documented/automated to have a memory limit on the Operator Deployment or the Go process should have a default garbage collection trigger without waiting to reach container cgroup limit.

[2021-03-21 11:49] d-kuro commented on #174
I’d like to tackle this problem.

As for running multiple Grafana in the same namespace, I believe that this can be easily solved by not creating resources with fixed names and prefixing them with the `.metadata.name` of the Grafana resource.

e.g.:

[code]

https://github.com/integr8ly/grafana-operator/blob/v3.9.0/pkg/controller/model/grafanaDeployment.go#L561

However, there is a problem with th

[2021-03-22 08:17] NissesSenap opened #371 "Support Open API schema"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use kubectl explain command to be able to get a quick overview of what the operator can do.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add a Open API schema to the operator

**Describe alternatives you've considered**
N/A

**Additional context**

Thi

[2021-03-22 10:07] NissesSenap opened #372 "Make it possible to configure containerSecurityContext for init-containers"
**Is your feature request related to a problem? Please describe.**
I need to be able to define securityContainerContext on the init container to be able to start the grafana-operator on my current cluster due to psp rules that we have globally defined.

**Describe the solution you'd like**
Use the same containerSecurityContext on the init container that you get from grafana.spec.deployment.contain

[2021-03-22 11:43] alrf opened #374 "[Bug] Cloudwatch datasource with "Assume Role ARN" doesn't work in Openshift"
**Describe the bug**
Getting these logs during Cloudwatch datasource with "Assume Role ARN" configuration in Openshift:
[code]

`169.254.169.254:80` is available from Openshift node, but not from Grafana pod/container.

The problem could probably have been solved using the `hostNetwork: true`:
https://bugzilla.redhat.com/show_bug.cgi?id=1745720
but there is no option to configure it (or configurat

[2021-03-23 09:10] phillebaba opened #375 "Configure volumes for Grafana deployment"
**Is your feature request related to a problem? Please describe.**
We are users of [secrets-store-csi-driver-provider-azure](https://github.com/Azure/secrets-store-csi-driver-provider-azure) to load secrets from Azure Key Vault to a Pod. My intent was to generate parts of the auth configuration in Terraform and store the content in a Key Vault secret. Then load the secret into the Grafana deployme

[2021-03-23 13:02] HubertStefanski commented on #372
Automation should have closed this, resolved through #373 :+1:

[2021-03-23 13:02] #372 closed

[2021-03-23 13:18] HubertStefanski commented on #369
Hi @tux-o-matic , I don't think we do any garbage collection ourselves as the operator, Grafana has default memory limits set to `1024Mi` https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/model/grafanaDeployment.go#L23 , So this is a kubernetes/openshift setting AFAICT for deployments. However, I think we can document this to make people more aware.
Is this a solution that y

[2021-03-23 13:44] tux-o-matic commented on #369
Hi @HubertStefanski , that link and its `MemoryLimit` are for the *Grafana* instances being managed by the Operator, not the Operator itself.
The only way to control the memory constrains of the Operator is through a limit in the *Deployment* resource managing the Operator. And optionally self control/garbage collection in the GO process of the controller.

[2021-03-23 13:52] HubertStefanski commented on #369
@tux-o-matic, yes, sorry, I should have clarified. But the solution remains the same right? We just need to document an adequate field for operator deployment and Kubernetes will manage memory to keep within that limit by itself.

[2021-03-23 14:11] tux-o-matic commented on #369
So yes there should be an example [Depployment](https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml) with proper request/limit.
And ideally somebody with a good understanding of the inner working of the controller can suggest those values. I can only see that the process cleans up its memory allocation as it reaches its assigned limit (when one was set).

[2021-03-23 21:33] clcchai commented on #189
+1

[2021-03-25 13:56] basilfx commented on #300
I was able to fix a similar error using the suggested fix (using persistence):

[code]

[2021-03-28 01:27] joshpaul-okta opened #378 "Add support to the grafana.ini parser for auth.okta"
**Is your feature request related to a problem? Please describe.**
Currently trying to use the operator to deploy grafana with Okta as the OIDC provider.  I have this working using the grafana helm chart.  When the grafana operator reads my spec with the definition, it drops the auth.okta section as that is not currently impelemented.

**(If applicable)If your feature request solves a bug please p

[2021-03-29 10:07] alrf commented on #374
I was able to rebuild operator and fix it.
Added `hostNetwork` option to `deployment` configuration.

`hostNetwork: true` should be used with `DNSPolicy: ClusterFirstWithHostNet` (pod default DNSPolicy is `ClusterFirst`)

[2021-03-30 09:48] mariusstaicu opened #381 "Generated grafana deployment cannot be upgraded without downtime"
**Is your feature request related to a problem? Please describe.**
Whenever I change something to the grafana.yml spec file and redeploy, the operator upgrades all the replicas at once, hence there's no deployment update possible without downtime.
I suspect this is because the deployment is generated with RollingUpdate strategy with max surge / max unavailable 25. This causes all the replicas to b

[2021-03-30 10:15] HubertStefanski commented on #374
Closing, fixed in #380, Thanks for contributing @alrf ! :+1:

[2021-03-30 10:15] #374 closed

[2021-03-30 12:05] HubertStefanski commented on #369
Hi @tux-o-matic , this makes sense, we should set an example for grafana deployments with sensible requests and limits for CPU/Memory

[2021-03-30 12:09] HubertStefanski commented on #370
/assign @HubertStefanski

[2021-03-30 12:12] HubertStefanski commented on #371
Hi @NissesSenap , this is something that is already implemented in the #327 PR , It should be merged shortly

[2021-03-30 12:15] HubertStefanski commented on #375
Looks like this could be solved by #367 , @pb82 ?

[2021-03-30 12:19] NissesSenap commented on #371
That was my guess, just wanted to be sure. If not I planned to have taken a look at it after the operator-sdk update.
Thanks for the update.

[2021-03-30 12:31] HubertStefanski commented on #378
Hi @joshpaul-okta  This change makes sense, we add it in.

[2021-03-31 00:07] d-kuro commented on #174
We had a conversation in the Kubernetes Slack thread:
https://kubernetes.slack.com/archives/C019A1KTYKC/p1616416376015000

[2021-03-31 12:42] phillebaba commented on #375
Yes adding the ability to set volumes and volumemounts in the Grafana resource would solve this issue and probably #367.

[2021-03-31 17:50] HubertStefanski commented on #378
resolved in #382 , thanks for contributing

[2021-03-31 17:50] #378 closed

[2021-04-06 11:56] pb82 commented on #303
We're going to document this behavior better for now. In the future we might support multi namespace support for data sources.

[2021-04-06 12:11] #366 closed

[2021-04-06 13:26] HubertStefanski commented on #164
closed by #376

[2021-04-06 13:26] #164 closed

[2021-04-06 14:18] slopezz commented on #370
Thanks @HubertStefanski, ping me if you need more details!

[2021-04-06 15:16] HubertStefanski opened #387 "Implement Environment variable configuration through `Env:` fields for grafana deployments"
**Is your feature request related to a problem? Please describe.**
Currently, the operator has the option to pass environment variables to the grafana deployment through `envFrom` which can parse configMaps and Secrets for Env Vars located in them, this works but it's a roundabout way of getting non-sensitive Env Vars to the deployment pod, such as `GF_INSTALL_PLUGINS` which isn't a sensitive Env

[2021-04-08 13:16] HubertStefanski opened #388 "[Bug] Non-validated user input for configuration options"
**Describe the bug**
An issue recently brought up in slack revealed that when declaring plugins in dashboards, we don't check for the validity of the path, i.e in this case the version was omitted, this caused the plugin to not be installed.

**Proposed resolution**
Perform some due diligence/audit of functions expecting/allowing user input and return or handle errors that are caused by  user misc

[2021-04-08 15:49] #155 closed

[2021-04-08 15:52] #381 closed

[2021-04-08 18:10] drewwells commented on #304
Is this still an issue? I see a flag for watching all namespaces. I don't see why this flag is required namespace == "" should be sufficient for watching all namespaces. https://github.com/integr8ly/grafana-operator/blob/master/cmd/manager/main.go#L63

[2021-04-08 18:20] AdheipSingh commented on #304
How about having a deny_list ? watch all namespace NOT kube-system, abc etc . We can use predicates to do that, should be quick and clean. Lets deny the ns events before passing it on workerqueue
cc @pb82 @david-martin @HubertStefanski

[2021-04-08 18:48] drewwells commented on #304
Controller runtime will handle those optimizations for you. You don’t need to watch all events for each namespace. It applies a predicate on the watch that limits to only those resources you are interested in for any namespaces present or future that contains resources. The reconciler is presented with a full view of all objects at that version of state in the cluster.

https://pkg.go.dev/sigs.k8s

[2021-04-09 12:00] slopezz commented on #370
Quick update @HubertStefanski , we have just updated our grafana-operator deployment:
- From OLM deployment v3.6
- To manual deployment v3.9 (to have the `--scan-all` feature)

And it keeps showing same error, resulting on about 6 dashboards failing to be created:
[code]

[2021-04-09 13:14] HubertStefanski commented on #370
Thanks for the update @slopezz, would you mind sending on the definition of one of the failing dashboards so that I can try and reproduce it?

[2021-04-09 13:43] slopezz commented on #370
Sure @HubertStefanski , it is the one from the original issue message, I just download it (and clean some status fields so you can create it):

[code]

If I recreate it, same json, just changing json `Title` and GrafanaDashboard resource name, it works without any problem.

Error appeared after I just update json title from `vault / vault` to `vault`, but unfortunately I couldn't reproduce it anym

[2021-04-09 13:50] HubertStefanski commented on #304
I believe that the flag is required by some of our other teams due to the way installations are handled by their observability stacks.

to implement multi-namespace datasources, we'd like to refactor them to more closely resemble dashboard logic, i.e selectors etc. as @david-martin pointed out, the logic is already there, it just needs to be replicated to work for datasources.

as for deny_listing

[2021-04-09 15:47] slopezz commented on #370
@HubertStefanski  I have been able to reproduce the bug, I guess it is a raise condition of how operator manage the title of the dashboard together with the dashboards grouping by folder per namespace.

So in the past, in order to avoid possible collisions on the dashboard on multiple namespaces, we were adding to the dashboard title `Namespace-name / Dashboard-name`.

But in latest grafana-operat

[2021-04-09 16:31] HubertStefanski commented on #370
@slopezz , thanks for providing the details, that makes sense to me now why it's happening.
  I'm aware that you probably want to prevent manual steps in upgrades, but I wonder whether if the following would work:
1) stop the operator
2) Delete the grafana-deployment
3) Start the operator
 these two steps would mean that the operator would lose reference to all dashboards and would have to re-disc

[2021-04-09 16:44] slopezz commented on #370
@HubertStefanski I've already tested it:
1. Decrease grafana-operator deployment pods to 0
2. Delete grafana-deployment
3. Increase grafana-operator deployment pods to 1, it recreates the grafana-deployment (because watches for `Grafana` resource), but error persists :( )

[2021-04-11 13:46] d-kuro commented on #174
I have created a PoC for architectural changes in grafana-operator to solve this problem:
https://github.com/d-kuro/grafana-operator/pull/1

[2021-04-13 10:46] HubertStefanski opened #393 "Allow users to provide Username/Password etc. attributes with Kubernetes secrets for GrafanaDatasources"
**Is your feature request related to a problem? Please describe.**
Some datasources have the option/requirement to configure secrets/usernames/passwords, these generally have to be added through `GrafanaDataSourceSecureJsonData` struct, we should also provide the option to define these with `envFrom` (secret/configmap) etc.

**(If applicable)If your feature request solves a bug please provide a li

[2021-04-13 11:37] pb82 commented on #387
What makes this a bit more complicated is the fact that users could provide admin credentials (GF_ADMIN_USER & GF_ADMIN_PASSWORD) through env. The operator needs to be aware of this and currently checks the `envFrom` source. We would now also have to check the vars from `env` and check for admin credentials (and prioritize if both sources provide credentials).

[2021-04-13 11:40] pb82 commented on #388
We can close this once #390 has been merged.

[2021-04-13 11:43] pb82 commented on #393
One way to implement this would be to allow referencing a secret that contains all the keys and values for secureJsonData. The Operator would then automatically add all the secret fields.

Otherwise we would need some sort of variable expansion to be used in the data source yaml.

[2021-04-14 17:52] lfranchini31 commented on #393
After some tests, i created a secret used by Grafana instance with envFrom attribute.
    envFrom:
      - secretRef:
          name: external-credentials

And use it in my GrafanaDataSource resource ... and it works!

I read this page: https://grafana.com/docs/grafana/latest/administration/provisioning/#datasources and i find the key ;).

No CRD update is needed to allow using secrets or configMa

[2021-04-16 10:30] kandeshvari opened #394 "[Bug] grafana's default_theme config prameter absent"
**Describe the bug**

Tried to pass `default_theme` config parameter to grafana instance as
[code]

but this parameter didn't passed to grafana.ini

**To Reproduce**
Steps to reproduce the behavior:
1. Apply config above and look into grafana-deployment container for /etc/grafana/grafana.ini

**Expected behavior**
`default_theme` must appears in /etc/grafana/grafana.ini

**Suspect component/Locati

[2021-04-16 20:36] #394 closed

[2021-04-20 09:15] #367 closed

[2021-04-20 09:15] #375 closed

[2021-04-20 09:54] #300 closed

[2021-04-20 10:20] pb82 commented on #393
@lfranchini31 that's great! Sounds like something we should document.

[2021-04-20 11:02] #393 closed

[2021-04-21 11:17] munipravy opened #401 "Does Grafana operator and application support Active Active Disaster recovery ?"
Looking for Disaster recovery set up for Grafana, does this operator support ?

[2021-04-27 12:43] HubertStefanski opened #402 "Manage external grafana instances with the operator"
**Is your feature request related to a problem? Please describe.**
The idea is to allow the operator to be used partially i.e. only dashboard/datasource/etc... reconcilers on an external (non-operator managed) instance of Grafana, this would allow users to maintain a central Grafana instance for multi-cluster monitoring.

**(If applicable)If your feature request solves a bug please provide a link

[2021-04-28 21:40] cheddarwhizzy commented on #402
I'm also interested in making this a reality.

These would be the only keys necessary since the rest of them are for configuring the managed Grafana deployment from what I can tell.
[code]

[2021-04-30 09:38] alrf opened #403 "OLM & args-parameters"
**Is your feature request related to a problem? Please describe.**
How to specify `--grafana-image` and `--grafana-image-tag` (`args` parameters) if the Operator is managed by OLM?

**Describe the solution you'd like**
I deploy the grafana in Openshift using OLM:
[code]

In this case `ClusterServiceVersion` (where `--grafana-image` and `--grafana-image-tag` should be specified) will be managed by

[2021-04-30 10:02] HubertStefanski commented on #403
Hi @alrf , you can override the grafana image by using the `baseImage` field in the grafana CR [see here](https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafana_types.go#L36)

[2021-04-30 11:42] alrf commented on #403
Hi @HubertStefanski , Thank you so much, you saved my day! :)

[2021-04-30 11:42] #403 closed

[2021-04-30 11:46] HubertStefanski commented on #403
No problem, happy to help :+1:  :wink:

[2021-05-04 14:44] alrf opened #404 "[Bug] Can't create Dashboards"
**Describe the bug**
I can't create dashboards after updating to Operator v3.10.0.

The errors are:
[code]

[2021-05-04 15:05] alrf commented on #404
I've just additionally checked: everything works fine with v3.9.0.

[2021-05-06 12:18] ljuaneda opened #406 "need an option to override the default deployment strategy"
Hi,

I don't see any option available in the grafana crd to change the default rolling strategy to "recreate" in the grafrana deployment for those like me using RWO PVC storage ?

I would be great to have something like :
deployment.strategy : RollingUpdate(as default)|Recreate

Regards,

[2021-05-06 15:07] slopezz commented on #370
I have reproduced the bug on a fresh new ocp cluster (so there is no dashboard title renaming, I thought this could be the trigger but not the case).

So, if the **title of the dashboard** coincides with the **namespace** name, the bug appears (actually, it even occur although namespace and title are not exactly the same (note namespace `fluent-bit` and title `Fluent Bit`, with upper case and whit

[2021-05-11 11:41] pb82 commented on #401
@munipravy In terms of disaster recovery we support multiple replicas (by using an external database, e.g. https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/ha/grafana.yaml) and scaling them across different availability zones using Tolerations: https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafana_types.go#L99

Does this work as a

[2021-05-11 12:05] pb82 commented on #404
@alrf Are you using the `preferService` option in the Grafana CR? There was a small change introduced in 3.10.0 with regards to that. It will now rely on the service name instead of the IP address.

[2021-05-11 12:09] pb82 commented on #406
This seems like a reasonable request when used, for example, with RWX volumes. We cann add an option to `spec.deployment` to allow this.

[2021-05-11 19:54] siredmar opened #408 "Manage organizations"
Hi!

Currently i am facing the problem that i not only need to handle dashboards and data sources, but also organizations.
Is my understanding correct that this operator cannot manage organizations in any way?

Cheers
Armin

[2021-05-13 13:24] Slach opened #411 "[Bug] current installation process totally broken"
**Describe the bug**
here https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#manual-procedure
documentation described manual installation process as `kubectl apply -f deploy/crds`
after remove `deploy/crds` folder

`make install`
doesn't work cause `controller-gen` require libc 2.32, which not available ubuntu 20.04 LTS

**To Reproduce**
clean latest ubuntu L

[2021-05-13 14:47] divyaprakash18 opened #412 "Unable to create dashboards with GrafanaDashboard CR"
Hi !
I'm unable to create grafana dashboards by using GrafanaDashboard CR yaml file which looks like this:

[code]

When I apply the yaml file the object gets created but I don't see any dashboard on grafana.

Also when I describe it after creation I see this error at the end of description:
`Warning  ProcessingError  2m25s (x65 over 12m)  controller_grafanadashboard  invalid character '<' looking

[2021-05-14 04:48] Slach commented on #411
@pb82 could you clarify about properly way to install grafana-operator?

[2021-05-18 11:09] pb82 commented on #411
@Slach those binaries should not have been included in the repository. I'll remove them. The make targets will fetch them if not existing (using the correct arch).

[2021-05-18 11:15] pb82 commented on #408
@siredmar That's correct, the Operator does not yet know about organizations. But that means, it will should also not overwrite ones that you create manually.

[2021-05-18 11:36] pb82 commented on #408
@siredmar Is this something you would like to see the operator support? If so, do you have more information or ideas about how this could be integrated? It looks like if we support organizations we would also have to know about users and possibly add a way of creating users via the Operator. What do you think?

[2021-05-18 11:47] pb82 commented on #412
@divyaprakash18 what version of the Operator are you using? I don't see anything wrong with the dashboard, but this could be an error authenticating to Grafana. Can you also share your Grafana CR? Have you disabled basic auth by any chance? Also, would you mind trying this on the latest version (3.10.1)?

[2021-05-18 11:50] pb82 commented on #404
@alrf As a workaround, can you set `preferService` to false and let the Operator create a Route/Ingress? Does that work? I'll try to reproduce the issue you're having. Can you curl the hostname of the Grafana service from the operator pod? If not it could be a networking issue on your cluster.

[2021-05-18 14:12] divyaprakash18 commented on #412
hi @pb82  thanks for the reply.
Operator version is 3.3.0
Here is my Grafana CR.

[code]
Ingress, accessing grafana etc are working fine. The issue is only with dashboard creation and that too with CR. Direct Json Import works fine on grafana.

Facing following error after using operator's 3.10.1 image tag and after applying CRDs of v3.10.1. Looks like trying with v3.10.1 would require me to chang

[2021-05-18 19:21] HubertStefanski commented on #411
Closed through #413 , thanks for reporting @Slach ! and thanks for addressing @pb82

[2021-05-18 19:21] #411 closed

[2021-05-18 21:05] worsco opened #414 "[Bug] Manual installation steps are broken"
**Describe the bug**
Trying to follow the manual installation steps in the documentation.  There is no "deploy/crds" directory in the git-repo.

https://github.com/integr8ly/grafana-operator/tree/master/deploy

**To Reproduce**

Follow instructions:

https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#manual-procedure

[code]

Where did the yaml files for CRDs

[2021-05-19 10:49] divyaprakash18 commented on #412
Issue was resolved. Turns out it was due to some odd behavior by Grafana's Ingress. I enabled grafana's ingress and it was creating the error. I made my own ingress after setting grafana's ingress as false and after that it worked fine.

[code]

[2021-05-20 12:17] alrf commented on #404
@pb82 I've tried `preferService: False` with Operator v3.10.0 and v3.10.1, the same result.
[code]

Part of config:
[code]

[2021-05-20 14:12] worsco commented on #414
Determined that if I `git checkout tags/v3.10.1`, the `deploy/crds` directory is populated.

[2021-05-20 14:40] HubertStefanski commented on #414
Hi @worsco , sorry for the late response, with the move to operator-sdk v1.3.0 can be found here https://github.com/integr8ly/grafana-operator/tree/master/config/crd/bases ,

If you want to use the v1.3.0 of the operator sdk and apply these crds to your cluster then you can use `make install` to set things up.

the v3 branch of the project won't be used in the future, we're only maintaining it for

[2021-05-22 10:16] DeanBrunt commented on #406
I'm happy to have a look at implementing this

[2021-05-22 11:13] DeanBrunt commented on #406
I've implemented what I believe is required for this in #415

[2021-05-22 11:26] DeanBrunt commented on #276
I'll take a look at this

[2021-05-22 17:22] ljuaneda commented on #406
Thank you, lgtm I’ll wait for it in a futur release.
Regards
Ludovic

Le sam. 22 mai 2021 à 13:14, Dean Brunt ***@***.***> a écrit :

[2021-05-24 04:50] Slach commented on #411
@HubertStefanski @pb82
guys, are you sure downloading 300+ megabytes (including gcc) is necessary to run couple of kubectl apply *.yaml?

why you remove `deploy/crds` from the repository?
I dodn't see any reasons why we remove `crds` but stay other `yaml` files in deploy folder?

[code]

how properly manually install operator to the exists kubernetes cluster?

[2021-05-24 08:29] HubertStefanski commented on #411
Hi @Slach , We moved the CRDs to a new directory to adhere to operator-sdk standards, as for the Binaries, they we're uploaded by accident and excluded in git-ignore post-factum.

[2021-05-24 10:28] Slach commented on #411
@HubertStefanski ok. could you share link where described how to install grafana-operator properly right now?

[2021-05-24 15:06] alrf commented on #404
Hi @pb82 I've checked and compared v3.9.0 and v3.10.0 tags and found:
[code]

So, before it worked through the IP address (`ClusterIP`) and now through the `GrafanaService.Name`.
But to request a service in kubernetes you need to use `http://<service_name>.<namespace>.svc.<zone>:<port>`
(e.g. `http://grafana-service.grafana-operator.svc.cluster.local:3000`) and not just a service name.
I guess it

[2021-05-24 15:24] bhiravabhatla commented on #408
@pb82, Managing Orgs would be a big plus.

We were looking for ways to manage access to our dashboards using LDAP. Ideally, grafana suggests to use Teams for the same. But Teams LDAP sync is an enterprise feature.
 So, we thought of using orgs to manage auth - Splitting dashboards into multiple orgs and granting access to LDAP groups at org level. Unfortunately, grafana still doesn't support provi

[2021-05-25 11:43] pb82 commented on #404
@alrf Port 3000 should always be accessible without authentication, even if you use the OAuth proxy. Usually the oauth proxy is set up by adding another port to the service and then changing the route to point to the proxy port. We have an exampel for that setup: https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/oauth/Grafana.yaml

Does your `service.ports` setup look simil

[2021-05-25 11:53] pb82 commented on #408
@bhiravabhatla There is a PR for Grafana implementing Org provisioning: https://github.com/grafana/grafana/pull/30578

This seems like a better approach than implementing it via API in the Operator. Once (if) this PR gets merged, you could mount a ConfigMap to provision your organizations.

The API approach would give us the advantage of dynamic Org management (through the Grafana CR). So if you w

[2021-05-25 11:59] pb82 commented on #412
@divyaprakash18 glad this got resolved. Updating th 3.10.1 shouldn't affect your use case though, upgrades between minor versions should not require any change.

[2021-05-25 11:59] #412 closed

[2021-05-25 12:04] #401 closed

[2021-05-25 12:13] Slach opened #416 "[Bug] latest CRD for kind: GrafanaDashboard required json field but it's broke when custom resource contains only url field"
**Describe the bug**
failed run `kubectl apply -f mydashboard.yaml` which contains `.spec.url` but not contains `.spec.json`

**To Reproduce**
1. create mydashboard.yaml
[code]

2. run `kubectl apply -f mydashboard.yaml`
3. See error
[code]

**Expected behavior**
Successfull dashboard creation

Why we require json when we can setup remote URL to fetch dashboard JSON ?

[2021-05-25 12:24] alrf commented on #404
yes, like it is in examples (https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/oauth/Grafana.yaml)

pls check my comment https://github.com/integr8ly/grafana-operator/issues/404#issuecomment-847107246

[2021-05-26 21:13] jphx commented on #416
The problem seems to be that [this line](https://github.com/integr8ly/grafana-operator/blob/master/api/integreatly/v1alpha1/grafanadashboard_types.go#L37) is missing the `omitempty` tag.  If you add it and run `make manifests`, then the `json` field is no longer listed in the CRD as being required.

[2021-05-26 21:28] jphx commented on #416
The `replicas` and `terminationGracePeriodSeconds` fields in the [Grafana type](https://github.com/integr8ly/grafana-operator/blob/master/api/integreatly/v1alpha1/grafana_types.go) are also missing `omitempty`, forcing those fields to be required.  The code appears to tolerate them being not specified and defaulting, so I think the problem is the missing `omitempty` tags.

[2021-05-27 07:41] DeanBrunt commented on #276
Ok I think I'm most of the way to implementing this. Just needs some testing and an issue with `controller-gen` being investigated more deeply.

It seems to be that we're hitting into [this](https://github.com/kubernetes-sigs/controller-tools/issues/552) issue due to `BoolOrString` requiring custom (de)serialization logic which `controller-gen` doesn't seem to cope well with.
The appropriate appro

[2021-05-27 09:28] Slach commented on #416
@jphx  if I just add empty `json` to my current yaml manifests will it enough to fix issue without make manifest?
@HubertStefanski could you explain why you decided always require `json`, why just setup URL is not enough?

[2021-05-27 09:52] HubertStefanski commented on #416
@Slach I think the original logic there was to require it for a fallback definition, i.e if the URL was not available then the dashboard could still be created using JSON, if users didn't want to avail of the fallback option then they could just leave it empty

[2021-05-28 10:49] Slach commented on #416
ok. empty `json:""` help me, @HubertStefanski thanks for explanation

[2021-05-28 10:49] #416 closed

[2021-05-28 17:58] jacobstr commented on #370
It'd be helpful to include some aspects of the body / headers (wherever grafana's API reports it) in this error message:

https://github.com/integr8ly/grafana-operator/blob/0f727476b696d66a65751883abba96e303608199/pkg/controller/grafanadashboard/grafana_client.go#L239

And potentially in the events that are surfaced by the controller.  I went ahead and did this here:
https://github.com/integr8ly/g

[2021-05-29 07:30] DeanBrunt commented on #45
I'll take a look at this

[2021-05-29 07:48] DeanBrunt commented on #45
I've not managed to replicate what was observed in terms of URLs of this form: https://grafana.com/api/dashboards/10441/revisions/1/download not woking (possibly the code or the URL output has changed in the past 1+ year.

With this in mind, I think we can implement this now.
Propose adding a new field `grafanaCloud` that has fields `id` and `revision`.
- It's invalid to specify both `grafanaCloud

[2021-05-29 08:21] DeanBrunt commented on #169
I'll take a look at this

[2021-05-29 08:58] AdheipSingh opened #420 "[Bug] Use corev1.ConditionTrue ?"
**Describe the bug**
A clear and concise description of what the bug is.

Not a bug, just a question i have :)

Here https://github.com/integr8ly/grafana-operator/blob/master/controllers/common/readiness_checks.go#L11 i see ConditionStatus is an untyped string set to "true". Why not use ```corev1.ConditionTrue``` ?

@HubertStefanski

[2021-05-30 20:11] HubertStefanski commented on #420
@AdheipSingh, the initial code for that was written 2 years ago (before my time), so your guess is as good as mine 😅  I would assume that this was to avoid having magic strings in code, I suppose there's no harm in refactoring to use  `corev1.ConditionTrue` , they'll both work the same AFAICT

[2021-05-31 05:19] AdheipSingh commented on #420
ha cool, ill send a PR with some tweaks. Thanks @HubertStefanski

[2021-05-31 08:48] DeanBrunt commented on #169
I believe [this WIP PR](https://github.com/integr8ly/grafana-operator/pull/421) contains what is needed for this but I've not yet been able to test it as I've broken my local k8s setup.

If anyone had a moment to attempt to test this, that would be great please, otherwise I'll look to fix my local setup/run on a remote cluster later this week

[2021-05-31 11:56] JaneLiuL opened #422 "Support GrafanaConfigAuthGenericOauth client_secret values from secret object"
**Is your feature request related to a problem? Please describe.**
When we using grafana-operator, for security perspective we need to shadom the client-secret.

**(If applicable)If your feature request solves a bug please provide a link to the community issue**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
So we want to read client_secret  value

[2021-06-01 08:36] #406 closed

[2021-06-01 12:19] pb82 commented on #422
@JaneLiuL this sounds ressonable, but in the meantime, there might already be a way to do this: you can use `envFrom` (https://github.com/integr8ly/grafana-operator/blob/master/documentation/env_vars.md#exposing-environment-variables-to-the-grafana-container) in combination with special syntax in the Grafana config: https://grafana.com/docs/grafana/latest/administration/provisioning/#using-environ

[2021-06-04 04:12] bhiravabhatla commented on #408
Hi @pb82, Went through the code. As of now controller is utilizing the provisioning provided by grafana for datasources, dashboards etc by creating/updating corresponding configMap. If we would have to implement Org Provisioning with the PR being merge - only way I see is to use grafana API - That would need grafana being up and running before we provision.

This would mean deviating from existing

[2021-06-06 18:32] #163 closed

[2021-06-07 08:14] #351 closed

[2021-06-08 11:36] pb82 commented on #45
@DeanBrunt @cuotos this sounds reasonable. Adding a new field to the Dashboard CR (id) is the way to go with the usual fallback to `json` if the request fails.

[2021-06-08 11:40] pb82 commented on #408
@bhiravabhatla why would the API approach deviate from the existing strategy? The dashboard controller currently already uses the Grafana API and we have a client that you can use: https://github.com/integr8ly/grafana-operator/blob/master/controllers/grafanadashboard/grafana_client.go

It needs some extra methods for org management.

[2021-06-13 05:52] bhiravabhatla commented on #408
@pb82  - I missed this. Will go through

[2021-06-14 10:19] alrf commented on #404
@pb82  any updates?

[2021-06-15 10:16] HubertStefanski opened #432 "[Bug] Grafanadashboards aren't recreated if deleted through the Grafana UI"
**Describe the bug**
Grafanadashboards aren't recreated if they are deleted through the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a grafanadashboard CR
2. Navigate to the grafana UI
3. Log in as admin
4. Remove the grafanadashboard

The dashboard is deleted but never recreated, however, the folder will remain
**Expected behavior**
The dashboard is deleted but recreated on th

[2021-06-16 15:53] mantoniocc opened #434 "I cannot configure Instana Datasource"
I'm facing a problem similar to [this issue](https://github.com/integr8ly/grafana-operator/issues/324) and [this](https://github.com/integr8ly/grafana-operator/issues/310) when I try to configure Instana datasource. I've noticed that all data under jsonData are ignored, then my configMap shows an empty jsonData because of jsonData fields whitelisting.

apiVersion: integreatly.org/v1alpha1
kind: Gr

[2021-06-17 08:01] dparker-scalyr commented on #432
OS: [e.g. Linux,Fedora,Mac] Linux
Grafana Operator Version : 3.10.1
Environment: [e.g Openshift,Kubernetes,minikube etc. please specify versions] v1.19.8-eks-96780e
Deployment type: [e.g running the operator locally, or deployed] deployed

[2021-06-17 08:07] lowkeyliesmyth commented on #432
OS: [e.g. Linux,Fedora,Mac] Linux
 Grafana Operator Version : 3.8.0
 Environment: [e.g Openshift,Kubernetes,minikube etc. please specify versions] v1.19.8-eks-96780e
 Deployment type: [e.g running the operator locally, or deployed] deployed

[2021-06-17 19:08] HubertStefanski commented on #434
hi @mantoniocc , is this something you're willing to provide a PR for? we'll gladly accept, we have examples of how to deal with allowing new fields in datasources already if you're willing to give it a shot, if not, I'll implement it in the future, thanks :+1:

[2021-06-21 00:55] kousui-dev opened #436 "How to hide the IP address in browser."
When I accessed api/user/auth-tokens after logging in to Grafana, the IP address was displayed as follows
https://<route_name>/api/user/auth-tokens
[code]
Since this information is not disclosed to users, I would like to set it so that the IP address is not displayed.
Please tell me how to do it.

[2021-06-21 00:57] kousui-dev opened #437 "How to add Secure attribute to grafana_session."
The Secure attribute was not added to the cookie called grafana_session used by Grafana Operator.
Is there a way to give this a Secure attribute?
![grafana_session](https://user-images.githubusercontent.com/85596780/122694012-044c9100-d277-11eb-802d-37fb9d878cd6.png)

[2021-06-22 11:49] pb82 commented on #432
This likely happens because the list of dashboards is also kept in the Grafana CR status.

Options:

* Remove the list of dashboards from the status and re-post every time (make sure Grafana doesn't increase its internal dashboard version).
* Keep the list of dashboards but don't trust it: do a get for every dashboard to ensure it's really there and re-post if not.

[2021-06-22 11:50] pb82 commented on #422
@JaneLiuL has the above workaround worked for you?

[2021-06-22 11:55] pb82 commented on #404
@alrf there is a change incoming where we fix the service DNS name: #438

Once that's landed, i'll reach out and we can give it another try.

[2021-06-22 12:01] pb82 commented on #436
@kousui-dev where are you seeing the IP addresses? Is that in some log file or are they returned in the browser?

[2021-06-22 12:05] pb82 commented on #437
@kousui-dev you can add the `cookie_secure` config option in the Grafana CR: https://grafana.com/docs/grafana/latest/administration/configuration/#cookie_secure (under `spec.config.cookie_secure`)

[2021-06-23 01:13] kousui-dev commented on #436
The IP address will be displayed in my browser.
![grafana-ip](https://user-images.githubusercontent.com/85596780/123019529-9b4a5200-d40b-11eb-8ed1-f9b7baf0cd8b.png)

[2021-06-23 02:57] kousui-dev commented on #437
Which API object should I edit?
ConfigMap/grafana-config included grafana.ini, but it was restored when I edited it.

[2021-06-23 14:02] HubertStefanski commented on #437
@kousui-dev you need to add this directly to the grafana CR under `spec.config.cookie_secure`, the configmap is operator-managed and will be restored to the state defined in `spec.config`, so any changes that you make directly to that configmap will be overwritten

[2021-06-23 15:44] alrf commented on #404
@pb82 in v3.9.0 I can reach grafana-service from operator pod by name:

[code]

So, maybe DNS name is unrelated..
Another option for v3.10 could be using `try/catch` (on try - request grafana-service by name, on catch - by service IP address).

[2021-06-24 06:36] kousui-dev commented on #437
I added a cookie_secure line to YAML on Operator Hub.
However, the ConfigMap was not updated and the Grafana cookie was never given the Secure attribute.
What else should I do?
[code]

[2021-06-24 15:01] 4n4nd opened #440 "Periodically update jsons in GrafanaDashboards created using url"
**Is your feature request related to a problem? Please describe.**
We are using GitOps to manage our grafana dashboards ([example dashboard](https://github.com/operate-first/apps/blob/master/kfdefs/overlays/moc/zero/opf-monitoring/dashboards/thoth-station/thoth-kafka-argo-metrics.yaml#L9)). When we update the dashboards, the operator doesn't really know that the dashboard was updated. So essential

[2021-06-27 10:36] DeanBrunt commented on #440
Just to add some thoughts here, if a refresh ability was added, it would need to be opt in as it's a deviation from existing behaviour.
If not opt in, then we would possibly want to consider adding a user supplied hash field that describes the expected state of the dashboard `json` to prevent unexpected reloading of a changed dashboard.

This issue did also highlight to me that if someone _changes

[2021-06-29 11:15] #169 closed

[2021-06-29 11:18] pb82 commented on #404
@alrf can you please try 3.10.2? The issue should be fixed there.

[2021-06-29 11:36] pb82 commented on #440
@DeanBrunt yes agree, this should be optional.

But generally this makes sense. We'd have to add a timestamp into the status of the dashboard CR.

[2021-06-29 11:40] pb82 commented on #437
@kousui-dev the attribute needs to be set in the Grafana CR, in the config section. E.g. in here: https://github.com/grafana-operator/grafana-operator/blob/master/deploy/examples/Grafana.yaml#L8

[2021-06-29 11:42] pb82 commented on #436
@kousui-dev not sure if I understand the problem. Would you like to avoid creating an ingress alltogether? This can be done by turning off ingress in the CR config: https://github.com/grafana-operator/grafana-operator/blob/master/deploy/examples/Grafana.yaml#L7

Other than that, it looks more like coming from Grafana itself or the Ingress controller. Not sure what we could do in the Operator about

[2021-06-29 11:45] pb82 commented on #436
Or do you want to disable only certain endpoints but keep the Ingress otherwise intact? That can be achieved by creating custom routes with that sub-path, targeting a non existing backend.

[2021-06-29 11:50] #370 closed

[2021-06-29 14:02] 4n4nd commented on #440
Yes that is also the case

[2021-06-29 15:36] pantaoran opened #446 "Possibility to add annotations to the "grafana-operator-metrics" service"
**Is your feature request related to a problem? Please describe.**
My OpenShift environment requires the use of annotations on OCP Services to inform Prometheus that it should scrape a target. I want to monitor the Grafana Operator pod, so I need to add annotations to the service called **grafana-operator-metrics**.

**Describe the solution you'd like**
I want to add annotations to the service cal

[2021-06-30 14:46] alrf commented on #404
@pb82 I see only v3.10.1 available (OpenShift Operator)

[2021-06-30 20:06] NissesSenap commented on #446
This is where the service is created in version 3.10.2 https://github.com/grafana-operator/grafana-operator/blob/15980b9f9c55c481ce87f73b6c457b13165227da/cmd/manager/main.go#L219

In the current master branch and the future 4.0 release it doesn't exist.

I'm not sure how many more changes that we want to make in the version 3 branch but if you want workaround you can create your own custom service

[2021-06-30 20:09] NissesSenap commented on #404
https://operatorhub.io/operator/grafana-operator have release v3.10.2 now.
You should be able to find it in OLM as well.

[2021-06-30 21:06] NissesSenap opened #447 "[Bug] Yaml config after 1.13 operator SDK update"
**Describe the bug**

I can't deploy the grafana-operator in the master branch

If i use the master branch i should use https://github.com/grafana-operator/grafana-operator/blob/master/config/manager/manager.yaml to deploy correct together with kustomize.

If i develop the operator I assume that I should use `make deploy`.

This will give you:
[code]

**To Reproduce**
[code]

**Expected behavior**

[2021-06-30 21:16] gbvikas opened #448 "[Bug] ncorrect instructions or Files missing for grafana operator deployment"
Incorrect instructions or Files missing for grafana operator deployment

As per the steps specified in https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#manual-procedure there is no crds folder under grafana. So when we execute the below command

 kubectl create -f deploy/crds

error: the path "deploy/crds" does not exist

[2021-06-30 21:18] NissesSenap opened #449 "[Bug] Manage metrics svc after operator sdk 1.13 upgrade"
**Describe the bug**
In the current master branch there is no metrics service created like it was in grafana-operator 3.10.

In 3.10 we can see: https://github.com/grafana-operator/grafana-operator/blob/15980b9f9c55c481ce87f73b6c457b13165227da/cmd/manager/main.go#L219 that creates a service that exposes the metrics endpoint.

In the current master branch there is no metrics service created, well s

[2021-06-30 21:21] NissesSenap commented on #449
To answer my own questions.

- Yes I think we should expose metrics from the grafana-operator.
- yes I think we should auto create the metrics service and I think it should be done through yaml. The main reason is that it's easy for people to edit and it removes magic from the operator which I think is nice.

I'm happy to create a PR on how this can look.
I'm unsure how this will work with operato

[2021-06-30 21:25] NissesSenap commented on #448
Please update the description of the issue.

The master branch and the docs currently doesn't match, there is work ongoing to fix this.

If you instead use the latest tag, the docs should still be correct.
https://github.com/grafana-operator/grafana-operator/tree/v3.10.2/deploy/crds

[2021-06-30 21:26] gbvikas commented on #448
thanks . have updated the  description

[2021-06-30 21:31] gbvikas commented on #448
Able to get right folders with v3.10.2 tag.

[2021-06-30 21:31] #448 closed

[2021-07-01 07:21] alrf commented on #404
http://i.imgur.com/Kuh8DL9.png I've tried on a few OpenShift clusters, everywhere v3.10.1 as latest available version.

[2021-07-01 07:55] alrf commented on #404
OK, now v3.10.2 is available. I've upgraded operator, but the issue stayed the same:
[code]
bunch of these errors in cluster console, can't reach grafana-service from operator pod by name:
[code]

As I said here before, DNS name is unrelated..

[2021-07-01 08:06] jimlcl opened #450 "[Bug] initImage parameter documented & available in CRD definition to specify plugins_init image is actually never used in the code"
Hi,

When trying to deploy Grafana-operator with a private Container registry, I think I found a bug related to _initImage_ parameter in Grafana CR.

As stated in the [documentation](https://github.com/grafana-operator/grafana-operator/blob/3de75fec6c15bba8feb94af3cd5ced0c7b4cbb01/documentation/deploy_grafana.md#deploying-grafana) :

* ***initImage***: Specifies a custom grafana plugins init image

[2021-07-01 08:06] pantaoran commented on #446
Thank you for investigating!
Your suggested workaround will definitely work. It's OK for me if this is not implemented in the 3.x line. It's not a big issue.
I'll be curious to see what happens in the 4.x line 😃

[2021-07-01 09:15] NissesSenap commented on #446
Great, then I think we can close this issue in the mean time.

[2021-07-01 09:51] DeanBrunt opened #451 "Set dashboards permissions through GrafanaDashboard CRD"
**Is your feature request related to a problem? Please describe.**
Currently, I don't believe it's possible to set dashboard permissions using the GrafanaDashboard CRD.
This would be a welcome enhancement for cases where users wish to provision dashboards with more granular permissions without having to set these up manually.

**Describe the solution you'd like**
An addition to the GrafanaDashboar

[2021-07-01 15:22] alrf commented on #404
@pb82 I found something interesting: "default" example for Grafana deployment (coming as default with Operator) works as expected - I can reach port 3000 from operator pod in this case.

Here my config for Grafana (using it I can't reach port 3000):
[code]

p.s. I've tried both: `preferService: True` and `preferService: False`

[2021-07-01 17:27] HubertStefanski commented on #450
Hi @jimlcl , good find, thanks for pointing this out, feel free to send in the PR and we'll take a look, review and verify :+1:

[2021-07-01 22:04] jimlcl commented on #450
Hi Hubert, thank you for the reply, I just made the PR. Let me know if it worked as expected 👍

[2021-07-02 09:07] kousui-dev commented on #436
Sorry for the late reply.

I don't want to turn off ingress.
When I accessed Grafana Operator's HTTP API(/api/user/auth-tokens), I don't want "clientIp" to be displayed.

[2021-07-02 10:10] alrf commented on #404
Finally, I found an issue, it was Security Group for Openshift worker nodes. Port 3000 should be opened in case of `hostNetwork: true` usage and I don't know why it worked before with Operator v3.9.0 (probably because of changes introduced for `preferService` in v3.10.X).

[2021-07-02 10:10] #404 closed

[2021-07-02 13:28] BostjanBozic opened #453 "[Bug] Multi-Attach issue when adding datasource or dashboard"
**Describe the bug**
Reload of Grafana pod once new dashboard/datasource is created fails due to `Multi-Attach` error. It would be great to add into documentation that if `dataStorage` is used, `ReadWriteMany` accessModes should be provided or detach PVC prior to creating new pod.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Grafana custom resource with `dataStorage` parameter enab

[2021-07-04 08:59] NissesSenap commented on #451
Would love to see this feature, there have also been talk about it on slack so I think other people would like it as well.

I do think we first need to start to support users & teams https://grafana.com/docs/grafana/latest/http_api/team/ and from there we can add this feature. Does that make sense?

[2021-07-05 17:52] DeanBrunt commented on #451
I'm somewhat torn on this as it then gets complicated with some of the SSO models.
I think you can get some good value by just implementing the dashboard permission modelling first (granted, yes, you have to effectively hardcode the users and teams) and leave manual/SSO sync for actual user and team provisioning.
At least this way, if you need to roll out a new Grafana, you can hook up your SSO/LD

[2021-07-05 21:22] pclarot opened #457 "[Bug] - Unable to create dashboards with Operator v3.10.2"
**Describe the bug**
Hello

I have updated my Grafana operator to the latest v3.10.2 and noticed that the operator is not able to communicate with Grafana to generate dashboards anymore.

The operator returns the following log for each defined dasboard:

{"level":"error","ts":1625515019.176278,"logger":"controller_grafanadashboard","msg":"error updating dashboard","error":"Get grafana-service.dart

[2021-07-06 08:32] pb82 commented on #457
thanks for the report @pclarot
It seemed to be working when I tried it, but i'll add the protocol.

[2021-07-06 08:38] pb82 commented on #453
@BostjanBozic thanks for the report. We have `ReadWriteOnce` in our examples too, we should update that as well.

[2021-07-06 11:43] pb82 commented on #361
Closing this as stale. @Coder63 feel free to reopen with more information in case you still have this issue.

[2021-07-06 11:43] #361 closed

[2021-07-06 11:46] pb82 commented on #408
@bhiravabhatla If we add organizations to the Grafana CR then it makes sense to move that client code out of the dashboard package. It can have it's own package called `grafanaclient` or something similar.

[2021-07-06 11:50] pb82 commented on #436
@kousui-dev that API is part of Grafana, not the Operator. Thus we can't control what the endpoint returns.

[2021-07-06 11:50] #436 closed

[2021-07-06 11:55] pb82 commented on #453
@BostjanBozic another option is to change the deployment strategy to `Recreate` (from Rolling) via the CR: https://github.com/grafana-operator/grafana-operator/blob/master/api/integreatly/v1alpha1/grafana_types.go#L111

[2021-07-06 12:02] pb82 commented on #451
@DeanBrunt are the permissions necessarily tied to teams/organizations or can they work with only users? Also, do you know what the exact difference between organizations and users is?

[2021-07-06 12:06] #446 closed

[2021-07-06 12:07] pb82 commented on #449
Agree, we should keep the operator metrics endpoint in 4.x

[2021-07-06 12:08] #447 closed

[2021-07-06 12:18] BostjanBozic commented on #453
@pb82 good suggestion, this would be a workaround with limitation that Grafana would be unavailable for some time. So far it suits my need, but I will most likely change to `ReadWriteMany` in near future as well :)

Do I keep this open until documentation is fixed? If you want, I can create PR for that if you are busy with other topics.

[2021-07-06 16:03] BostjanBozic commented on #453
Actually it seems that `Recreate` strategy does not help, for some reason it does not delete previous pod before creation of a new one, so `ReadWriteMany` seems to be the only option.

[2021-07-06 19:42] leifmadsen opened #458 "Allow Grafana image URL to be specified in Custom Resource"
I'd like to request a change to the Grafana CRD to expose an `imagePath` parameter in order to allow specifying a non-default container image path to the Grafana instance being deployed. This would help with either custom builds of Grafana, or simply to point at a Grafana instance hosted on a different registry than DockerHub (which has rate limits in place).

Suggestion is to add `imagePath` or `

[2021-07-06 19:56] HubertStefanski commented on #436
@pb82 @kousui-dev , thinking about this a bit more, would setting the hostname be a solution for your issue? It would hide the IP, albeit the address would still be visible, see the verification steps for https://github.com/grafana-operator/grafana-operator/pull/356

[2021-07-07 07:20] NissesSenap commented on #262
Since this is documented in the README I will close this issue.

[2021-07-07 07:20] #262 closed

[2021-07-07 07:22] NissesSenap commented on #331
@shantpschauhan do you have any more information so we can help you debug this?
Else we will close this issue in the mean time.

[2021-07-07 07:26] NissesSenap commented on #371
kubectl explain grafana.spec now works on the master branch :)

[2021-07-07 07:26] #371 closed

[2021-07-07 07:32] NissesSenap commented on #458
This is already possible using: grafana.spec.baseImage

[code]

https://github.com/grafana-operator/grafana-operator/blob/7d7480e108d4ac2e4e9dee98654b1984b6a1b5a0/controllers/model/grafanaDeployment.go#L426-L433

[2021-07-07 09:31] SerialVelocity opened #460 "[Bug] Excessive amount of queries to apiserver"
**Describe the bug**
grafana-operator makes a large amount of requests to the apiserver. Instead of only listening on needed resources, it runs a `GET` for every type of resource that exists:
[code]
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Enable audit logs in kube-apiserver
2. Wait about 1 hour for logs to be generated with grafana-operator running
3. Run `cat /var/log/kubern

[2021-07-07 23:34] leifmadsen commented on #458
Oh this is good news! I didn't realize that. It looks like the CRD doesn't fully reflect the available parameters to the custom resource then. I might see what is necessary to result in the proper decorations of the structs then so that the CRD can be properly generated with the available parameters.

[2021-07-08 07:07] NissesSenap commented on #458
Fullt understand. In version 4.0 that is coming soon we have upgraded to operator-sdk to 1.3.0 and there we get auto documentation thanks to the `kubectl explain` command.

But you can still find the documentation under: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#deploying-grafana

I think and hope most CR configs is described there :)

[2021-07-08 08:19] DeanBrunt commented on #451
Permissions can be assigned to either roles (e.g: for 1 dashboard, a "Viewer" could have Edit access 🤯 ), teams or individual users.

In terms of organizations vs teams, I couldn't tell you the exact purpose of each, but I believe that teams exist _within_ organizations.

[2021-07-08 08:30] phillebaba opened #462 "[Bug] Deployment spec terminationGracePeriod required"
**Describe the bug**
In the Grafana resource under deployment the TerminationGracePeriod has become a required parameter.

**To Reproduce**
Create a Grafana resource with deployment overrides without a terminationGracePeriod.

**Expected behavior**
TerminationGracePeriod should have a default value and should not be required.

**Suspect component/Location where the bug might be occuring**
This is

[2021-07-08 13:16] leifmadsen commented on #458
Sounds good. I still think the structs in the code will need to be decorated so that the CRD interface remains accurate. I might take a poke at that if I have a few mins in the next little bit. Otherwise, looks like this works already, so I'll close this issue out. Thanks!

[2021-07-08 13:16] #458 closed

[2021-07-08 14:30] andloh opened #463 "[Bug] How to change deployment strategy?"
**Describe the bug**
Can't change deployment strategy
**To Reproduce**
Create a grafana with CRD with the following spec:

[code]
`k get deployment -o yaml` still shows after apply:
[code]

**Runtime (please complete the following information):**
 - OS: Linux Core OS
 - Grafana Operator Version: 3.10.2
 - Environment: [e.g Openshift,Kubernetes,minikube etc. please specify versions]: Openshift 4.7.

[2021-07-08 14:38] DeanBrunt commented on #463
I don't believe this feature has been released yet, certainly I don't see it on the 3.10.2 tag.
It's possibly waiting until v4 for release, @HubertStefanski or @pb82 are likely to know more in that regard

[2021-07-08 15:19] shantpschauhan commented on #331
Thanks.
Please close this issue.

On Wed, 7 Jul 2021, 12:52 Edvin N, ***@***.***> wrote:

[2021-07-11 10:28] NissesSenap opened #465 "[Bug] grafana rbac missing"
**Describe the bug**
In the master branch when performing `make deploy` the newly generated rbac rules misses grafanas config.

The following fields is missing in config/rbac/role.yaml

[code]

Thanks to this the we get the following errors:

[code]

**To Reproduce**
Follow for example: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/develop.md#kind-load-docker-image

[2021-07-11 10:36] NissesSenap commented on #465
I know what the issue is and I'm working on it

[2021-07-11 11:23] NissesSenap commented on #465
Found a bunch more access that was missing so I added it in the same PR.

[2021-07-13 05:07] mohanagandlla opened #467 "After Operator Deployemnt the pod is in crashloopbackoff"
HI team i have deployed the operator by following the steps mentioned in the kubernetes after that the pod is in crashloop back off only its not showing any logs also
[code]
[code]

it showing reason as completed

[code]

[2021-07-13 10:56] pb82 commented on #457
@pclarot Instead of creating a new release for this, we've updated the v3.10.2 image. I'm closing this now. In case you still experience problems, feel free to reopen.

[2021-07-13 10:56] #457 closed

[2021-07-13 11:10] pb82 commented on #463
Correct, this is currently only on master and not in any released version. There is the option to backport it to 3.x, but we'd still like to get 4.x out as soon as possible.

[2021-07-13 11:12] pb82 commented on #462
@phillebaba I wonder if we should make it a pointer and then, when not set, just keep the Kubernetes default value.

[2021-07-13 11:14] pb82 commented on #467
@mohanagandlla can you have a look at the operator log output and post it here? It could be a permissions issue (missing roles/bindings).

[2021-07-13 11:15] schrej commented on #457
That's actually quite inconvenient for a lot of people, as the image pull policy defaults to `IfNotPresent` when explicitly specifying a version. If one is already using 3.10.2, they have to switch to `Always` to pull the new image, and then switch back to avoid unnecessary requests. And in case the Pod moves to a different node later, you might run into issues with the pull policy again.

[2021-07-13 11:30] pb82 commented on #457
@schrej good point. I'll also release it as v3.10.3 for people to upgrade from v3.10.2.

[2021-07-13 11:40] pb82 commented on #115
@zetaron we'll re-evaluate this when we begin working on multi namespace support and cluster level operators.

[2021-07-13 11:41] pb82 commented on #117
Should be fixed in 4.0 since that uses kustomize for resource creation.

[2021-07-13 11:43] mohanagandlla commented on #467
If query the operator log it's showing empty

Any how I saw that bug that is under deploy directory in operator.yaml command is missed in the container so please update that yaml and what about the service file for grafana operator

[2021-07-13 11:44] pb82 commented on #143
This is implemented in one of the forks: https://github.com/infobloxopen/grafana-operator
We should have a look at this and try to port it into 4.x.

[2021-07-13 11:45] #331 closed

[2021-07-13 11:46] pb82 commented on #174
@d-kuro thanks a lot! We'd like to evaluate your PR as soon as we can. This seems to address both issues.

[2021-07-13 11:48] pb82 commented on #189
duplicate of https://github.com/grafana-operator/grafana-operator/issues/393
@avrahams if you still have this issue, you can try the solution suggested in the above mentioned issue.

[2021-07-13 11:48] #189 closed

[2021-07-13 11:49] pb82 commented on #212
@robertely readiness probes will be re-introduced with 4.0.

[2021-07-13 11:49] #212 closed

[2021-07-13 12:03] pb82 commented on #276
PR [WIP] here: https://github.com/grafana-operator/grafana-operator/pull/418

[2021-07-13 12:05] pb82 commented on #277
The PR for this (https://github.com/grafana-operator/grafana-operator/pull/311) has been reverted, we should look into it again.

[2021-07-13 12:06] pb82 commented on #296
this is fixed on master now.

[2021-07-13 12:06] #296 closed

[2021-07-13 12:07] pb82 commented on #299
Closing as this will be part of 4.0.

[2021-07-13 12:07] #299 closed

[2021-07-13 12:09] pb82 commented on #303
@jsanda does this work for you when you set the `--scan-all` operator flag?

[2021-07-13 12:15] pb82 commented on #467
@mohanagandlla did this happen on the master branch?

[2021-07-13 12:24] mohanagandlla commented on #467
Yes

[2021-07-13 12:59] SerialVelocity commented on #249
@pb82 I'm a bit confused about how that PR fixes this issue? Could you elaborate?

[2021-07-13 14:30] 1naboki1 opened #468 "[Help] Setting up multiple instances"
Quite a simple issue on my side, i am trying to setup a second grafana instance but i am struggling to generate a new grafana.ini file.

[code]
[code]

Any recommendations? Kind Regards!

[2021-07-13 15:52] HubertStefanski commented on #468
Hi @1naboki1, We currently don't support multi-instance support, the project only supports a single grafana instance per operator instance, we hope to change this soon with incoming PRs, Thanks and sorry that we couldn't be of more help currently.

[2021-07-13 23:51] NissesSenap commented on #451
So i have read up on grafana rbac
https://grafana.com/docs/grafana/latest/manage-users/

In short a user exist in grafana.
That user can be a part of one or multiple organizations.

In a organization you can also have teams.
A user can be part of one or multiple teams.
You can assign access to teams.

A dashboard and a datasource exist within a organization.

In the operator when we create anythin

[2021-07-14 03:42] #467 closed

[2021-07-14 07:16] mohanagandlla opened #470 "[Bug] Pod is not appearing in namespcae on kubernets"
**Describe the bug**
I have deployed the operator with cluster RBAC. The Opertor pod is running fine 1/1 is the status. Now if tried teh grafana deployment the status is saying like deployed. but the pod is not appearing.

[code]

The operator is not reading its own crds its reading other operator crds i am not sure why this is happening

[code]
But no pod is appearing
[code]

[2021-07-14 14:59] mohanagandlla commented on #470
Pod is appearing when I deploying in a namespace which the operator is present . So I think there is a problem with cluster RBAC files could you please verify that

[2021-07-15 05:28] mohanagandlla opened #471 "Logs persistent"
when ever we have deployed grafana it is taking [paths] default if i mention in any paths its not overriding the values
[code]
the CM is

[code]

[2021-07-15 06:42] mohanagandlla opened #472 "[Bug] Image not considering the given version"
Hi team
i have mention the grafana updated version at baseImage in grafaan.yaml file
[code]
but it is staring only with version 7.3.10
may i know why this is happening

[2021-07-15 07:08] mohanagandlla commented on #472
I got the updated version by adding the image tag as arg in operator deployment .

[2021-07-15 07:08] #472 closed

[2021-07-15 07:34] mohanagandlla opened #473 "singal operator with multi grafana instances"
I hope currently we are deploying only one grafana that to in the namespace where the operator is present. So why dont you add this feature like Prometheus operator. For the entire cluster one operator which can able to handel the no of instances across the cluster on different namespaces

[2021-07-15 10:32] mohanagandlla opened #474 "[Bug] Not able to sent all config perametes by grafana.spec.config"
Hi team,
I have deployed the grafana by using CRD's
instance is working good but when i was adding some config via that spec.config its not reflecting do you have any document or user guide to follow
[code]
but these are only reflecting
[code]

[2021-07-15 18:21] arunasajjan commented on #333
Hi ,  I am trying to install community grafana operator in disconnected mode .  Can anyone share the procedure to install grafana operator using CLI command?.

[2021-07-16 02:23] mohanagandlla opened #475 "Dashboard creation unsuccess "msg":"error matching selectors against operator/grafana-dashboard""
HI
This is the expression i have used in grafana.yaml file
[code]

and i mentiond the label in dashbard.yaml as

[code]

But it is showing the below error like selector not matched

[code]

[2021-07-16 07:43] phillebaba commented on #462
I think this is the best option as I don't think too many people are interested to set this value, or even know immediately know what it should be.

[2021-07-16 09:55] HubertStefanski commented on #470
Hi @mohanagandlla , currently we're limited to running the grafana deployment in the same namespace as the operator, we are working on multi-namespace support in the near future, for now, the only resources that support multi-namespace is a `grafanadashboard`

[2021-07-16 09:57] HubertStefanski commented on #473
@mohanagandlla , this is currently in the works #433 , closing to avoid duplication, we're already tracking this issue in a separate ticket

[2021-07-16 09:57] #473 closed

[2021-07-16 10:01] HubertStefanski commented on #474
@mohanagandlla, not all fields are currently supported, we need to whitelist them in order for them to be transferred from the grafana CR to a configmap, https://github.com/grafana-operator/grafana-operator/blob/master/controllers/config/grafanaIni.go, please see if any of the fields you require are missing from here, you can submit a PR to add them and we're more than happy to review and verify.

[2021-07-16 14:40] SerialVelocity commented on #249
@pb82 ping on this. I'm no able to reopen the issue.

[2021-07-16 17:32] mohanagandlla opened #476 "[Bug] name of the CRD object is not considering"
**Describe the bug**
We have 3 CRDs for example grafanas CRD is available it is only accepting the metadata.name as "example-grafana" if I give any other name it's not creating the pod.

The same thing is happening for remaining CRD also can you please fix this bug

[2021-07-16 19:42] Chriscbr opened #477 "[Bug] `dashboardLabelSelectors` not honored / typo in spec"
**Describe the bug**
The custom resource definition for Grafana lists the dashboard label selector field as `dashboardLabelSelectors` (plural), even though everywhere else in the docs and code, it is expected to be `dashboardLabelSelector` (singular). This was causing me issues because I was using the schema to automatically validate my manifests, and when I use the singular version, the field is

[2021-07-17 01:30] mohanagandlla commented on #470
Ya ok thank-you

[2021-07-17 01:30] #470 closed

[2021-07-17 01:31] #471 closed

[2021-07-17 01:32] mohanagandlla commented on #475
Right it's only working by passing CRD object name as mentioned in the deploy directory then only it's working .

[2021-07-17 01:32] #475 closed

[2021-07-20 11:19] pb82 commented on #477
Good spot, thanks @Chriscbr
The CRD needs to be updated

[2021-07-20 11:39] pb82 commented on #476
@mohanagandlla can you please provide some steps to reproduce? Is the problem that you are unable to change the name of the Grafana CR to something other than `example-grafana`?

[2021-07-20 11:42] pb82 commented on #474
Looks like we need to whitelist the `log.frontend` field in here: https://github.com/grafana-operator/grafana-operator/blob/master/controllers/config/grafanaIni.go

If you'd like to submit a PR for this, we'd happily accept it @mohanagandlla

[2021-07-20 11:44] pb82 commented on #468
I'm going to close this one, as @HubertStefanski said, it's currently not supported.

[2021-07-20 11:44] #468 closed

[2021-07-20 11:49] pb82 commented on #463
Going to close this, the change is already on master and will be in the next release.

[2021-07-20 11:49] #463 closed

[2021-07-20 11:53] pb82 commented on #462
@Bobbins228 this is relevant: https://stackoverflow.com/questions/38486564/unmarshal-marshal-json-with-int-set-to-0-does-not-seem-to-work

[2021-07-20 11:56] pb82 commented on #460
At the moment we're reading all resources in every reconciliation (every 10 seconds). This can be refactored to just always call `CreateOrUpdate` and let Kubernetes figure out which one to use. That would at least get rid of the `get` requests.

[2021-07-20 12:00] pb82 commented on #453
@BostjanBozic can you please provide steps to reproduce? `Recreate` is supposed to fix that by not keeping two pods running at the same time. Are you using some other configuration in your CR?

[2021-07-21 05:12] mohanagandlla commented on #476
Yes its not stating if i change the name
in grafana the team mention metadata.name as example-grafana if i change to test-grafana or grafana or any other string the file is deploying successful but the pod is not coming UP until i change back to name as example-grafana
The same thing happening in remaning CRDS also

[2021-07-22 08:09] #477 closed

[2021-07-22 08:41] #474 closed

[2021-07-22 12:32] BostjanBozic commented on #453
@pb82 I checked and it seems that operator does not take this parameter into the account. Below you can see that strategy is set in Grafana, though this is not propagated into deployment itself (I removed irrelevant fields for this issue):

* Grafana:
[code]

* generated deployment:
[code]

I checked in API spec, and `strategy` is of type `*appsv1.DeploymentStrategy`, so I presume my Grafana shoul

[2021-07-23 08:26] NissesSenap commented on #465
The PR is merged so I close the issue.

[2021-07-23 08:26] #465 closed

[2021-07-24 00:05] SerialVelocity commented on #460
Is there a reason why you aren't just watching resources? (and also only for resources you care about?)

I'm pretty sure switching to `CreateOrUpdate` will trigger lots of requests that are marked as `mutating` making the issue worse? Not sure how `CreateOrUpdate` is implemented though.

[2021-07-26 12:17] GusAntoniassi opened #487 "[Bug] Ingress.extensions "grafana-ingress" is invalid - pathType must be specified on Kubernetes 1.20+"
**Describe the bug**
I am not sure whether this is a bug in the opeator behavior, or just the documentation missing a note, but since I haven't found anything related in issues or docs I'm opening this issue.

When running Grafana Operator with `kind` in Kubernetes version 1.20 or 1.21, I get the following error when deploying using the default `Grafana.yaml` available in `deploy/examples`:

[code

[2021-07-26 15:18] robshelly commented on #432
I have a working fix for this which does a search for each known dashboard via the Grafana API on each periodic reconcile and recreates the dashboard if it is not found on the Grafana instance.

However, I don't think this is possible.

As the dashboard has been deleted from the Grafana instance we are basically just creating a new one. And Grafana appears to always set the version to 1 when creat

[2021-07-26 19:38] HubertStefanski commented on #487
Hey @GusAntoniassi , Thanks for reporting this, i've seen this issue crop up just after installing the enwest version of minikube, how would you feel about sending a PR to add this as our default in code? (It's fine if you don't have the time, we'll fix this before the next release).

For those looking for a solution, As the OP mentioned. adding the following to your grafana.yaml
[code]
will provi

[2021-07-26 20:26] GusAntoniassi commented on #487
Sure thing @HubertStefanski I can send the PR, the fix would be just to update the `Grafana.yaml` file?

Do you think it might break compatibility for those running the operator on v1.16 or older? (I can test that with Kind, but asking just in case you already know how the operator would behave)

[2021-07-27 11:33] pb82 commented on #453
@BostjanBozic Ok, this looks like a bug then.

[2021-07-27 11:36] pb82 commented on #408
We're happy to accept a PR for this, but its not something on our roadmap at the moment.

[2021-07-27 11:39] bhiravabhatla commented on #408
Sorry for late update  - I have started working on this, could not find time to finish - will try to find sometime next weekend. Will keep this issue updated

[2021-07-27 11:43] pb82 commented on #487
@GusAntoniassi the `Grafana.yaml` in the operator repository is only meant as an example and doesn't set a path type.

Regarding the error above, this sounds like you're running v3 of the operator against Kubernetes 1.20+. You might want to try with 4.0.0 once that is released. The problem should be fixed there.

[2021-07-27 11:45] pb82 commented on #476
@mohanagandlla can you please provide steps to reproduce this? We're having trouble understanding the issue.

[2021-07-27 11:49] pb82 commented on #451
@DeanBrunt this would require rewriting some of the dashboard management logic: you can't set the organization directly when creating / updating a dashboard. Instead you have to use a separate API to assign an organization to a dashboard. Additionally this API requires you to ontain and use the org's token. More details can be found here: https://grafana.com/docs/grafana/latest/http_api/dashboard/

[2021-07-27 11:54] pb82 commented on #451
Our suggestion would be to close this issue in favor of a number of specific ones to address the rewrite of the account management. @DeanBrunt would you be available to join a triage call to discuss this further? We have a weekly one on Tuesdays at 1:30 CEST, but I'm also happy to find a time that works better for you.

[2021-07-27 12:42] GusAntoniassi commented on #487
Hey @pb82 from what I could gather this option is mandatory for ingresses in v1.20+ so I think it would be nice to add in the example to avoid some head scratching when testing out the operator or contributing to the project.

Regarding the `no matches for kind \"Ingress\" in version \"networking.k8s.io/v1\"` error mentioned above, It appeared when running the operator on `master` branch, against

[2021-07-27 13:00] NissesSenap opened #491 "[Bug] deployment.replicas missing omitempty"
**Describe the bug**
When defining deployment I also need to define the amount of replicas that is needed.
I think we can assume 1 as long as not defined.

[code]

**To Reproduce**
Install the operator

Add the following yaml to the example grafana.

[code]
kubectl apply -f deploy/examples/Grafana.yaml

kubernetes will complain about missing config.

**Expected behavior**
Use the default of 1 repl

[2021-07-28 01:42] krishnaindani commented on #491
@NissesSenap Is this open to work? I am a first-time contributor here and would like to try on this issue.

[2021-07-28 05:02] NissesSenap commented on #491
Yes @krishnaindani , please go for it. Feel free to reach out here or in slack if you get stuck.

[2021-07-28 05:04] krishnaindani commented on #491
sounds great, thank you so much. Sure will post the questions here and take the reference from the pr you mentioned in additional context.

[2021-07-28 06:03] Starefossen commented on #460
@StianHaugland1 this might be the source of the `KubeAPIErrorBudgetBurn` alerts ☝🏻

[2021-07-28 10:37] DeanBrunt commented on #451
Yep that works for me. Just let me know the details of how to join etc

[2021-07-29 14:28] js-timbirkett commented on #463
Holding breath in anticipation...

[2021-07-30 02:42] krishnaindani commented on #491
So looking at the code and logic from https://github.com/grafana-operator/grafana-operator/pull/485, I was considering the same logic.

Like first converting the https://github.com/grafana-operator/grafana-operator/blob/master/api/integreatly/v1alpha1/grafana_types.go#L98 from int32 to *int32, so that when it is empty we can pass the default value and update the logic in here for function `getRepl

[2021-07-30 09:38] pb82 commented on #491
@krishnaindani if we want to assume the default value when the user doesn't specify it, then I think you don't have to do anything other than assigning the pointer from the CR.

The type of the termination grace period in the `Deployment` is also a pointer, so you can just pass that through.

[2021-07-30 09:51] pb82 commented on #453
@BostjanBozic sorry, should have looked closer: overriding the strategy actually works, but you need to put it under the `deployment` section in the spec:

[code]

in your example, you put it directly under spec.

[2021-07-30 09:56] pb82 commented on #450
thanks @jimlcl , this is merged now :+1:

[2021-07-30 09:56] #450 closed

[2021-07-30 10:25] BostjanBozic commented on #453
@pb82 sorry, I am a bit confused now. When specifying `Grafana` CR, I have this under `deployment`:
[code]

This of course should mirror settings in `Deployment` object under `spec.strategy` as far as I know.

[2021-07-30 10:25] alexei-matveev commented on #363
Affecting behaviour of the Operator from the Subscription YAML would be geat, i think. Only because I have to edit the CSV bei adding  a single line `args: ["--scan-all"]` I had to Change the Approval to "Manual" to be able to repeat this manual Change every time a new Operator Release is out.

Should not one one in the long-term be able to customize Opertaor Config from some sort of ConfigMap sup

[2021-07-31 03:34] krishnaindani commented on #491
Sorry I am unclear on how the default value will be set without `getReplicas` function. Would you please elaborate on this? Sorry if I am missing something

Do we need to do something with termination here?

[2021-07-31 17:23] SerialVelocity opened #492 "Support grafanadashboards in a configmap without having to define a grafanadashboard CR"
**This is the same as the closed issue #249. I could not re-open it and could not get a response from @pb82 about why the issue was closed.**

**Is your feature request related to a problem? Please describe.**
Dashboards created by helm charts tend to have a grafana_dashboard flag set on them and are usually imported using kiwigrid/k8s-sidecar. These are not automatically imported by grafana-opera

[2021-08-01 07:08] NissesSenap commented on #492
@SerialVelocity we do not support any helm chart for the grafana-operator, bitnami have published a helm chart https://github.com/bitnami/charts/pull/3287 and if you want any changes to happen to it you will need to create a issue/PR with them.

Or are we misunderstanding you? If so please can you elaborate more on what you think is missing?

[2021-08-01 07:14] NissesSenap commented on #437
@kousui-dev have you had time to try to suggested solution?

[2021-08-01 11:36] pb82 commented on #491
@krishnaindani the default value is assigned by Kubernetes if we don't provide a value for `replicas` and leave it `nil` . We do the same for `terminationGracePeriod`, you can do the same: https://github.com/grafana-operator/grafana-operator/pull/485

[2021-08-01 14:11] SerialVelocity commented on #492
Hey @NissesSenap, this is not about grafana-operator being a Helm chart. This is to do with many helm charts creating their dashboards by having a `grafana_dashboard` label associated with their dashboard config map. This also sometimes applies to non-helm dashboards too.

Sorry, the original issue had a comment with a link to some dashboards but it failed to show an example of what the config map

[2021-08-01 20:38] NissesSenap commented on #492
If i understand you correctly you want to be able to import a grafan dashboard that is in a configmap, is this correct?

That is already supported: https://github.com/grafana-operator/grafana-operator/blob/master/deploy/examples/dashboards/DashboardFromConfigMap.yaml

All you need to do is to create a grafana dashboard and point on the cm. You just have to make sure that the grafana dashboard got

[2021-08-01 21:23] SerialVelocity commented on #492
You are right, I want to be able to import them, but I want to import them without having to create grafana dashboard CRD for each.

So, when I go to upgrade a helm chart that I have, if they add new grafana dashboards, they appear automatically in Grafana.

[2021-08-02 00:32] krishnaindani commented on #491
I have added a PR for this issue https://github.com/grafana-operator/grafana-operator/pull/494, let me know if any more changes are required. Thank you

[2021-08-02 06:07] NissesSenap commented on #492
Okay, since this actually have nothing to do with helm I changed the name since this applies to all yaml, it dosen't have anything to do with a template engine.

We could tell the operator to monitor configmaps with a specific label just like we do with the grafanadashboards.
Since we already support CM usage together with the grafanadashboard CR my guess is that feature won't be anything super pr

[2021-08-02 08:06] SerialVelocity commented on #492
Since we already support CM usage together with the grafanadashboard CR my guess is that feature won't be anything super prioritized from the maintainers point of view.

Yes, either directly, or via the grafanadashboard CR extension which allows you to specify a label instead of namespace/name

I'm not able to currently and not sure when I'll be able to. If I find some free time, I'll have a go at

[2021-08-02 08:07] SerialVelocity commented on #492
(typed your name wrong: @tlipatov-asapp)

[2021-08-02 09:42] pb82 commented on #491
Merged, thanks @krishnaindani

[2021-08-02 09:42] #491 closed

[2021-08-02 15:29] krishnaindani commented on #491
Thank you @pb82

[2021-08-03 01:16] kousui-dev commented on #437
Has completed.Thank you.

[2021-08-03 05:19] #437 closed

[2021-08-03 05:24] #462 closed

[2021-08-03 11:39] pb82 commented on #487
@GusAntoniassi thanks for the PR, it has been merged now. The 4.0.0 release is based off the master branch, so you can always test it from there.
I'm wondering if we should also set a default path (`/`) when creating an ingress and no explicit path is set by the user?

[2021-08-03 11:40] pb82 commented on #476
@mohanagandlla were you using the Ansible based installer?

[2021-08-04 08:34] RomkaV opened #495 "[Bug] Grafana service-name resolution."
**Describe the bug**
We have a custom cluster name ( for example mycluster.localdomain).  Therefore grafana-operator cannot connect to grafana-service.

**Log**
`{"level":"error","ts":1628065720.2205942,"logger":"controller_grafanadashboard","msg":"error updating dashboard","error":"Get \"http://admin:***@grafana-service.monitoring.svc.cluster.local:3000/api/folders\": dial tcp: lookup grafana-ser

[2021-08-04 16:39] ljuaneda commented on #453
I'm still hitting the same issue with release 3.10.3, when will release this feature ?

[2021-08-05 10:07] pashafirdous1 opened #496 "Error with Dashboard creation"
**unable to load Dashboard within operator **
with the below code, i'm trying launch grafana and grafanadashboard.
the grafana, datasources are working fine, but the dashboards are failing with below error.

unable to list the dashboards though the labelselectors are matching

**ERROR**
[code]

**GRAFANA**
[code]

**GrafanaDashboard**
[code]

**Expected behavior**
the dashboards when the label sec

[2021-08-10 11:33] #432 closed

[2021-08-10 11:53] pb82 commented on #495
@RomkaV this seems like an issue with DNS resolution in the cluster. A custom hostname should not be a problem for resolving a service inside the cluster. Have you tried setting `preferService` to false and create an Ingress?

[2021-08-10 11:58] pb82 commented on #453
@Bobbins228 we should verify that overriding the deployment strategy via the CR actually works.

[2021-08-11 07:52] bwplotka opened #497 "Avoiding Scope Creep of developing "Grafana Products Operator""
👋🏽 I am from the Red Hat Monitoring team. We would love to use and contribute to Grafana Operator as it seems a perfect, nicely focused component for managing dashboards. We really appreciate the focus and amazing community-driven work here, good job!

We met recently with @pb82 and the monitoring team offline, and Peter mentioned some main work items on the Grafana Operator roadmap:

* [Support f

[2021-08-11 11:13] pb82 commented on #497
@bwplotka I agree that we should first and foremost focus on Grafana, Datasources and Dashboards. Loki support came up as a community request and can be separated into different concerns:

* Support for Loki data sources: this is already possible and used by our teams
* Support for a Loki CR to deploy an instance: this has been implemented by @HubertStefanski in this PR: https://github.com/grafana

[2021-08-11 11:47] HubertStefanski commented on #497
I like @bwplotka's idea. I think it would offer us and the community, first and foremost, a wide choice between separate monitoring components. Here are some of the benefits I think we take advantage of:

1) Smaller operator sizes, it makes more sense to have a few small, purpose-specific operators, this gives everyone the chance to only deploy the components they need without having to run a full

[2021-08-11 21:28] HubertStefanski commented on #497
I think if we achieved that with these operators, it would be a massive success for everyone involved :100: , with some higher calibre backing from RH , specifically @bwplotka's team, we could potentially make that happen, Fingers crossed :crossed_fingers:

[2021-08-12 12:31] pashafirdous1 commented on #496
[code]

[2021-08-12 14:34] HumairAK opened #498 "Add role_attribute_strict to auth.generic_oauth"
**Is your feature request related to a problem? Please describe.**

Generic oauth has a new field `role_attribute_strict`, to disable role assignment when no role or an invalid role is returned from `role_attribute_path` -- can this be added, as it doesn't currently [exist](https://github.com/grafana-operator/grafana-operator/blob/bd1c0cb12ad834d21e6106e1fb27930645666e6d/api/integreatly/v1alpha1/g

[2021-08-12 15:22] m-yosefpor commented on #363
This is a very important feature to be able to run in clusterScope via OLM. We have a central grafana and manage all dashboards in teams with grafana orgs, so they should be able to create they own dashboards in their namespaces.

[2021-08-12 15:33] DeanBrunt commented on #497
I'm all for the Unix philosophy here and maintaining smaller, more focused operators.

We may find this encourages more specialist community involvement in each operator as from naming alone it's more obvious that an individual's skill set aligns with what the operator is doing. I.e: Someone who knows Loki inside out may not think to contribute to a Grafana Operator where it's not clear Loki or ot

[2021-08-13 15:10] npsoni88 opened #501 "Missing grafana dashboards"
Hello,

I have ensured that Grafana instance as well as dashboards both are labeled and have dashboardlabelselectors. The dashboards also show up in the UI. But, I see the following error when I look at the log of the grafana instance.

t=2021-08-13T14:37:15+0000 lvl=eror msg="Failed to read plugin provisioning files from directory" logger=provisioning.plugins path=/etc/grafana/provisioning/plugin

[2021-08-16 12:01] phillebaba commented on #497
I must agree with @bwplotka that putting in resources that do not directly relate to managing a Grafana instance could easily become scope creep. Additionally it could turn away users who may only want the Loki components but don't want to include the full Grafana Operator. I still think there is a need for a Loki operator but maybe it should live in the org but not this repository.

One suggestio

[2021-08-16 14:22] maximiano86 opened #502 "How to specify the imagePullSecrets in the Grafana.yaml"
How to specify the imagePullSecrets in the Grafana.yaml?

not able to make this work, tried a couple of configs similar to this one none of them seems to works, please advise

[code]

[2021-08-16 16:55] npsoni88 commented on #502
is your image pull secret linked to the grafana-serviceaccount? If you're using openshift then the command would look like this.

oc secrets link service-account-name <pull_secret_name> --for=pull

This is assuming that you have created a secret already.

[2021-08-16 17:05] maximiano86 commented on #502
yes it is linked, and it works, bu we want to see if its possible to configure as I mentioned above

[2021-08-16 17:52] #498 closed

[2021-08-17 11:33] bwplotka commented on #497
Thanks for the positive feedback! I think we are on the same page here, so let's discuss the next action items then. How we can expand the good practices we learned in this project into separate focused operators 💪🏽

[2021-08-17 11:38] bwplotka commented on #497
It would be awesome to have @periklis vision here, but one way of this would be to reuse https://github.com/ViaQ/loki-operator

[2021-08-17 12:00] bwplotka commented on #497
We discussed this on public community call, and the plan is to start on-pager google doc on our idea on how those Grafana related tools can be operated, potentially under single org ( e.g Grafana operator, loki operator and grafana agent/promtail operator) and how this can improve maintainability, reusability and potentially how  we can be part of [CNCF Sandbox](https://www.cncf.io/sandbox-project

[2021-08-17 12:13] pb82 commented on #451
@DeanBrunt would you still benefit from allowing to specify user *and* team IDs? The concern is that we make it user specific and later discover that supporting teams scales better.

[2021-08-17 12:17] pb82 commented on #502
@maximiano86 image pull secrets are part of `spec.serviceAccount`, so in your CR it should look like:

[code]

[2021-08-17 20:16] kedark3 opened #505 "[Bug] Grafana can't be deployed on latest OpenShift 4.9/K8s 1.22"
**Describe the bug**
Trying to install grafana operator says:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install the Grafana operator

**Expected behavior**
Error described as above.

**Suspect component/Location where the bug might be occuring**
ApiVersions incompatibility

**Runtime (please complete the following information):**
 - OS: RHEL CoreOS
 - Grafana Operator Ver

[2021-08-18 13:04] bwplotka commented on #497
To sum up, it looks like we have promising:

* [Loki operator](https://github.com/ViaQ/loki-operator)
* [Promtail/Grafana Agent operator](https://github.com/grafana/agent/blob/b5416fd0fce27ee6c1e9899ab6cc7808c459a197/docs/operator/getting-started.md) (just reached @rfratto and he mentioned it might be split to separate repo if needed)

[2021-08-18 22:01] Kampe commented on #472
@mohanagandlla can you elaborate more here? Exact args you passed to the manifest etc? Thanks!

[2021-08-18 22:09] Kampe opened #506 "Allow image to be an parameter on Grafana CRD"
Would like to be able to set the image of grafana used for the deployment.

[code]

**Existing solutions**
overwrite startup args with no documentation

[2021-08-19 01:16] mohanagandlla commented on #472
It's resolved thank you

[2021-08-19 09:10] songshukeke opened #507 "Can I use numbers of ConfigMap dashboards in one GrafanaDashboard.yaml"
I have several json files for Dashboards in ConfigMap, now I want to use grafana operator and when I write GrafanaDashboard, can I write all ConfigMaps in one yaml file like:
spec:
  - name:
    - configMapRef:
       key:
       name:
  - name:
     - configMapRef:
        key:
        name:

I am in hurry ,plz help me, thx and merci

[2021-08-19 21:29] raviqqe commented on #453
We have the same problem of the deployment strategy not propagated to actual `Deployment` resources from the `Grafana` resources on Kubernetes.

# Screenshots

## Grafana Operator

<img width="674" alt="Screen Shot 2021-08-19 at 2 27 37 PM" src="https://user-images.githubusercontent.com/9584358/130146826-5d2a16f6-44ea-4e32-a242-ee839427c077.png">

## `Grafana` resource

<img width="369" alt="Scree

[2021-08-20 09:14] NissesSenap commented on #44
We are currently discussing how to solve this issue. Our current plan points towards having a separate operator loki and grafana. You can find more information here: https://github.com/grafana-operator/grafana-operator/issues/497

A RedHat team have already started working on a loki operator, https://github.com/ViaQ/loki-operator please have a look and try it out.
Them and us would love feedback.

[2021-08-20 09:16] ibotty commented on #44
Oh, interesting.  I did not see the other operator.  I am fine either way.  I thought it made sense to bundle them together because it's nice to have the same label config from the same source.

[2021-08-20 09:32] #507 closed

[2021-08-20 10:30] NissesSenap commented on #44
It's rather new so it's nothing strange with that.
Fully understandable but we think it will be easier to maintain them as separate operators.
We are just in the starting pits on how to manage this in the future, but we will defiantly take a look at the loki operator API and try to get it as similar as possible to the grafana-operator. This might of course include changes to the grafana-operator a

[2021-08-20 10:35] NissesSenap commented on #506
@Kampe can you please explain a bit more what you are after?
You can define the grafana image setting:  `grafana.spec.baseImage`

[2021-08-20 10:38] NissesSenap commented on #505
This is due to old CRD version that gets deprecated in 1.22, this will be solved when 4.0 is released.
https://github.com/grafana-operator/grafana-operator/pull/482

[2021-08-20 10:49] NissesSenap commented on #501
Sadly those errors have been around for some time. It's on our TODO to fix it, but we haven't gotten around to it.
You can find similar issues here: https://github.com/grafana-operator/grafana-operator/issues/197 & https://github.com/grafana-operator/grafana-operator/issues/154

In short these errors are not critical and from the looks of your screenshot my understanding is that you are unable to

[2021-08-20 11:34] npsoni88 commented on #501
My grafana instance is working. The screenshot was when it wasn't. It just isn't able to find the dashboard :(. It was used using the operators available in openshift4.

[2021-08-20 12:36] NissesSenap commented on #501
So why did you share the images and write that you are unable to start?
Any way please share the yaml of the grafana instance and the grafanadashboard.
Also check the status of each config to see what status it got.

[2021-08-20 13:06] Kampe commented on #506
Oh, very neat is this documented in an example somewhere?

[2021-08-20 14:15] NissesSenap commented on #506
Yes, https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#deploying-grafana
I know it isn't super easy to find. We are more then happy to get a bigger PR to refactor our documentation.

[2021-08-20 19:20] kedark3 commented on #505
Thanks @NissesSenap I will give it a try.

[2021-08-20 19:31] NissesSenap commented on #505
The PR was merged earlier today so you will find it in the master branch but i linked you the wrong docs, it's this one: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md

There is also this document if you already have a environment installed that is pre 1.22: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md

[2021-08-20 22:43] jfroment opened #509 "Mount PVC on already-existing mountpoints"
Hello,

I would like to mount a PVC on the /var/lib/grafana/plugins directory to persist imported plugins across container redeployment.
Nothing in the Grafana custom resource lets me add a PVC, other than for the database storage.

The volumeMount already exists and is already declared in the deployment, and if I patch (kubectl patch) the Deployment, the Operator overwrites the YAML and the pods

[2021-08-21 07:38] NissesSenap commented on #509
It's a interesting solution, I have a hard time testing now but is it possible to overwrite the default volume mount using:
`grafana.spec.deployment.extraVolumes`?

If I understand it correctly we don't support changing the plugin path in grafana.ini https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#deploying-grafana else you could have had a completl

[2021-08-21 07:42] NissesSenap commented on #449
This is handeld in the 4.0 release, you can follow the documentation described in: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-metrics

[2021-08-21 07:42] #449 closed

[2021-08-22 14:34] edenkoveshi opened #510 "Grafana-Dashboard mismatch"
**Describe the bug**
Hi,
I have two Grafana instances, _grafana-a_ in _namespace-a_ and _grafana-b_ in _namespace-b_
_grafana-a_ is configured with the following dashboardLabelSelector:
[code]
Similarly, _grafana-b_ is configured with the following dashboardLabelSelector:
[code]
Then I create two GrafanaDashboards, _dashboard-a_ in _namespace-a_, with labels:
[code]

and _dashboard-b_ with labels:

[2021-08-23 06:00] periklis commented on #497
@bwplotka Thanks for raising this! I have never thought that the grafana operator will reconcile Loki or other non-dashboard CRs. My personal confusion is that the name grafana sticks for me more with the grafana dashboard tool rather the rest of the awesome backend projects like Loki, Cortex etc. My bad!

IMHO, we have clearly a Loki operator in a stage that I certainly would call "almost ready f

[2021-08-23 11:01] songshukeke opened #511 "Missing dashboards"
After I config grafana with Ingresses and PVC, my dashboards cannot be created ,logs said expected status 200 but got 401,i don't know why

Here's my grafana config:
spec:
  config:
    auth.anonymous:
      enabled: true
    log:
      level: warn
      mode: console
    security:
      admin_password: admin
      admin_user: admin
  dashboardLabelSelector:
    - matchExpressions:
        - key:

[2021-08-24 11:46] HubertStefanski commented on #44
@ibotty We've decided to close this issue off, as we'll be moving to a more plug-n-play approach with the Loki and Promtail operators, please feel free to leave your feedback here based on your evaluation of the viaq Loki operator, we'd love to hear your thoughts on this as we'll be evaluating this soon ourselves as well. Thanks!

[2021-08-24 11:46] #44 closed

[2021-08-24 11:56] HubertStefanski commented on #501
@npsoni88 Thanks for reporting this. We'll address this in the near future by adding emptyDirs through the operator to satisfy Grafanas requirement for the existence of these directories.

[2021-08-24 11:59] david-martin commented on #501
1 possible solution is to include the directories in the grafana image, with the appropriate read permissions for the user that runs grafana.
Similar discussion in https://github.com/grafana/grafana/issues/16305

[2021-08-24 12:00] HubertStefanski commented on #502
Hi @maximiano86, can you try out Peter's suggestion and tell us if it works? We still need to document this. Thanks!

[2021-08-24 12:05] pb82 commented on #505
We probably want to backport this to the v3 branch as well. Upgrade from v1beta1 to v1 should be possible, I can test that with 3.10.3 -> 3.10.4.

[2021-08-24 12:05] HubertStefanski commented on #506
Hi @Kampe, Seems like the documentation resolved your issue, closing off, thanks.

[2021-08-24 12:05] #506 closed

[2021-08-24 12:21] HubertStefanski commented on #509
Hey @jfroment a few questions about your setup to clarify things:

1) How are you deploying the grafana-operator in your ci/cd:
     If you're deploying the operator with a container image then you could use https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-flags to override the init-container with your own custom one (bundling any plugins yo

[2021-08-24 15:21] Kampe commented on #506
It did, however most operators do allow this functionality through the CRD

[2021-08-24 17:31] NissesSenap commented on #506
I don't understand your comment @Kampe , it's configured though the crd... If there is a feature you are missing please explain and we might be able to solve it.

[2021-08-24 19:33] kedark3 commented on #505
I can wait for couple more days if this is becoming part of 4.9 - my automation relies on it being in there. Thanks.

[2021-08-24 19:37] Kampe commented on #506
For example the widely used prometheus operator from Redhat.
[code]

[2021-08-25 12:37] StianHaugland1 commented on #453
I have the same issue:
ive tried to set:
[code]

the grafana object get this:
[code]

But the deployment still gets the old:
[code]

Am i doing something wrong?

[2021-08-25 19:24] maximiano86 opened #513 "no matches for kind "Grafana" in group "integreatly.org""
Im getting this error when applying a Grafana.yaml

[code]

this is the yaml file located in your sample folder

https://github.com/grafana-operator/grafana-operator/blob/master/deploy/examples/oauth/Grafana.yaml

[code]

[2021-08-28 03:05] mohanagandlla commented on #476
No it's just normal kubernetes installation

[2021-08-30 06:38] michaelgarde commented on #496
@HubertStefanski

I haven't thought of looking in the Operator pod logs. I get a lot of these errors:

[code]

The logs seems to be related but I'm not sure, what they are telling me.

[2021-08-30 12:50] pashafirdous1 commented on #496
The Operator deplyoment fails with  quay.io/grafana-operator/grafana-operator:v3.10.3
the pod goes in crashloopback rendering the container in unready state.

[2021-08-30 12:51] pashafirdous1 commented on #496
last working image i have is v3.10.0, but that doest support the dashboard

[2021-08-30 16:00] pashafirdous1 commented on #496
The Operator deplyoment fails with quay.io/grafana-operator/grafana-operator:v3.10.3
the pod goes in crashloopback rendering the container in unready state.
last working image i have is v3.10.0, but that doest support the dashboard

[2021-08-31 11:37] NissesSenap commented on #509
@jfroment have you had time to look at the example Hubert gives?

[2021-08-31 11:39] pb82 opened #515 "[Bug] spec.client getting overwritten when CRDs updated to v1"
**Describe the bug**

When recreating the CRDs and updating them to v1 (from v1beta1) the `spec.client` field can't be set. Existing values get overwritten with an empty object. This happens on master as well as on the v3 branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Install 4.0.0
2. Create a CR with `spec.client.preferService` set to `true`
3. Apply the change. The value will be r

[2021-08-31 11:43] pb82 commented on #510
@edenkoveshi This could be caused by both operators discovering both CRs. So they see both label selectors. This will be addressed by multi namespace support at some point.

[2021-08-31 11:43] NissesSenap commented on #476
@mohanagandlla can you please share the yaml that you used to deploy the grafana instance?

[2021-08-31 11:48] pb82 commented on #511
@songshukeke can you try setting `preferService` to force the Operator to use the service instead of the Ingress for API calls: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#configuring-grafana-api-access

[2021-08-31 11:55] pb82 commented on #496
@pashafirdous1 did you install via OLM? Can you make sure that the version you have is v3.10.3 and not 4.0.0? You can try completely uninstalling the Operator and then reinstall from OLM using the `alpha` channel.

[2021-08-31 12:01] pb82 commented on #487
@vincentmanley this might be something for you

[2021-08-31 12:10] pb82 commented on #369
@HubertStefanski in addition to an example, we can also consider this for OLM installations (set default requests and limits).

[2021-08-31 14:16] pashafirdous1 commented on #496
@pb82
i've tried with v3.10.3 operator. below are the operator logs.

`{"level":"error","ts":1630413765.739814,"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"grafana-controller","request":"do-pasha-2/grafana-deploy","error":"Grafana.integreatly.org \"grafana-deploy\" is invalid: [status.dashboards: Invalid value: \"null\": status.dashboards in body must be of type

[2021-08-31 14:33] vmanley commented on #487
@pb82 Will have a look. Thanks

[2021-09-01 09:56] camilamacedo86 opened #517 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-01 13:09] mohanagandlla commented on #476
[code]

if i change the name example-grafana to some other think it wont deploy

[2021-09-01 15:23] jfroment commented on #509
Hello,

I'm deploying the Operator in the CI/CD by installing the Subscription (via YAML and CLI) in a dedicated namespace (after setting up the OperatorGroup), then my script waits for the Operator pod to be deployed and then ready. Than the CI deploys the CustomResource (Grafana, then GrafanaDatasource, then GrafanaDashboards). Finally, to install plugins (offline), my CI fetches the zip accordi

[2021-09-01 20:07] NissesSenap commented on #277
Since @silverlyra PR got merged I will close this PR, when 4.0 gets released we will build both images.
If someone wants it in v3 already it should be possible to backport but we have redone the makefile a bunch since so it won't be straight forward. So I would suggest that you are patient.

[2021-09-01 20:07] #277 closed

[2021-09-01 20:57] alpha01 opened #518 "[Bug] Grafana Deployment and Service not being created"
**Describe the bug**
Creating a **Grafana** resource doesn't seem to also create it's corresponding Deployment and Service.

**To Reproduce**
I deployed the latest Grafana Operator onto the _grafana-system_ namespace using kustomize.

[code]
[code]

The Operator appears to have installed successfully.
[code]

I then try to deploy an example **Grafana** resource.
[code]
The **Grafana** resource doe

[2021-09-01 21:04] NissesSenap commented on #517
Duplicate: https://github.com/grafana-operator/grafana-operator/issues/505
As written in the issue we are working hard on releasing 4.0 that will be using CRD v1, we will most likely also backport it to v3.

[2021-09-01 21:04] #517 closed

[2021-09-01 21:09] NissesSenap commented on #513
Looking at the error you haven't installed the CRD @maximiano86.
If you want to try out v4 you can follow: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md (there might still be some bugs in it so I would recommend v3.

Then you can follow: https://github.com/grafana-operator/grafana-operator/blob/v3/documentation/deploy_grafana.md#manual-procedure

[2021-09-01 21:14] NissesSenap commented on #518
Please try to create your grafana instance in the same namespace as the operator.

It's not supported to create the grafana instance outside of the oeprator namespace, see: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/multi_namespace_support.md

But there is work ongoing, https://github.com/grafana-operator/grafana-operator/pull/433
You can find the feature reques

[2021-09-01 21:29] alpha01 commented on #518
Thanks for the quick reply @NissesSenap
Is the operator multi-tenant friendly at it's current state (v4.0.0)? Can it be installed on multiple namespaces?

[2021-09-01 21:42] alpha01 commented on #518
Closing. Thanks.

[2021-09-01 21:42] #518 closed

[2021-09-02 17:55] NissesSenap opened #519 "DevOps: Autogenerate API docs in markdown"
**Is your feature request related to a problem? Please describe.**
Currently we have a number of issues open that is about our docs not being consistent with our API.
To solve this I would like to auto generate our API docs.

**Describe the solution you'd like**
- Create a make command that will auto generate the API docs in markdown format
- Auto run it during the CI stage and verify that the rep

[2021-09-02 18:10] HubertStefanski commented on #496
@michaelgarde I think your issue might be resolved with setting
[code]

[2021-09-05 13:05] NissesSenap commented on #495
@RomkaV have you had time to look at pb82:s suggestion? Please come back to us, else we will close the issue.

[2021-09-05 13:27] NissesSenap commented on #476
@mohanagandlla I have taken your yaml and it works fine for me on my kind cluster. It complains about my service not being created with your config but that is because of I'm running on a kind cluster with no external LB.

[code]

The yaml that I'm using:

[code]

Notice that I have changed the `dataStorage` class to stanard instead of test-sc, I also use the grafana namespace.

You are writing: `

[2021-09-05 13:30] mohanagandlla commented on #476
Ooo it's looking good I will update the CRD and will try again

[2021-09-07 11:57] NissesSenap commented on #515
Work is ongoing: https://github.com/grafana-operator/grafana-operator/pull/522 and hopefully soon merged

[2021-09-07 11:59] HubertStefanski commented on #476
Closing this off as we can't reproduce, the metadata fields shouldn't affect how the operator deals with a new Grafana CR. if you're still seeing issues feel free to reopen or submit a new issue :+1:

[2021-09-07 11:59] #476 closed

[2021-09-07 12:22] HubertStefanski commented on #509
@jfroment From what we're understanding, your problem boils down to "I want to use plugins without the need to restart the grafana pod", in which case, we would suggest switching the order you do things in eg:

1) Create a configmap with the gzipped plugins you require for your CI deployment
2) Mount the configmap to `/var/lib/grafana/plugins` through the extraVolume and extraVolumeMounts in `graf

[2021-09-07 12:34] #519 closed

[2021-09-07 12:37] NissesSenap commented on #502
We have generated API docs that now is up to date, you can find it here for future reference: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/api.md#grafanaspecserviceaccount

[2021-09-07 12:37] #502 closed

[2021-09-07 13:02] thurnbauermatthi opened #523 "Datasource json field "jsonData" doesn't recognise the property "clusterUrl""
**Describe the bug**
The grafana-operator doesn't support the jsonData field "clusterUrl". I wanted to use the datasource plugin Azure Data Explorer Datasource from here: https://grafana.com/grafana/plugins/grafana-azure-data-explorer-datasource/
I have created a operator instance in openshift and created a datasource instance. I edit the datasource YAML file and added my custom jsonData propertie

[2021-09-07 16:16] m-yosefpor opened #525 "Support for orgId in GrafanaDashboard"
**Is your feature request related to a problem? Please describe.**

When creating GrafanaDashboard, we should be able to set an orgId field to indicate which organization this dashboard should be in. Right now, only `GrafanaDataSource` object supports this field.

**Additional context**
To support multi-tenancy with grafana-operator, right now it is possible to add different datasources for each g

[2021-09-07 18:01] johanderss opened #526 "Support for tracesToLogs in jsonData"
**Is your feature request related to a problem? Please describe.**
The [Jaeger](https://grafana.com/docs/grafana/latest/datasources/jaeger/#configure-the-data-source-with-provisioning) and [Tempo](https://grafana.com/docs/grafana/latest/datasources/tempo/#trace-to-logs) data sources feature a Trace to logs option. When set in the GrafanaDataSource, it's currently not propagated to the ConfigMap cr

[2021-09-08 14:39] jtriley commented on #472
Just a note that most likely your issue was that you had `baseImage` nested under `config` which is used when building the grafana.ini - the `baseImage` param should be at the first level of the spec hash, e.g.:

[code]

[2021-09-08 21:37] #513 closed

[2021-09-10 08:36] Voigtus opened #528 "[Bug] live.allowed_origins not supported"
Hello guys and girls,
we just encountered a bug with version 8.1.2 of Grafana. We wanted to add the following parameter to the config map https://grafana.com/docs/grafana/latest/administration/configuration/#allowed_origins but failed ultimately. The parameter was added with Grafana 8.0.4.

**Describe the bug**
When you add following snippet to a Grafana CR it is not added to grafana.ini part in t

[2021-09-10 08:49] jfroment commented on #509
The issue is precisely that I cannot mount anything on ``/var/lib/grafana/plugins`` because the Operator overrides this mountpath to be mapped on an ``emptyDir`` (which is the behavior by default).

Even with a ``patch`` command on the Deployment (after the Operator created it), the Operator detects my change and rollback to the default state, which is an ``emptyDir`` volume on this precise mountp

[2021-09-13 14:21] michaelgarde commented on #496
I added it to the Grafana CRD but it doesn't seem to have any effect.

[2021-09-14 11:48] HubertStefanski commented on #509
@jfroment, That makes more sense, this requires a change in this [logic](https://github.com/grafana-operator/grafana-operator/blob/bf225bd89c236495602ddb9dfaa73a7cca1e630a/controllers/model/grafanaDeployment.go#L184-L276) to append user-defined volumemounts from the CR spec, which will hopefully allow you to mount your own data in those directories. If you would like to send a PR with those change

[2021-09-14 11:49] NissesSenap commented on #495
Since we didn't get any more info we will close this issue @RomkaV . If the issue persists please update the issue and we can reopen it again

[2021-09-14 11:49] #495 closed

[2021-09-14 11:51] HubertStefanski commented on #523
closing off since it was addrsesed with #524 , thanks for contributing @daskanu and thanks for reporting @thurnbauermatthi !

[2021-09-14 11:51] #523 closed

[2021-09-14 12:01] HubertStefanski commented on #525
Hi @m-yosefpor , it looks like #408 is going to address the same issue, I believe @bhiravabhatla has started some work on this, but I'm not sure how far along it is.

This isn't something that is officially supported by the operator through a kubernetes-friendly way, however, you can still make use of non-supported features by deploying the grafana-operator with a HA deployment, which will persist

[2021-09-14 12:06] HubertStefanski commented on #526
Hi @johanderss , this is a quite simple fix, if you'd like to send in a PR for this that would be great. you can follow what this PR did https://github.com/grafana-operator/grafana-operator/pull/524/files, to whitelist a new field for the datasource. Feel free to add the fields you need in your datasources to the appropriate sections. This should then propagate your field to the configmap. ping us

[2021-09-14 12:07] HubertStefanski commented on #528
hey @Voigtus, this is a quite simple fix, if you'd like to send in a PR for this that would be great. you can follow what this PR did https://github.com/grafana-operator/grafana-operator/pull/524/files, to whitelist a new field for the datasource. Feel free to add the fields you need in your datasources to the appropriate sections. This should then propagate your field to the configmap. ping us on

[2021-09-14 13:21] Voigtus commented on #528
Hai @HubertStefanski, thanks for the reply.
I will add it to the whitelist as fast as my work schedule allows it.

[2021-09-15 20:41] #45 closed

[2021-09-15 20:56] HubertStefanski commented on #526
Closing off, resolved in #531

[2021-09-15 20:56] #526 closed

[2021-09-16 09:05] m-yosefpor commented on #525
Hi @HubertStefanski . I think https://github.com/grafana-operator/grafana-operator/issues/408 is not the same as this issue, since this issue only concerns about dashboards to be referenced with an orgId (like what currently `grafanadatasource` CR supports), and does not concern managing orgs .

Regarding raw JSON solution you mentioned, the dashboard json does not include any fields about orgId.

[2021-09-16 14:36] pashafirdous commented on #496
With v3.10.3 we still get the below error.
i used the latest CRD and operator files still we have the issue with the dashboard.

[code]

[2021-09-16 14:37] pashafirdous commented on #496
With v3.10.3 we still get the below error.
i used the latest CRD and operator files still we have the issue with the dashboard.

[code]

[2021-09-16 14:38] pashafirdous commented on #496
With v3.10.3 we still get the below error.
i used the latest CRD and operator files still we have the issue with the dashboard.

[code]

[2021-09-20 06:57] Voigtus commented on #528
Hey there @HubertStefanski ,
I was finally able to do as you mentioned and generated the PR.
Hit me up if I did something wrong.

[2021-09-20 10:45] lerakhoteenkova opened #536 "[Bug] Can't set up configuration for rendering.service_url via grafana cr config"
**Describe the bug**
Can't set up configuration for rendering.service_url via grafana cr config

**To Reproduce**
Steps to reproduce the behavior:
1. Need to create grafana CR
2. Add _rendering_ configuration
ex.:
`apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
    name: grafana-operator
    namespace: {{ grafana_namespace }}
spec:
  service:
    type: "LoadBalancer"
    name: "grafa

[2021-09-20 19:09] HubertStefanski commented on #528
Resolved through #535, thanks for reporting and addressing this :+1: :smile:

[2021-09-20 19:09] #528 closed

[2021-09-20 19:22] NissesSenap commented on #515
This have now been merged and it should have fixed the issue. Closing

[2021-09-20 19:22] #515 closed

[2021-09-20 19:37] NissesSenap commented on #536
So we also use the grafana render image.
It should be possible to use a sidecar but for now we are doing the following setup using a separate deployment.

[code]

and this is how our grafana spec looks like using env variabels to call on it:
This is a very simple grafana.yaml and you will have to adapt but the important part is the environment variables.

[code]

If you take the time to rewrite it

[2021-09-21 11:30] pb82 commented on #487
fixed with #539

[2021-09-21 11:30] #487 closed

[2021-09-21 12:10] pb82 commented on #333
Some changes to the Operator are probably required, but this link could be helpful @arunasajjan  https://docs.openshift.com/container-platform/4.8/operators/admin/olm-restricted-networks.html#olm-pruning-index-image_olm-restricted-networks

[2021-09-21 12:18] pb82 opened #540 "Add s390x support to our multi arch workflow"
We have a Github Action to build multi arch images. We need to add s390x support there: https://github.com/grafana-operator/grafana-operator/blob/master/.github/workflows/release.yaml#L38

For reference: https://github.com/operator-framework/operator-sdk/blob/master/.github/workflows/freshen-images/build.sh#L12

[2021-09-21 12:20] pb82 opened #541 "Support multi arch Grafana images"
Based on the current architecture (GOARCH flag) we should pick the correct Grafana and Plugin Init container images.

[2021-09-21 12:35] lerakhoteenkova commented on #536
thank you, it worked for me ❤️

[2021-09-21 16:29] #536 closed

[2021-09-22 14:44] pashafirdous opened #542 "[Grafana CRD installation has issues]"
**Error while installing Grafana CRD**
error: error parsing https://github.com/grafana-operator/grafana-operator/blob/master/config/crd/bases/integreatly.org_grafanas.yaml: error converting YAML to JSON: yaml: line 128: mapping values are not allowed in this context

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://github.com/grafana-operator/grafana-operator/blob/master/config

[2021-09-22 15:42] #542 closed

[2021-09-23 19:54] NissesSenap commented on #511
@songshukeke did you have time to try out Peters suggestion?

[2021-09-24 02:46] songshukeke commented on #511
yes, last time i've tried and i solved it ,but now ,i upgrade my grafana-operator to version 4.0.0, and when i add dashboards ,it shows
ERROR	controller-runtime.manager.controller.grafanadashboard	Reconciler error	{“reconciler group”: “integreatly.org”, “reconciler kind”: “GrafanaDashboard”, “name”: “grafana-dashboard-apiserver”, “namespace”: “monitoring”, “error”: “invalid credentials (username),

[2021-09-24 04:27] NissesSenap commented on #511
Okay, did you follow https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md#upgrade-from-3xx-to-4xx ?
Also we haven't officially released 4.0 even though we are getting ready to do so the coming days so be sure to rebuild your local master image to the latest and hopefully everything will work :)

If not we might have to wait the 4.0 release and fix the issue so

[2021-09-24 06:39] songshukeke commented on #511
Thx, i am rebuilding my grafana-operator, i will be back if i meet new problem

[2021-09-24 07:11] songshukeke commented on #511
I still don't have my dashboards, and i don't know if my pod grafana-deployment is okay because it seems plugins-init didn't work, and i will show you my grafana.yaml

apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: grafana
  namespace: monitoring
spec:
  baseImage: 'grafana/grafana:latest'
  client:
    preferService: true
  config:
    auth.anonymous:
      enabled: true

[2021-09-27 16:29] #143 closed

[2021-09-28 07:27] songshukeke commented on #496
Do you solve the problem? I am facing the similar issue like yours, and i check my operator logs, but i didn't find any error ,that's really strange

[2021-09-28 11:41] pb82 commented on #511
@songshukeke can you see any logs indicating that the Operator discovered your dashboards (but failed importing them)? When you say the init container failed, can you see the failure reason? Usually, when an init container fails, the main container won't come up. Or does it only fail after you try importing a dashboard?

[2021-09-28 11:44] pb82 commented on #117
Closing this, docs and examples for kustomize installation are on the master branch.

[2021-09-28 11:44] #117 closed

[2021-09-28 11:47] pb82 commented on #215
@raffaelespazzoli any update on this?

[2021-09-28 11:49] pb82 commented on #276
@DeanBrunt do you need help with CRD generation for this change?

[2021-09-28 11:50] pb82 commented on #303
@jsanda have you had a chance to try it with the `--scan-all` flag?

[2021-09-28 11:55] raffaelespazzoli commented on #215
like i said in the beginning of this issue, in order to protect grafana sometime it's useful to put a secure proxy sidecar container in front of it. In my case it was an oauth-proxy. To fully secure this deployment, grafana should listen locally. I don't know the details of what the operator does to the grafana instance via the serving port. I don't expect the operator needs to communicate with th

[2021-09-28 12:01] pb82 commented on #304
@HubertStefanski `deny_list` can make sense in the current model we have where the dashboard (and datasource) selection happens in the Grafana CR. If we flip this model (selector for Grafana instance in the Dashboard CR), then this would be less (but still somewhat) useful.

In general a deny list can be added at a later point too as there are always ways to work around it.

[2021-09-28 12:06] #354 closed

[2021-09-28 18:39] HubertStefanski commented on #388
closed via #390

[2021-09-28 18:39] #388 closed

[2021-09-28 19:13] HubertStefanski opened #545 "Update the operator-sdk to the newest version"
**Is your feature request related to a problem? Please describe.**
Since our latest Operator-SDK upgrade, there have already been 9 new minor version releases, it would be nice if we upgraded to the latest one regularly https://github.com/operator-framework/operator-sdk/releases

The best practice is to update version by version, using the https://sdk.operatorframework.io/docs/upgrading-sdk-versio

[2021-09-29 02:35] songshukeke commented on #511
thx for ur reply, but I have solved the problem, really thx for ur help, and i will close this issue.

[2021-09-29 02:35] #511 closed

[2021-09-29 14:10] DeanBrunt commented on #276
When I last looked at this, we hit the bug I referenced in the previous comment but it looks like this is now resolved.
I've not currently got time to try upgrading the CRD generator to attempt regeneration so I'd be happy if someone else had bandwidth to attempt this.

I think the main meat of this change is there and that this was the main blocker. Obviously I suspect the WIP PR is going to need

[2021-09-30 04:28] mohan-nagandlla opened #547 "Varables are not getting inside dashboard"
HI team i am using grafana operator 3.10.2  and grafana is 8.0.3
all deployments are done and i have intigrated the ldap also everything is working good but here when i was create a dashboard inside the dashboard i was trying to create the variables.
The first variable is data source named as DS -> Prometheus  this is working fine.
Now second variable is trying to getting the namespace values depe

[2021-09-30 05:14] #547 closed

[2021-10-03 09:07] Voigtus opened #549 "Manage Organisations and Teams with CR"
**Is your feature request related to a problem? Please describe.**
We deploy the Grafana Operator to OpenShift. Right now it is only for us as an infrastructure team. But, looking further down the line, we can imagine to grant access to our Grafana or provide it "as service" for different OpenShift clusters of teams and tenants.
To regulate the access to specific teams or tenants the Organization

[2021-10-03 18:59] aescanero opened #550 "Add to Grafana.spec.config.plugins "allow_loading_unsigned_plugins""
If I try to deploy Zabbix plugin (https://grafana.com/grafana/plugins/alexanderzobnin-zabbix-app/?tab=installation) version 4.0.2, I get this error:

msg="Failed to load plugin" logger=plugins error="plugin \"alexanderzobnin-zabbix-datasource\" is unsigned"

But this error doesn't happen if I use a Grafana 7.3+ with this plugin.

The option is create a "allow_loading_unsigned_plugins" in the Grafa

[2021-10-04 05:03] Voigtus commented on #550
Hai @aescanero ,
I had the same Issue with a missing field in the configuration.
You can follow [this PR](https://github.com/grafana-operator/grafana-operator/pull/535) to whitelist the configuration parameter.
Happy Coding 😊

[2021-10-04 17:38] NissesSenap commented on #549
Duplicate of: https://github.com/grafana-operator/grafana-operator/issues/408
As written in 408, it's nothing that we are currently prioritizing but if you feel like taking a stab at it we love to get a PR.
As a workaround we could also use your Post-Sync hooks in ArgoCD as documentation, I think some users would find this as a good start as well :)

[2021-10-04 17:38] #549 closed

[2021-10-04 17:46] NissesSenap commented on #550
As @Voigtus  says this is solved.
We currently haven't released any 4.0 release so far but it should come within a day or two. We are currently doing internal testing. But if you want to jump on the feature straight away all you need to do is to use the master branch, we have created some basic instructions here: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy

[2021-10-04 17:46] #550 closed

[2021-10-05 06:14] burkhat opened #552 "Grafana-Operator doesn't support Openshift 4.8.*"
Hello together,

We've updated our Openshift Cluster to version 4.8.13 and now we got following warning for the Operator "operator-lifecycle-manager":

Cluster operator operator-lifecycle-manager cannot be upgraded between minor versions: "namespace/grafana-operator.v3.10.3 is incompatible with OpenShift minor versions greater than 4.8"

Is there any timeline when Openshift 4.8.* will be supported

[2021-10-05 11:20] pb82 commented on #552
@burkhat we're hoping to resolve this with the v3.10.4 release, which is currently pending a release on OperatorHub. Once that is merged we will release it to the OpenShfit Operator catalog.

However I wonder why it failed on 4.8.13?

[2021-10-05 11:43] NissesSenap commented on #505
Took longer then we hoped but the 4.0 release should soon be out, will update the issue when it's done.

[2021-10-05 11:56] NissesSenap commented on #497
https://github.com/openshift/enhancements/pull/866 FYI

[2021-10-06 04:17] burkhat commented on #552
@pb82 Thanks for your reply.

It doesn't failed, the GPU Operator works without any problem at the moment, we only got the warning message that it is incompatible with Openshift 4.8

[2021-10-06 04:18] burkhat commented on #552
![image](https://user-images.githubusercontent.com/35066347/136140040-95c39ae8-8654-4c67-bc87-a9f8b7b90ff4.png)

[2021-10-06 07:23] pb82 commented on #552
Ah, understand. Yes, this is something we will address in v3.10.4: all CRDs and secondary resources are update from v1beta to v1 to support OS 4.9+ and Kube 1.22+

[2021-10-06 07:49] burkhat commented on #552
Ok thanks for the hint, but at the moment we have no problem to upgrade our clusters to version 4.8.x only with 4.9.x it doesn't work because of the CRDs api resources.

[2021-10-06 09:47] pbrissaud opened #554 "[Bug] Ingress - Bad servicePort"
**Describe the bug**
When upgrading to 3.10.4 version, I can't access to Grafana via Ingress (I can via port-forward). When I look to the Ingress spec, the servicePort is set to `'http'` but the grafana-service don't have a `'http'` port (only `'grafana'`). When  I downgrade to 3.10.3 version, the servicePort is setup to `'3000'` and it works.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-10-07 08:11] #422 closed

[2021-10-07 08:12] #246 closed

[2021-10-09 00:47] mohan-nagandlla opened #556 "PostgreSQL as a data source"
Hi team in standalone grafana we have a direct option to add grafana as a data source . In operator we have a CRD grafanadatasource I just want to add postgres add as a data source by using that CRD . Isn't possible to do like that

[2021-10-10 10:40] david-martin commented on #556
Hi @mohan-nagandlla

Do you mean using postgres for persistent storage and HA capabilities with grafana? (https://github.com/grafana-operator/grafana-operator/tree/master/deploy/examples/ha may be of use then)

Or do you mean pulling in metrics from postgres? (in which case you may be able to figure it out from the example data sources in https://github.com/grafana-operator/grafana-operator/tree/m

[2021-10-10 10:45] mohan-nagandlla commented on #556
Yes I just want you collect the data from postgres in the metrics formate but I don't found any exam. Yaml file in that link to add postgres as a data source

[2021-10-10 10:48] david-martin commented on #541
I'm going to take a go at this

[2021-10-10 11:40] david-martin commented on #556
Thanks @mohan-nagandlla
On further inspection, it looks like what's needed is an update to the CRD to add a 'postgres' type and the corresponding field mappings,
akin to what was done for Azure #293 and Stackdriver #225

Marking this as accepted, and as a good-first-issue.
I don't see any issue with this being added.

[2021-10-10 11:49] david-martin commented on #497
@bwplotka Is on of the goals of the Red Hat Monitoring team to run & manage an instance of Grafana using the grafana operator,
or to use the Grafana Agent operator to collect & push metrics to Grafana Cloud (thereby removing the need to run & manage Grafana yourselves)?

[2021-10-11 17:51] #554 closed, assigned to nobody

[2021-10-12 11:46] pb82 opened #561 "Update Grafana image to latest v7 release"
**Describe the solution you'd like**

Update from v7.1.1 to the latest version of the Grafana image (7.5.11).

**Additional context**

Upgrade to v8 still unclear due to license requirements.

[2021-10-12 11:56] pb82 opened #562 "[Bug] go.mod should be updated to v4"
**Describe the bug**

The module spec in go.mod needs to end with `/v4`. We should also update `integreatly` to `grafana-operator`.

**Suspect component/Location where the bug might be occuring**

https://github.com/grafana-operator/grafana-operator/blob/master/go.mod

[2021-10-12 14:49] apryor6 opened #564 "Unified Alerting - implement a CRD for Grafana 8 Alert Rules, Alert Groups, Contact Points, and Notification Policies"
**Is your feature request related to a problem? Please describe.**
No existing problem.

**Describe the solution you'd like**
Unified Alerting is a great new feature, but the current grafana-controller does not support a CRD definition for the decoupled alerts, contact points (like a Notification Channel), and notification policies. The desired solution would be CRDs for each of these so that the

[2021-10-13 10:11] Voigtus commented on #545
Hello Hello,

I opened a PR regarding this issue => https://github.com/grafana-operator/grafana-operator/pull/565
Any feedback is appreciated.

[2021-10-15 16:51] #561 closed

[2021-10-18 18:34] #562 closed, assigned to nobody

[2021-10-18 21:51] paulczar opened #569 "[Bug] cannot create dashboards when using auth.proxy"
**Describe the bug**

Grafana doesn't allow you to have both auth.basic and auth.proxy enabled (if you do it forces basic auth, and people comign from proxy get invalid user).    The operator needs auth.basic set to be able to use the grafana api to create dashboards, and thus cannot work with auth.proxy.

Operator logs:

[code]

**Version**
v3.10.3

**To Reproduce**

enable auth.proxy behind a re

[2021-10-18 22:03] paulczar commented on #569
here's my CR

[code]

[2021-10-19 07:52] songshukeke opened #570 "Add datasource Github"
Now I think grafana-operator do not support add a Github type datasource by writing a Datasource resource, and the official do not give the document of Github datasource. Can we add the function to import Github Datasource by writing a Datasource resource

[2021-10-19 11:54] pb82 commented on #569
@paulczar Can you share the contents of the `grafana-config` configmap with us? A few things:

* I think allow_sign_up needs to be enabled, otherwise users have to exist in Grafana prior to login
* You're defining an admin_user account, but no password in the CR. The operator will try to use this account for API access. You can safely specify credentials in a secret and mount them using `envFrom`:

[2021-10-19 13:48] NissesSenap opened #571 "Add status.condition to grafandashboards and grafanadatsources"
**Is your feature request related to a problem? Please describe.**
As a user of the grafana operator I can't look at the grafanadashboard/datasource CR and see if it is applied to my grafana instance. This creates issues for me as a user since I can't know if the operator have done its job and applied the dashboard to grafana without going in to grafana.

**Describe the solution you'd like**
My in

[2021-10-19 14:22] NissesSenap commented on #571
If adding the status.condition we will need to take in to account what happens if a new grafana instance is created to replace the old one.
We should probably update the condition on all grafanadashboards with a new status.

As I see it we can go two ways here. Ether we can just remove the status.controller completely from the grafanadashboard CR since if no `status.controller` is defined it assum

[2021-10-19 17:45] paulczar opened #572 "[Bug] Grafana 4.0.0 from Operator Hub missing GrafanaNotificationChannel CRD"
**Describe the bug**

When deploying Grafana 4.0.0 from the operatorhub the operator fails.

install yaml:

[code]

logs:

[code]

**Version**
v4.0.0

[2021-10-20 18:09] aivanov-citc opened #575 "Add lifecycle to main grafana container"
Hi.
Please add handlers lifecycle events to the main grafana container.
[code]
This will allow us to run commands after grafana starts. For example, add users declaratively, referring to api grafana

[2021-10-20 21:51] paulczar commented on #572
I can confirm I can deploy 4.0.1 and the CRDs are installed correctly.  Thanks :)

[2021-10-20 21:51] #572 closed

[2021-10-20 23:18] paulczar commented on #569
Here's my grafana-config

[code]

and the current grafana resource spec that created it, I added `allow_sign_up` but that didn't help.

[code]

[2021-10-20 23:18] #569 closed, assigned to nobody

[2021-10-21 06:54] NissesSenap commented on #575
Personally I'm not a fan of this idea, I think it will be a great source of potential issues and I think it will be hard to maintain.
Overall it's also a security issue to allow any commands to run in arbiary in your application.

If you want to add users declaratively (something I want as well) we should do it through the controller.

If you want a workaround a friend of mine have done this worka

[2021-10-21 07:03] NissesSenap opened #576 "Allow developer set ephemeral-storage request on grafana instance"
**Is your feature request related to a problem? Please describe.**
Today it's only possible to set memory and cpu requests/limits for grafana, I would also want to be able to define ephemeral-storage.

https://github.com/grafana-operator/grafana-operator/blob/8225cdce62a507b2d0d32cb63bb0099fa8680123/controllers/model/grafanaDeployment.go#L52-L66

**(If applicable)If your feature request solves a b

[2021-10-21 22:24] gruberdev opened #578 "Set default_home_dashboard_path on grafana resource deployment"
# **[Feature Request]**

# Description
- [On the API reference documentation for configuring the operator objects][api-reference-generic] there's one configuration option at `grafana.spec.config.dashboards` you'll notice that it differs from the [official documentation][official-documentation-dashboards] as it is missing the item `default_home_dashboard_path` ([ref][var-ref]).
- The item missing a

[2021-10-22 11:10] mohan-nagandlla opened #580 "Dashboard uploading to a specified organization"
**Is your feature request related to a problem? Please describe.**
Some times we can use the Grafana as a centralized monitoring tool and this can be possible by organization methods in Grafana. By using GrafanaDashboar CRD we can able to upload the dashboard to the organization 1 only.

**Describe the solution you'd like**
you can introduce the organization number as a key value pain in CRD. The

[2021-10-26 11:58] #575 closed, assigned to nobody

[2021-10-26 12:03] #580 closed, assigned to nobody

[2021-10-26 15:43] g-chcht opened #583 "Grafana operator creates a new dashboard version every 10s"
**Describe the bug**
Hello,
Our Grafana operator is generating a new version of every Dashboard in our Grafana instance every 10s.
Is it the expected bahavior ? I can't find anything about it.
It stresses the db is the background (for nothing?) as it keeps adding and removing Dashboard Versions.

**Version**
v3.10.3

**To Reproduce**
  installModes:
    - supported: true
      type: OwnNamespace

[2021-10-28 08:50] Voigtus opened #585 "[Bug] Update grafana-operator/deploy/operator.yaml to use correct Image"
**Describe the bug**
In the file grafana-operator/deploy/operator.yaml is the image: quay.io/integreatly/grafana-operator:v4.0.0 referenced.
This should be https://quay.io/grafana-operator/grafana-operator:v4.0.1 , since this is the newest one.

[2021-10-28 11:21] Helene opened #586 "Provision Grafana dashboards bundle from github repository folder"
**Is your feature request related to a problem? Please describe.**
In a classic environment we use the [Grafana Dashboards provisioning from the local filesystem structure](https://grafana.com/docs/grafana/latest/administration/provisioning/#dashboards) to provision a bundle dashboards with their subfolders structure in one step.
The provisioning manifest (dashboards.yaml copied under stored under

[2021-10-28 17:56] #570 closed, assigned to nobody

[2021-11-01 04:03] incidunt opened #590 "[Bug] cann't Run the operator with make code/run"
**Describe the bug**

https://github.com/grafana-operator/grafana-operator/blob/2061a26e5594de8fcb3d056658620f0c2d1569a5/documentation/minikube.md?plain=1#L18

cann't Run the operator with `make code/run  `

there's no this part in the Makefile

**Version**
v4.0.1

[2021-11-01 18:02] vladimirmukhin commented on #460
Indeed, grafana-operator is doing really HUGE amount of requests, even more than kubelet and controller manager all together
[code]

Also, I can confirm that I have `KubeAPIErrorBudgetBurn` just like @Starefossen