[2019-04-30 19:51] david-martin opened #10 "OperatorHub.io contribution"
Follow through contribution steps on https://operatorhub.io/contribute to add the Grafana Operator to OperatorHub.io

cc @pb82 for checklist of changes before you're happy to have a v1 on OperatorHub

- [x] Grafana plugin support via GrafanaDashboard CR #6
- [x] Use an upstream Grafana image, with ability to change/specify a different image #8
- [x] Allow custom containers e.g. for oauth proxy #9

[2019-05-01 08:33] wei-lee commented on #10
@pb82  nice work. we are trying to do the same but we are having trouble with Ingress. Are you using ingress as well? if so are you able to get it work with oauth-proxy?

[2019-05-01 08:57] david-martin commented on #10
@wei-lee for OpenShift, something outside the operator would create the route. Same for Kubernetes and Ingress
If using something like oauth proxy, the container for that would be defined in the Grafana CR and included in the Grafana Pod.
So the default install doesn't include any Route, Ingress or OAuth Proxy. This allows it to work on Kubernetes out of the box.

See the application-monitoring-op

[2019-06-06 00:24] marcecaro opened #13 "Grafana behind reverse proxy"
I am trying to install grafana using the operator, it gets installed, but as I am behind a reverse proxy the UI loads but the links doesn't work.

According to grafana documentation I should use `root_url` but I don't see a way to change it using the operator.

Thanks

[2019-06-06 12:22] pb82 commented on #13
`root_url` and `domain` are currently not in the list of options that can be passed to the ini file via the Grafana CR. But it makes sense to add them. I'll try to do this as soon as possible.

As a workaround, once Grafana is deployed, you could manually edit the configmap `grafana-config`. It's contents are mounted as grafana.ini and you could add the root_url here.

[2019-06-06 14:30] marcecaro commented on #13
Thanks for the workaraund.

[2019-06-13 09:02] neoludo opened #14 "grafana-plugin image not customisable"
Hi,

I'm behind an artifactory proxy, so I have to change grafana-plugins image to remove "quay.io" part, but it's hardcoded in template,

quay.io/integreatly/grafana_plugins_init:{{ .PluginsInitContainerImageTag }}'

Thanks in advance for your help
Ludo

[2019-06-17 08:45] pb82 commented on #14
Fixed in https://github.com/integr8ly/grafana-operator/pull/15 and https://github.com/integr8ly/grafana-operator/pull/16

@neoludo a new [release](https://github.com/integr8ly/grafana-operator/releases/tag/v1.1.0) is available wich includes your fix and another change to make the tag also configurable. The image for this release is available [here](https://quay.io/repository/integreatly/grafana-op

[2019-06-17 08:45] #14 closed

[2019-06-22 19:34] neoludo commented on #14
Thanks Peter

On Mon, Jun 17, 2019 at 10:46 AM Peter Braun <notifications@github.com>
wrote:

[2019-07-03 14:48] david-martin opened #18 "GrafanaDashboard is ignored silently if the dashboard content has invalid json"
If the `json` content of a GrafanaDashboard CR has some invalid json, there is no way for the CR creator to know about this, or that Grafana is not accepting it.

There are errors in the Grafana logs (e.g. see below) but the CR creator may not have access to the Grafana logs

[code]

Suggestion to do basic json validation on the content of the dashboard in the CR before adding it to the grafana-da

[2019-07-09 20:50] garethahealy opened #21 "cannot set blockOwnerDeletion if an ownerReference refers"
I've tried to deploy the operator but get stuck once deploying the Grafana instance. Firstly, i get the below:

`"error":"serviceaccounts \"grafana-serviceaccount\" is forbidden: cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on: no RBAC policy matched`

Which is solved by manually creating the service account but then it moves on to creating the c

[2019-07-10 08:29] pb82 commented on #21
@garethahealy did you create the operator roles in `deploy/roles` (https://github.com/integr8ly/grafana-operator/tree/master/deploy/roles)?

[2019-07-10 09:04] garethahealy commented on #21
Below is the flow i followed:

[code]

[2019-07-10 09:25] pb82 commented on #21
@garethahealy those steps are correct. I'll try this out on a vanilla cluster and get back to you. It's possible that additional permissions have to be added to the role for finalizers.

[2019-07-11 12:11] seravat opened #22 "Openshift 3.11 - Creating a Grafana app using the operator"
Hey,

While using this operator and having it installed on Openshift 3.11, when trying to deploy a new grafana app from the example yaml (integr8tly\grafana-operator\deploy\examples\Grafana.yaml), I ran into the following error:

{"level":"info","ts":1562846141.0283246,"logger":"controller_grafana","caller":"grafana/grafana_controller.go:186","msg":"Phase: Create Config Files"}

{"level":"info","t

[2019-07-12 07:46] pb82 commented on #22
@seravat awesome, thanks a lot! I will verify this on a fresh OS 3.11 cluster and then add the additional roles to the operator. This could also be the solution for https://github.com/integr8ly/grafana-operator/issues/21 although i still need to get my hands on a OS 4 cluster and test the operator there.

[2019-07-12 10:50] pb82 commented on #22
@seravat this PR should resolve the issue: https://github.com/integr8ly/grafana-operator/pull/23

[2019-07-12 10:51] pb82 commented on #21
@garethahealy This PR should resolve your issue: https://github.com/integr8ly/grafana-operator/pull/23 Additional permissions were added to the role. If you could give this a try, that would be great. The `latest` tag has those changes.

[2019-07-12 11:25] seravat commented on #22
Yup! Awesome, thanks

[2019-07-12 11:26] #22 closed

[2019-07-16 23:55] dunse opened #27 "Grafana provisioning configuration is not generated correctly"
Tested using grafana-operator:latest sha 2a564282916d with Grafana 6.2.5.

Found multiple issues when trying to create new datasources using CRD...

### 1. Casing of keys are not correct
When providing:
[code]
The generated config becomes:
[code]
From what I can tell, Grafana's provisioning config version 0 had snake_case and version 1 has camelCase.
Issue appears to in: pkg/apis/integreatly/v1alp

[2019-07-17 08:30] pb82 commented on #27
@dunse thanks for testing the operator and reporting those bugs! I'm looking into that. I've noticed that Grafana has a warning in the log about the current provisioning configuration, this might be related.

[2019-07-17 08:38] dunse commented on #27
@pb82 yes, it says something along the line of "config is deprecated" which disappears when mentioned issues are corrected.

[2019-07-17 08:49] pb82 commented on #21
@garethahealy closing this as it should be fixed with #22 but feel free to reopen if your issue is still present.

[2019-07-17 08:49] #21 closed

[2019-07-17 08:50] pb82 commented on #27
@dunse that's good to know. I'm currently working on overhauling the Grafana configuration itself (generating grafana.ini) and will take the datasources on afterwards.

[2019-07-18 15:07] #27 closed

[2019-07-19 13:06] pb82 commented on #18
fixed in https://github.com/integr8ly/grafana-operator/releases/tag/v1.2.0

[2019-07-19 13:06] #18 closed

[2019-07-19 13:08] pb82 commented on #13
@marcecaro sorry for the long wait, but the 1.2.0 release (https://github.com/integr8ly/grafana-operator/releases/tag/v1.2.0) supports the whole range of Grafana configuration and should allow you to configure a reverse proxy.

[2019-07-19 13:08] #13 closed

[2019-07-24 10:23] seravat commented on #10
Hey guys, any idea when the operator will be available on operatorhub? We have an interested client, which is currently using it without any lifecycle management.

[2019-07-24 10:44] pb82 commented on #10
@seravat We're in the process of preparing and submitting the operator, see #30 . Once this is merged i'm going to open the PR to add the operator to operatorhub.io.

A few caveats though when installing from operatorhub:

1. by default, the operator will only discover dashboards in it's own namespace. To discover dashboards in other namespaces you have to manually apply the cluster roles (deploy/

[2019-07-24 10:51] seravat commented on #10
Thank you Peter! Looks good

[2019-07-26 11:43] pb82 commented on #10
It's listed now: https://operatorhub.io/operator/grafana-operator
It should also be available in the OpenShift 4 catalog

[2019-07-26 11:43] #10 closed

[2019-07-29 07:03] pb82 opened #31 "Dashboards not imported after Operator restart"
When the Operator is restarted it will not re-import any dashboards it had imported previously. This is because we mark a dashboard as imported and only re-import when the JSON field has changed.

We should always import a dashboard if it is not present in the configmap. A similar problem existed for data sources and was resolved in the same way.

Workaround: you can remove the status field from t

[2019-08-14 12:55] #31 closed

[2019-08-23 13:15] zendai opened #35 "Datasources are not dynamic"
When I add/remove a GrafanaDataSource CRD even though the file is synced (it appears/disappears automatically in the grafana deployment under /etc/grafana/provisioning/datasources) Grafana doesn't pick up the change. If I kill the Pod manually the newly spawned one will have the correct datasources.

[2019-08-23 13:18] zendai opened #36 "Folder support for dashboards"
It would be amazing if we could set Grafana folders for the dashboard CRDs.

[2019-08-23 13:20] zendai opened #37 "Customize labels for Grafana Pod"
Currently I don't see how can I set the labels for the Grafana Pod which is managed by the operator. It would be great if I could set custom labels which are then applied to the Grafana Pod, or even better if the Pod would inherit the labels of the Grafana CRD itself.

[2019-08-23 13:25] seravat opened #38 "Cannot add JsonData to datasource"
So, when I try to add a datasource like this, with jsonData:

apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: onprem-grafanadatasource
spec:
  name: prometheus.yaml
  datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      orgId: 1
      url: https://prometheus-k8s.openshift-monitoring.svc:9091
      basicAuth: true
      basicAuthUser: b

[2019-08-23 14:00] pb82 commented on #35
@zendai Grafana needs to be restarted in order to pick up changes to data sources. The operator should take care of this: https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/grafanadatasource/datasource_controller.go#L152

Was Grafana not automatically restarted in your case? It should usually happen a few seconds (maybe max. 30 seconds) after a datasource update.

[2019-08-23 14:00] zendai commented on #38
@seravat Yea I had this with :latest as well, try with the actual latest which is version v1.3.1 (quay.io/integreatly/grafana-operator:v1.3.1) and this error will disappear.

[2019-08-23 14:03] zendai commented on #35
@pb82 it wasn't restarting. I can see it updates the file within the container, but the Pod/container is never restarted. I had to kill the Pod manually, and it worked after that.

[2019-08-23 14:09] pb82 commented on #38
This should be fixed in recent releases. `jsonData` is now a dictionary type and you should be able to add arbitrary properties like in this example: https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/datasources/Prometheus.yaml#L15

[2019-08-23 14:12] pb82 commented on #36
Interesting, i'll have a look. We then would probably also need a way to create folders throughCRs?

[2019-08-23 14:17] pb82 commented on #37
You're right, this is currently not configurable, the operator will add a label `app: grafana` to the deployment which is then passed down to the pods. Do you have a use case for custom labels on the pod?

In general the idea is that the operator takes care of setting up and managing all resources including the service and route / ingress for which this label is used.

[2019-08-23 14:25] zendai commented on #36
This is actually a bit tricky in Grafana, as you can define a folder at the dashboard provider level. Currently you are using a static dashboard provider, called /etc/grafana/provisioning/dashboards/provider.yaml , which loads dashboards from /etc/grafana-dashboards.

[code]

So, most likely the best way would be to introduce a new CRD for dashboard providers (instead of the single static file tod

[2019-08-23 14:27] pb82 commented on #35
@zendai Ok, that sounds like a bug. I'll try to reproduce that as soon as I get a chance. Does this also happen when you modify an existing data source?

[2019-08-23 14:30] seravat commented on #38
Hi guys, same issue with quay.io/integreatly/grafana-operator:v1.3.1:

E0823 14:28:52.605005       1 reflector.go:205] github.com/integr8ly/grafana-operator/vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: Failed to list *v1alpha1.GrafanaDataSource: v1alpha1.GrafanaDataSourceList.Items: []v1alpha1.GrafanaDataSource: v1alpha1.GrafanaDataSource.Spec: v1alpha1.GrafanaDat

[2019-08-23 14:41] zendai commented on #37
Well, in my case I'm considering how to migrate our own Grafana to the grafana-operator. For the transition period, we'll have two grafanas, and I want to have two separate services in front of them. I have to differentiate the two Grafana Pods, that's why I need to configure the labels on both Pods.

This is a use case for anyone who for any reason wants to run two Grafanas in the same namespace.

[2019-08-23 14:47] zendai commented on #38
I guess it expects `tlsSkipVerify: true` to be `tlsSkipVerify: "true"`?

[2019-08-23 14:50] zendai commented on #38
@pb82 yea it looks like the json parser can't understand naked booleans `true/false`, it expects a string.

[2019-08-23 14:52] zendai commented on #35
@pb82 exactly the same. Doesn't matter if I remove/add/change, Grafana won't pick up.

[2019-08-23 14:53] zendai commented on #38
Would Grafana understand `"true"` instead of `true` ? Have no idea. @seravat you can try that, just add quotes around `true` -> `"true"` under `jsonData`.

[2019-08-23 14:54] seravat commented on #38
I will try that!

On Fri, 23 Aug 2019 at 15:53, Andras Spitzer <notifications@github.com>
wrote:

[2019-08-23 14:58] pb82 commented on #38
@zendai @seravat Yep, i just tried it with `tlsSkipVerify: "true"` and that worked while it fails without the quotes. Not entirely sure why yet, because this is loaded as yaml.

[2019-08-23 15:10] pb82 commented on #35
@zendai I tried this and Grafana was restarted by the operator. Did you change the labels on the Grafana pod? Because in order to restart, the operator needs to find the Grafana pod which it does by using a label selector for `app: grafana`. If this label is not on the pod the restart will not work.

[2019-08-23 15:14] pb82 commented on #37
I see. I'll try to add a way to pass extra labels to the deployment and pod (and possibly other managed resources?).

As a workaround for now, one label is currently added (app: grafana), maybe you can use that to identify the instances?

[2019-08-23 15:15] zendai commented on #35
@pb82 I can't change the labels on the Grafana Pod, that's why I opened #37 . Although... I have another grafana Pod in that namespace (I described my case at #37, I have an existing grafana and I'm planning to move over your grafana-operator) which also has the label `app=grafana`, and now I tested it.. that's get restarted.

Ouch.

[2019-08-23 15:16] zendai commented on #35
So, the operator restarts the first Pod which `app=grafana`, is which in my case not the operator grafana, but another independent grafana installation.

[2019-08-23 15:18] zendai commented on #37
The problem is that every Grafana installation will have `app=grafana` added as a label. What I need is additional labels to the label selectors can be more specific, about which grafana Pod we target.

[2019-08-23 15:20] zendai commented on #35
@pb82 btw that's why it would be great to be able to set further labels on Pods next to `app=grafana`, this way I can group Grafana installations with the same set of labels. You could look up the target grafana Pod based on the labels what the DataSources and Dashboards have. If they all share the same set of labels, that would uniquely identify the group.

[2019-08-23 15:55] pb82 commented on #35
Right, we don't really support multiple (managed) Grafana instances in the same namespace. Even with custom labels there would be clashes in the other resources (service, ingress...).

But in your case the second instance was not managed and I can see that for migration it makes sense to run them in the same namespace.

Looking at the code, it should be a relatively small change to make the value

[2019-08-23 16:06] zendai commented on #35
@pb82 that sounds great!

[2019-08-26 12:14] pb82 commented on #35
Closing this in favour of #37

[2019-08-26 12:14] #35 closed

[2019-08-27 12:58] seravat commented on #38
So, putting tlsSkipVerify: "true" solves it and the operator does not complain. However, then the configmap will also have tlsSkipVerify: "true" and that is not picked up by the grafana application, it needs to be a boolean.

[2019-08-27 12:59] pb82 commented on #38
@seravat I'll mark this as a bug and try to look into it shortly

[2019-08-28 11:20] pb82 commented on #38
@seravat This should be fixed in #40

Can you try the provided tag (fix-extra-json) and let me know if it now works for you?

[2019-08-28 11:25] pb82 commented on #37
@zendai #39 gives you the option to customize the pod label with an operator flag. I've pushed an image with this change (quay.io/integreatly/grafana-operator:customize-pod-label). You can add customize the pod label by adding an additional flag to the operator args in operator.yaml:

[code]

Please let me know if this works for you.

[2019-08-28 11:43] pb82 commented on #37
The change has been merged and is now also available in the `latest` tag.

[2019-08-28 15:15] seravat commented on #38
@pb82 it does fix it!! Awesome work.

Just a small issue. When the operator synchronises any change in the grafanadatasource it adds all the fields for jsonData and secureJsonData as empty to both the grafanadatasource and the configMap.

[2019-08-28 15:28] pb82 commented on #38
@seravat Good point, this should be fixed now. I've pushed another change and updated the image.

[2019-08-28 16:16] #38 closed

[2019-08-28 16:21] pb82 commented on #38
The change is now merged to master and the `latest` tag has been updated

[2019-08-28 16:21] seravat commented on #38
@pb82 looks good :)

[2019-08-29 11:37] pb82 commented on #37
Available in https://github.com/integr8ly/grafana-operator/releases/tag/v1.4.0

[2019-08-29 11:37] #37 closed

[2019-09-01 10:23] ibotty opened #44 "Support managing loki"
It would be great to allow grafana-operator to also manage the various components of loki.

[2019-09-01 11:58] pb82 commented on #44
I've had a quick look and I think Loki and Promtail could run as sidecar containers in the Grafana Pod. So this should already be possible by using the `containers` field of the `Grafana` CR. If you need to mount extra configuration you could store it in a secret and mount it to a volume using the `secrets` field.

We use this mechanism to add an Oauth proxy in front of Grafana, see our [example](

[2019-09-01 15:06] ibotty commented on #44
I don't think,  that's going to be enough.  To ingest logs from the whole cluster (or at least parts of the container) one needs a sidecar in any container or preferably running promtail once on each node, reading docker or runc logs directly.  I also think the operator should manage each Loki part separately to allow to scale it separately.

I tend to think that it makes sense to integrate loki i

[2019-09-02 07:14] pb82 commented on #44
I see, so ideally Loki would run in its own Pod to scale it independently of Grafana? That makes sense. Its not currently on our Roadmap but if you want to contribute you're very welcome. If there is an extra Pod independent of the Grafana Pod then i think we also need a `Loki` CR similar to the `Grafana` CR.

The Prometheus Operator can be taken as an example: it not only manages Prometheus insta

[2019-09-08 20:40] cuotos opened #45 "ability to add dashboards via grafana.com url OR id"
It would be really nice to be able to add a dashboard by only providing its grafana.com URL or ID in the same way you can when adding them via the Grafana UI

[2019-09-09 13:13] pb82 commented on #45
Hi @cuotos, the latest release lets you install dashboards from URLs (implemented in #43). For an example see https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/dashboards/DashboardFromURL.yaml#L9

In this case the `json` field is the fallback option if the URL can't be resolved. This version is not yet available on operatorhub.io (but we have a Github release for it). Tryin

[2019-09-09 14:03] cuotos commented on #45
The latter is what I was thinking. Another option in the GrafanaDashboard object.
json,
url,
id

as part of spiking this anyway, it would be nice to just drop the id in an object and the operator take care of the rest. currently I have been manually importing its via the ID in the ui. You dont appear to be able to hotlink to the JSON in the Grafana dashboards repo, only down the JSON and host it s

[2019-09-09 14:15] pb82 commented on #45
I think you can link to the json in the grafana dashboards repository using this scheme: `https://grafana.com/api/dashboards/<ID>/revisions/<REVISION>/download`, e.g. https://grafana.com/api/dashboards/10441/revisions/1/download

[2019-09-09 14:16] pb82 commented on #45
Hmm, but thats actually a file download, not sure if it would work as a URL in the dashboard CR

[2019-09-11 03:59] jsanda opened #46 "Ingress is not set up properly in k8s clusters"
I am trying v1.4.0 on a GKE cluster. Here is my manifest which I copied from the examples:

[code]
The operator creates a ClusterIP service:

[code]
For non-OpenShift clusters, shouldn't a NodePort or LoadBalancer service be created?

Here is my ingress which never get assigned an address:

[code]
I deleted the service and created the following NodePort service:

[code]
Now my Ingress gets an IP a

[2019-09-11 07:22] pb82 commented on #46
Hi @jsanda, making the service type configurable sounds reasonable to me. It looks like only `NodePort` services are supported for Ingresses on GKE.

I'll mark this as a bug since it currently does not work out of the box on GKE. Vanilla Kubernetes and OpenShift should be fine though.

[2019-09-11 11:38] jsanda commented on #46
Maybe I should rename the issue to make it more clear. My understand, albeit somewhat limited, is that Ingress with vanilla Kubernetes requires NodePort or LoadBalancer. The [k8s docs](https://kubernetes.io/docs/concepts/services-networking/ingress/#what-is-ingress) say:

This [ticket](https://github.com/kubernetes/kubernetes/issues/26508) however mentions that "on-prem" ingress controllers like t

[2019-09-11 13:03] abergmeier opened #47 "ldap.toml currently not created"
The CRD does have options to configure LDAP files but looking at the controller code, it seems there is currently no handling for that!?
Is anyone working on this?
I would assume that `config_file` should be a `ConfigMap` reference, right?

If I understand correctly, it would perhaps be enough to insert another init-container, which writes `/etc/grafana/ldap.toml`?

[2019-09-11 13:47] pb82 commented on #47
Creating `ldap.toml` is currently not directly supported. However, the Grafana CR allows you to specify a list of secrets that are added to the Grafana pod as volumes (see the docs [here](https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#deploying-grafana)). The name of the volume is `secret-<secret name>`. You could have a Secret with a key `ldap.toml` and

[2019-09-11 13:50] pb82 commented on #47
Sorry, we don't currently create volume mounts for those extra volumes in the Grafana pod. So this won't work.

[2019-09-11 15:27] abergmeier commented on #47
I wonder why not implement handling of `GrafanaConfigAuthLdap` instead?

[2019-09-12 06:55] pb82 commented on #47
I'd like to keep it as generic as possible. Being able to mount files into the Grafana pod in combination with the the configuration in the Grafana CR should work for your use case and probably a number of others as well.

[2019-09-15 09:54] pb82 commented on #46
@jsanda Mind giving #48 a try?

[2019-09-15 22:04] pb82 commented on #47
ping @abergmeier. The proposed solution is now implemented in #49 , mind giving it a try?

[2019-09-19 12:18] sudhirpandey opened #50 "grafana-operator crashing in latest and v1.4.0 too"
I am trying to follow this https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md

but when operator is deployed  it crashes with this
[code]

[2019-09-19 13:23] david-martin commented on #50
@sudhirpandey This error `no matches for kind \"GrafanaDataSource\" in version` suggests the CRD's haven't been created or registered yet.
Looks like there might be steps missing here.

Try creating the CRDs from this folder https://github.com/integr8ly/grafana-operator/tree/v1.4.0/deploy/crds

[2019-09-19 19:24] pb82 commented on #50
@sudhirpandey @david-martin looks like the docs don't have instructions for creating the CRDs. I'll add that.

[2019-09-19 19:28] pb82 commented on #50
@sudhirpandey the [docs](https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#deploying-the-operator) are now updated and describe how to create the CRDs. Please let us know if that works for you.

[2019-09-23 17:17] pb82 commented on #50
@sudhirpandey Closing this as the docs are now updated. Feel free to reopen or create a new issue if you hit this issue again.

[2019-09-23 17:17] #50 closed

[2019-10-03 10:57] gambol99 opened #53 "Plugin Installation"
Hi @pb82

I thought i'd open a conversation before jumping into coding. In regard to plugin installation, I can see your using an init container plugins _(note, i'm not aware of whats behind the quay.io/openshift/origin-grafana image)_, but I was wondering if using the official images and their https://grafana.com/docs/installation/docker/#installing-plugins-for-grafana plugin installation was an

[2019-10-07 11:03] pb82 commented on #53
The openshift/origin-grafana image does not seem to support plugin installation in the way that the official image does. I'd like to keep the operator functional even when using third party images (that is often a requirement for productization or use in internal environments) . That's why its currently implemented using the init container. It works in the following way:

1. Plugins can be added t

[2019-10-07 11:04] #47 closed

[2019-10-09 09:47] gambol99 commented on #53
Hi @pb82 ... makes sense to me :-) .. perhaps one solution to enabled both would be to allow users to add additional envs mapped to the deployment ...

[2019-10-11 13:49] clausa20 opened #55 "grafana-service: type and name customization is not working"
Hello all,

I am trying to modify the grafana-service name and type, but it is not working, I get always the same grafana-service name with ClusterIP type.
Is there a workaround?
Thanks.

Currently I have the following Grafana.yaml

[code]

[2019-10-11 14:12] pb82 commented on #55
@clausa20 You can't change the name of the service, so `spec.service.name` won't have an effect. The type configuration looks fine though. This only works with the latest version, are you using the v2.0.0 tag?

[2019-10-11 14:56] clausa20 commented on #55
Thanks for your quick response, I was using latest and did not work, but I changed the operator version to 2.0.0 as you mentioned and worked ok, thanks.

Anyways, can this issue keep opened as enhancement so it would be very cool that service name can be customizable.
I need to rename the service name because we use the kubernetes url, for example /api/v1/namespaces/devenv/services/telemetry/proxy

[2019-10-11 15:05] pb82 commented on #55
@clausa20 The operator should already create an Ingress, is that the case for you and does the Ingress have an IP assigned?

There is some additional configuration available for the Ingress, see: https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#configuring-the-ingress-or-route

Regarding the service name: customizing it would be possible but its referenced

[2019-10-13 20:45] pb82 commented on #55
Closing this as it's not a bug. Regarding the service name, feel free to create another issue and label it as `Enhancement`. Not sure if the better solution is to allow customizing the service name or just not create the service at all (enabled/disabled flag) and let the user create their service instead.

[2019-10-13 20:45] #55 closed

[2019-10-14 07:12] pb82 commented on #46
Closing this as the service type is configurable in the v2.0.0 release.

[2019-10-14 07:12] #46 closed

[2019-10-14 07:54] pb82 commented on #53
@gambol99 Additional additional env vars via the CR sounds interesting. Do you see any other use cases (besides plugins) that this would allow?

[2019-10-14 17:44] ekarlso opened #56 "Howto get grafana 6.4"
Is there a sensible way to achieve this? 6.4 has improvements around loki.

[2019-10-14 18:56] pb82 commented on #56
Yes, you can override the image being used with a flag, see [here](https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-flags). The example operator deployment shows the usage of those flags: https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml#L20

[2019-10-16 00:25] metalmatze opened #58 "Rework the Operator to call Grafana API directly"
Having deployed the Grafana Operator I am concerned about its architecture for future releases.
Most problematic would probably be the `grafana-dashboards` ConfigMap which in my case already is stuffed with 20 objects.
Every time some dashboard changes the deployment gets re-deployed entirely, which might not preferred when deploying often and by different teams.

I propose to have the Operator re

[2019-10-16 07:34] pb82 commented on #56
Closing this issue as there is a suggested solution. Feel free to reopen if there are problems with the override.

[2019-10-16 07:34] #56 closed

[2019-10-16 07:44] pb82 commented on #58
The deployment should only get redeployed if plugins have changed because Grafana can currently not reload plugins at runtime. If you update a dashboard without plugins or not modify the list of plugins then no redeploy should happen.

But I agree with you that we should avoid importing all dashboards into a config map. I'm concerned that at some point we reach a size limitation on config maps as

[2019-10-16 17:34] metalmatze commented on #58
Ok, then it redeployed for another reason for me.

That's exactly why I also bring it up here. We have hit that limit with https://github.com/brancz/kubernetes-grafana and now deploy every dashboard as separate ConfigMap which would cause a rollout every time.

I am happy to take how far I can get with a proof of concept! 😊

[2019-10-16 18:35] clausa20 opened #59 "Make grafana pod resources configurable"
It is necessary to be able to specify the pod resource used by grafana pods to limit the usage of Node resources when it is shared with other pods of the system.
for example.
[code]

[2019-10-17 07:19] pb82 commented on #59
Sounds reasonable and similar to what the Prometheus operator allows: https://github.com/coreos/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L185

[2019-10-17 08:31] ekarlso opened #60 "Granafa - bump version to 6.4?"
Would this be possible? 6.4 has some additions for Loki

[2019-10-17 09:54] pb82 commented on #60
@ekarlso Yes, i'll look into providing a more recent default image. As a workaround for now, have you looked into overriding the image via flags (https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-flags) ?

[2019-10-17 13:35] clausa20 commented on #59
Let me add that would be a good opportunity to make configurable other fields like number of replicas as well.
Thanks.

[2019-10-17 13:39] pb82 commented on #59
The number of replicas is configurable as of v2.0.0: https://github.com/integr8ly/grafana-operator/blob/v2.0.0/pkg/apis/integreatly/v1alpha1/grafana_types.go#L26

[2019-10-17 17:48] clausa20 opened #63 "When grafana repliacas is > 1 , then the log in session is lost during browsing"
Hello,
I has set Grafana to use more that 1 replica, also I have created my own kubernetes services (I don't use the one provided by operator because I need to customize the service name due to backward compatibility).
But when I go to the browser I log in and when I move through different grafana pages, the log in session is lost and I cannot get in where privileges are needed.

[2019-10-17 17:50] clausa20 commented on #59
Good that initial replicas can be set, I hadn't figures out thanks.
Anyways I raised a but related to that because log in session is lost when more than 1 replica is created.
https://github.com/integr8ly/grafana-operator/issues/63

[2019-10-18 12:18] lukasgr90 commented on #58
We approached the size issue by using multiple config maps. Each config map has its own dashboard provider. Our fork of this operator distributes the dashboards over the config maps. Thus we only need another rollout, if the number of dashboard config shall decrease / increase.

After some more testing I will contribute the changes in a PR. Though I like metalmaze's approach to use the Grafana API

[2019-10-18 18:38] pb82 commented on #63
Looks like this can be fixed by upgrading to Grafana >= 6.2: https://grafana.com/docs/tutorials/ha_setup/#user-sessions (where session storage is enabled by default)

[2019-10-18 19:52] clausa20 commented on #63
@pb82  in fact I am using 6.4 version and the problem of session still happens, I am using these options in operator.yaml:

[code]

[2019-10-19 09:27] pb82 commented on #63
Right, that actually makes a lot of sense: the default database that Grafana uses is sqlite and when we scale to multiple instances, there will be one database file per instance (pod). So user sessions are not shared.

I can see a number of possible solutions:

1) use an external database and [configuration](https://grafana.com/docs/installation/configuration/#database) to outsource all grafana da

[2019-10-19 12:49] ekarlso commented on #60
@pb82 I am using OLM atm to provision that so unsure of how I can pass flags?

[2019-10-21 05:49] ekarlso commented on #60
@pb82 any idea on this ?

[2019-10-21 13:29] clausa20 commented on #63
I recommend making grafana stateless as much as possible without using another DB to maintain.
For this use case I recommend using kubernetes secrets and use them inside the grafna pods as environment variable or as a volume.
You can see an example in this helm repo that uses secrets in environment variables:
https://github.com/helm/charts/blob/67ed74b614bb5f4e068017101a8673c63459f383/stable/grafa

[2019-10-21 14:54] pb82 commented on #60
I think you can just change the flags in the deployment once OLM has finished installing the operator in a namespace.

[2019-10-21 16:48] metalmatze commented on #58
@lukasgr90 Yes, that exactly the same approach that we use with kubernetes-grafana :)
I have a very very instable first version of this working and currently fight with the Authorization Bearer not working, but that should be solvable.

[2019-10-23 08:26] pb82 commented on #60
@ekarlso I considered this. I'm hesitant because at some point the operator should be able to update Grafana. One approach is to say that a particular version of the operator corresponds to one particular version of Grafana. So in order to update Grafana you would install a new version of the operator and it would know what to do (update Grafana image, possible migration steps...).

This requires

[2019-10-23 09:50] pb82 commented on #58
@metalmatze that sounds great! If you'd like to send a PR i'd be happy to help you get it over the line.

[2019-10-23 10:58] mvazquezc opened #66 "Operator panics when creating a grafana object with 'containers' spec"
grafana.yaml
[code]

Grafana Operator startup logs
[code]

Operator crashes:

[code]

Am I missing something? Based on [this file](https://github.com/integr8ly/application-monitoring-operator/blob/master/templates/grafana.yaml#L18) it worked at some point.

Trying to create that grafana object from the template folder produces the same error.

[2019-10-23 13:06] mvazquezc opened #67 "Grafana liveness/readiness probes and container port are hardcoded into the template"
Container Port: https://github.com/integr8ly/grafana-operator/blob/a35bd7b92f5b1f71ecc7039b22ed8949c740575f/templates/grafana-deployment.yaml#L51

Liveness: https://github.com/integr8ly/grafana-operator/blob/a35bd7b92f5b1f71ecc7039b22ed8949c740575f/templates/grafana-deployment.yaml#L65

Readiness: https://github.com/integr8ly/grafana-operator/blob/a35bd7b92f5b1f71ecc7039b22ed8949c740575f/templates

[2019-10-23 13:14] mvazquezc commented on #67
btw, I could try to contribute a fix if you confirm this is a real issue.

[2019-10-24 09:25] pb82 commented on #53
@gambol99 Closing this issue as its more of a feature request. Feel free to reopen if you have a use case for allowing to set the env vars in the CR.

[2019-10-24 14:35] pkavajin opened #68 "grafana-dashboards configmap exceeds size limit"
Hey there, I think there's a design flow in how the dashboards get stored.

Currently all dashboards get merged together into one "grafana-dashboards" configmap.
Since there's a limit of 1MB per ConfigMap, we ran into the case, that we can't add any more dashboards into grafana.

Error message from grafana-operator:
[code]

So either the dashboards need to be seperated into multiple configmaps (wh

[2019-10-24 15:04] pb82 commented on #67
@mvazquezc You are correct, we should definitely propagate the port upwards to the container and service. We're currently working on replacing the templates with structs defined in golang and will add this capability during this effort.

[2019-10-24 15:08] mvazquezc commented on #67
Cool, thanks!

[2019-10-27 18:07] ekarlso commented on #60
Hmm, Can we get 6.4.x and soon 6.5 at least then so I can utilize Loki better ? :o:

[2019-10-30 16:53] osela opened #70 "watching grafanas and datasources in all namespaces"
Would you mind sharing the reasons that lead to the decision not to support it?

We usually install all operators in one system namespace and then create CRDs in other managed namespaces where we want to install the software the operator manages (Grafana in this case). All operators I used so far (including Prometheus) support this pattern.

[2019-10-30 19:15] ekarlso commented on #60
@pb82 ?

[2019-10-30 20:15] pb82 commented on #60
@ekarlso Yep, i'll try to include the latest Grafana version in the next release

[2019-10-30 20:41] pb82 commented on #70
@osela the Grafana Operator was originally designed to support a common use case: one monitoring namespace and multiple monitored namespaces. This required multi namespace support for dashboards, but not for data sources and Grafana instances.

Since then it became more clear how the OLM would implement multi namespace support and what requirements other projects have.

We're open to implement mul

[2019-10-31 14:43] ekarlso commented on #60
@pb82 dare I ask when the next release is ? :D

[2019-10-31 18:02] pb82 commented on #60
@ekarlso Hopefully at some point during the next week, ideally i'd like to get #71 merged before.

[2019-11-04 08:53] pb82 commented on #70
Closing this because not considered a bug. I hope my explanation makes sense. We might revisit this in the future.

[2019-11-04 08:53] #70 closed

[2019-11-06 11:14] AndreasBergmeier6176 opened #73 "Switch to Modules"
I currently basically use Travis for compilation because I cannot be bothered.

Switching to Modules would make it easier to contribute and test.

[2019-11-08 08:24] pb82 commented on #73
@AndreasBergmeier6176 is that because of the bundled vendor directory? Compilation should still be rather quick after the first time.

In general I agree, mod is the way forward at the time being. Just a little bit wary because Golang still experiments a lot with dependency management solutions (get, glide, dep and now modules).

[2019-11-08 08:32] AndreasBergmeier6176 commented on #73
It is because I have to install and understand a different dependency management solution. And I refuse to invest time in software (glide, dep) that will be "gone" in a year anyway.

You mean the golang community? I think modules is here to stay for years to come.

[2019-11-12 13:32] emilingerslev commented on #36
I wanted to give Folders a spin, since its something we (my company) need to use the grafana-operator. Just went over the PR's and found the bigger https://github.com/integr8ly/grafana-operator/pull/71 which seems to change a lot.
Will you migrate to full API usage? And do you have an ETA on it?

[2019-11-12 13:32] emilingerslev commented on #36
@pb82 I wanted to give Folders a spin, since its something we (my company) need to use the grafana-operator. Just went over the PR's and found the bigger https://github.com/integr8ly/grafana-operator/pull/71 which seems to change a lot.
Will you migrate to full API usage? And do you have an ETA on it?

[2019-11-12 14:02] pb82 commented on #36
@emilingerslev Yes, the plan is to switch to API usage for dashboards and data sources. It looks like this would also make folders quite a bit simpler because there's API support for it: https://grafana.com/docs/http_api/folder/

We're also currently working on rewriting the reconciliation logic. The plan is to get rid of the yaml templates, define everything in Go and reconcile all resources.

Th

[2019-11-13 11:08] lleszczu opened #74 "Operator upgrades never finishes"
Right now it's impossible to upgrade operator using [deployment](https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml)'s rolling upgrade.

[code]

leader election never succeedes (there is already master instance elected), ready file is not created and finally readiness probe never marks pod as ready.

[2019-11-13 17:23] pb82 commented on #74
@lleszczu I think you need to manually remove the operator lock (a config map) to get past the leader election.

[2019-11-19 12:18] lleszczu commented on #73
Latest operator sdk (https://github.com/operator-framework/operator-sdk/releases) dropped support for dep based project, so I guess it's good time for migration :)

[2019-11-19 12:28] pb82 commented on #73
@lleszczu @AndreasBergmeier6176 working on it (and much more) on the development branch:  https://github.com/integr8ly/grafana-operator/blob/development ;)

Modules are already working there. The plan is to also get api support and some other features in too.

[2019-11-19 15:08] aceeric opened #75 "${DS_PROMETHEUS} not processed in Kubernetes GrafanaDashboard kind"
We're integrating Strimzi with Prometheus/Grafana. This URL: https://github.com/strimzi/strimzi-kafka-operator/blob/master/metrics/examples/grafana/strimzi-kafka.json - defines a Strimzi/Kafka dashboard.

If I hand-import the dashboard JSON into the Grafana UI, the dashboard works fine. (Precursor steps are to deploy a Prometheus instance and a GrafanaDataSource for Prometheus.)

However, if I inc

[2019-11-20 08:26] pb82 commented on #75
@aceeric I've hit similar issues with exported dashboards that have the `__inputs` field populated. My best guess is that Grafana does an additional step of resolving the datasource when you import via UI. But that doesn't seem to happen when provisioning the dashboard from the file system (as it's the case with the Grafana Operator).

We're currently working to change the Operator to use the Graf

[2019-11-20 14:59] aceeric commented on #75
Thanks for the response!

[2019-11-21 12:31] sunsingerus commented on #75
I've hit exactly the same issue as described with [ClickHouse dashoard](https://github.com/Altinity/clickhouse-operator/blob/master/grafana-dashboard/Altinity%20ClickHouse%20Operator%20dashboard-1556619206528.json)
Works fine when imported manually, unresolved `DS_MYPROMETHEUS` when used as `GrafanaDashboard Custom` Resource.

As far as I see, when importing dashboard as `.json` file manually, you

[2019-11-22 11:31] manicole opened #78 "Image used in grafana-operator container is not fully compatible with dashboards"
Not sure if it is an issue or just a trick ; it it can be of any help ... I'll just put it here.

To install the Grafana operator on a Kubernetes cluster, I deploy (among others) the [operator.yaml](https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml) file. This manifest uses the following image for the grafana-operator container :
[code]

From a previous Grafana (helm)

[2019-11-26 12:58] david-martin commented on #78
The version of Grafana for image `quay.io/openshift/origin-grafana:4.2` is `Grafana v6.2.4 (91b439e)`
It's likely theres some change in the gauge type between 6.2.4 & 6.4.2 that isn't backwards compatible.
As you're specifying `"pluginVersion": "6.4.2",` in the dashboard json, it could be trying to parse it as the newer version of that panel and failing.

@pb82 We can certainly update to 6.4.2 and

[2019-11-26 12:59] david-martin commented on #78
Version updated to 6.4.4 in #76

[2019-11-27 08:32] jtudelag opened #79 "OpenShift 3.11 Projects with Grafana Operator and related CRs get stuck in "Terminating" state???"
Hi,

First of all, thanks for this awesome operator, is very useful!!!

I'm seeing this behaviour consistently. I haven't gone into more details,
but when I have the Grafana Operator deployed on a project, along with Grafana, GrafanaDashboards and GrafanDataSources CRs, and I delete the Project, the project gets stuck in "Terminating" state.

I guess it has to be realated with the k8s finalizers a

[2019-11-27 08:43] jtudelag commented on #79
Contunuing with the troubleshooting, I see that Dashboards and DataSources objects both have finalizers, while Grafana does not...and I think the root cause...

[code]
[code]

[2019-11-27 09:02] jtudelag commented on #79
Actually If I try to delete a dashboard of a data source, sth like this ```oc delete grafanadashboard kafka-dashboard``` , the object is not deleted, I have to delete the finalizer of the object, then the object dissapears... Once all the data sources and dashboards are deleted, the project is finally deleted by OCP ;).

[2019-11-27 09:16] manicole commented on #78
Thank you !

[2019-11-27 11:58] pb82 commented on #79
@jtudelag Yes, that is a common problem with finalizers: the operator gets deleted before it has a chance to service the finalizers on the other resources. Kubernetes won't delete resources until all finalizers are removed and this propagates upwards so that the namespace can't be deleted because of the stuck resources.

One solution to this are ownerReferences that block the owner deletion. But w

[2019-11-27 16:48] manicole commented on #78
Thank you !

[2019-11-27 16:48] #78 closed

[2019-12-05 15:26] thebithead opened #84 "Getting Ingress to get a consistent IP Address on various managed K8s platforms."
I am using release version 2.0 of the Grafana Operator.

I have the following Grafana CR:

[code]

That above CR works fine on OpenShift, Kops/AWS, GKE.  But does not assign an address on EKS/AWS:

[code]

If I change the CR spec.service.type to "ClusterIP", then it fixes EKS/AWS, but does not get an assigned Ingress address on GKE (and perhaps others I didn't test).

If I remove the entire spec.s

[2019-12-06 08:34] pb82 commented on #84
@thebithead I remember a similar case where Ingresses on GCE required a `NodePort` service but I could be wrong. The GCE docs only seem to mention `NodePort` though. I'm linking https://github.com/integr8ly/grafana-operator/issues/46 as it dealt with a similar problem.

[2019-12-06 09:15] pb82 commented on #79
@jtudelag Can you pleas give the new release (https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0) a try? It does no longer use finalizers and should solve your problem. It should soon also be available on Operatorhub.

[2019-12-06 09:15] #79 closed

[2019-12-06 09:16] pb82 commented on #73
Done now with the release of 3.0.0: https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0

[2019-12-06 09:16] #73 closed

[2019-12-06 09:17] pb82 commented on #68
@pkavajin can you please give version 3.0.0 a try: https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0

It doesn't use configmaps for dashboards anymore. No more size limit should apply. Closing this for now, feel free to reopen if you experience any problems with the dashboards in the new version.

[2019-12-06 09:17] #68 closed

[2019-12-06 09:19] pb82 commented on #67
@mvazquezc This should be fixed in version 3.0.0: https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0

can you give that a try please?

[2019-12-06 09:19] #67 closed

[2019-12-06 09:19] pb82 commented on #60
@ekarlso Sorry for the long wait, but the new release defaults to Grafana 6.5.1: https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0

It will be available on Operatorhub soon. Closing this for now.

[2019-12-06 09:19] #60 closed

[2019-12-06 09:21] pb82 commented on #58
@metalmatze The new release (https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0) is now using the Grafana API directly and brings some other improvements (e.g. no more finalizers on dashboards and data sources). Would you mind giving this another try?

[2019-12-06 09:21] #58 closed

[2019-12-06 09:23] pb82 commented on #59
@clausa20 This is now possible in the new release: https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0

You can add a standard kubernetes resource requirement object to the Grafana CR under `spec.resources`. See: https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#deploying-grafana

[2019-12-06 09:23] #59 closed

[2019-12-06 09:25] pb82 commented on #63
@clausa20 I think this would be best solved by providing an example that sets up a remote cache along with Grafana. I'll try to get to this.

[2019-12-06 09:26] pb82 commented on #66
Should be fixed not in the new release: https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.0

Can you please give it a try? Feel free to reopen if you still experience issues with extra containers.

[2019-12-06 09:26] #66 closed

[2019-12-09 15:13] abergmeier opened #85 "Phase upgrade seems to not work"
I switched Operator to 3.0.0 and get the following errors:

[code]

In the status maps, you find `phase` values like:

[code]

Since `phase` is a string, I think it would be necessary to at least upgrade the status to be

[code]

If `phase` was an `int` in the past, a complete conversion would be great ;)

[2019-12-09 16:32] abergmeier commented on #85
Tried to analyze but am not really sure, which Decoder the reflector uses.

[2019-12-09 22:26] metalmatze commented on #85
Yes. I've seen that too. Resolved by deleting the status of all Custom Resources. :man_shrugging:

[2019-12-09 22:31] metalmatze opened #86 "grafana-controller the server could not find the requested resource"
After updating to v3.0.0 I am now seeing this status on the Grafana resource.
[code]

In the controller itself I can see these panics happening every now and then:
[code]

Here's my Grafana resource:
[code]

[2019-12-10 06:21] pb82 commented on #86
@metalmatze This is most likely due to a change in the CRD. Did you update the CRD? Ideally we would have bumped the version but had some constraints that prevented us from doing that. I'll put together upgrade steps from 2.0.0 to 3.0.0.

[2019-12-10 06:24] pb82 commented on #85
Unfortunately there's no direct upgrade path from 2.0.0 to 3.0.0. It basically requires an uninstall, CRD update & reinstall. I'll put together more detailled instructions.

[2019-12-10 08:43] abergmeier commented on #85
Why is that?

[2019-12-10 09:25] pb82 commented on #85
@abergmeier It's because the format of the resource status has changed. As your error indicates, phase is now a string. Also the whole status property is now handled as a subresource and finalizers are no longer used. Ideally we would have updated the CRD version but had some constraints that prevented us from doing so.

I've added upgrade steps: https://github.com/integr8ly/grafana-operator/blob/

[2019-12-10 09:46] abergmeier commented on #85
Maybe in future have a look at other Operators like Tekton, which handle breaking Resource changes gracefully.

[2019-12-11 08:36] metalmatze commented on #86
Indeed, updating the CRD resolved the issue right away. Learnt for next time, sorry.

No I'm stuck with:
[code]

Are the examples in `deploy/` up to date? I'm trying to reserve engineer most of the configuration by reading the code, but fail to succeed.

Here's my Grafana operator:
[code]

Here's my Grafana:
[code]

_Let me know, if you would rather have this in a separate issue._

[2019-12-11 09:32] pb82 commented on #86
@metalmatze The error indicates that there was an issue sending the request to the Grafana API. A more detailled error message can be found in the status of the dashboard itself. Can you please let me know what that error message is?

Also, can you share the dashboard you were trying to import? I can give it a try.

[2019-12-11 09:42] pb82 commented on #86
@metalmatze ah, that's the problem:

[code]

This must be set to true (or left empty, it defaults to true), otherwise access to the Grafana API is disabled.

[2019-12-11 10:08] metalmatze commented on #86
That resolved it now! :+1:
It's quite unfortunate that one has to enable that for the API to work... As I run Grafana behind an oauth-proxy...

[2019-12-11 10:35] pb82 commented on #86
True, i'd also prefer having more options when it comes to API auth. We are also running Grafana behind an OAuth Proxy and use a configuration similar to [this](https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/oauth/Grafana.yaml) to make it work best:

* in order to allow anonymous access we set the oauth proxy to not pass basic auth headers, otherwise Grafana would attemp

[2019-12-11 11:46] abergmeier opened #88 "Deployment not working"
Started changing Operator to 3.0.0 with new roles but now get:
[code]

Status is:
[code]

Seems strange that it would search for `"configmap-grafana-ldap"` and not `"grafana-ldap"` (<- the actual name).

[2019-12-11 12:17] pb82 commented on #88
I think i know what the problem is: https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/ldap/Grafana.yaml#L6

It's creating a volume for every configmap added to the Grafana CR, but it's using the wong name. (prefixed with secret instead of configmap).

I'll mark this as a bug and prepare a fix.

[2019-12-11 12:33] pb82 commented on #86
Closing since original issue was resolved.

[2019-12-11 12:33] #86 closed

[2019-12-12 10:35] #88 closed

[2019-12-12 10:50] pb82 commented on #63
@clausa20 An example for a deployment with multiple replicas is now provided: https://github.com/integr8ly/grafana-operator/tree/v3.0.1/deploy/examples/ha

[2019-12-12 10:50] #63 closed

[2019-12-12 10:52] pb82 commented on #88
Fixed in https://github.com/integr8ly/grafana-operator/releases/tag/v3.0.1, a tag available on quay: https://quay.io/repository/integreatly/grafana-operator?tab=tags

[2019-12-14 16:20] yogeek opened #90 "RBAC error"
Hi, thanks for this project, really useful !

I have installed the operator following the README instructions (not from  operatorhub because the  Operator Lifecycle Manager does not apparently allow to configure the installation...let me know if i am wrong on this) on a vanilla kubernetes cluster (installed on a cloud provider with kubeadm in HA mode) :
[code]

But when I look at the operator's po

[2019-12-14 19:13] yogeek opened #91 "Grafana pod never created"
With this CR
[code]

The grafana svc is present but the grafana pod is not created.
Here are the operator logs :
[code]

[2019-12-14 19:29] yogeek commented on #90
I uninstalled and installed it again but in the `grafana` namespace and the error is gone...
Apparently the namespace is hard-coded in role definition right ?
Is it possible to deploy in another namespace without changing the files manually ?

[2019-12-15 20:46] pb82 commented on #91
Hey @yogeek , judging by the logs it looks like you're running an older version of the operator but the provided CR looks fine and should work. My guess is that the deployment is created, but fails to create the Grafana pod for some reason. So best to debug the deployment first. What's the output of:

`kubectl get deployments -n <your namespace>`

and

`kubectl describe deployment <name of the gra

[2019-12-15 20:49] pb82 commented on #90
You're totally correct, we hardcode the namespace in the provided rbac files: https://github.com/integr8ly/grafana-operator/blob/master/deploy/cluster_roles/cluster_role_binding.yaml#L12

Not quite sure what the best solution would be, maybe something like kustomize or do you have and suggestions? At the very least we should mention this in the readme.

[2019-12-16 10:31] yogeek commented on #90
Hi @pb82 ! thanks for the answer. Yes I think kustomize can be a good solution.
It would also enable other configuration more easily (e.g. I have to add "--scan-all" to the operator arguments and do not want to manually do this)

I will do some tests and come back to you with a working solution.

Maybe it could be useful to add a kustomization.yaml file in your repo that can serve as remote base (

[2019-12-16 12:34] abergmeier opened #92 "Access denied"
With 3.0.1 (on OpenShift 3.11) the deployment now complains:

[code]

over and over.

[2019-12-16 13:32] yogeek commented on #91
About the version, I installed the last release : v3.0.1.
So you want me to test with the master branch instead ?

Currently, the deployment is not there, only the service is created :
[code]

[2019-12-16 13:36] pb82 commented on #92
Do you have this in the config section of the CR?

[code]

Currently basic auth needs to be enabled in order for API access to work. This is the default in Grafana but if it's explicitely disabled, dashboards can't be submitted.

[2019-12-16 13:39] pb82 commented on #91
3.0.1 is fine, but the logs you showed appear to be from an older version. So maybe there's something wrong with the operator deployment or the image? Can you confirm that the `grafana-operator` deployment points to the 3.0.1 image?

[2019-12-16 13:44] yogeek commented on #91
Additionnal info : when I install the operator from [OpertorHub](https://operatorhub.io/operator/grafana-operator) like this :
[code]

I works correctly !!!

What release has been published to OperatorHub ? It is not the last release of your github repo ?

[2019-12-16 13:52] yogeek commented on #91
Installation from OperatorHub :
[code]

Installation from manifests :
[code]

[2019-12-16 14:01] yogeek commented on #91
When I look at https://quay.io/repository/integreatly/grafana-operator?tab=tags, I have different tags :
[code]

It seems that your [operator.yaml](https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml) points to `latest` tag which is different from the V2.0.0 of the OperatorHub and also different from the 3.0.1 you told me about.

[2019-12-16 14:22] abergmeier commented on #92
Ok, this used to work in 2.x.

[2019-12-16 14:35] abergmeier commented on #92
Is it possible that enabling basic auth then breaks LDAP auth?

I get:
[code]

[2019-12-16 18:47] pb82 commented on #91
Ah I see. The latest tag hasn't been updated, best to make sure you're selecting a specific tag in operor.yaml. Also, operatorhub is not yet updated with 3.0.1. You can find all the available tags here: https://quay.io/repository/integreatly/grafana-operator?tab=tags

Does it work when you install 3.0.1?

[2019-12-16 18:52] pb82 commented on #92
The operator now uses basic auth in order to access the Grafana API. Older versions didn't utilize the Grafana API.

I'm not sure to be honest but Grafana seems to complain about not being able to add a user to the internal database. There is a config section for this, `allow_sign_up`: https://grafana.com/docs/grafana/latest/installation/configuration/#users

Does it work when you set that to true

[2019-12-17 12:39] yogeek commented on #91
@pb82 I can confirm that using the 3.0.1 tag is working ! Thank you for your help

I use kustomize to modify the release manifests for now but it would be great if you could either update the tag in the operator manifest or push the `latest` tag corresponding to the last image.

Plus, how is managed the publication to the operatorhub ? Each release is not deployed currently ?

[2019-12-17 15:18] yogeek commented on #75
Same here, I want to import existing dashboards and have to `sed` to replace all datasources occurence in the JSON file before creating the `GrafanaDashboard` Custom Resource.

Having a field in the CRD would indeed be really useful

[2019-12-17 16:42] yogeek opened #93 "Cannot process dashboard"
I am trying to import some existing dashboards (the ones from https://github.com/kubernetes-monitoring/kubernetes-mixin project which are the dashboards provided when using the Grafana instance included in the [Prometheus Operator](https://github.com/coreos/kube-prometheus) installation).

When I create the `GrafanaDashboard` custom resources corresponding to the JSON files of these dashboards and

[2019-12-17 21:14] ekarlso opened #94 "Next release to OperatorHub"
Hi, any idea on when this is due?

[2019-12-17 21:21] pb82 commented on #93
The dashboards in the linked project all appear to be defined in jsonnet instead of regular json. Did you convert them to json? Can you please attach one of the dashboard CRs (or the json content) you're trying to import?

[2019-12-18 08:00] pb82 commented on #91
@yogeek We are aiming to update the operatorhub release, just wanted to wait a bit to fix incoming bugs with the new version. I'll also update the latest tag.

[2019-12-18 08:34] yogeek commented on #93
Yes indeed, I genereted the JSON with jsonnet.
Here is one of the JSON :
[code]

[2019-12-18 10:26] yogeek commented on #93
After some investigation, it seems that the SDK you use to interact with grafana is th e `v0.0.0-20191103185352-c717bbeb00ed` (https://github.com/integr8ly/grafana-operator/blob/master/go.mod#L13)

It seems that this sdk is now in version v0.8 (https://github.com/grafana-tools/sdk/releases)

Do you think is could be a problem of SDK version compatibility ?

[2019-12-19 07:16] pb82 commented on #93
@yogeek Ok, i debugged the dashboard. The problem is that in your json all boolean `true` values in a panel's legend are strings (`"true"`), e.g. see line 108 of your json:

[code]

I suspect this is a problem in your conversion process. It also seems to be the case only in legends, other boolean true values appear fine.

After I replaced all occurrences of `"true"` with `true`, the dashboard work

[2019-12-19 07:39] pb82 commented on #91
I've updated the `latest` tag now. Closing this issue as the original problem has been resolved.

[2019-12-19 07:39] #91 closed

[2019-12-19 08:50] pb82 commented on #75
Proposing a fix for this in #95

[2019-12-19 10:07] pb82 commented on #94
@ekarlso there have been some bugfixes and improvements since 3.0.0. But i'll probably submit to operatorhub after #95 is merged.

[2019-12-19 10:22] pb82 commented on #75
I've created a quay tag named `import-datasources` if anyone want's to give it a try.

[2019-12-19 10:50] yogeek commented on #91
@pb82 Thank you. Did you update it manually because I do not find the corresponding ` docker push` in your [travis CI file](https://github.com/integr8ly/grafana-operator/blob/master/.travis.yml)

[2019-12-19 13:54] yogeek commented on #93
@pb82 Ok thank you, I just tested using `sed` to replace all `"true"` by `true` before applying the dashboards and the ones with the problem have been imported correctly :+1:
So I just opened an issue on the dashboards repo : https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/314.

_but_ (sorry there is a _but_ ;) ) a few dasboards are still erroneous and this seems to be linked to t

[2019-12-19 15:00] yogeek commented on #78
Hi @david-martin , can you please explain the difference between `quay.io/openshift/origin-grafana` and the official `docker.io/grafana/grafana` please ?

[2019-12-19 15:09] david-martin commented on #78
@yogeek `quay.io/openshift/origin-grafana` looks like a build tied to a specific OpenShift version (e.g. 4.2), probably built by the OpenShift team.

`docker.io/grafana/grafana` looks like a more official Grafana image.

[2019-12-19 16:28] yogeek commented on #78
@david-martin ok thanks. As I could not find the repository that was used to build this openshift image, I wondered if we could loose some of the grafana operator features if we switch to the official grafana image (maybe incompatibility risks with grafana API version ?)

[2019-12-19 17:45] itewk opened #96 "hostname seems to be ignored in OpenShift"
In OpenShift whenever the route is created it seems the `.spec.ingress.hostname` is ignored and is always created with the default name. I beleive it is because the `.spec.ingress.hostname` is not being referenced here:

https://github.com/integr8ly/grafana-operator/blob/f551d384f11ec69147ab7e050f9dffb9fbe80436/pkg/controller/model/grafanaRoute.go#L70

[2019-12-19 19:06] pb82 commented on #96
Yes, the idea was to always rely on the automatically assigned host on OpenShift and only allow to set it manually on vanilla Kubernetes (where manual is the only option). Do you think it would be valuable to allow this on OpenShift too? It looks like this would be a rather small change.

[2019-12-19 20:04] itewk commented on #96
yes please. the default generated names are awful.

[2019-12-20 10:47] pb82 commented on #96
I'll try to add it to the next release.

[2019-12-20 11:06] pb82 commented on #93
The problem seems to be the `height` property of a panel. The SDK expects a string while in your export it's a number. For example in link 69:

[code]

Interestingly, when i build a dashboard in Grafana, the panels don't get a height property (height is managed in the gridOos object). So maybe an artifact from an older Grafana version?

I'll see if this is something the operator can convert automa

[2019-12-20 12:09] pb82 commented on #93
@yogeek a solution for this is provided in #97

[2019-12-20 12:31] pb82 commented on #93
@yogeek a tag with the name ` fix-heights` is available, would you mind giving it a try? (Note that you need to set the compat property first as described in the verification steps of the PR).

[2019-12-20 14:04] itewk opened #99 "panels of type gauge and bar gauge lose their settings"
When I try to import dashboards via the CR with panels of type guage or bar gauge the settings for those pannels get lost.

I have tried using the `json` and the `url` form of the `GrafanaDashboard` type. both have same experince.

I can copy the exact same JSON direclty into the same Grafana dashboard import feature and the panels import fine. This only seems to happen when the board gets importe

[2019-12-20 14:09] itewk commented on #99
[code]

[2019-12-21 12:42] yogeek commented on #93
@pb82 I just tested the fixHeights tag and there is improvements : on the 3 dashboards were in error, 2 are now imported correctly and 1 is still problematic :

[code]

[code]

[code]

Additionnal newbie question : what is the advantage of using the [SetDashboard](https://github.com/grafana-tools/sdk/blob/b2383f58403ffb30642d4580994af3e9fe429f0f/rest-dashboard.go#L168) instead of [SetRawDashboard]

[2019-12-21 14:02] pb82 commented on #93
@yogeek there is another compatibility switch for that, `fixAnnotations`: https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#compatibility-with-older-dashboard-formats

It looks like tags are now supposed to be strings while older dashboards sometimes provide them as arrays.

[2019-12-21 19:42] yogeek commented on #93
@pb82 ok I opened another issue here : https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/319

I can confirm you that the "fix-heights" branch is working for me. I think you can merge #97

Can you tell me where can I see this kind of change in dashboard schema so as I can debug these kind of problem myself in the future please ?

[2019-12-22 09:46] pb82 commented on #99
I'm assuming it has to do with the grafana-sdk library that we use to parse the dashboard json. I'll investigate further.

[2019-12-23 00:35] itewk commented on #99
Yeah. I tried to trace through the operator code to see how dashboard gets imported to see if I could isolate to whether it was something operator was doing or Grafana but I lost the thread when it called the grafana sdk.

[2019-12-23 08:35] #96 closed

[2019-12-23 12:41] pb82 commented on #99
@itewk The problem lies somewhere with the grafana sdk. I'm currently working on removing it and just sending the raw json (after some validation). That seems to be working and the gauge in your example renders exactly the same operator imported vs. directly imported.

[2019-12-23 13:18] pb82 commented on #99
@itewk This should be fixed now in this PR: #95 I've created a tag with those change ` import-datasources`: https://quay.io/repository/integreatly/grafana-operator?tab=tags

Would you mind giving it a try?

Please note that since your dashboard has inputs (depends on a datasource to be present) you will have to specify it in the dashboard CR with:

[code]

Docs for this are in the works: https://g

[2019-12-25 22:19] MastanaGuru commented on #88
@pb82 Still getting the error after upgrading to v3.0.1.

{"level":"info","ts":1577311955.4372697,"logger":"cmd","msg":"Go Version: go1.13.5"}
--
  | {"level":"info","ts":1577311955.4373195,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
  | {"level":"info","ts":1577311955.4373262,"logger":"cmd","msg":"operator-sdk Version: v0.12.0"}
  | {"level":"info","ts":1577311955.437329,"logger":"cmd","msg":

[2019-12-26 02:39] MastanaGuru commented on #88
My bad, I was loading the secrets in the grafana resource object.

[2019-12-26 16:25] itewk commented on #99
@pb82 tested the `import-datasources` image tag and it works great, fixes this issue. Thank you.

[2019-12-27 23:56] abergmeier commented on #88
This Operator has shown us great features and benefits.
Migrating however from 2 to 3 seems hard if not impossible.
So we are currently evaluating whether we fork this Operator in version 2 and apply all changes for 3 in a semantic way (e.g. increase schema version).
Honestly I think this should have been done in the first place. The whole point of CRD versioning is that you can do breaking change

[2019-12-28 00:01] abergmeier commented on #92
I think the sensible way to do is to have a dummy user which is does all API operations up until a login has been established.

[2019-12-29 09:32] abergmeier commented on #85
Working to fix this (and more) in https://github.com/abergmeier/grafana-operator/tree/v2

[2019-12-29 16:22] zcahana opened #104 "Operator repeatedly reconciles the Grafana service"
Hello,

I'm trying to use the grafana-operator (v3.0.1), with a NodePort-type service, and it appears that the operator is repeatedly updating the `grafana-service`. Here's a 1 sec output to demonstrate the issue:
[code]

(Note the repeatedly changing NodePort assignment which obviously renders it useless).
Watching with `-o yaml` confirms that the only changing bits in the service are the `spec.p

[2019-12-30 09:23] #75 closed

[2019-12-30 09:35] pb82 commented on #104
Hey @zcahana , i found the issue: when the operator updates the service it doesn't assign the existing node port which forces Kubernetes to assign a new now. I have a fix for this which allows creating node port services. I saw a new issue where, if you don't create a route/ingress, the operator can't access the Grafana API through the node port service, still looking into that now.

[2019-12-30 10:58] pb82 commented on #104
@zcahana Should be ok now. Can you please try the tag `fix-node-port` (see https://quay.io/repository/integreatly/grafana-operator?tab=tags)? It should fix the problem and allow you to create a node port service.

[2019-12-31 07:35] evq commented on #104
I had the same problem and the `fix-node-port` tag worked for me

[2019-12-31 08:27] zcahana commented on #104
I can confirm too that the `fix-node-port` seems to fix the problem. I can now successfully access Grafana via the assigned NodePort.

[2020-01-01 13:11] #104 closed

[2020-01-01 13:12] pb82 commented on #104
Thanks for verifying the fix @zcahana and @evq

[2020-01-02 12:53] AdheipSingh opened #107 "Replicas missing in deepcopy"
Replicas have not been added in deepcopy. In current master annotations, labels are available options in the the deployment spec.

[code]
I can add the replica deep copy in this PR https://github.com/integr8ly/grafana-operator/pull/106

[2020-01-02 13:04] AdheipSingh opened #108 "Deployment Spec Enhancements"
The current deployment spec has some important parameters missing such as Pod Disruption Budgets, security context, resource quotas. Can we add those in the grafana deployment struct.
I can issue a PR on those. @pb82 :)

[2020-01-02 14:33] abergmeier commented on #85
Can you elaborate? AFAIK CRD versions are not meant to change over time.

[2020-01-02 19:26] yogeek commented on #99
@pb82 I also confirm that the `import-datasources` image tag resolves problems that were caused by the use of the grafana sdk.
Do you know when this version will be released please ? (merged into master, github release and latest image tag)

[2020-01-03 08:47] pb82 commented on #99
@yogeek I'll aim for a release around the 10th of January. Unfortunately there is currently no automation for creating the `latest` tag. Travis currently only creates tags for releases and branches. That's probably something we should automate. I'll update `latest` manually today.

[2020-01-03 08:52] pb82 commented on #107
@AdheipSingh I ran the automatic code generation against master (`operator-sdk generate k8s`) and it doesn't look like anything is missing. Since the deployment spec is added as a pointer in the grafana type spec, I don't think we need a layer of deepcopy for it.

[2020-01-03 08:54] pb82 commented on #108
@AdheipSingh Sure, if you see a use case for those properties feel free to add them to your existing PR. Do you think it would make sense to also add an example and describe some of the use cases in the documentation?

[2020-01-03 08:58] pb82 commented on #99
The latest tag is up to date with master now.

[2020-01-03 08:59] #99 closed

[2020-01-03 09:00] pb82 commented on #93
Closing this because it should no longer be an issue on master.
@yogeek please note that those compatibility switches are probably no longer needed. Dashboards should just work now as long as Grafana accepts them.

[2020-01-03 09:00] #93 closed

[2020-01-03 10:03] AdheipSingh commented on #108
Yes ill add those in my existing PR, and add a document this with examples and possible use case.
I guess you can add an enhancement label. 👍

[2020-01-03 10:14] AdheipSingh commented on #107
@pb82 yes i see that, the only thing which concerned me is that replicas were not included in the deepcopy objects whereas annotations and labels were rightly present.

I ran the same command but strange it does'nt genereate deepcopy for replicas.

Don't you think replicas should also be added in this, as the deployment spec also includes the replica paramenter. Maybe i am missing on some thing.
[

[2020-01-03 13:15] AdheipSingh opened #112 "Request/Limits"
I see the quota allocation is kept as constant.
As an operator user i should be able to define these in ```kind: Grafana``` . In my deployment spec, any specific reason for keeping these as constants ??
Each user can have its own quota/limits preferences
[code]

[2020-01-03 14:45] dongwangdw commented on #112
@AdheipSingh this is the default value for the resource. These values could be overridden from CR.
You can have a look at the grafana_types.go.

[2020-01-03 14:59] AdheipSingh commented on #112
@dongwangdw Oh i see that now, yep in that case its fine.

[2020-01-03 14:59] #112 closed

[2020-01-04 17:42] #108 closed

[2020-01-06 09:25] ekarlso commented on #94
So, by all means I've waited for a long time, what's the status?

[2020-01-06 11:50] pb82 commented on #94
@ekarlso The submission is now open: https://github.com/operator-framework/community-operators/pull/1068

[2020-01-06 11:51] pb82 commented on #107
@AdheipSingh No, i don't think we should manually add anything to the auto generated code. Closing this issue as i don't think there's a problem with the auto generated code.

[2020-01-06 11:51] #107 closed

[2020-01-06 14:33] itewk commented on #96
thanks :)

[2020-01-06 15:26] dongwangdw commented on #94
@pb82 I also wonder why the version is so high even it is still in alpha version? Not very clear about the rule.

[2020-01-06 17:24] AdheipSingh opened #113 "Pod Disruption Budget for grafana pods"
Do we need a pdb spec for grafana pods or is it an overkill for grafana ? Perhaps we should add one. Any thoughts on this ?

[2020-01-07 09:58] bearnard opened #114 "tyop/stray descripton (instead of description) field in the openapi crd spec"
https://github.com/integr8ly/grafana-operator/blob/master/deploy/crds/Grafana.yaml#L90

This is causing synchronisation issues with gitops flows.
When the crd is applied, Kubernetes ignores/removes the field and thus the git source of truth is alway out of sync.

[2020-01-07 10:07] pb82 commented on #114
@bearnard good spot, thanks!

[2020-01-07 10:21] bearnard commented on #114
Thanks @jerith for the eagle eye.

[2020-01-07 13:35] pb82 commented on #114
fixed on master now. Btw. there's a typo in the PR title 😉

[2020-01-07 13:35] #114 closed

[2020-01-07 17:28] pb82 commented on #94
@ekarlso The current release (v3.0.2) is now available on operatorhub, would you mind giving it a try?

@dongwangdw The version is at 3.x.x because we try to apply semantic versioning. So the major version increases on any breaking change, minor version increases with new features and patch version for bug releases. However we haven't really applied that to the CRD versions yet and in general vers

[2020-01-07 17:28] #94 closed

[2020-01-10 17:09] zetaron opened #115 "OLM OperatorGroup targetNamespace not respected"
When deploying through the Operator Lifecycle Manager (OLM) the grafana-operator deployed will only watch the namespace it's deployed into.

This is a problem for us as we strictly divide the operators from the actual project.
So for example we would have a namespace `my-project` that is team managed and an other namespace `my-project-operators` where all operators supporting the `my-project` name

[2020-01-13 09:20] pb82 commented on #115
@zetaron Right, at the moment when you install via operatorhub you only get a single namespace setup. The operator has multi namespace support for dashboards. Grafana and DataSource CRs still need to be created in the operators namespace.

As far as i know, OLM does not offer a way to provide a list of namespaces for the operator to watch (only single or all) even though the operator supports it u

[2020-01-13 11:52] zetaron commented on #115
@pb82 What would it take to be able to create the Grafana and DataSource CRs in an operated (watched) namespace, that is not the one where the operator itself is deployed?

If I understand they way OLM works correctly the `olm.targetNamespaces` annotation is fed by the `OperatorGroup` responsible for a given namespace/subscription. On the `OperatorGroup` CR the `targetNamespaces` field is a list.

[2020-01-13 13:34] pb82 commented on #115
@zetaron I think multi namespace support would also mean multi instance support. And from the top of my head, the biggest hurdle to true multi namespace support is that the operator currently assumes that there is only one instance of Grafana (per operator instance). For example, the operator internally keeps track of the credentials and URL to Grafana (see [here](https://github.com/integr8ly/graf

[2020-01-13 16:49] pb82 commented on #113
@AdheipSingh PDB spec would be a very welcome addition.

[2020-01-13 17:02] AdheipSingh commented on #113
@pb82 yes i would add it for sure, i am on travel, apologies for the delay ill add it for sure.

[2020-01-13 17:08] pb82 commented on #113
No problem at all, thanks!

[2020-01-14 16:56] SebastianCaceresUltra opened #116 "Deployment spec is not being taken into account in Grafana deployment"
Hello,

I'm trying to deploy a Grafana instance while customizing the deployment. Everything works fine with the example, but when I try to modify the deployment spec, the configuration is not being taken into account, most notably the `nodeSelector` and the `env` sections.

[code]

Am I doing something wrong?

[2020-01-14 18:31] pb82 commented on #116
@SebastianCaceresUltra you don't need to provide the deployment spec in the Grafana CR. The operator creates a deployment based on the configuration in the CR. Some properties in the deployment can be overridden (see https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#configuring-the-deployment).

Take a look at the provided examples: https://github.com/integr

[2020-01-15 09:25] rverma-jm opened #117 "Add kustomization.yml"
Please add support for kustomize by adding kustomization.yml

[2020-01-15 13:24] rverma-jm commented on #36
Will this allow to create a folder for all istio-dasboards from https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio/charts/grafana/dashboards in one shot? That would be super nice.

[2020-01-15 13:34] rverma-jm opened #119 "Can't make dashboard work"
Grafana, tried all the docs but can't make dashboard to appear. Also since adding a datasource requires restart, is the behaviour same for adding a dashboard?
[code]

Datasource
[code]

Dashboard

[code]

Exception

[code]

[2020-01-15 14:27] pb82 commented on #116
Closing this as it looks like an invalid Grafana CR.

[2020-01-15 14:27] #116 closed

[2020-01-15 15:45] SebastianCaceresUltra commented on #116
Alright, thanks for your help!

On this topic, I wanted to reuse the password that I had on my current Grafana deployment, in order to make the migration easier. It might be a good idea to still support the usage of these environment variables, I think it could catalyze the adoption of the operator.

As a workaround, I created a secret named `grafana-admin-credentials` with the values I used for m

[2020-01-15 15:49] pb82 commented on #116
@SebastianCaceresUltra you can do that by providing an admin user in the configuation, see for example here: https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/Grafana.yaml#L12

[2020-01-15 20:26] #119 closed

[2020-01-15 20:41] renanqts opened #120 "Support role_attribute_path in auth.generic_oauth"
InGrafana v6.5+ is possible to use role_attribute_path parameter in auth.generic_oauth. Checking grafanaIni.go code, It doesn't expect that. So, this issue is to cover this parameter.

Doc about:
https://grafana.com/docs/grafana/latest/auth/generic-oauth/

[2020-01-16 08:40] pb82 commented on #119
@rverma-jm have you been able to resolve this issue?

[2020-01-16 08:46] pb82 commented on #120
Right, looks like this attribute is missing in https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/config/grafanaIni.go#L203

Should be straightforward to add it, do you want to send a PR?

Looks like this configuration also accepts JMESPath, something i'm not familiar with. But for our case, we would just hand it over to Grafana.

[2020-01-16 21:20] renanqts commented on #120
Requested in #122

[2020-01-17 08:25] rverma-jm commented on #119
Yes I have added the required permissions through the kustomization pr.

[2020-01-17 16:08] pb82 commented on #120
Thanks for the PR, it's merged now.

[2020-01-17 16:08] #120 closed

[2020-01-21 12:46] glemsom opened #123 "Cannot use OpenShift 4.2 oauth"
Steps to reproduce:
* Install grafana-operator
* Install an instance of grafana, using the oauth example: https://github.com/integr8ly/grafana-operator/tree/master/deploy/examples/oauth

The result is:
[code]
Expected result:
The operator should install an working instance of Grafana.

[2020-01-21 13:33] shivpathak opened #124 "grafana ingress readiness check failing"
**What version of grafana-operator we are using?**
quay.io/integreatly/grafana-operator:v3.0.2

**What is problem statement?**

I am trying to enable Ingress with grafana instance, I can see grafana instance is created along with ingress, also ingress is working fine. (I am able to get grafana login page using ingress domain).

But grafana-operator throws following error and due to this grafana-op

[2020-01-22 09:05] pb82 commented on #123
@glemsom it looks like you're using an older version of the operator, could you please retry with the latest release?

[2020-01-22 09:09] pb82 commented on #124
This is the condition used to evaulate ingress readiness: https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/common/readiness_checks.go#L35

It relies on the status of the load balancer, i'll check if there's a better way to check ingresses.

[2020-01-22 20:48] allen13 commented on #36
I have implemented a private implementation of this that adds dashboards to folders equivalent to the namespace that they came from. Is there any interest in me contributing this? Maybe with a default disabled flag? Here is a snapshot:

[code]

[2020-01-24 12:31] shivpathak opened #126 "please add gitlab as a oauth provider like we have for github"
**This is feature request not a bug.**

_it's good to have gitlab as an oauth provider._

like we have oauth for github in following code-block.

https://github.com/integr8ly/grafana-operator/blob/92d3ed683ac763c539ae7d1abdef3ecca5e3b0a6/pkg/controller/config/grafanaIni.go#L188-L201

[2020-01-24 14:57] pb82 commented on #126
@shivpathak that sounds reasonable, Gitlab is supported by Grafana: https://grafana.com/docs/grafana/latest/auth/gitlab/

We can add that in the next release. If you want, please also feel free to send a Pull Request.

[2020-01-25 20:51] InhexSTER opened #127 "Operator repeatedly reconciles the Grafana service"
I am adding this annotation on Grafana CRD's service to enable OAuth proxy

[code]

This is causes reconcile loop as the openshift adds this annotation to service:
`service.alpha.openshift.io/serving-cert-signed-by: openshift-service-serving-signer@1578174859`

Then grafana operator removes it and causes infinite reconcile loop.
I think the annotations should be merged not overridden

[2020-01-26 08:10] pb82 commented on #127
Was that on OS3 or OS4? I've tried it on OS4 and it let me add the annotation. However I think you're right and we should merge annotations (and possibly lables too?) instead of overwriting them. I'll prepare a fix for this.

[2020-01-26 17:26] InhexSTER commented on #127
Sounds good, I have workaround for now. Once tls secret generated I removed that annotation.
It was on OS3.

[2020-01-27 06:03] shivpathak commented on #126
@pb82 just requested [PR](https://github.com/integr8ly/grafana-operator/pull/128)

[2020-01-27 06:19] shivpathak commented on #126
@pb82 Just raised Pull Request [PR 128](https://github.com/integr8ly/grafana-operator/pull/128)

[2020-01-27 15:19] pb82 commented on #127
One issue with this is that if we merge the annotations, then it will no longer be possible to remove annotations by removing them from the CR: they would get merged with the annotations on the resource which contain the ones removed.

So in order to remove an annotation, you would have to remove it from both, the CR and the resource.

[2020-01-29 08:05] evq opened #130 "Support for using secrets to hold sensitive config values"
Currently as far as I can tell there is no way to use a kubernetes `Secret` to either populate an environment variable on the grafana container or a value within the generated `grafana.ini` config file. One or both of these should be supported.

See also https://github.com/integr8ly/grafana-operator/issues/116 which requested that the admin password could be provided via a Secret instead of the cu

[2020-01-29 08:30] pb82 commented on #130
@evq Right, currently this is not possible. You can mount secrets and configmaps as volumes but not as env vars (which would allow you to set the admin credentials).

Providing your own admin credentials from a secret sounds like a valid use case though and I also like the idea of using env vars to achieve that.

I'll try to include that as soon as possible. Not quite sure yet what's the best way

[2020-01-29 08:38] pb82 commented on #126
thanks @shivpathak, much appreciated! I'll take a look as soon as possible.

[2020-01-29 10:46] pb82 commented on #126
Added in #128

[2020-01-29 10:46] #126 closed

[2020-01-30 14:52] Moulick commented on #130
@pb82 would be really helpful to have this, either mount the whole grafana.ini as a secret/configmap volume mount or allow `envFrom` or even `env`

[2020-01-30 23:30] mecseid opened #132 "Get lots of info log messages from the operator"
Environment:
- Kubernetes v1.15.5 (Rancher v2.3.3)
- Operator v3.0.2 (watch its namespace)

I get these messages multiple times per second:
[code]

Why do I get these lines so often?

[2020-01-30 23:44] mecseid commented on #132
I just stopped the usage of the operator, beacuse it was bursting the API with requests.
![kép](https://user-images.githubusercontent.com/6381828/73500141-35969980-43c2-11ea-83ca-29269e205712.png)
![kép](https://user-images.githubusercontent.com/6381828/73500181-4f37e100-43c2-11ea-9f41-ce2866a17009.png)

[2020-01-31 10:00] pb82 commented on #132
@mecseid that shouldn't be happening, it looks like something is triggering reconciliation. Mind sharing the Grafana CR you were using?

[2020-01-31 14:02] #127 closed

[2020-01-31 14:12] pb82 commented on #132
I have a suspicion that this could be similar to #127 which should be resolved with #129 .

Would you mind giving the `master` tag a try and see if that resolves your issue?

[2020-01-31 14:25] mecseid commented on #132
Here it is:
[code]
I will give it a try at the end of the day, and I will reply with the results.

[2020-02-02 21:56] mecseid commented on #132
@pb82 with 1ed303b tagged image, it seems to be resolve the problem.
![kép](https://user-images.githubusercontent.com/6381828/73616044-e002fc80-460e-11ea-85c4-b5270b99718c.png)
![kép](https://user-images.githubusercontent.com/6381828/73616038-d1b4e080-460e-11ea-86c8-646356b5aa09.png)

[2020-02-02 22:32] AdheipSingh opened #133 "termination grace period option"
Can we add termination grace period for grafana deployment, currently it shall default to 30 sec. It shall add in more flexibility....... :)

[2020-02-03 15:44] mecseid commented on #132
I think it's closable.
@pb82 could you make a new _bugfix_ version please?

[2020-02-03 16:05] pb82 commented on #132
@mecseid Awesome, thanks for testing. I'll do another test with your CR and then close the issue. Can't say exactly when we're cutting the next bugfix release, but i'd say relatively soon.

[2020-02-05 09:18] Slach opened #134 "Events in GrafanaDashboard CRD describe not changes after kubectl apply"
I have successfully installed "latest" (not master) grafana-operator and after run
kubectl apply -f my_dashboard.yaml i see following error messages in grafana-operator pod logs

[code]

Which files on cluster_roles on roles folder should be changed and how to avoid this message?

[2020-02-05 11:15] pb82 commented on #134
This looks like the operator fails to patch an Event in its own namespace, the permissions for this are  defined here: https://github.com/integr8ly/grafana-operator/blob/master/deploy/roles/role.yaml#L28

We might need to add patch and update. Would you mind trying to edit the grafana-operator role and add those permissions to check if that fixes the issue?

You should not have to apply any of the

[2020-02-05 12:51] Slach commented on #134
I create PR, so also create, delete, update, patch verbs also needed

[2020-02-05 14:02] #134 closed

[2020-02-06 10:44] pb82 commented on #132
fixed in #129

[2020-02-06 10:44] #132 closed

[2020-02-06 11:45] pb82 commented on #36
@allen13 Sorry for the late response. Folder per namespace seems like a great optional solution. I'd imagine that sometimes you would want more flexibility though.

@david-martin @davidkirwan  do you think a folder per namespace would be enough for organizing our own dashboards?

[2020-02-06 11:51] davidkirwan commented on #36
I like the idea @pb82

[2020-02-06 12:00] david-martin commented on #36
@pb82 Yes, that sounds like a reasonable way of organizing dashboards.

[2020-02-12 09:41] 1337andre opened #136 "error creating dashboard, expected status 200 but got 404"
Hi,

i tried to import SimpleDashboard (https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/dashboards/SimpleDashboard.yaml)

[code]

I use OLM to install grafana-operator in Version 3.0.2 in eks (k8s-version: v1.14.7-eks-1861c5)
Grafana was installed with auth.generic_oauth

[code]

something I do wrong?

greetings
Andre

[2020-02-13 07:47] pb82 commented on #136
The CR seems fine at first glance. I'll give it a try later.

[2020-02-14 17:05] cmoulliard opened #137 "Empty Grafana dashboard"
## Issue

I deployed successfully the Grafana Operator on kubernetes 1.15 using your instructions and the following files - https://github.com/halkyonio/r-d/tree/8b5961f6bfc2daeb0c8e41215b7b117490fe47d4/olm/resources/prometheus/grafana but the dashboard dont show the metrics collected from the prometheus server

In fact, when we are connected, grafana is requesting to add dashboards. See screensho

[2020-02-14 20:44] pb82 commented on #137
So there's two distinct issues with two dashboards:

[code]
and
[code]

The first one means that a dashboard was found, but the dashboard selector in the Grafana CR does not match its labels.

The second one seems to be the real problem: there was an error submitting the dashboard to Grafana. A detailed error message can be found on the dashboard CR status:

[code]

Can you please share the output

[2020-02-14 21:39] cmoulliard commented on #137
I dont see a status within the grafanadashboard
[code]

[2020-02-15 08:37] cmoulliard commented on #137
Here is the `grafana` config. Do you then recommend to disable `auth.anonymous` to `false`.
**Remark**: As this problem already happened for others, that should be documented !

[code]

[2020-02-15 11:54] cmoulliard commented on #136
My issue #137 is certainly related to this one as I see also as status `error creating dashboard, expected status 200 but got 404`

[2020-02-15 12:14] cmoulliard commented on #136
When I debug, I observe that the HTTP Client created to access the Graphana instance is not correct. It is defined as such
[code]
while in fact, it should be defined using either the kubernetes service + port or ingress route

Question: Is it possible to define the address of the service or that the operator calculate it ?

[2020-02-16 18:51] pb82 commented on #136
@cmoulliard The operator uses this strategy to determine the URL: https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/grafana/grafana_controller.go#L203

So it will first try to use the route/ingress if they exist. If not it will fall back to using the Service (more specifically: the clusterIP of the service). There is also a CR setting `preferService` to always override the r

[2020-02-17 07:32] cmoulliard commented on #136
Kubernetes with an ingress route

[2020-02-17 07:32] cmoulliard commented on #136
As the ingress route exists, I will debug this part of the code to see what it happens

[2020-02-17 07:37] pb82 commented on #136
Thanks! Please let me know what you find. Also, you can always try the `preferService: true` CR option to force the Operator to make API calls through the Service instead of the Ingress.

[2020-02-17 07:55] cmoulliard commented on #136
The `preferService` is defined to `false` and even if the `ingress` route is well declared the `r.state.GrafanaRoute` is `nill`

![Screenshot 2020-02-17 08 52 00](https://user-images.githubusercontent.com/463790/74633940-1ee29780-5163-11ea-86b0-083e3542e503.png)

[code]

[2020-02-17 07:59] pb82 commented on #136
@cmoulliard `r.state.GrafanaRoute` will always be nil on Kubernetes, Routes are only used when running on OpenShift.

On Kubernetes it should find the Ingress however: https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/grafana/grafana_controller.go#L218

Also, `preferService` needs to be set manually in the CR, see for example here: https://github.com/integr8ly/application-mo

[2020-02-17 16:16] cmoulliard commented on #136
I added the parameter `preferService: True` and now the operator is using the correct `IP address` to access the dashboard but something wrong is happening during the post

[code]
The IP address is correct
[code]

[2020-02-17 16:36] cmoulliard commented on #136
What I dont understand is that I can POST using the ingress address

[code]

[2020-02-17 17:51] cmoulliard commented on #136
There is a problem with the logic or the way that you collect the ingress hostname. Why ?
When we access this part of the [code](https://github.com/integr8ly/grafana-operator/blob/5a373c00743f430c20a62dd7c67fd7cdcb9f657c/pkg/controller/grafana/grafana_controller.go#L218-L225) and where the cluster is k8s + ingress then we got the `cluster IP address` and not at all the `ingress hostname` exposing

[2020-02-17 18:17] cmoulliard commented on #136
So, ideally, when the Grafana CR includes a `spec.ingress.hostname`, then the following part of the code should use it instead of the IP address. We must of course till the status of the ingress resource got an `IP` address

[code]

[2020-02-19 09:40] pb82 commented on #136
@cmoulliard sorry for the late response. I think this is a good way forward, relying on the hostname in the CR instead of the on in the Ingress. As for `preferService`: this will only work on cluster. When you run the operator locally against a cluster it won't be able to access the service, hence the failed request. But if you use `preferService` and deploy the operator on the cluster, then this

[2020-02-19 16:14] cmoulliard commented on #136
Correct. this is my fault as I was running the operator from my laptop

[2020-02-19 16:15] cmoulliard commented on #136
I did a successful test using the following syntax for ingress
[code]

[2020-02-21 07:37] #113 closed

[2020-02-21 07:39] pb82 commented on #90
Closing this because the ansible playbooks support a namespace param

[2020-02-21 07:39] #90 closed

[2020-02-24 19:29] jacobstr commented on #45
Yep - I tried what was suggested in https://github.com/integr8ly/grafana-operator/issues/45#issuecomment-529495895 and it failed to load the dashboard, falling back to my fallback json.

[2020-02-24 19:49] phillebaba commented on #130
One solution would be to add a [env from source](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#envfromsource-v1-core) to the CRD and pass it throught to the deployment that is created to the operator. The same thing could be done with config map configurations.

The problem would be figuring out how such a solution would be in conflict with things like the configuration done

[2020-02-25 20:59] ekarlso commented on #130
@phillebaba I dont really think so, if you concider that some things you woule like to configure via env vars and not via the ```yaml config:``` in the operator like secretRef's etc it makes sense.

[2020-02-26 06:36] Moulick commented on #130
The best would to add `env` so that at-least we can give additional env variable by variable initially till @pb82 can figure out `envFrom`

[2020-03-01 22:49] pb82 commented on #130
yes `envFrom` sounds like a really good solution. I experimented a bit with env vars and it seems like you can only override values that are already in your grafana.ini. I wasn't able to to configure Grafana only in terms of environment variables.

For the use case of admin credentials this would mean you have to provide an admin user and password in grafana.ini only to be able to override it with

[2020-03-02 07:39] pb82 commented on #133
Yep, feel free to send a PR :)

[2020-03-02 09:20] pb82 commented on #137
Closing as duplicate od #136

[2020-03-02 09:20] #137 closed

[2020-03-02 09:22] pb82 commented on #136
@cmoulliard @1337andre The suggested fix is included in the v3.1.0 release (thanks @cmoulliard for proposing and testing this)! The only assumption I make is that the ingress hostname will always be `https`. Do you think we should add an insecure / http option too?

Also, would you mind trying of v3.1.0 resolves your issue?

[2020-03-02 11:08] cmoulliard commented on #136
ingress can take care of that (I mean to send packets to http or https) https://kubernetes.github.io/ingress-nginx/user-guide/tls/#server-side-https-enforcement-through-redirect. So, I dont think that we must add a second option but instead document and log it correctly

[2020-03-02 13:03] afoninsky commented on #136
I have http ingress (tls terminates at top-level balancer) and have the same error in v3.1.0

[2020-03-02 13:17] pb82 commented on #136
@afoninsky Ok, so we probably should not assume always https. As a workaround, I think you can set `preferService`: https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#configuring-grafana-api-access (this forces the operator to use the service instead of the ingress).

[2020-03-02 13:58] afoninsky commented on #136
Sorry didn't mention, I have another error using "preferService": `error creating dashboard, expected status 200 but got 400`

[2020-03-02 13:59] pb82 commented on #136
Can you share the dashboard?

[2020-03-02 14:00] cmoulliard commented on #136
The message reported by the pod log is not enough and ideally the service, ingress URL should be logged to let the user to understand why controller cannot access the Grafan Admin UI/

[2020-03-02 14:02] afoninsky commented on #136
Shared it higher: https://github.com/integr8ly/grafana-operator/issues/136#issuecomment-593390851

[2020-03-02 17:37] robbieheywood opened #141 "`grafana-service` service created by operator is incompatible with istio"
Hey, we've recently started looking at this grafana-operator and it looks great!

We're working with istio and this has the requirement that port names in kubernetes services take the format `<protocol>-<name>` (see https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/?_ga=2.244585925.1579901792.1583165831-1390018523.1582296770). Since the port name created by the operator

[2020-03-02 17:40] robbieheywood commented on #130
+1 - we'd also find this really useful for our use case.

[2020-03-02 17:51] robbieheywood opened #142 "Allow ability to specify Grafana image version/tag in the Grafana CustomResourceDefinition"
Lots of other operators allow the ability to specify the base image used for the resource in the CustomResourceDefinition. We've found this to be really useful, as we can upgrade/patch the image without also having to also change/upgrade the operator.

For the grafana-operator, we could add a version/tag/image field to the Grafana CustomResourceDefinition to allow doing this. Is this something you

[2020-03-02 17:53] pb82 commented on #141
Hey @robbieheywood , the ability to customize the name of the default port has come up a few times, so happy to accept a PR if you want to take this on. Currently we explicitely disallow overriding the default port (see https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/model/grafanaService.go#L87), but this is mainly to ensure that there is always a service routing traffic t

[2020-03-03 07:57] pb82 commented on #141
As a workaround, what about adding an additional port (say 3001) named `http-grafana` and set the target port to the Grafana containers http port (3000). Then you can configure the ingress/route to target `http-grafana` instead of the default port.

We're doing something like this to inject an OAuth proxy between the service and Grafana: https://github.com/integr8ly/grafana-operator/blob/master/de

[2020-03-03 08:04] pb82 commented on #142
You can currently override the Grafana image using a flag: https://github.com/integr8ly/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-flags

[2020-03-03 10:25] robbieheywood commented on #142
Sure, you can override in the `grafana-operator`, but I was hoping ideally for a way on specifying this on the actual Grafana resource. This allows you to e.g. upgrade between different Grafana versions easily (because you can run two different versions of Grafana at the same time). At the moment, to update Grafana version, you have to rollout a new version of the `grafana-operator` and there's no

[2020-03-03 10:26] robbieheywood commented on #141
Ah great point! We will try that out 👍

[2020-03-04 15:00] david-martin commented on #142
@robbieheywood That's interesting.
One reason I've been reluctant to add support for specifying images is to ensure upgrading between different versions is more controlled. If the operand image can be changed by the user, then it makes it difficult for the operator to give any guarantees of supportability with different versions of the operand, particularly upgrading between 2 versions that would

[2020-03-04 23:38] robbieheywood commented on #142
Thanks for taking the time to reply @david-martin! By allowing the operand image version to be specified as an argument for the operator, doesn't the operator already need to support different versions?

[2020-03-06 10:05] yogeek commented on #36
Hello, this is a great idea ! Do you think it could be integrated in the next release ?
Thanks

[2020-03-06 10:43] pb82 commented on #36
Yes i think so. @allen13 are you still interested in contribution this? We can add a config section for folders to the Grafana CR and use a setting like `folderPerNamespace` to enable this.

[2020-03-09 05:42] bacek opened #143 "Way of provision custom notifier into provisioning/notifer"
Currently there is no way of automatically configure notifers in Grafana CRD. It will be really nice to have feature to be able to fully provision grafana from single CRD, same as Dashboards and Datasources.

[2020-03-09 13:34] Slach opened #144 "CR Grafana + service, type: LoadBalancer, kops/AWS service stay in pending external-ip status"
I have kops/AWS k8s 1.11.x without installed ingress deployment
I need create kind: Service with type: LoadBalancer for allow access to grafana outside from k8s cluster

I tried `grafana-operator:latest` and `grafana-operator:3.1.0`
with following custom Grafana resource

[code]

service `grafana-service` was created
but
kubectl describe -n my-namespace service/grafana-service

show following erro

[2020-03-09 13:50] Slach commented on #144
as i see in https://github.com/creditsenseau/k8s-aws-efs/blob/master/vendor/k8s.io/kubernetes/pkg/controller/service/servicecontroller.go#L339

I have a conflict between `grafana-operator` service rendering from Grafana CR and AWS cloud provider, but I don't understand root of the conflict

[2020-03-09 13:50] pb82 commented on #144
I'd guess the problem is that the operator constantly overwrites changes that Kubernetes makes to the service (https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/model/grafanaService.go#L116). This could be annotations that Kubernetes is trying to add to the service.

This is my guess because something similar can happen with deployments and we needed to make sure to merge th

[2020-03-09 15:05] allen13 commented on #36
Yeah, we have our version running in production and it's working quite well so I think we are good to contribute back now.

I did have to make a small change around generating dashboard ids to make each one truly unique for multitenant uses.

Currently we are letting grafana handle the ids https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/grafanadashboard/dashboard_pipeline.

[2020-03-09 20:04] renanqts opened #145 "Operator isn't creating Grafana Dashboard"
The issue is:
The operator isn't creating GrafanaDashboards present in the cluster when restarted.

Condition:
If the GrafanaDashboards are inserted in the cluster and you delete both pods (Grafana and Operator), when the operator comes up it will not create the dashboards in Grafana.

Logs:
You will see in the logs like below, but the logs of the dashboard submitted won't appear. Unless you creat

[2020-03-10 03:41] Slach commented on #144
@pb82 confirmed, create custom service with type: LoadBalancer

[code]
works fine as workaround

@pb82, could you try to merge states of services instead of overwriting?

[2020-03-10 07:57] pb82 commented on #144
@Slach Yes I think we should merge annotations for services too. Did Kubernetes add an annotation to your custom service? Or can you see any other modifications that Kube made?

[2020-03-10 09:09] Slach commented on #144
@pb82 as i see on https://github.com/creditsenseau/k8s-aws-efs/blob/master/vendor/k8s.io/kubernetes/pkg/controller/service/servicecontroller.go#L324

kubernetes for AWS cloud provider try update service status and got an error which recognizes as conflict

[2020-03-18 11:46] david-martin commented on #142
I guess you're right.
I think we made a concession when hit with the problem of having upstream & downstream (community vs. productised) image support. @pb82 Do you recall how that conversation went and what was agreed?

I'm starting to wonder if we might be putting the cart before the horse in terms of imposing restrictions before we know of specific restrictions that are needed to prevent proble

[2020-03-18 11:56] david-martin commented on #36
@allen13  This sounds robust.
1 suggestion, add a joining character between the 2 parts (and doesn't appear/is replaced in either side of the join)
e.g. 'mynamespace' and 'mycrd' get joined to be 'mynamespace-mycrd' & 'my-namespace' and 'my-crd' get joined to be 'my_namespace-my_crd'.

This avoids the edge case of a weird namespace/crd name overlap when joined. e.g.
- myprojectone dashboard
- mypr

[2020-03-18 12:30] pb82 commented on #142
@david-martin I think we decided to allow overriding the image so that we can use the productized image for our purposes, while still defaulting to the Grafana community image upstream (which is more suitable there).

[2020-03-19 11:10] allen13 commented on #36
If we went with that approach @david-martin we would need to truncate the name to 255 characters since all 3 fields have the same limit you could potentially go over by double. That should be rare though.

[2020-03-19 11:14] pb82 commented on #36
I think 255 chars is sufficient @allen13

[2020-03-24 23:38] jjhuff opened #147 "Support PersistentVolumes for database"
At the scale of my install, I'm reasonablly ok with just using the default sqlite DB on a persistent volume.
Consider adding that as an option (or allow the user to override the volume spec.)
It'd make a simple single replica install a little more failure tolerant.

Thanks!

[2020-03-25 14:39] jstakun opened #148 "Using Authorization header in Prometheus data source"
Hello

I'm trying to connect to Prometheus pod running in different project in OpenShift.

I've created data source which contains Authorization header definition:

[code]
It seems Authorization header is not set in the request sent to Prometheus because I can see in Grafana logs 401 Unauthorized errors.
When I curl from Grafana pod to Prometheus with the same token in works fine.

Please advice

[2020-03-25 20:49] Clarisel-Paulino opened #149 "Support for Azure AD integration with latest version of Grafana"
I want to be able to use Azure AD for Grafana authentication and authorization. This can be achieved using generic_oauth. However the latest version of Grafana (v6.7) supports the use of Azure AD Application Roles to assign users and groups to Grafana roles as documented [here](https://grafana.com/docs/grafana/latest/auth/azuread/).

I want to be able to do this in my manifest
[code]
However auth.

[2020-03-26 11:50] Cellebyte opened #151 "Support a Helm Chart to install the Operator"
* It would be nice if we have a Helm Chart to support easy installation.
* [https://github.com/Cellebyte/helm/tree/chart/grafana-operator](https://github.com/Cellebyte/helm/tree/chart/grafana-operator)

[2020-03-28 10:33] matancarmeli7 opened #152 "openshift 4.2 oauth doesn't sign in automatically"
I provisioned your grafana operator with the oauth cr, but after i entered my openshift credentials i signed as an anonymous user. I had an sign in option in the left bottom of the screen. But when i changed the config map grafana-config to this:
[code]

It signed me automatically with my openshift user.

Your original config map was:
[code]
The operator always change it back to the old config map

[2020-03-29 14:29] pb82 commented on #147
Would moving to Postgres be an option too? We have an example for this setup: https://github.com/integr8ly/grafana-operator/tree/master/deploy/examples/ha

[2020-03-31 18:18] Cellebyte commented on #151
Should I create a PR to submit it as a proposal?

[2020-03-31 18:22] AdheipSingh commented on #151
Nice, i guess that would be helpful. Rest @pb82 can check in ......

[2020-03-31 18:30] Cellebyte commented on #151
ok will do that tomorrow

[2020-04-01 09:34] shivpathak commented on #36
@all,

any estimates by when "Folder support for dashboard" feature would be available in grafana-operator CR ?

[2020-04-01 16:07] manicole opened #154 "GrafanaDashboards not provisioned in Pod"
Working on

* Kubernetes 1.16
* grafana-operator 3.1.0

I am trying to include some GrafanaDashboards in my Grafana Pod so that I can see them when starting the UI. It doesn't work, and I can't find why ... Any help appreciated.

**What I do**
1. Choose a namespace ("monitoring" in my case) and deploy grafana-operator in it.

2. Create a Grafana instance using Grafana CRD :
[code]
A grafana-deploy

[2020-04-06 04:41] Slach opened #155 "Howto install datasource plugin into grafana deployment with grafana-operator?"
As I see, currently, we can only define `plugins:` section only on `GrafanaDashboard` custom resource

but, if I try to add `GrafanaDashboard` with "__inputs" contains DS_SOMETHING it should resolve to exists `GrafanaDataSource` custom resource
which can't be installed cause when we use `.spec.datasources[*].type` which not exists in default grafana supported datasource plugins with error `Could n

[2020-04-06 07:52] pb82 commented on #155
Datasource plugins, like other types of plugins can be added via the `plugins` section of the dashboard. If the dashboard has an `__inputs` section, the inputs need to be mapped: https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md#datasource-inputs

You should be able to create a datasource even if the type does not exist in Grafana (yet). You will see an error me

[2020-04-06 08:39] pb82 commented on #151
thanks for the contribution @Cellebyte , i'll try to get to it asap. Unfortunately i'm not familiar with Heml.

[2020-04-06 08:49] pb82 commented on #154
@manicole `/etc/grafana/provisioning/dashboards` not existing is actually expected: that's the dashboard provisioning location where Grafana can import dashboards from the filesystem. However, the operator submits the dashboards directly using the API.

When your dashboards are in a different namespace than the operator, you need to enable multi namespace support by either setting the `--scan-all`

[2020-04-06 08:56] pb82 commented on #152
@matancarmeli7 The operator will always update the config map to match the Grafana CR. If you want to change values, you need to do it in the config section of the Grafana CR. All Grafana config settings are supported in the CR. But please keep in mind that when you disable basic auth, the operator can't submit dashboards. The operator requires basic auth to talk to the Grafana API.

[2020-04-06 08:58] pb82 commented on #148
Can you check the datasource in the Grafana UI (logged in as an admin user) and make sure that the `secureJsonData` is there too?

[2020-04-06 09:51] pb82 commented on #149
@Clarisel-Paulino yep, that would certainly be possible by adding it to https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/config/grafanaIni.go. I'll consider it for the next release, or if you want to send a PR you're very welcome to do so.

At the moment the config matches the Grafana 6.5 release so it looks like we'd need to update the default Grafana image too in order to

[2020-04-06 10:24] Cellebyte commented on #151
@pb82 If you have questions. Feel free to ask them.

[2020-04-06 11:52] Slach opened #156 "jsonData fields usefull for vertamedia-clickhouse-datasource plugin can't be processed via datasource_pipeline.go"
I use following `GrafanaDataSource`
[code]

rendered /etc/grafana/provisioning/datasources/*.yaml file
contains only `tlsSkipVerify: true` in `jsonData` section

[2020-04-07 09:41] jstakun commented on #148
When I create new grafanadatasource httpHeaderName1 and httpHeaderValue1 are removed from grafanadatasource definition when Grafana pod starts and are also missing in generated data source file inside Grafana pod in /etc/grafana/provisioning/datasources directory. I don't see them in Grafana UI as well.

When I add them again to grafanadatasource Grafana pod redeployment is not triggered by the op

[2020-04-07 10:05] pb82 commented on #148
Ok, so the reason for this is that `secureJsonData` doesn't allow arbitrary values but currently only supports the most common settings from the Grafana docs: https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go#L74

There is an open PR that adds some additional allowed fields, we could also add your field here: https://github.com/integ

[2020-04-07 10:56] jstakun commented on #148
I'm looking for the way to authenicate to Prometheus with Authorization: Bearer XXXXX http header.
As per Grafana docs: https://grafana.com/docs/grafana/latest/administration/provisioning/#datasources this is the way to do that.

[2020-04-07 16:41] #148 closed

[2020-04-07 16:41] #156 closed

[2020-04-08 13:34] manicole commented on #154
Thanks for answering.

Ok for `/etc/grafana/provisioning/dashboards`.

I arleady enabled `--scan-all` in grafana--operator, sorry for not telling so. Operator deployment :
[code]
I checked the logs and there actually is an ingress issue :
`{"level":"info","ts":1586352701.1236367,"logger":"action-runner","msg":"(    7)     FAILED check ingress readiness"}`

I tried adding the `preferService`argumen

[2020-04-08 13:42] #154 closed

[2020-04-08 16:45] slopezz opened #158 "New operator pod never becomes the leader after an eviction"
We are using  `grafana-operator:v3.1.0` (installed through `application-monitoring-operator:v1.1.4`).

We have seen regularly, that due to operator pod eviction (without cleaning lock configmag), when a new operator pod is created, it hangs forever with:
[code]

Until we manually delete the lock configmap, so new pod becomes the leader and start reconciling all grafana dashboards.

We've seen you

[2020-04-08 21:47] pb82 commented on #158
That's great to know that this has been fixed in the operator-sdk. Yes, we plan to upgrade to the most recent operator-sdk version. ping @david-martin

[2020-04-09 07:13] pb82 commented on #155
@Slach does the suggested solution work for you?

[2020-04-09 07:22] Slach commented on #155
My Current workaround I just install dummy dashboard with plugins: section
before installation my real dashboard

so adding `plugins` section to Grafana custom resource looks much better

[2020-04-09 07:57] Slach opened #159 "deploy/operator.yaml contains link to :latest image which don't updated 3 months"
when we look https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml#L20
contains link to :latest image which don't updated 3 months

could we change Docker image release process to tag `:latest` version to 3.2.0 and above?

[2020-04-09 14:57] morbid98 opened #160 "How does Dashboard sync work?"
So i wonder, how does Dashboard sync work.
For example, if we have a dashboard defined in a form if K8S manifest, operator adds it and then we change it in UI. Will operator update a dashboard with the one set in K8S or not?
The similar question about deleting a dashboard.

[2020-04-09 15:02] Cellebyte commented on #160
@morbid98 it is handled the same as with any dashboard provider.
https://grafana.com/docs/grafana/latest/administration/provisioning/#dashboards
So currently you can fork the provided dashboard but if you want to make changes to it you need to apply a new Manifest.

[2020-04-10 15:04] jstakun opened #161 "Grafana Dashboard not created"
I've deployed latest v3.2 operator, and GrafanaDashboard object creation fails. I see following logs:

`
{"level":"info","ts":1586530742.2700348,"logger":"controller_grafanadashboard","msg":"no grafana instance available"}
{"level":"info","ts":1586530747.4248114,"logger":"action-runner","msg":"(    0)    SUCCESS update admin credentials secret"}
{"level":"info","ts":1586530747.4368393,"logger":"ac

[2020-04-12 14:17] pb82 commented on #159
the `latest` tag is now up to date with the current release. At the moment this is a manual process. The `master` tag points to an image created for every merge into master.

[2020-04-14 21:20] bgottfried91 commented on #161
Experienced the same issue with both 3.0.2 and 3.2.0 - we installed the same Grafana,GrafanaDashboard,and GrafanaDataSource manifests into a namespace with a 2.0.0 version of the Operator and the dashboards were discovered and attached to Grafana without issue, but the 3.0.2 and 3.2.0 versions threw this error consistently and never added the dashboards.

This was on an Openshift 4.3 cluster, inst

[2020-04-15 04:15] marcolan018 opened #163 "rendering configuration is not support in grafana operator"
https://grafana.com/docs/grafana/latest/installation/configuration/#rendering

grafana operator does not parse the rendering related configuration.

[2020-04-15 07:26] morbid98 commented on #160
@Cellebyte to make things clear. If i apply dashboard manifest, will it be recreated after i delete it manually from UI?

[2020-04-15 14:35] flickerfly commented on #161
The CSV for 3.0.2 isn't in the master code base here either, just on operatorhub.io.
https://operatorhub.io/operator/grafana-operator

[2020-04-15 14:41] flickerfly opened #164 "Missing CSV here that is provided on OperatorHub"
We use our own operator registry. As such we like to grab the appropriate operator packages. We noticed in that process that OperatorHub.io has CSV version 3.0.2, but that isn't in the codebase here. Is this intentional or is there a preferred method of keeping up with these CSVs?

Also, we noticed CSV 3.0.2 doesn't have the `replaces` in it and are presuming that is because it is a full version u

[2020-04-15 17:27] pb82 commented on #163
The operator currently supports the Grafana 6.5 configuration options, was the rendering config added later? When we upgrade the base Grafana image we'll likely also add the new config options.

[2020-04-15 17:55] yogeek commented on #91
@pb82 is the latest tag up to date now please ? (cf. previous message)

[2020-04-15 20:37] pb82 commented on #91
Yes, I pushed it manually. It should be up to date now.

[2020-04-15 22:00] yogeek commented on #91
Thank you 👍
Is it possible to add it in your .travis file to avoid you to do it manually ?

[2020-04-16 07:04] tux-o-matic opened #165 "Usage of matchLabels in dashboardLabelSelector isn't documented"
There is only mentions of *matchLabels* as an alternative to *matchExpressions* but there is no example given or explanation of the format for configuring *dashboardLabelSelector*.

[2020-04-16 13:10] adamhosier opened #167 "GrafanaDatasource periodic resync does not work when WATCH_NAMESPACES="""
Hi, thanks for the great project!

We've encountered an issue where our `GrafanaDatasource` resources often are often missed by the controller. We apply the operator `Deployment` and the `GrafanaDatasource` resources together, and I imagine there is a race when the operator starts causing the datasource to be missed. The operator will create the `grafana-datasources` configmap, but will not popula

[2020-04-16 14:24] adamhosier commented on #167
closing as this appears to not be supported: https://github.com/integr8ly/grafana-operator/blob/master/documentation/multi_namespace_support.md#support-for-multiple-namespaces

[2020-04-16 14:24] #167 closed

[2020-04-16 21:37] gogineni99 opened #168 "Missing dashboards after nodes scaled down and up"
Hello,
  I am using grafana operator v3.1.0. Deployed in Kubernetes cluster and everything works fine with dashboards and datasources.

Here is the problem

- To save some costs,we shut down our nodes (not master) during off hours. So, the pods grafana-operator and grafana stay in pending state when nodes are shut down.
-  When we scale up the nodes in the morning the pods get deployed, but all th

[2020-04-20 05:33] dulltz opened #169 "Support for grafana container to connect to proxy server"
In OAuth protocol, a client sends a post request to OAuth service (e.g. GitHub).

And in some private environments, a client must pass the egress traffic to a proxy server.
In Grafana, we can set HTTPS_PROXY to pass the egress traffic to a proxy server.
([ref](https://github.com/grafana/grafana/issues/7859#issuecomment-287693711))

However, we cannot set environment variables to the grafana contai

[2020-04-20 08:56] masa213f commented on #130
+1
I want this feature. I want to specify the client_secret of the GitHub OAuth app with k8s secret.

[2020-04-20 09:45] kfyharukz commented on #130
@evq @pb82
I also want this feature. How about these changes?
https://github.com/integr8ly/grafana-operator/compare/master...kfyharukz:support-env-from-secret

[2020-04-20 10:02] pb82 commented on #130
@kfyharukz instead of using an array of `EnvVar`, what about using `envFrom` as proposed above?

[2020-04-20 10:37] kfyharukz commented on #130
@pb82 Oh, I see, like this? I briefly checked and it seems to work correctly.
https://github.com/integr8ly/grafana-operator/compare/master...kfyharukz:support-env-from-secret

[2020-04-20 14:37] pb82 commented on #164
correct, at the moment the only place where the CSV is located is the community operators repository: https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators/grafana-operator

It has worked so far but maybe not ideal as the single source of truth for the CSV. We might want to maintain it inside the operator repo.

[2020-04-20 14:48] flickerfly commented on #164
At the very least, no here if it isn't going to be kept up-to-date. Currently you have both and I assumed that this repo was the source since it is the one you control. I do appreciate that the one here is placed consistently with the Operator SDK standard in deploy/olm-catalog/*.

[2020-04-20 15:18] pb82 commented on #160
@morbid98 yes it will, the operator performs a periodic dashboard resync. This also means that all the changes that you apply to dashboard via the Grafana UI will get overwritten. So if you want to make changes to a dashboard, they have to be made in the dashboard CR.

[2020-04-20 15:19] ubsujit opened #171 "Can prometheus pod running in diffrent namespace can be Datasource for grafana?"

[2020-04-20 15:22] pb82 commented on #161
Hmm, did the dashboard CRs still have the status block from the old operator version? You can try to remove the status block and see if that gets it imported.

[2020-04-20 15:23] pb82 commented on #159
Closing this but might create a new issue to automate this process.

[2020-04-20 15:23] #159 closed

[2020-04-20 15:25] pb82 commented on #171
Yes, that should be no problem. You can use the DNS name to connect to a service in a different namespace: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#services

[2020-04-20 15:28] pb82 commented on #168
Sounds similar to https://github.com/integr8ly/grafana-operator/issues/145

There is a proposed fix for this that we need to get verified.

[2020-04-20 16:00] morbid98 commented on #160
@pb82 actually, I didn't see my dashboard recreated. There was a message about sync in logs,but that was it,no dashboard was recreated,only restarting Grafana helped.

[2020-04-21 11:50] morbid98 commented on #160
Update: deleting Dashboard and it being recreated just worked. Maybe i did something wrong, closing this issue, @pb82 thanks for claryfing!

[2020-04-21 11:50] #160 closed

[2020-04-22 07:02] tux-o-matic opened #172 "Clearly document that scan-all only applies to Dashboard"
The documention mentions in multiple places about the scan-all argument. But there is only one [place](https://github.com/integr8ly/grafana-operator/blob/c4d15293767f86affb12c9d5f3b7b5ba1ecea1f2/documentation/multi_namespace_support.md#support-for-multiple-namespaces) in the documentation explaining that *Grafana* and *GrafanaDataSource* CR will not be detected in other namespaces.

[2020-04-22 13:44] morbid98 opened #173 "Additional InitContainers are not supported for Grafana CRD"
Sometimes there is a need to have an additional InitContainer along with plugin installer. Why is there no possibility to add one? For example, whenever i try to setup github auth, i need to set clientid and clientsecret. Showing them plaintext is a really bad idea, so changing config file during init would be a much better solution.

[2020-04-23 05:39] dulltz commented on #169
Init container init-grafana-plugins also requires `HTTPS_PROXY`.

[2020-04-23 05:52] dulltz commented on #169
And I found that the HTTP client of pluginsHelper does not prepare proxy setting.
https://github.com/integr8ly/grafana-operator/blob/674aca8f3fe8333eae37a982abc551355c87d163/pkg/controller/grafana/pluginsHelper.go#L18-L20

We can set proxy setting like this:

[code]

[2020-04-23 14:38] jstakun commented on #161
I've deployed grafana operator from latest image on fresh cluster and it worked fine. Not sure if you've changed anything in the operator or I had something wrong on my cluster due to earlier operator installations

[2020-04-23 14:38] #161 closed

[2020-04-28 08:12] kfyharukz commented on #130
I'm going to prepare PR in a few days.

[2020-04-28 08:24] dulltz opened #174 "Cannot create multiple Grafana in the same namespace."
I tried to create multiple Grafana CRs in the same namesapce.
However, the generated resource names are duplicated since they are hard-coded such as `grafana-service` or `grafana-admin-credentials`.
As a result of it, I failed to create multiple Grafana CR on the same namesapce.

I think we should support multiple Grafana in the same namespace.
If grafana-operator builds resource names as ${grafan

[2020-04-28 21:20] mrethers opened #175 "no matches for kind \"Route\" in version \"route.openshift.io/v1\""
I cannot create a default Grafana instance in my Openshift 4.2 cluster. I installed the operator through the Openshift web console and tried to create the instance from there as well, using the default YAML. The error in the operator pod indicates the issue in the title, see logs below. This is pretty recent as I was able to install it just fine about a month ago.

Thanks

[code]

[code]

[2020-04-30 04:58] dulltz commented on #174
Moreover, it seems that grafana-operator cannot detect Grafana CRs in namespaces except for grafana-operator's namespace. [(ref)](https://github.com/integr8ly/grafana-operator/blob/master/documentation/multi_namespace_support.md#support-for-multiple-namespaces)

As a result of them, grafana-operator can deploy single grafana CR only, is it true?

[2020-04-30 05:58] Daiki-Kawanuma commented on #123
@pb82 Hi,
Do you say this feature must be used at grafana namespace only?

[2020-04-30 06:45] pb82 commented on #123
@Daiki-Kawanuma what feature do you mean? The Grafana CR and the GrafanaDatasource CR are required to be created in the operator namespace. The GrafanaDashboard CR can be in other namespaces too if the operator is configured accordingly.

[2020-04-30 06:51] Daiki-Kawanuma commented on #123
@pb82 Sorry for my poor English.
I want to ask you if the operator namespace name is restricted to "grafana".
It seems that your answer is "No".

Your answer: "(it's hardcoded to grafana)" confuse me.

[2020-04-30 06:56] pb82 commented on #123
@Daiki-Kawanuma no problem at all. The namespace name is not restricted to `grafana`. It's only  that some of the examples use `grafana` like for exampe  https://github.com/integr8ly/grafana-operator/tree/master/deploy/examples/oauth. If you want to try those examples, have a look at the resources first because sometimes they just assume that there exists a namespace with the name `grafana`. But y

[2020-04-30 07:01] Daiki-Kawanuma commented on #123
@pb82 Thank you! I got it!
Now I'm using Grafana Operator 2.0.0 so that it seems that spec.containers doesn't work.
I will update Grafana Operator 2.0.0 to 3.2.0

[2020-04-30 07:03] pb82 commented on #123
Ah yes, 2.0.0 is rather old and there is a known issue with `spec.containers` that was fixed in later versions. The latest release is 3.2.0 and you can find the image here: https://quay.io/repository/integreatly/grafana-operator?tab=tags

[2020-04-30 08:35] kfyharukz commented on #130
I've implemented `envFrom` in Grafana deployment at #176
@pb82

[2020-04-30 14:27] raffaelespazzoli opened #177 "3.x released on operato hub"
when can we have the 3.x versions of this operator released on operator hub?

[2020-05-01 10:08] Daiki-Kawanuma commented on #123
@pb82 I could have deploy Grafana and OAuth proxy with Grafana Operator 3.2.0.
Now I can login Grafana with cluster-admin user but cannot login with developer user.

cluster-admin user: "groups":["system:authenticated","system:cluster-admins"]}
developer user: "groups":["system:authenticated","system:authenticated:oauth"]

I want to realize multi tenancy that means developer users can only watch m

[2020-05-01 12:45] pb82 commented on #171
Closing this, feel free to open another issue if you have trouble connecting to Prometheus.

[2020-05-01 12:45] #171 closed

[2020-05-01 19:54] rverma-jm opened #178 "Support importing dashboard by id."
From docs it seems we are not supporting importing dashboards by id.
Would be nice if that can be supported.

[2020-05-02 13:15] Daiki-Kawanuma opened #179 "GarafanDashboard is not loaded because of "No such file""
Working on
- Kubernetes 1.16(OpenShift 4.3)
- grafana-operator 3.2.0

My Grafana out below logs.
[code]

I know a similar issue.
https://github.com/integr8ly/grafana-operator/issues/154

But my Grafana and Grafana Operator can load GrafanaDataSource CR, so that Ingress(Router) seems to have no problme.

What is the problem?

[2020-05-04 05:05] Daiki-Kawanuma commented on #179
I could solve my problem.
The CRD of my Grafana was old which is version 2.0.0 .
I renewed CRD 2.0.0 to 3.2.0 .
It works fine for me.

[2020-05-04 05:05] #179 closed

[2020-05-04 07:02] #173 closed

[2020-05-04 10:55] toidi opened #180 "Support grafonnet-lib dashboards"
Grafana offers a declarative way for generating Grafana dashboard.

This is a proposal to support dashboards in [jsonnet](https://jsonnet.org/)([grafonnet-lib](https://github.com/grafana/grafonnet-lib)) format.

So, that in addition to raw JSON dashboards it's possible declaring dashboards in jsonnet format using grafonnet-lib.

[2020-05-07 04:01] jinleileiking opened #181 "[feature request]support image render"

[2020-05-07 14:50] kevchu3 opened #184 "Reconciler error for Grafana CR"
**Bug description**

I am using the grafana-operator (specific image: `quay.io/integreatly/grafana-operator:v3.2.0`) and receive the following error from the pod log, which repeats fairly often:

[code]

**Steps to reproduce**

I deployed the grafana-operator and confirmed it is up and running.  The grafana-deployment pod spun up successfully as well.

[code]

The `grafana-operator` is unable to i

[2020-05-08 16:02] pb82 commented on #184
From the logs it looks like Grafana was deployed. The Grafana CR is what triggers the Grafana operator to create the deployment. Once Grafana is running it means that the CR was imported.

Or do you mean you had trouble importing dashboards?

[2020-05-08 18:30] kevchu3 commented on #184
Hi @pb82

If I haven't created a Grafana CR yet, the grafana-operator pod logs will output `running periodic dashboard resync` and `no grafana instance available`, as expected.  I'll have a grafana-operator pod successfully deployed and running, but obviously there are no grafana-deployment pods.

When I create the Grafana CR (see above YAML as an example), the grafana-deployment pod spins up succ

[2020-05-08 20:34] kevchu3 commented on #184
To add a little context to reproducing the issue, I've had some difficulty going about it.  I've deployed `quay.io/integreatly/grafana-operator:v3.2.0` and `docker.io/grafana/grafana:6.5.1` images a number of times in the past month or so, usually with success.  Then, a couple of days ago, I repeatedly hit this issue even as I recreated the objects (even recreated the namespace each time) and atte

[2020-05-11 10:33] pb82 commented on #181
@jinleileiking are you referring to this: https://grafana.com/docs/grafana/latest/administration/image_rendering/

Looks like there is a plugin available: https://grafana.com/grafana/plugins/grafana-image-renderer
Have you tried to install that?

[2020-05-11 10:34] pb82 commented on #180
I've thought about this too. Currently i think you could precompile the jsonnet and then copy the generated json. But supporting jsonnet directly should certainly be possible.

[2020-05-11 10:36] pb82 commented on #178
Do you mean importing dashboards from the grafana.com registry? I agree this would be nice. We currently support importing dashboards from URL but this won't work for grafana.com because the download link is an octet stream.

[2020-05-11 11:16] toidi commented on #180
Yes, precompiling is what we're currently doing.

[2020-05-11 11:17] toidi commented on #180
for jsonnet - what would you do?

Add a field in GrafanaDashboardSpec or introduce a new type or reuse json field for jsonnet(as a valid json is a valid jsonnet).

[2020-05-11 12:33] jinleileiking commented on #181
https://github.com/grafana/grafana-image-renderer#install-in-grafana-docker-image As this link said. It seems imagerender cannot worked well in official docker image. @pb82 I will test plugin way when I have time

[2020-05-11 14:57] mrethers commented on #178
👍

[2020-05-11 15:40] mrethers commented on #175
This goes away when removing the ingress spec, but doesn't create the route in that case

[2020-05-12 15:02] pb82 commented on #168
Fixed in https://github.com/integr8ly/grafana-operator/pull/146 and released in v3.3.0

[2020-05-12 15:02] #168 closed

[2020-05-12 16:17] pb82 commented on #145
Fixed in #146

[2020-05-12 16:17] #145 closed

[2020-05-12 16:53] rverma-jm commented on #174
Facing issue cause of this, it would be nice if we can support a different namespace for grafana. Its alright(even preferred) to place data sources in same namespace as in grafana.

[2020-05-13 08:51] pb82 commented on #133
fixed in #150

[2020-05-13 08:51] #133 closed

[2020-05-13 08:53] pb82 commented on #152
Closing this as the behavior is expected.

[2020-05-13 08:53] #152 closed

[2020-05-14 11:50] pb82 commented on #158
Should be fixed with #162 in v3.3.0

[2020-05-14 11:50] #158 closed

[2020-05-15 09:45] fischerman commented on #180
Grafonnet is often used with mixins. The challenge here would be dependency management or allowing multiple jsonnet files in general.

[2020-05-15 10:01] pb82 commented on #180
It would definitely be a new field in the Dashboard CR. We wouldn't reuse `json` for this. As for dependency managedment, i'm not quite sure yet. I need to familiarize myself with jsonnet + grafonnet. Maybe we could ship some commonly used Mixins? Or perhaps it could be handled similar to dashboard plugins where your CR specifies the required mixins and the operator then makes sure they exist in t

[2020-05-22 21:26] kevchu3 commented on #184
It turns out my inability to import the dashboards was related to my usage of notification IDs throughout my dashboards, and I was able to solve this issue as follows.

In https://github.com/grafana/grafana/pull/19882, the notification IDs are now translated to UIDs, and the following syntax below is no longer valid:
[code]

To resolve the issue, I updated the snippet code as follows:
[code]

[2020-05-22 21:26] #184 closed

[2020-05-26 17:08] Slach opened #188 "deploy/operator.yaml broken"
[code]
failed

Failed to pull image "quay.io/integreatly/grafana-operator:latest": rpc error: code = Unknown desc = Error response from daemon: unknown: Tag latest was deleted or has expired

https://quay.io/repository/integreatly/grafana-operator?tab=tags

latest tag not found

[2020-05-26 17:21] yogeek commented on #188
Same thing here but with an already deployed instance of grafana-operator : we were obliged to drain the node on which the deployment was for maintenance reason and when the pod was moved to another node : `ImagePullBackOff` ... why did the latest tag disappeared ?

[2020-05-26 18:05] nbari commented on #188
Probably related but I can't install using:

[code]

It just prints:

[code]

How are you installing the operator?

[2020-05-26 18:18] Slach commented on #188
@pb82  https://quay.io/repository/integreatly/grafana-operator?tab=history
look like tag latest was removed 4 hour ago

[2020-05-27 08:22] pb82 commented on #188
That's odd, certainly not intentional. I've restored the latest tag now.

[2020-05-27 14:02] avrahams opened #189 "Support for using secrets in datasources configuration"
In Openshift I am trying to use the Cluster-Logging Elasticsearch as a data source.
The Elasticsearch service is using an an authorization token, so currently I need to write the token in the datasoure definition.
[code]
I wish to be able to use secrets in the data-source instead of writing the token string in the yaml

I expect to be able to write something like:
[code]

[2020-05-27 14:17] #188 closed

[2020-05-27 15:35] 1337andre opened #190 "Support for mounting secret/configmap"
i tried to use generic_oauth with my IDP, which exposed self-signed certs.

I am able declare secrets in grafa
[code]

But this secret will be mounter in
[code]

is there any way to specify mountPath like /etc/ssl/certs/ ?

Furthermore

would it be possible to define attributes for cert path via grafana crd?

tls_skip_verify_insecure
tls_client_cert
tls_client_key
tls_client_ca

[2020-05-27 19:03] avrahams commented on #189
#130 is similar - but not mentioning explicitly the data-source resources

[2020-05-28 04:20] AdheipSingh commented on #190
I guess we don't have an option to specify volumeMounts in the deployment spec. Shall we add volumeMounts as key in the deployment crd @pb82 ?

[2020-05-29 09:07] michalzxc opened #191 "Add alertmanager plugin"
Vanila grafana docker allows to install plugins by env VAR like this:
[code]

This is alertmanager plugin, what allows to display alerts in grafana.
Could you add this plugin to grafana created by grafana operator?

[2020-05-29 17:47] pb82 commented on #191
@michalzxc Yes, plugins can be added through dashboards: https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md#plugins

It should work although its probably not the ideal way for the alertmanager plugin.

[2020-06-01 12:39] raffaelespazzoli opened #192 "add support for TLS settings for generic_oauth"
please add support for these the TLS related parameters for the `auth.generic_oauth` config section.
these parameters don't seem to be currently documented, but can be found here:
https://github.com/grafana/grafana/blob/7afdfd2ef46c54ccbec275b45b340def4846d112/pkg/login/social/social.go#L98

see also this: https://github.com/grafana/grafana/issues/25266

[2020-06-03 03:07] veer123prathap opened #193 "Add flowchart plugin"
How to add a flowchart plugin to Grafana instance?
we go through these link  plugins can be added through dashboards: https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md#plugins

But, we don't want to download from the Grafana plugin registry. Is there any other way to add a flowchart plugin to Grafana.

how to add bundle flowchart plugin into grafana instance

[2020-06-03 03:41] Slach commented on #193
@pb82 look like grafana-operator, need grab functionality  from https://github.com/devopsprodigy/grafana-plugin-installer
and install any version of grafana plugin via kubernetes job?

[2020-06-03 12:27] nlamirault commented on #36
@pb82 any news on adding this feature?

[2020-06-03 13:37] pb82 commented on #192
sounds reasonable, as long as the Grafana ini accepts the undocumented properties. I'll see if we can get that into the next release.

[2020-06-03 14:45] nbari opened #194 "how to run locally (better docs)"
I am a newbie regarding k8, so please bear with me, I have being trying to install the operator locally but can't follow, understand this from the README:

[code]

I have `minikube`, already cloned the repo (https://github.com/integr8ly/grafana-operator) and ran: ` kubectl create -f deploy/crds`:

[code]

I installed `opensdk` using `brew install operator-sdk` but then I am stuck with:

     opera

[2020-06-03 15:24] AdheipSingh commented on #194
@nbari Here are some steps you can follow
1. Deploy the CRDS
2. Run the operator-sdk up local ( this may change to run --local --watch-namespace with sdk versions)
3. You should see the operator-sdk logs on your local, without any error such as grafana CRD missing.
4. After you see this running something like this
[code]
5. This sdk will look for the kubeconfig in your .kube folder by default
6. Y

[2020-06-03 16:23] nbari commented on #194
Hi @AdheipSingh many thanks for the help I was available to run it using:

    kubectl create namespace operator

I cloned the repo:

    $ git clone https://github.com/integr8ly/grafana-operator
    cd grafana-operator

I deployed the cdr:

    kubectl create -f deploy/crds

And then using the `operator-sdk`:

    operator-sdk run local --watch-namespace operator

This is the version I have: ` op

[2020-06-04 11:09] pb82 commented on #36
We actually discussed this yesterday and will start working on it soon-ish.

@david-martin Ok to create a ticket for this to address it in the current spring?

[2020-06-04 13:48] david-martin commented on #36
Someones is missing Java :)

Sure.
So, put dashboards into folders named by the namespace the GrafanaDashboard CR came from?

[2020-06-05 14:48] kernel164 opened #195 "Is it possible to use this operator with existing grafana service?"
I would like to use this operator for dashboard and datasource crd with prometheus-operator grafana.

[2020-06-05 16:50] pb82 commented on #195
It is possible, as long as the name of the existing service does not conflict with the one created by the operator (`grafana-service`). You can disable the route/ingress but there is currently no way to stop the operator from creating that service.

[2020-06-05 16:53] pb82 commented on #194
@nbari yes, you can use one of those examples. To deploy Grafana you could create for example this: https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/Grafana.yaml

The command would be: `kubectl create -f deploy/Grafana.yaml -n <your namespace>`. This will trigger the operator to install Grafana in that namespace.

[2020-06-05 16:55] pb82 commented on #193
@veer123prathap At the moment this is not possible, all plugins are downloaded from the Grafana registry. The plugin architecture changes a bit in Grafana 7, so I need to take a look and possibly revise the way we install plugins.

[2020-06-05 19:26] #194 closed

[2020-06-09 08:10] pb82 commented on #36
@allen13 would you be interested in sending a PR for this?

[2020-06-09 08:19] tsailiming opened #197 "Grafana deployment pod fails with path error"
Hi,

I'm using the upstream community operator v3.2.0 on OpenShift. The operator is installed successfully.

However, when I create a grafana cr, I get the following error in the grafana pod

[code]

I used to have this working but not anymore.

[2020-06-09 08:39] pb82 commented on #197
We don't provide those volumes anymore because we don't use provisioning: dashboards are imported using the API and notification provisioning is optional as far as i am aware. Is the pod failing, i.e. is the readiness or liveness probe failing?

I would expect those to be warnings and not errors, but I'll have a look.

[2020-06-09 08:43] tsailiming commented on #197
The Grafana CR is having the `reconciling` status, however the Pod is Running and Ready.

The route works too.

[2020-06-09 08:48] pb82 commented on #197
`reconciling` is the expected status, it means there were no errors creating the resources and the operator is now keeping them reconciled.

I guess we should still try to avoid any errors and warnings in the grafana pod.

[2020-06-09 08:57] tsailiming commented on #197
Yeah, if we put this to warn or remove it that will be better. It threw me off because of the errors.

[2020-06-09 09:06] tsailiming commented on #197
I tried the Dashboard creation and is now failing

[code]

The CR returns with a status
[code]

Though I can login to the console and create my own dashboard.

[2020-06-09 09:13] pb82 commented on #197
Can you share your Grafana CR? This usually happens when you disable basic auth (api access currently relies on this being enabled).

[2020-06-09 09:30] tsailiming commented on #197
Yup that was it. Fixed it by changing

[code]

[2020-06-09 10:26] pb82 commented on #197
Closing as resolved

[2020-06-09 10:26] #197 closed

[2020-06-09 15:58] adamhosier opened #199 "Allow configuration of ServiceAccount `imagePullSecrets`"
Hey, thanks for the great project! Our infrastructure hosts images in a private container registry, including those used by the grafana deployment this operator generates. We override the image to our private mirror using the operator's `--grafana-image` flag, but have no way to give the grafana deployment access to the credentials it needs to pull images.

The `GrafanaServiceAccount` type current

[2020-06-09 18:15] allen13 commented on #36
Sorry, I don't think I will have the time to dedicate to push this through. I diverged our code base enough that porting over a commit won't work. I had a lot of issues around concurrency so a many things had to be redone.

[2020-06-09 18:36] pb82 commented on #36
@allen13 that's ok, we'll base it on your suggestion then. Thanks!

[2020-06-09 18:36] pb82 commented on #195
@kernel164 did the suggested solution work for you?

[2020-06-10 05:21] AdheipSingh commented on #199
@adamhosier +1 for this.
Ill add a PR for this shortly. :)

[2020-06-10 07:08] pb82 commented on #199
Thanks @AdheipSingh . Yes, that seems to be a reasonable feature to add.

[2020-06-11 05:51] kernel164 commented on #195
Haven't tried yet. Will probably give it a try by next week. I don't want to have another grafana running. Any plans to support this feature ?

Something like this...
[code]
or probably have a different Kind: GrafanaService

[2020-06-15 10:59] pb82 commented on #195
Right, so i misunderstood this. You didn't mean a 'Service' in the Kubernetes networkig sense but another Grafana instance. No, the operator will always create a deployment with a Pod running Grafana.

[2020-06-16 10:26] tjololo opened #203 "Hitting configmap size limit with many dashboards in one grafana deployment"
After creating a number of dashboards (20-30 dashboards) we are experiencing error in the operator logs:

`"caller":"controller/controller.go:209","msg":"Reconciler error","Controller":"grafanadashboard-controller","Request":"mon/overview","error":"ConfigMap \"grafana-dashboards\" is invalid: []: Too long: must have at most 1048576 bytes","stacktrace":"... omitted for brevity..."`

I can see that

[2020-06-17 07:04] pb82 commented on #203
@tjololo What version of the operator are you using? I'm assuming it is version <= 2.0.0. From 3.0.0 onwards we no longer use config maps because of the size limitation. Instead we submit them directly using the Grafana API.

The latest release (https://github.com/integr8ly/grafana-operator/releases/tag/v3.3.0) is not yet in the OpenShift OLM Catalog. Do you have a way of installing it via a deplo

[2020-06-17 07:40] tjololo commented on #203
Your assumtions are correct we are running 2.0.0.
Do you know when the latest release will be available in the OpenShift OLM Catalog (days/weeks/months)?
We can deploy it via deployment, but would prefer installation via the Catalog

[2020-06-17 13:45] HubertStefanski commented on #36
FYI: Folder support is being added in #201 (should land soon)

[2020-06-24 09:30] pb82 commented on #36
Hey everyone, this change has now been implemented by @HubertStefanski in #201

Would love to get some feedback from all of you. We've decided to make this *not* optional, so whenever a dashboard gets imported, it will be placed into a folder named after it's origin namespace. This also means that dashboards will no longer overwrite dashboards with the same name in a different namespace. In our ca

[2020-06-24 16:28] HubertStefanski commented on #36
@zendai @allen13 @nlamirault @yogeek @rverma-jm @emilingerslev Pinging you guys to weigh in on this :+1:

[2020-06-25 10:08] HubertStefanski commented on #36
I'd like to open this conversation to the community, seeing as the request came in from here, I'd appreciate some opinions

The idea is to allow users to specify their own folder names in the operator (Through .yaml or such) as opposed to forcefully assigning it to a folder titled after the namespace of that dashboard, This should allow us to group dashboards into folders when we find such a need,

[2020-06-25 12:46] pb82 commented on #36
I would agree that this is a user problem

what about a folder spec item like:

[code]

if both are present then `name` wins. If no folder spec item is present then assign to default folder like presently. I also think that some folder cleanup is required but i'm not sure if we can simply delete empty folders (the user might have created those manually). So maybe every folder that is created by th

[2020-06-25 13:31] HubertStefanski commented on #36
I think that would be the ideal solution.

I wonder if we could use the `"CreatedBy":""` field from the folder api response to determine whether we can delete this or not i.e `if folderHasNoDashAssigned(folder.ID) == true && folder.createdby == "grafana-operator" { DeletefolderbyID(folder.ID) }` :thinking: This needs some further investigation, I assume that that field is somehow retrieved from th

[2020-06-25 15:47] pb82 commented on #36
@HubertStefanski can we set the `createdBy` field freely? I'd assume it gets set to the user who created the folder and in the operator's case that will be the admin user.

[2020-06-25 15:51] nlamirault commented on #36
Yes !
Our Grafana is deployed into a *monitoring* namespace.
it would be nice to have all the dashboards in this namespace. However, being able to specify different folders.

[2020-06-25 16:31] HubertStefanski commented on #36
@pb82

Hmm, True, I was just speculating whether we could differentiate the dashboard using that and haven't looked much into it since that work has been put off until next sprint.

***Idea no. 1 :*** probably the simplest approach (doesn't involve storing anything anywhere) is to simply get all namespaces from the cluster and if an empty folder exists with with a title matching one of the retriev

[2020-06-25 20:25] robertely opened #207 "Unable to start grafana deployment if namespace has a ResourceQuota. (Init containers not defining resources.limits)"
When testing out this operator we ran into a problem where the init containers are created without resources.limits/requests. As such when a ResourceQuota is defined on the namespace it is unable to start.

To reproduce apply the following resource quota to a namespace and attempt to deploy the grafana operator. (you will need to apply limits to the operator deployment.)
[code]

[code]

As a work

[2020-06-25 20:43] robertely opened #208 "spec.client.preferService appears to still try to use the ingress for configuration."
This Issue is related to the behavior discovered here: https://github.com/integr8ly/grafana-operator/issues/154

When using this operator in minikube with out an ingress controller configured we found that only setting `spec.ingress.enabled: false` would allow the operator to create dashboards. It wouldn't work with out it.

I would expect `spec.client.preferService` to have that effect, but it do

[2020-06-25 21:06] pb82 commented on #208
@robertely which version of the operator are you running? I'll have a look at that.

[2020-06-25 21:30] robertely commented on #208
We are testing with versions 3.4.0 and 3.3.0

Thanks!

[2020-06-26 02:30] stgarf commented on #207
I've opened PR #209 as one potential fix that provide the least amount of _"friction"_ in terms of the Grafana CRD spec.

I've also [prepared another commit](https://github.com/integr8ly/grafana-operator/compare/master...stgarf:init-container-limits) that is slightly more flexible in that you can specify limits for `initContainers` vs `containers` but this commit slightly changes the CRD spec so y

[2020-06-26 07:27] pb82 commented on #207
Thank you very much @stgarf , the PR looks reasonable. I wonder if it's usually ok to apply the same requests and limits to the init container? Might look into how other operators handle that. Regarding your other PR, as long as we only add optional fields to the CRD there should be no upgrade conflicts.

[2020-06-26 07:36] #195 closed

[2020-06-26 07:37] pb82 commented on #191
Will look a bit more into plugin management when upgrading to Grafana 7.

[2020-06-26 07:37] #191 closed

[2020-06-26 07:40] #193 closed

[2020-06-26 07:42] pb82 commented on #180
We have an initial implementation for this in #202

This uses Google's jsonnet implemenmtation in Go and the operator comes with the Grafonnet library preinstalled. We were discussing ways to add additional libraries and will probably implement a config map based approach: you can create a config map with a list of repositories of jsonnet libraries. If the operator detects such a library, it will

[2020-06-26 07:44] pb82 commented on #147
Implemented in #186

[2020-06-26 07:44] #147 closed

[2020-06-26 07:48] pb82 commented on #74
fixed in #205

[2020-06-26 07:48] #74 closed

[2020-06-26 16:13] stgarf commented on #207
@pb82 Having the same requests limits is probably okay but I’d say in the majority of cases its probably a naive way of solving the problem because initContainers typically are short lived and don’t need many initial resources for their tasks.

[2020-06-26 17:00] HubertStefanski commented on #208
@robertely

Is this the create dashboards functionality or the operator itself that wasn't working?
I'm asking because I've also been recently testing out a few changes to the operator using minikube and came across a similar issue, I'm not sure whether having the ingress configured is necessary or at least shouldn't require a lot of configuration to have it run with minikube (although you might h

[2020-06-26 17:06] HubertStefanski commented on #174
@dulltz @rverma-jm  There's some planned work involving the ability for Grafana's to be managed by operators from different namespaces coming up soon, Not sure of the timeframe though so I can't give a definite "When".

[2020-06-26 17:26] toidi commented on #180
Good to hear. We'll try that out early July.

[2020-06-26 18:40] robertely commented on #208
The operator is able to start, and it's able to create the Grafana deployment, but it doesn't seam to be able to configure it past that. It appears the operator can't reach the API, and assumes grafana isn't running.

Config:
- Minikube started with defaults. No Ingress controller.

Operator:
- spec.ingress.enabled: True
- spec.client.preferService: True

The Grafana deployment was created and it'

[2020-06-26 19:58] HubertStefanski commented on #208
Hmm, Okay, so If your goal is just to make it work with minikube while having the `spec.ingress.enabled: True` field set we just need to run the following command for minikube from the shell.
[code]
Which should enable the ingress component for minikube (my guess is that it's turned off by default to save resources)
That would make it pass the `ingress readiness` check and allow it to see the Graf

[2020-06-26 20:01] stgarf commented on #207
@pb82 👋, I've [pushed a commit](https://github.com/integr8ly/grafana-operator/pull/209/commits/f883a333bd35cd6141c6fcb0b53fcb1ca0022e36) to add an optional `initResources` field to the spec which I think this is the cleanest way forward.

[2020-06-26 20:29] robertely commented on #208
Yep, i can make it work. I was just pointing out the confusion around `spec.client.preferService:`.  Doesn't seem to make it actually use the service. It's still trying to use the ingress. It's strange to have an ingress dependency on an internal service.

[2020-06-26 21:05] HubertStefanski commented on #208
Yup, Thanks for pointing that out Robert! I'll mention this issue on the next call regarding this operator, and we'll probably plan some work coming out of that so I'll update this thread when we do have some more info about where this is headed, but feel free to make any PR's or further suggestions if you see fit in the meanwhile. @pb82 and I are happy to help.

[2020-06-29 11:17] andrew-garner opened #210 "Support for installation on OpenShift via the comunity-operators repo"
OpenShift pulls details of community Operators from https://github.com/operator-framework/community-operators/tree/master/community-operators/grafana-operator which was updated last October with v2.0.0. I see that there is a later version on operatorhub.io which is in the README as the source for installation. Will you be supporting installing on OpenShift from the community-operators repo in futu

[2020-06-29 16:58] robertely commented on #208
Thanks @HubertStefanski,
We are just starting to build out internal deployment of this operator and would defiantly like to help out where we can. I think we have a couple more issues we can file and some small PRs to start as well.

Thanks again for the help so far!

[2020-06-29 17:17] robertely opened #212 "Operator readiness probe, not present or not working"
Hello,

I've found a few references to a `readinessProbe` provided by the operator SDK:
https://github.com/integr8ly/grafana-operator/search?q=%2Ftmp%2Foperator-sdk-ready&unscoped_q=%2Ftmp%2Foperator-sdk-ready

I haven't seen that probe ever pass and I don't see where the operator SDKs ready functions are being called. Was this left over from some boilerplate ?

~Additionally I also saw references

[2020-06-29 17:37] robertely commented on #212
Actually, I just answered the second question my self. I noticed a `/metrics` endpoint is exposed on port 8080. I can at least make a pr to document that.

[2020-06-30 09:57] HubertStefanski commented on #208
Great! Whenever you do get around to it just ping us on the PR and we'll take a look.

To update on this issue, we have this ticketed in our JIRA and will take this on relatively soon. :+1:

[2020-06-30 17:39] HubertStefanski commented on #203
@tjololo I'll leave @pb82  to answer this in  #210

[2020-07-01 08:58] pb82 commented on #212
Hmm, we recently removed the readiness probe in #205 because of a bug in the operator sdk: the probe was deadlocking the operator on upgrade because it tried to become a leader before the probe could ever be satisfied.

[2020-07-01 10:47] dulltz commented on #174
@HubertStefanski
Thank you for your reply.
By the way, where is the future development plan of grafana-operator being mainly discussed?
I would like to see it if possible.

[2020-07-01 11:24] HubertStefanski commented on #174
@dulltz Most of this planning for now is done internally as part of the development process for the Integreatly-Operator, as needs arise for functionality we delegate to work on the grafana-operator, we are actively ensuring that we take in a few issues for the grafana-operator in each sprint to keep it moving forward.
As of now I'm not sure if there are any external documents/places where work is

[2020-07-01 11:31] pb82 commented on #174
@dulltz @HubertStefanski Yes, currently the development of this operator is mainly discussed via Github issues and in our internal chat rooms. We can consider creating a google group for it.

[2020-07-02 01:40] dulltz commented on #174
@HubertStefanski @pb82
Thank you for your responce. I got the workflow of Integreatly-Operator a little.

I'm concerned that running a Google Group will be too costly for the core members.
If the core members are not troubled at the moment, I think the current GitHub Issue-based development is fine.

[2020-07-02 11:04] raffaelespazzoli opened #214 "add ability to set operator logs levele"
the way flags are read prevents setting log levels even if the operator was developed apparently with the operator SDK.
with log level set to info, one is not able to see from the logs why object creation is failing.

Alternatively print in the logs why object creation is failing at the warn level

[2020-07-02 11:06] raffaelespazzoli opened #215 "add ability to set grafana for local listening"
when protecting grafana with an oauth-proxy, grafana should listen only locally (127.0.0.1).
This is easy enough to configure on the grafans `config` section, but the operator is unaware of that and created health probes that check the container health via a non-local http call. This causes the pod to eventually die and never become ready.

[2020-07-02 11:34] DeanBrunt commented on #36
Just thought I'd add in a reason why this feature would be great for us over at [Ziglu](https://www.ziglu.io/).

One of the reasons we're beginning to use Grafana Operator is due to the fact that it's usage of CRDs to represent Dashboards allows us to couple microservice specific dashboards to microservice configuration, not to Grafana.
Most other solutions don't make this easy, if at all possible

[2020-07-02 18:20] HubertStefanski commented on #214
Hi  @raffaelespazzoli, Could I ask you to provide a bit more context about what your suggestion is? If I'm understanding correctly, the issue you're talking about is to add a more varied/relevant log level to places where `log.XXX` is called? or is your suggestion to add a new type of log level which would be called `warn`?

[2020-07-02 18:25] raffaelespazzoli commented on #214
@HubertStefanski sorry, I clearly did not explain myself. I have not found a way to increase the log levels of the grafana operator. I have a case where it fails at the step where it creates the ingress and no reason is given for the failure.
I assumed if there was a way to increase the log level I would be able to see what the error is. But I have found CLI option to increase the log level, not e

[2020-07-02 18:49] HubertStefanski commented on #214
@raffaelespazzoli thanks for the clarification!

- as for the `Ingress failed`, this is a know issue https://github.com/integr8ly/grafana-operator/issues/208 https://github.com/integr8ly/grafana-operator/pull/213

On your points, I agree, I've looked through a few of these, and noticed a few calls that could (and should) be `error` instead of `info`.
As for the increase in log level, I also agree,

[2020-07-02 19:38] pb82 commented on #215
The culprit seems to be [this](https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/model/grafanaDeployment.go#L328). So should the readiness and lifeness probes avoid calling an endpoint in Grafana itself? I think we could also use `exec` to run curl on the container to call the Grafana health endpoint. In that case the request would come from localhost.

[2020-07-02 20:02] raffaelespazzoli commented on #215
using exec would make it fail safe.

[2020-07-03 09:08] HubertStefanski commented on #208
Issue has been resolved, Closing off, Thanks for the Input!

[2020-07-03 09:08] #208 closed

[2020-07-04 08:01] pb82 commented on #215
The Grafana container doesn't come with curl and the wget binary is part of busybox and doesn't support options like skipping the cert check. So no luck so far calling the health endpoint inside the container. Instead I might just add the option to customize or remove the health probes via the Grafana CR for now. What do you think?

[2020-07-04 10:33] raffaelespazzoli commented on #215
Wget is present in the image, can you use that instead of curl?

On Sat, Jul 4, 2020, 4:01 AM Peter Braun <notifications@github.com> wrote:

[2020-07-06 08:26] pb82 commented on #215
The contained wget is part of busybox and does not support options like skipping the cert check.

[2020-07-06 10:03] raffaelespazzoli commented on #215
When you listen on localhost you don't need a https connection.

On Mon, Jul 6, 2020, 4:26 AM Peter Braun <notifications@github.com> wrote:

[2020-07-07 21:49] kungfuchicken commented on #117
TL;DR There is already a PR for this, but the official response from @pb82 is "won't fix" b/c they are only planning on supporting Ansible (https://github.com/integr8ly/grafana-operator/pull/118#issuecomment-593262849).

[2020-07-07 21:49] kungfuchicken commented on #117
I don't understand the response, honestly. Ansible is a great supplementary deployment mechanism, but it's a non-standard deployment tool for k8s. As basically the only Grafana operator available, it would be great if this project could at least include community contributions for core/common deployment mechanisms like Kustomize and Helm. I get that this is a Redhat project, and it's great that yo

[2020-07-13 15:45] #199 closed

[2020-07-14 08:29] markusjevringsesame opened #220 "[Bug] Stackdriver datasources not imported correctly"
**Describe the bug**
I define a GrafanaDataSource resource in kubernetes, with name and type, and jsonData and secureJsonData. the datasource shows up, but the *only* data from the jsonData field that's actually stored in the database is `authenticationType: jwt`. All the other data, like tokenUri and clientEmail, are simply ignored. As a result, we get a datasource that's not actually usable.

**

[2020-07-14 09:54] HubertStefanski commented on #220
Thanks for reporting @markusjevringsesame, I'll take a look into this

[2020-07-14 11:22] pb82 commented on #220
This happens because there are allowed fields for `jsonData` and `secureJsonData`. See [here](https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go#L74) and [here](https://github.com/integr8ly/grafana-operator/blob/master/pkg/apis/integreatly/v1alpha1/grafanadatasource_types.go#L122).

I think they are supposed to be more or less free fo

[2020-07-14 11:55] markusjevringsesame commented on #220
I think you're absolutely right. I imagine that the quick solution is to simply add the fields for a variety of supported formats, like those found [here](https://grafana.com/docs/grafana/latest/features/datasources/). I'm obviously partial to stackdriver, but it may be the case that these things are available in a machine-readable format somewhere, in which case it would be possible to generate t

[2020-07-16 05:20] tadayosi opened #224 "[Bug] "make operator/deploy NAMESPACE=..." doesn't change subject namespace for ClusterRoleBinding"
**Describe the bug**
`make operator/deploy NAMESPACE=myns` doesn't change the subject namespace to `myns` for `grafana-operator` ClusterRoleBinding, which is still the default `grafana`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make operator/deploy NAMESPACE=myns`
2. Run `oc describe clusterrolebinding grafana-operator` to observe the namespace for the subject `grafana-operator`

[2020-07-16 06:00] tadayosi commented on #224
Maybe it's not a bug, as I've found the instructions here:
https://github.com/integr8ly/grafana-operator/blob/master/deploy/cluster_roles/README.md#grant-grafana-instance-rbac-to-grafanadashboard-definitions-in-other-projectsnamespaces
but I think it's still convenient that the doc explains what would be expected to do next when you change the namespace with `make operator/deploy` at:
https://gith

[2020-07-16 08:53] HubertStefanski commented on #224
Hi @tadayosi , I think the doc you mentioned could be clearer, I haven't done a lot of testing around this, but I think (and hope) that `make/cluster/prepare/local NAMESPACE=myns` will deploy it in the right namespace

[2020-07-16 09:21] tadayosi commented on #224
@HubertStefanski Thanks for the comment. However, I don't think it works either as the namespace is hardcoded here:
https://github.com/integr8ly/grafana-operator/blob/master/deploy/cluster_roles/cluster_role_binding_grafana_operator.yaml#L12

[2020-07-16 15:44] HubertStefanski commented on #224
Sure, it think that might be a relatively easy fix in that file, I'll look into this a bit later.

[2020-07-17 08:42] pb82 commented on #220
@markusjevringsesame can you check if #225 works for you? It adds the options to support stackdriver.

[2020-07-17 08:46] markusjevringsesame commented on #220
@pb82 I just checked, and it looks like that will fix it, yeah. I also checked the provisioning docs for grafana, and it seems like this covers all the (currently) available fields.

[2020-07-17 09:08] #220 closed

[2020-07-17 11:55] tjololo commented on #203
Installed 3.4.0 manually. Closing this issue

[2020-07-17 11:55] #203 closed

[2020-07-17 12:16] tjololo opened #226 "Add support for environment variables"
Some datasources require credentials to connect to. We are using gitops to manage our configuration and it would be nice if we could set environmentvairables from secrets/configmaps. I believe you can reference environment variables in datasource json with $ENV_VAR_NAME

**Describe the solution you'd like**
Maybe it is possible to extend the deployment element in spec to contain fields for envvars

[2020-07-22 09:59] AdheipSingh opened #227 "Release v3.5.0"
@pb82
Typo ```not``` to ```now```
In release can you change this
```feature: image pull secrets can not be specified for service accounts.```

Thanks :)

[2020-07-22 10:01] pb82 commented on #227
fixed, thanks

[2020-07-22 10:01] #227 closed

[2020-07-27 06:14] Slach opened #229 "[Bug] wrong image url on deploy/operator.yaml - quay.io/pb82/grafana-operator:latest"
**Describe the bug**
https://github.com/integr8ly/grafana-operator/blob/master/deploy/operator.yaml#L20
contains image

`quay.io/pb82/grafana-operator:latest` - 25 days ago
instead of
`quay.io/integreatly/grafana-operator:latest` - 5 days ago

@pb82 please look this issue

[2020-07-27 07:00] pb82 commented on #229
Good catch, thanks. Fixed now.

[2020-07-27 07:00] #229 closed

[2020-07-27 09:09] HubertStefanski commented on #180
@toidi @fischerman Closing off, Grafonnet support has been merged to master :smiley:

[2020-07-27 09:09] #180 closed

[2020-07-27 12:04] david-martin opened #238 "Consider setting up a security policy"
**Is your feature request related to a problem? Please describe.**
Define how users should report security vulnerabilities for this repository via a SECURITY.md file

**(If applicable)If your feature request solves a bug please provide a link to the community issue**

-

**Describe the solution you'd like**
Use the github feature
![image](https://user-images.githubusercontent.com/878251/88539599-7

[2020-07-29 19:47] etsauer commented on #177
@raffaelespazzoli it looks like 3.2.0 is available on OperatorHub.io, but not available in OLM. https://operatorhub.io/operator/grafana-operator

[2020-07-30 04:19] bszeti opened #244 "Support fix "uid" for dashboards"
**Is your feature request related to a problem? Please describe.**
The _uid_ field in a dashboard JSON definition is ignored and the operator assigns an uid.
See https://github.com/integr8ly/grafana-operator/blob/v3.5.0/pkg/controller/grafanadashboard/dashboard_pipeline.go#L77
This breaks links between dashboards when one dashboard contains a link to another one. For example:
 "linkUrl": "/d/**85a

[2020-07-30 09:56] HubertStefanski commented on #244
Hi @bszeti I'll have a look at this, although I'd be hesitant to revert to the old way of using uids, the whole reason for this change was to have a deterministic and reproducible way of generating uids to accommodate cross namespace support, with user specified uids it becomes significantly more complex.
Could I get some more context for when you're seeing this behaviour?
- When exactly are you s

[2020-07-30 13:33] #238 closed

[2020-07-30 13:33] HubertStefanski commented on #238
Resolved in #241

[2020-07-30 16:31] bszeti commented on #244
Hi @HubertStefanski
Thanks for the response. I have two dashboards: one showing resource usage for all namespaces with links to another dashboard that shows pod resource usage within a namespace.
Similar dashboards exists with OpenShift out of the box for example.

The links in the dashboard definition must contain the uid of the other dashboard, like here:
https://github.com/helm/charts/blob/mast

[2020-07-31 10:39] robbieheywood commented on #36
@pb82 / @HubertStefanski - just wanted to add our experiences with this. We liked that previously we could put our dashboards into various different namespaces and they would all end up in one centralized folder in Grafana. If there was a way of turning off this behaviour, that would be great 👍

[2020-07-31 10:47] HubertStefanski commented on #36
@robbieheywood Hey, That is something we're planning in an upcoming PR #221, which I'm currently debugging, as soon as that's in you should be able to define a custom folder for all your dashboards, the way folder support is implemented now was to avoid dashboards from different namespaces with matching titles from overwriting each other, which happened in one of our projects where I tested the cr

[2020-07-31 10:55] robbieheywood commented on #36
Excellent, that sounds great @HubertStefanski !

[2020-07-31 11:24] HubertStefanski opened #246 "Looking for contributors!"
Hi Everyone, in recent times we started seeing an increase in the interest around this operator, we're happy to see people making use of it, but with the amount of development that's still required around bug fixing and enhancements/features we're not able to keep up with all of this by ourselves, we're a quite small team (2 people working on this aside of our day-to-day jobs) that tries to keep t

[2020-07-31 12:29] HubertStefanski commented on #244
@bszeti Thanks for letting us know, we've made plans to address this before the next release, the details on how we'll resolve this are still being debated

[2020-07-31 12:58] etsauer commented on #177
https://github.com/operator-framework/community-operators/pull/2120

[2020-08-01 17:24] HubertStefanski commented on #177
Resolved in the PR linked above, grafana operator should now be available in operator hub & olm

[2020-08-01 17:24] #177 closed

[2020-08-03 13:29] pb82 commented on #244
fixed in #247

[2020-08-05 09:45] HubertStefanski commented on #244
Closing off #247 was merged, thanks for bringing up this issue @bszeti :+1:

[2020-08-05 09:45] #244 closed

[2020-08-08 11:18] SerialVelocity commented on #178
This is a duplicate of #45, right?

[2020-08-08 11:36] SerialVelocity opened #249 "Support helm grafana dashboards"
**Is your feature request related to a problem? Please describe.**
Dashboards created by helm charts tend to have a `grafana_dashboard` flag set on them and are usually imported using kiwigrid/k8s-sidecar.

See:
https://github.com/helm/charts/tree/master/stable/grafana#sidecar-for-dashboards
https://github.com/fluxcd/helm-operator/pull/482/files

**Describe the solution you'd like**
It would be ni

[2020-08-09 10:27] HubertStefanski commented on #178
@SerialVelocity That would seem correct, I'll close this and keep #45 as the main issue, thanks for pointing out

[2020-08-09 10:27] #178 closed

[2020-08-09 16:05] pb82 commented on #249
Would a config map reference work? See https://github.com/integr8ly/grafana-operator/blob/master/documentation/dashboards.md#config-map-references

Basically, you create a GrafanaDashboard CR that references an existing configmap.

[2020-08-10 19:47] tlipatov-asapp commented on #155
If we can pass custom env vars to the grafana deployment via the operator then we can install the plugins using "GF_INSTALL_PLUGINS"

 https://grafana.com/docs/grafana/latest/installation/docker/#install-official-and-community-grafana-plugins

[2020-08-10 21:17] SerialVelocity commented on #249
Not easily without writing some cronjob to automatically create these dynamically. It would be better if there was a config map selector to do this automatically.

[2020-08-11 14:04] tlipatov-asapp commented on #249
This isn't really "helm" specific

Lots of projects use this ConfigMap for sidecar format.

Such as the kube-prometheus project: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/dashboards

We use a CI pipe to transform these into the operator format

[2020-08-12 00:54] mrgleeco opened #250 "tight loop logging on "desired cluster state met""
**Describe the bug**

Am seeing on both older and newer version (v3.5.0) where i see the `cluster state met` is happening 5-10x per second.
This is unsane. The block  looks to keep re-running `reconcile.Result` at [grafana_controller.go](https://github.com/integr8ly/grafana-operator/blob/master/pkg/controller/grafana/grafana_controller.go#L304-L306).

A more complete showing of the repeated log li

[2020-08-12 08:35] HubertStefanski commented on #250
Hi @mrgleeco , are you perhaps running the operator both locally and on the cluster as a deployment?

[2020-08-12 17:12] mrgleeco commented on #250
only in a cluster

[2020-08-12 22:24] mrgleeco opened #251 "grafonnet is working? and how?"
as per the docs at [documentation/jsonnet.md](https://github.com/integr8ly/grafana-operator/blob/master/documentation/jsonnet.md)

What does this mean?

I see in [build/Dockerfile](https://github.com/integr8ly/grafana-operator/blob/master/build/Dockerfile) submodule copied to image, however no sign of it in `/opt` when i `docker pull quay.io/integreatly/grafana-operator:v3.5.0`.
This feels like th

[2020-08-13 01:42] dongwangdw commented on #214
@HubertStefanski I have an eye on the code.
This kind of config will be easiy. But as I see, there are a lot of format log messages which is not aligned with the log rule here. https://github.com/go-logr/logr#why-not-allow-format-strings-too. If I have a PR for this, can I have some improvent on this kind of thing?

[2020-08-13 02:22] dongwangdw commented on #142
@pb82 This makes more sense. Which kind of format will be preferred, image:tag or image@shaxxxxx?  Or should we have both. Currently we use the hash and ocp also use this kind too.

[2020-08-13 03:28] dongwangdw commented on #226
Yes, I think it is the direction. cc@HubertStefanski @pb82

[2020-08-13 05:39] dongwangdw commented on #251
Confirmed this. No `/opt` found in the image. This shoud be a bug.

[2020-08-13 06:54] pb82 commented on #251
This is currently only on master but not yet in any release. 3.6.0 will be the first release with jsonnet / grafonnet support.

[2020-08-13 07:21] mrgleeco commented on #251
gtk - any hint on time frame for this next release?

also - in the meantime, safe to assume that the anno `jsonnet/library: "true"` on configmaps as described in documentation/jsonnet.md will get automagically used?

[2020-08-13 09:49] pb82 commented on #250
This usually indicates that both, the Operator and the Cluster are trying to overwrite each others changes. Are you using extra labels or annotations on any of the resources? Are any extra labels or annotations configured in the Grafana CR spec?

[2020-08-14 06:50] shivpathak opened #255 "in v3.1.0 release my name mentioned incorrectly"
Hi Team,

This is not Bug, Issuer and neither feature request.

This is just to bring your notice that in release notes of v3.1.0 my name is incorrectly mentioned

**Current mention:**
`Feature: GitLab supported in auth configuration. Thanks @shiv Pathak`
**Should be:**
`Feature: GitLab supported in auth configuration. Thanks @shivpathak`

[2020-08-14 15:26] michaelgeorgeattard commented on #226
Is this something that is the roadmap?

[2020-08-14 19:27] HubertStefanski commented on #255
Will fix, thanks for bringing it up ;)

[2020-08-14 19:27] #255 closed

[2020-08-15 13:23] pb82 commented on #226
@michaelgeorgeattard Yes, we're working on this and hoping to include it in the next release.

[2020-08-16 13:30] LH8PPL opened #256 "Grafana Dashboards not provisioned [Bug]"
**Describe the bug**
cant see any dashboard that i created.
new deployment of grafana operator in openshift, getting the following error in operator:
E0816 12:35:39.977548       1 reflector.go:123] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:204: Failed to list *v1alpha1.GrafanaDashboard: v1alpha1.GrafanaDashboardList.Items: []v1alpha1.GrafanaDashboard: v1alpha1.GrafanaDashb

[2020-08-16 16:36] HubertStefanski commented on #256
Hi @LH8PPL ,  Could you send on the .yaml definition of the dashboards you're trying to create? do the example dashboards (such as [this one](https://github.com/integr8ly/grafana-operator/blob/master/deploy/examples/dashboards/DashboardFromConfigMap.yaml) ) also fail to reconcile and show up on the UI?
My initial suspicion would lie on this line `v1alppha1.GrafanaDashboardStatus.Phase:` where it's

[2020-08-17 09:29] HubertStefanski commented on #224
Fixed, closing off, thanks for contributing @tadayosi @dongwangdw

[2020-08-17 09:29] #224 closed

[2020-08-17 09:38] tadayosi commented on #224
@HubertStefanski @dongwangdw Gr8! Thank you guys!

[2020-08-18 10:50] tjololo commented on #226
Looking through the issues/PRs I belive my usecase will be solved when issue #176  is closed.
@michaelgeorgeattard does it solves your usecase?

[2020-08-19 09:26] HubertStefanski commented on #210
Resolved, Grafana Operator is now available in community Operators, closing off, Thanks for contributing @andrew-garner :+1:

[2020-08-19 09:26] #210 closed

[2020-08-19 09:27] HubertStefanski commented on #175
Hi @mrethers , sorry for letting this slip by, are you still seeing this issue or perhaps found a cause for it?

[2020-08-19 10:00] HubertStefanski commented on #212
Noted and in planned work to reintroduce after operator-sdk update, thanks @robertely :+1:

[2020-08-19 12:52] mrethers commented on #175
Seems like the latest version is working so I'm unblocked. Looking at other
operators it looks like it might have been some missing import in the go
code.

Keep up the awesome work guys.

On Wed, Aug 19, 2020, 5:27 AM Hubert Stefanski <notifications@github.com>
wrote:

[2020-08-19 13:15] HubertStefanski commented on #175
@mrethers Cool, Happy to hear! let us know when you find anything else that needs attention :smile:

[2020-08-19 13:15] #175 closed

[2020-08-20 11:49] HubertStefanski commented on #214
@dongwangdw Sure, I'm happy to help out, send in the PR whenever you want feedback/help

[2020-08-20 11:58] HubertStefanski commented on #124
@shivpathak can you confirm that this still exists, I think #213, might have fixed this

[2020-08-22 09:51] HubertStefanski opened #262 "grafana-operator Slack channel"
Hi everyone, we finally managed to get our own channel on the Kubernetes community Slack!
We'd like this to be a place for additional discussion, development, issues and general help for this operator.
Hopefully this can speed up some of our communication and as a result accelerate development.

## Joining Kubernetes community Slack & grafana-operator channel
1: Join the Kubernetes Slack (if you h

[2020-08-24 07:44] shivpathak commented on #124
@HubertStefanski to get workaround of this issue I adopted defining Ingress object separately ( didn't enabled ingress in Grafana Instance).

I will check and update the status here by tomorrow EOD.

[2020-08-25 03:07] danielqsj commented on #144
+1
For loadbalancer type service, nodeport is continually overwrote by operator that cause lb service created failed.
@pb82 do you plan to fix it ?

[2020-08-25 03:20] danielqsj commented on #144
@pb82 @Slach PTAL https://github.com/integr8ly/grafana-operator/pull/258

[2020-08-25 03:21] danielqsj commented on #144
This PR have fixed my lb service creating issue.

[2020-08-25 05:18] Slach commented on #144
@danielqsj thanks a lot for suggestion, I will wait when your PR will merge and close this issue after it

[2020-08-26 15:56] shivpathak commented on #124
@HubertStefanski I just checked with `image: quay.io/integreatly/grafana-operator:master`

I see grafana ingress is created, healthcheck of ingress is passing too but however I see `tls` section is missing in ingress spec

[code]

[2020-08-27 13:46] HubertStefanski commented on #36
@bravosierrasierra @robbieheywood @DeanBrunt @zendai @allen13 @nlamirault @yogeek @rverma-jm @emilingerslev @shivpathak
Extended folder support has been added and is currently on the master branch, feel free to try it out! Thanks for contributing to this discussion everyone! :+1:

[2020-08-27 13:46] #36 closed

[2020-08-27 13:50] nlamirault commented on #36
great @HubertStefanski !

[2020-08-27 14:28] HubertStefanski commented on #36
@nlamirault It's still missing some documentation which I plan to update later on today, but all you should have to do is specify the ` customFolderName` in your desired dashboard

[2020-09-09 13:16] rbeckerpf opened #268 "Creating Grafana-Datasource in Openshift 4.4.10 leaves json values in configmap empty"
Hi,
I have  the following problem: I have installed Grafana with integr8ly Version 3.5.0 (grafana-operator) in Openshift4.4.10. Everything works fine! But when I try to install a Grafana-Datasource to bind AZURE the configmap "grafana-datasources" has emtpy json values. In the custom resource definition the yaml values are still present! I using this yaml file:
apiVersion: integreatly.org/v1alpha1

[2020-09-10 10:18] pb82 commented on #268
This is similar to https://github.com/integr8ly/grafana-operator/issues/220, json fields have to be whitelisted specifically. Can you give me a list of additional fields you want to be able to add to the jsonData and secureJsonData objects? Then i'll add them to the struct in the next version.

[2020-09-10 14:54] rbeckerpf commented on #268
Hi, thanks for fast reply. I need the following objects:
      jsonData:
        azureLogAnalyticsSameAs:
        clientId:
        cloudName:
        logAnalyticsDefaultWorkspace:
        subscriptionId:
        tenantId:
And :
      secureJsonData:
        clientSecret:

Many Thanks in Advance
Ralf

[2020-09-11 03:18] JohnRusk opened #269 "Summary of benefits of Grafana Operator?"
Is there a summary of the benefits of this Operator?  I.e. what benefits does it add over just using Grafana on its own?

(This question mirrors a similar one asked about the Prometheus Operator, which was nicely answered here: https://github.com/prometheus-operator/prometheus-operator/issues/2640#issuecomment-502037737 )

[2020-09-13 11:05] HubertStefanski commented on #269
Hey @JohnRusk , This would be a good addition to the Readme for this repo, I'll look into that, thanks for suggesting!

[2020-09-13 17:36] mickael-carl opened #270 "[Bug] Adding jsonnet library to the operator fails due to dir permissions"
**Describe the bug**
When adding jsonnet libraries to the operator, as described [in the docs](https://github.com/integr8ly/grafana-operator/blob/master/documentation/jsonnet.md), the grafana operator will throw an error due to permission issues on `/opt/jsonnet`.

**To Reproduce**
Steps to reproduce the behavior:
1. Craft a simple configmap following the docs with the right annotation and label s

[2020-09-13 17:44] mickael-carl opened #271 "[Bug] README hints at a submodule that isn't present"
**Describe the bug**
According to [the README](https://github.com/integr8ly/grafana-operator#building-the-operator-image), a submodule should be present for grafonnet, however, no .gitmodules files are present.

**To Reproduce**
Steps to reproduce the behavior, either:
- `git submodules` -> no output
- `find . -name ".gitmodules"` -> only returns vendored jsonnet implementation

**Expected behavio

[2020-09-13 17:48] mickael-carl commented on #271
It's worth noting that the existing [.gitignore](https://github.com/integr8ly/grafana-operator/blob/master/.gitignore#L82) prevents adding the submodule:
[code]

[2020-09-16 08:23] #271 closed

[2020-09-16 08:28] #270 closed

[2020-09-18 23:12] mrgleeco commented on #250
Found that a trigger-controller operator was racing this by its setting of annotations.

[2020-09-18 23:12] #250 closed

[2020-09-20 10:54] weisdd commented on #192
@pb82 tls_skip_verify_insecure is documented here: https://grafana.com/docs/grafana/latest/auth/generic-oauth/
And yep, +1, I'd love to have it implemented as well. - The option is especially useful in local development environments like microk8s.

[2020-09-22 12:22] HubertStefanski commented on #269
resolved in #274  closing, thanks for contributing!

[2020-09-22 12:22] #269 closed

[2020-09-23 20:35] weisdd commented on #165
@tux-o-matic well, it's all per [Kubernetes standard](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements), so, probably, there's no need to add extra details in the operator's documentation.

[2020-09-23 21:02] weisdd opened #276 "Support for quoted booleans in CR"
**Is your feature request related to a problem? Please describe.**
The operator is unable to parse quoted booleans.

While developing a tiny Helm chart for deploying CRs for "grafanas.integreatly.org", I wanted to get use of tpl:
[code]
That allows me to use templates inside templates, e.g. for defining oauth settings:
[code]
Which in turn lets me define certain settings in one place without the n

[2020-09-24 16:18] HubertStefanski commented on #276
Hi @weisdd , thanks for reporting, I'll have a look into how we can accommodate for both strings & boolean

[2020-09-25 20:53] elmariofredo commented on #117
Here is ugly workaround

[code]

@pb82 I understand that you want to support your preferred way, but it's just single yaml file containing links to deployment manifests. I'm pretty sure that there will be much more than just three of us happily sending PR to keep kustomization.yml file updated 😉

@rverma-jm I have noticed that in mentioned PR you are renaming grafana-operator roleref and adding ev

[2020-09-25 21:03] elmariofredo opened #277 "ARM support"
**Is your feature request related to a problem? Please describe.**

Unable to run grafana-operator on raspberry pi clusters

**Describe the solution you'd like**

Ideally multiarch image containg following architectures:

- linux/386
- linux/amd64
- linux/arm
- linux/arm64

**Existing solutions**

Base image you are using is already multiarch so it should be quite easy to add other architectures a

[2020-10-01 06:15] tux-o-matic opened #281 "[Bug] Releases shouldn't use the latest image"
**Describe the bug**
All branches of this project refer to the [latest](https://github.com/integr8ly/grafana-operator/blob/v3.5.0/deploy/operator.yaml#L20) tag of the Operator image on Quay.io.
There is a risk of mismatch between configuration and the Operator at runtime when a release is cut but always uses latest.

**Expected behavior**
Version specific tags matching the releases on GitHub are c

[2020-10-01 08:14] HubertStefanski commented on #281
@tux-o-matic It's a small thing that somehow managed to slip through the cracks, thanks for reporting! I'll address this both in code and in the release documentation to make sure that the version tag is updated :+1:

[2020-10-01 11:49] #281 closed

[2020-10-05 14:59] tegioz opened #286 "Consider listing operator in Artifact Hub"
Hi! 👋🏻

Have you considered listing the **grafana** operator directly in [Artifact Hub](https://artifacthub.io)?

At the moment it is already [listed there](https://artifacthub.io/packages/olm/community-operators/grafana-operator), because the Artifact Hub team has added the [community-operators](https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators) re

[2020-10-08 08:05] CathalOConnorRH opened #287 "Prioricty Class name"
Hi

Could you add support for Pod priority to the grafana deployment so that a priorityClassName can be set?
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

Thanks

[2020-10-08 10:32] pb82 commented on #286
@tegioz Interesting, how does Artifacthub differ from Operatorhub? Is it meant as a more upstream alternative?

[2020-10-08 10:49] #287 closed

[2020-10-08 10:58] tegioz commented on #286
Hi @pb82

The main difference is that Artifact Hub lists other kind of artifacts in addition to OLM based operators, like Helm charts, OPA policies or Falco rules. The goal is to improve the experience of users trying to find content, providing a vendor neutral hub able to support as many artifacts kinds as possible. Artifact Hub is a CNCF sandbox project.

The Helm team announced yesterday that t

[2020-10-13 13:54] HubertStefanski commented on #192
resolved in #291 closing.

[2020-10-13 13:54] #192 closed

[2020-10-13 15:53] HubertStefanski commented on #276
I'm not quite familiar with helm, and not sure how it works, but could templates perhaps have escape characters for quoted booleans? Having done some research into this I've discovered that the change isn't as trivial as it might seem, to accommodate for both strings and bools would require either changing the grafana_type of any `*bool` to `string` or implementing a BoolOrString function, somethi

[2020-10-14 07:53] Cellebyte commented on #36
@HubertStefanski I think the crd definition is missing. I can't find `customFolderName` in it.

[2020-10-14 10:37] HubertStefanski commented on #36
@Cellebyte yes! Thanks for pointing that out, I completely missed that when I implemented it. I'll try and make a pr to add it soon

[2020-10-14 14:25] pb82 commented on #190
fixed in v3.6.0, see https://github.com/integr8ly/grafana-operator/blob/v3.6.0/documentation/env_vars.md

[2020-10-14 14:25] #190 closed

[2020-10-14 14:26] pb82 commented on #226
fixed in v3.6.0, see: https://github.com/integr8ly/grafana-operator/blob/v3.6.0/documentation/env_vars.md

[2020-10-14 14:26] #226 closed