[2021-11-01 18:36] HubertStefanski commented on #585
closed through #589

[2021-11-01 18:36] #585 closed

[2021-11-02 16:14] kmarquardsen commented on #408
Hi @Voigtus was there a discussion around this in slack? Is it already being worked on or currently an open item for contribution?

[2021-11-02 22:35] dan-j opened #591 "[Bug] Unable to download grafana.com dashboards - x509: certificate signed by unknown authority"
**Describe the bug**
Unable to use `GrafanaDashboard` with remote HTTPS URLs. This is the error from the logs:

[code]

The base docker image for the operator is `registry.access.redhat.com/ubi8/ubi-micro:8.4`, this image doesn't include the trusted CA bundle so all HTTPS requests which should be trusted aren't.

Discussed on slack, but creating this issue to make it more easily discoverable.

**V

[2021-11-02 23:13] g-chcht commented on #591
Hello,

We're having the same issue

[2021-11-02 23:36] dan-j commented on #591
So I've managed to get it to work by running the ubi-minimal image locally and copying the ca-bundle.crt as so:

[code]

Create a `ConfigMap` with `ca-bundle.crt` as a file entry.

Add a volume mount to the operator deployment something like so:

[code]

[2021-11-02 23:37] dan-j commented on #591
What would the maintainers prefer a PR do? Use ubi-minimal as the base image in the Dockerfile? Or use another stage in the Dockerfile to copy from ubi-minimal?

[2021-11-03 07:35] NissesSenap commented on #591
First of all thanks for reporting the issue and taking such a deep look at it.
I would personally love to be able to keep on using ubi-micro, mainly to minimise the potential attack service  as much as possible and lower startup times. Not that the operator starts up often but any way :)

So copying the certs from ubi-minimal sounds like a good idea to me. Sure it will increase the build time a bi

[2021-11-03 07:55] cjprinse opened #592 "Cannot create dashboard with custom clustername"
**Describe the bug**
My kubernetes cluster has a custom cluster name -> alpha.eko instead of cluster.local.
Because of this, I cannot create a dashboard, because cluster.local is hardcoded in controllers/grafana/grafana_controller.go:272

The following error appears in the logs of the controller
[code]

**Version**
quay.io/grafana-operator/grafana-operator:v3.10.4

**Expected behavior**
Be able to

[2021-11-03 08:11] bsgrigorov opened #593 "[Bug] Throttling request took logging statements flood logs"
**Describe the bug**
The operator prints logs like
[code]
and no other logs can be seen.

**Version**
v3.10.4

**To Reproduce**
Deploy grafana operator in kubernetes where a lot of requests are being sent.

**Expected behavior**
The operator should output useful logs like what resources have been created or modified instead of Throttling request exceptions.

**Suspect component/Location where the

[2021-11-05 05:19] incidunt opened #596 "[Bug] deploy/examples/jsonnet dashboards not working"
**Describe the bug**

when created dashbord with jsonnet, got this error:

error: error validating "deploy/examples/jsonnet/Dashboard.yaml": error validating data: [ValidationError(GrafanaDashboard.spec): unknown field "name" in org.integreatly.v1alpha1.GrafanaDashboard.spec, ValidationError(GrafanaDashboard.spec): missing required field "json" in org.integreatly.v1alpha1.GrafanaDashboard.spec]; i

[2021-11-05 07:03] NissesSenap commented on #596
All of them are missing:
[code]

I looked through older versions of https://github.com/grafana-operator/grafana-operator/blob/b623b070a806626a02095f4d85f069bcc0fb0f88/api/integreatly/v1alpha1/grafanadashboard_types.go#L37 and I can't find any version where json ever have had `omitempty`, so I don't understand how they ever worked.

The easy solution is of course to just add `json` to the examples

[2021-11-05 07:41] NissesSenap commented on #593
We won't fix this, the future of the operator is in the master branch and version 4.
It might be possible to turn down how much output the logs generate though.

[2021-11-05 07:41] #593 closed

[2021-11-05 07:56] NissesSenap opened #597 "[Bug] operator log errors when trying to update remote grafana dashboards"
**Describe the bug**
When using remote dashboards from grafana you will see the following in the grafana-operator.

[code]
The first error is okay, it takes some time to get the dashboard loaded to grafana but the second error keeps on happening.
So something is wrong here.

**Version**
v4.0.* master branch

**To Reproduce**

[code]
port-forward to your local instance and you will see the dashboar

[2021-11-05 07:57] NissesSenap commented on #597
@DeanBrunt you did some stuff around remote dashboards if I remember correctly. Could you have a look at this?

[2021-11-05 08:00] NissesSenap commented on #592
We most likely won't backport this to v3 but it's the same issue in v4.

[2021-11-06 23:28] bsgrigorov commented on #593
@NissesSenap how can I turn don't the output logs?

[2021-11-07 07:24] NissesSenap commented on #593
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-flags --zap-level=n in the operator

[2021-11-07 20:42] NissesSenap commented on #590
This is on me, I didn't look through the minikube docs enough before creating https://github.com/grafana-operator/grafana-operator/blob/master/documentation/develop.md
@HubertStefanski should we remove minikube.md? Personally I assume that people know enough about kubernetes to setup minikube when using our operator and it feels redundant to have two documents.

Another option is to of course go t

[2021-11-07 20:54] NissesSenap commented on #583
How does you grafanadashboard yaml look like?
Are you using a recent grafana version? Never versions of grafana It might perform some changes to your dashboard by default to make it compatible with the new version of grafana and then the operator comes back in and trys to change it back.

My tip would be to export the dashboard and add it to your grafanadashboard yaml and see if the regeneration s

[2021-11-07 21:04] NissesSenap commented on #545
Implemented, big thanks @Voigtus

[2021-11-07 21:04] #545 closed

[2021-11-07 21:08] NissesSenap commented on #541
Solved, you can also see PR: https://github.com/grafana-operator/grafana-operator/pull/553 for more information

[2021-11-07 21:08] #541 closed

[2021-11-07 21:11] NissesSenap commented on #510
We won't address this in v3 but as @pb82 it will be solved in mutli namespace https://github.com/grafana-operator/grafana-operator/pull/599.
Ping @HubertStefanski

[2021-11-07 21:14] NissesSenap commented on #453
This is solved in v3.10.4, sadly we are still having issues getting the release out through OLM but we are working on it.
If you are in a rush you can always apply v3 using standard kubernetes yaml.

On the other hand this is solved in v4.0.1 so I would suggest upgrading to that version instead, it also contains allot of other nice features.
I will close this issue.

[2021-11-07 21:14] #453 closed

[2021-11-07 21:16] NissesSenap commented on #420
ping @AdheipSingh is this something that you have had a time to look at?

[2021-11-07 21:22] NissesSenap commented on #369
In v4.0.1 we can find a base line for limits in the operator. Thus I will close this issue

[2021-11-07 21:22] #369 closed

[2021-11-07 21:26] NissesSenap commented on #365
I also think this would require adding support to get dashboards from other locations the grafanCom or does grafana have dashboards that is only accessible through auth?

[2021-11-07 21:34] AdheipSingh commented on #420
@NissesSenap  missed this, ill PR it sometime this week.

Thanks for the ping ! l

[2021-11-07 21:39] NissesSenap commented on #215
Sadly I can't see the link @pb82 is pointing on as the possible issue since it links back to our old organization.

But currently the operator is using the grafana service to apply dashboards to your grafana instance. So unless you could forward the admin credentials in your sidecar directly to the grafana API I don't think this is possible.
Correct me if I'm wrong here @pb82.

On the other hand I

[2021-11-07 22:07] NissesSenap commented on #276
@weisdd have you been able to come up with a workaround for your issue?

Currently no one have time to prioritize this issue from the maintainers point of view. So unless you or someone from the community takes a stab at this it won't happen for a while.

I'm also curios if you could share the helm chart that you have created?
My very naive feeling is that this should be possible to solve within t

[2021-11-07 22:38] NissesSenap commented on #408
Hi all there are a number of people talking about the need for organizations and there is a few issues around it.
There have been some work around this but I think most of it have stopped.

I think a good start to get this done is to create a design document around CR one or more CR:s that needs to be created/updated.

This could be done as a normal PR and stored under documentation/design_proposa

[2021-11-07 23:07] Cellebyte commented on #365
@NissesSenap you can host dashboards on an s3 bucket and reference them so that they get pulled in from the operator. Some of them could be hosted behind authentication.

[2021-11-08 00:03] weisdd commented on #276
@NissesSenap Unfortunately, I don't have the chart at hand anymore as I changed companies.

In the end, I just stopped trying to resolve a boolean through tpl (`"{{.Values.keycloak.enabled}}" ` - more details can be found in the first post) and left the value hardcoded to `true`, because we always relied on OIDC integration anyway.

At the time when I opened this issue, I wasn't aware how tricky i

[2021-11-08 06:07] NissesSenap commented on #276
Yeah that would have been my suggestion as well. Dove since no one else have asked for this feature i will close it.
Thanks for you quick response @weisdd

[2021-11-08 06:07] #276 closed

[2021-11-08 06:09] NissesSenap commented on #365
Currently it's not supported to download any dashboards outside of grafana.com if i remember correctly

[2021-11-08 21:58] NissesSenap commented on #596
Spoken to Hubert and he agrees `omitempty` should be a okay solution and it shouldn't cause any issues.
If any one feels like doing there first PR this is a good start :)

[2021-11-09 09:53] rdgacarvalho commented on #591
Any EAT regarding this?

[2021-11-09 12:44] pb82 commented on #592
@cjprinse until this is resolved, maybe you can use the Ingress instead of the service? You can do this by making sure that `preferService` is not set to `true` in your Grafana CR.

[2021-11-09 12:49] pb82 commented on #590
@NissesSenap agree, we can remove the minikube specific instructions.

[2021-11-09 12:52] pb82 commented on #586
@Helene thank you for the suggestion, but we'd prefer to keep the GrafanaDashboard CR specific to a single dashboard. For your use case, maybe you can have some external sync job that fetches the resources from the repository and then creates the CRs on the cluster?

[2021-11-09 12:52] #586 closed

[2021-11-09 13:47] NissesSenap commented on #591
About now :D
The next question is when/how we will cut a new tag for it. I will work to get this done quickly.

[2021-11-09 13:47] #591 closed

[2021-11-09 15:48] Cellebyte commented on #564
@NissesSenap how are those CRD's interacting with [prometheus-operator/AlertmanagerConfig](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#alertmanagerconfig).

[2021-11-09 17:51] joancafom opened #603 "Support missing fields for Grafana CRD"
**Is your feature request related to a problem? Please describe.**

The [Grafana CRD definition](https://github.com/grafana-operator/grafana-operator/blob/v4.0.1/config/crd/bases/integreatly.org_grafanas.yaml) does not currently support certain fields that would come in handy when working with advanced deployments, in which users want to fine-grain certain aspects of the configuration:

- [grafana

[2021-11-09 21:32] iron-rain opened #604 "Excessive rights for ClusterRole/ClusterRoleBinding"
The operator has excessive roles when deployed to watch all namepaces.

I may be missing the obvious but it seems like the operator has nearly has cluster-admin.

As per [Issue 70](https://github.com/grafana-operator/grafana-operator/issues/70) and the multiple namespace [doco](https://github.com/grafana-operator/grafana-operator/blob/master/documentation/multi_namespace_support.md) the only multi

[2021-11-09 21:39] NissesSenap commented on #603
Hey @joancafom in general when it comes to specific configuration values in the operator vs grafana upstream as maintainers don't sit and follow upstream. Instead it's up to people that misses certain flags and they request it just like you are doing now :)

But when it comes to disable_initial_admin_creation we can't do that. The reason is that we use those admin credentials to talk to the grafan

[2021-11-09 22:09] NissesSenap commented on #604
Which version of the operator are you using?
How have you installed the operator? OLM, helm, pure yaml, something else?

We have done a rather big review of many of the rbac settings in v4 but it's still not perfect.
But we need kind of allot of access to have the operator generate everything it does for us.

In short it does the following:
- create deployment for grafana
- create svc for grafana

[2021-11-09 22:09] #578 closed

[2021-11-09 22:10] NissesSenap commented on #578
Thanks for the PR @Bobbins228 :1st_place_medal:

[2021-11-10 09:41] HubertStefanski commented on #590
closed via #605

[2021-11-10 09:41] #590 closed

[2021-11-10 12:52] joancafom commented on #603
Hi! Thanks for your prompt reply 🙂

Okay, I see your point here.

`livenessProbeSpec/readinessProbeSpec` lets you tweak several aspects of the probe that will be executed (e.g. command, timeout, thresholds...). Maybe modifying the specific command to run isn't something really relevant, but I reckon that timeouts, thresholds and the like are.

Say that you are running on a slow cluster that requir

[2021-11-10 20:34] g-chcht commented on #583
Upgrading to 4.0.1 fixed it.
Though, for those who'd like to try, be careful you might have to modify all yours GrafanaDashboard definition. CRDs are not fully compatible between v3 and v4

[2021-11-10 20:57] NissesSenap commented on #583
@g-chcht what was the difference?
I did the upgrade a few days ago and i didn't change anything

[2021-11-10 21:49] Cellebyte commented on #603
@joancafom the `livenessProbeSpec` and the `readynessProbeSpec` are moved one level up.

[2021-11-10 23:53] Cellebyte commented on #460
It looks like this OpenShift Check is making trouble and asking for all `api-resources` all the time.

[2021-11-11 14:23] paulczar opened #608 "[Bug] sigv4_auth_enabled doesn't appear to be working"
**Describe the bug**

I set spec.config.auth.sigv4_auth_enabled in my grafana operand, but the configmap doesn't show it and its not set grafana.

**Version**
v4.0.1

**To Reproduce**

1. Create a grafana CR

[code]

check the configmap grafana-config

[code]

**Expected behavior**

the grafana config should contain `sigv4_auth_enabled = true`

[2021-11-11 16:25] SerialVelocity commented on #460
That PR only partially fixes this, right? So this should be left open after that merges.

[2021-11-11 19:04] Cellebyte commented on #460
@SerialVelocity I am not sure if we can further improve the behavior and only asked for the specific resource.
We need to see if the fix is Good Enough and decide then.

[2021-11-11 21:14] g-chcht commented on #583
@NissesSenap
Regarding the issue: We're using Grafana 7.4.1

I tried that, but the behavior remains the same.

Regarding CRDs:
From V3 to V4, we observed:

- The field GrafanaDashboard.spec.json became mandatory. in v3 you could have just a url for dashboards coming from outside
- The field GrafanaDashboard.spec.name has been removed
- The field GrafanaDataSource.spec.datasources.id has been remov

[2021-11-12 08:20] Helene commented on #596
Hi,
I'm running with grafana-operator 4.0.1 in the same issue by applying dashboard from url.
[code]

[2021-11-12 10:34] NissesSenap commented on #583
Ohh lots of things that I didn't know, thanks @g-chcht .
About json omitempty that is being fixed in: https://github.com/grafana-operator/grafana-operator/pull/606

Why these fields have been removed It might be a mistake. If it wasn't a mistake we defiantly should document it.
@HubertStefanski @pb82 do you have some input on this?

[2021-11-12 10:55] NissesSenap commented on #460
The long-term solution is to not use this logic anymore and instead go over to: https://github.com/grafana-operator/grafana-operator/issues/362 which is high on our TODO.

[2021-11-12 12:50] DeanBrunt commented on #597
Won't be able to look at this for a little while, but will do so when I get some time.

[2021-11-14 10:59] NissesSenap commented on #402
Considering scope creep with supporting external Grafana instances  https://github.com/grafana-operator/grafana-operator/issues/497 how interesting is this still?

Do we think this still is a reasonable feature to add to the operator?

[2021-11-15 09:40] ninkaninus commented on #578
Thanks a lot for this PR @gruberdev

I am struggling a bit with locating where my dashboards is provisioned (they are created from a URL in grafanadashboard resource).
But I am unable to find the path to them in the container, so where did you locate yours?

[2021-11-16 12:56] pb82 commented on #604
Agree, we should review the Roles and make sure it doesn't contains permissions we don't need.

[2021-11-18 13:52] sheijmans opened #614 "[Bug] OpenShift 4.8, is it possible to upgrade Grafana operator from 3.10.3 to 4.0.1?"
**Describe the bug**
Running Grafana operator 3.10.3 on OpenShift 4.8, planning to go 4.9.
Can we upgrade to 4.0.1? When we switch subscription channel alpha (3.10.3) to v4 (4.0.1), nothing happens.
Or do we need to wait on 3.10.4?

**Version**
grafana-operator.v3.10.3

**To Reproduce**
Steps to reproduce the behavior:
1. install Grafana operator 3.10.3
2. switch channel from alpha to v4
3. wait b

[2021-11-18 13:58] HubertStefanski commented on #614
Hey @sheijmans, have you tried the upgrade guide? https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md#upgrade-from-3xx-to-4xx , v4 was a major release with quite a few incompatible changes from v3, this upgrade guide however, should make sure that you don't lose your Grafana instance, and it should be quite seamless, albeit, manual ;)

[2021-11-18 14:27] shalberd commented on #496
With 4.0.1, too on OCP 4.9. What a buggy thing that is.

manager pod log:

[code]

Grafana CRD:

stuck reconciling

[code]

[2021-11-18 14:33] sheijmans commented on #614
Aha, thanks.

[2021-11-18 14:33] #614 closed

[2021-11-21 22:26] kxesd commented on #604
I was looking at upgrading from v3 to v4.0.1 but I am not comfortable with the upgrade after seeing the changes in RBAC.

The RBAC permissions were fine in v3, in v4.0.1 they changed significantly. Essentially the `grafana-operator` RBAC `Role` was "upgraded" to a `ClusterRole`. Looks like it was [this commit](https://github.com/grafana-operator/grafana-operator/commit/6e385d2d648ebef057ca0fd69804

[2021-11-21 22:34] iron-rain commented on #604
Apologies for not getting back to this.

I was using the latest Bitnami chart and then reviewed the provided manifests that are provided by this repository.

I agree with @kxesd, the bulk of the ClusterRole the operator has could be reduced to a Role in the specific namespace and then a separate ClusterRole for the operator to manage GrafanaDashboards in other namespaces.

[2021-11-22 07:56] willthames commented on #554
@NissesSenap when will that release cut happen - it's been over a month since this issue was closed, and yet 3.10.4 is still the latest available 3.10 version.

[2021-11-22 08:04] pbrissaud commented on #554
Hi,

The v4 release fix this issue !

Regards,

Paul

Le lun. 22 nov. 2021 à 08:56, Will Thames ***@***.***> a
écrit :

[2021-11-22 08:16] NissesSenap commented on #554
@willthames we are stuck with https://github.com/k8s-operatorhub/community-operators/pull/265.
We would love to get some help to debug this if you feel up for it.

None of the maintainers is getting paid to manage/develop this operator so we haven't had time to prioritize this. Sorry for the delay.

[2021-11-23 11:26] Cellebyte commented on #603
So in the end to summarize it.

`livenessProbeSpec` and `readynessProbeSpec` are one level up the crd chain.
`disable_inital_admin_creation` should not be editable because it breaks the grafana-operator as a whole.
`containerSecurityContext` does not support `fsGroup` at all. Only `Pod``securityContext` does.
So there is no need to implement it.

[2021-11-23 11:27] samuelvl opened #619 "Enrich grafana-controller-manager pod labels"
**Is your feature request related to a problem? Please describe.**
I want to get operator pods filtering by labels, however the only label that is available is `control-plane: controller-manager` which could lead to confusion if another operator uses this same label.

[code]

**Describe the solution you'd like**
Add more labels to the operator deployment following k8s best practices https://kubern

[2021-11-23 12:30] NissesSenap commented on #596
This is now solved thanks to #606 and the fix have been released in v4.0.2

[2021-11-23 12:54] pb82 commented on #619
Makes sense, these need to be added to our CSV base: https://github.com/grafana-operator/grafana-operator/blob/master/config/manifests/bases/grafana-operator.clusterserviceversion.yaml

[2021-11-23 12:55] pb82 commented on #608
#609 has been merged, closing this.

[2021-11-23 12:55] #608 closed

[2021-11-23 13:07] #460 closed

[2021-11-23 14:23] BostjanBozic opened #620 "[Bug] Missing node access and failure of readiness probe"
**Describe the bug**
Upgrading operator from v4.0.1 to v4.0.2 using operator lifecycle manager fails.

Initial problem that occurs is that `grafana-operator-controller-manager` service account lacks sufficient privileges. For some reason it is trying to get cluster nodes and this is not part of `grafana-operator.v4.0.2-<hash>` cluster role.
This is based on controller logs:
[code]

I manually adde

[2021-11-23 15:15] HubertStefanski opened #621 "[Bug] Documentation doesn't describe how to use `--scan-all` with OLM"
**Describe the bug**
The OLM deployment of the operator doesn't accept arguments for the operator pod, specifically the `scan-all` flag, instead we define an env var (`DASHBOARD_NAMESPACES_ALL`) to give the same functionality with OLM deployments.

This isn't captured in the documentation at all though.

**Version**
v4.0.1+

[2021-11-24 09:42] shalberd commented on #505
4.0.1 is working on OCP 4.9. However, some confusing issues make it hard to get up and running. I was successful using a basic config, was confused by non-issue error messages, and in the end after some creation of networkpolicies could use Grafana incl. Dashboards. However, the documentation leaves a lot to be desired.

#496

[2021-11-24 11:33] rotarur opened #622 "[Bug] Grafana-operator v4.0.2 can't find grafana deployment"
**Describe the bug**
grafana-operator can't find grafana deployment
[code]

Clusterrole:
[code]

Role:
[code]

**Version**
grafana-operator - quay.io/grafana-operator/grafana-operator:v4.0.2
grafana - grafana/grafana:8.2.5

[2021-11-24 12:00] NissesSenap commented on #622
Spoken on slack, please follow: https://github.com/grafana-operator/grafana-operator/blob/v4.0.2/documentation/deploy_grafana.md#kustomize and you should be able to find the matching CRD:s.

[2021-11-24 17:53] NissesSenap commented on #505
Great that it works for you. Yeah the documentation could definitely be better. We would love corroborations in this area.

[2021-11-24 17:54] #505 closed

[2021-11-24 18:02] Cellebyte commented on #460
@SerialVelocity could you verify if the throttling still happens?

[2021-11-24 18:32] NissesSenap opened #623 "Make the kustomization deployment story better"
**Is your feature request related to a problem? Please describe.**
As stated in the docs we can use kustomize to deploy the grafana-opreator and all it's CRD:s, roles etc.
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#kustomize

But the kustomization filed used to do this already contains things like namespace definition.
You can't stack namespace

[2021-11-25 16:59] SerialVelocity commented on #460
There isn't a release with the fix in yet. I can test once a new version is released.

[2021-11-25 17:01] NissesSenap commented on #622
I will close this since my understanding is that this is solved.
But I have tried to improve this in: https://github.com/grafana-operator/grafana-operator/issues/623

[2021-11-25 17:01] #622 closed

[2021-11-26 00:04] rimitchell commented on #620
Taking a stab in the dark, I believe it might be the leader election that is silently hanging during the upgrade process. The current deployment is using the default rollingUpdate. The reason for this guess is that if I manually killed the older 4.0.1 deployment the new 4.0.2 deployment finally started up and the probes completed.

[2021-11-26 10:08] BostjanBozic commented on #620
@rimitchell thank you for a suggestion, that indeed did the trick. I deleted `ReplicaSet` of old version of operator (as deployment remains the same) and I was able to rollout v4.0.2 operator.

[2021-11-26 12:30] HubertStefanski commented on #583
This one was a mistake, not sure why or when that changed exactly, but it shouldn't have as it started breaking previously working deployments. it has been fixed since, with the newest release

This was removed on purpose, the name wasn't used anywhere in code,

I think this was on purpose as well, datasource.id, wasn't exactly used by the operator, the id is only used in Grafana itself, therefore

[2021-11-26 15:54] ctrought commented on #583
Thanks for the info!

When the CRD fields change enough where it breaks backwards compatibility, going forward would it be possible to increment the api version and support both for a period of time so it does not impact existing CR's? Or perhaps a conversion webhook to update existing instances to the new spec if the changes do not require manual user intervention.

We too had the same issue in o

[2021-11-26 16:12] mohan-nagandlla opened #627 "Change the liveness and readyness Probes scheme HTTPS for grafana continaer"
I have enabled the Azure OAuth but the redirect URl should be https only for that i need to enabled the tls for grafana. I can able to enabled that one also but the probelm is with Probes even though if I provide customized probes the grafana container probes are not charging. How can i change the SCHEME of grafana container probes as HTTPS.

This is the yaml
[code]

I have did the changes at spec

[2021-11-28 11:42] #621 closed

[2021-11-28 11:50] #596 closed

[2021-11-28 11:54] #540 closed

[2021-11-28 12:11] NissesSenap commented on #564
So after #559 got merged it's now possible to use unified alerting in the operator but we have no way to manage the config.

As pointed out by @apryor6 it would be nice to create a few new CRD:s to manage the new API.
To move this issue forward we would need a CRD design.
I have created a design example to manage organizations:  https://github.com/grafana-operator/grafana-operator/pull/615, it wou

[2021-11-28 12:17] NissesSenap commented on #365
I rememberd wrong, it's possible to get dashboards from a url. So "all" we need to do is to add a basic auth solution.

[2021-11-28 15:34] NissesSenap opened #629 "[Bug] grafana-operator wants clusterrole get nodes access during leader-election"
**Describe the bug**
When restarting the opreator and a leader election happens it seems like the operator think it needs to be able to get
nodes. Thanks to this the newly created grafana-operator deployment crashes.

[code]

**Version**
v4.0.2

**To Reproduce**

- `k apply -k config/install`
- Wait and see that the operator starts
- Update the deployment, for example set log level to debug in: ht

[2021-11-28 15:49] NissesSenap commented on #629
I have verified that we have the same issue in v4.0.1
Just checkout v4.0.1 tag: `git checkout tags/v4.0.1` perform the same steps and you will see the same error.

[2021-11-28 16:20] NissesSenap commented on #629
I think I found the reason why our operator wants to get nodes: https://github.com/operator-framework/operator-lib/blob/10d4cb0cb1949c0cb0b149e3a07dc4f51e57cfc8/leader/leader.go#L182

Do we even need leader election for our operator?
My guess is yes, it will make the operator smoother to use even though our operator always would find back to it's correct state.

In short we just need to enable our

[2021-11-28 23:16] davidkarlsen commented on #629
This is the same phenomena as we discovered in this thread: https://kubernetes.slack.com/archives/C019A1KTYKC/p1636534511090300

[2021-11-29 11:08] davidkarlsen opened #630 "[Bug] missing patch verb on events in clusterrole"
**Describe the bug**
the operator cannot create events in namespaces containing dashboards to import

**Version**
v4.0.2

**To Reproduce**
Steps to reproduce the behavior:
1. Add `--scan-all` in order to allow import of dashboards in other namespaces than where the operator runs
2. add dashboard via discovery
3. see log of operator

**Expected behavior**
A clear and concise description of what you

[2021-11-29 19:23] redradrat commented on #393
@HubertStefanski I don't think this should be closed yet...

While the workaround certainly works (kinda in the name 😅) this doesn't solve the issue, that the secret really should be referenced on the `GrafanaDataSource` resource level. Otherwise we'd be merging into `Grafana` resources that potentially someone else would own.

[2021-11-29 20:25] NissesSenap opened #632 "[Bug] How is leader election supposed to work in the new version of operator-sdk"
**Describe the bug**
How should the leader-election supposed to work with operator-sdk

Is it okay to run without using the recreate rollout strategy?

[code]

If so how?

**Version**
v4.0.2

**To Reproduce**
Assuming that https://github.com/grafana-operator/grafana-operator/pull/631 gets merged.

Go in and update config/manager/manager.yaml by removing.

[code]

k apply -k config/install
Wait and

[2021-11-30 04:55] mohan-nagandlla commented on #627
Any updates on this one

[2021-11-30 08:10] mohan-nagandlla opened #635 "[Bug] Do we able to modify the scheme or delete the probes"
Hi team  I just want to do either delete or modify the liveness and readiness probes for the grafana container isn't possible ?

I want to change the scheme to https in liveness and readiness probes or else i want to delete that probes

[2021-11-30 11:55] pb82 commented on #632
Leader election is disabled by default: https://github.com/grafana-operator/grafana-operator/blob/3aac2f0eec65d6012c593e40f871e4fe2451d7ae/main.go#L98

If I understand correctly, this problem happens when leader election is enabled and the rollout strategy is not `Recreate` ?

`Recreate` avoids having multiple operators running at the same time during an upgrade. That's also the only scenario wher

[2021-11-30 12:24] pb82 commented on #635
Hey @mohan-nagandlla this is currently not possible. You can override some aspects of the probes, but not the scheme. I've linked a PR to address this.

[2021-11-30 12:25] pb82 commented on #627
see #636

[2021-11-30 12:25] pb82 commented on #627
Overriding the scheme is currently not supported, but the linked PR addresses this.

[2021-11-30 12:32] NissesSenap commented on #632
That is a good point. on the other hand our default yaml enables it https://github.com/grafana-operator/grafana-operator/blob/b2e94387a074da8a480483220e908c8fd8b1439e/config/manager/manager_auth_proxy_patch.yaml#L27

[2021-11-30 12:39] mohan-nagandlla commented on #635
Thank you for that

[2021-11-30 12:53] NissesSenap commented on #630
This will be released in v4.1.0
Thanks for the issue.

[2021-11-30 12:53] #630 closed

[2021-11-30 12:54] NissesSenap commented on #629
Related to: https://github.com/grafana-operator/grafana-operator/issues/620

[2021-11-30 12:54] pb82 commented on #620
We will shortly release a new version that addresses the issues with leader election.

[2021-11-30 12:54] #623 closed

[2021-11-30 17:37] #627 closed

[2021-11-30 17:37] NissesSenap commented on #627
The PR is merged and will be a part of the next release.

[2021-11-30 17:38] NissesSenap commented on #635
The pr have been merged so I close this issue

[2021-11-30 17:38] #635 closed

[2021-11-30 17:49] NissesSenap opened #639 "Enable missing security context fields in grafana crd"
**Is your feature request related to a problem? Please describe.**
Currently there a few security contexts missing for grafana.
For example fsGroup

**(If applicable)If your feature request solves a bug please provide a link to the community issue**
https://github.com/grafana-operator/grafana-operator/issues/603 old issue

**Describe the solution you'd like**
Go through the missing securitContext

[2021-11-30 17:51] NissesSenap commented on #603
All of the issues are addressed by @Cellebyte in he's last comment except the fsGroup.
I have created a separate issue for that puropse and overall look through securityContext: https://github.com/grafana-operator/grafana-operator/issues/639

[2021-11-30 17:51] #603 closed

[2021-12-02 09:39] NissesSenap commented on #620
This is now solved and released in 4.1.0

[2021-12-02 09:39] #620 closed

[2021-12-02 09:39] NissesSenap commented on #629
This is now solved and released in 4.1.0

[2021-12-02 09:39] #629 closed

[2021-12-02 09:49] NissesSenap commented on #632
I think the main problem here is our readiness probe isn't ok before our new pod becomes leader. Thanks to this our deployment can't ever change over to the new pod thanks to the new pod never actually starts.

So we need to modify how our readiness is working, when that is done we should be able to re-add leader-elect and give the operator get node access, assuming that this is a feature that we

[2021-12-02 12:48] mohan-nagandlla commented on #627
Hi @NissesSenap  may I know at which version can I expect this

[2021-12-02 12:49] NissesSenap commented on #627
It's out now, 4.1.0 got released yesterday :)

[2021-12-02 12:54] mohan-nagandlla commented on #627
Thank you

[2021-12-03 02:35] mohan-nagandlla opened #642 "[Bug] CRDS not working when Grafana running under protocol https"
When I was running the Grafana with HTTPS protocol the Grafana pod logs is saying like
[code]

when  deployed the dashboard resource file to upload dashobard its showing like

[code]

I have enabled the tls for grafana by using below config

[code]

[2021-12-03 06:02] mohan-nagandlla opened #643 "Grafana.spec.config.users add key value pair auto_assign_org_role"
to assign the users who are authenticated by any Oauth feature we can able to assign the role as editor to the org.

[2021-12-03 06:04] #643 closed

[2021-12-03 17:33] HubertStefanski commented on #592
so, just a tip, looks like the ` "sigs.k8s.io/controller-runtime/pkg/client/config"` library can return the cluster name under
[code]
Haven't had the time to address this yet, but just encountered it while working on something else

[2021-12-05 12:21] NissesSenap commented on #642
That makes sense, no where in https://github.com/grafana-operator/grafana-operator/blob/d86b5191c5f1ee0a8d495d536ca17eee46e1531d/controllers/grafanadashboard/grafana_client.go#L86 we take tls in to account.

We need to take make use of TLS and get the secrets that is being applied in the grafana server config.
Same goes for grafananotificationchannel.

Shouldn't be to hard and it would be good to

[2021-12-06 14:14] aneagoe opened #646 "[Bug] grafana-operator rbac is missing routes/custom-host permission"
**Describe the bug**
With version 4.1.0 a regression was introduced where the grafana-operator cluster role is missing the routes/custom-host permission. This breaks deployments on top of OpenShift and the following error can be observed when checking for events in the namespace:
[code]

**Version**
v4.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install operator
2. Deploy grafana wit

[2021-12-07 08:08] rotarur opened #648 "[Bug] Error deleting dahboards folder when all dashboards are removed"
**Describe the bug**
Grafana-operator cannot delete custom folder names and some dashboards If I delete the objects from kubernetes cluster, using `kubectl delete grafanadashboards` command.
Grafana-operator is complaining about not being able to remove some dashborads but the same actually are deleted from grafana by the operator.

[code]

[code]

**Version**
grafana-operator - v4.1.0

**To Repro

[2021-12-07 12:01] pb82 commented on #646
@NissesSenap sounds like this might require a 4.1.1?

[2021-12-07 12:04] pb82 commented on #642
@NissesSenap we disable cert check for the client though: https://github.com/grafana-operator/grafana-operator/blob/d86b5191c5f1ee0a8d495d536ca17eee46e1531d/controllers/grafanadashboard/grafanadashboard_controller.go#L150

[2021-12-07 12:13] NissesSenap commented on #646
Yes, for sure.

[2021-12-07 12:38] pb82 commented on #642
Possible fix:

if one of those field is overridden, we need top import the certificate into our client:

[code]

[2021-12-07 12:43] pb82 commented on #648
Possibly a timing issue, where the folder is deleted before the dashboard?

[2021-12-07 12:45] rotarur commented on #648
the dashbord is deleted but the folder not. I have a lot of errors about deletion of dashboard not being possible but they disappear from grafana, folders still there forever

[2021-12-08 22:20] tylerstanczak opened #649 "Grafana OCP route/ingress TLS Always Enabled [Bug]"
**Describe the bug**
.spec.ingress.tlsEnabled value set to false but the Operator still creates a TLS edge Route

**Version**
4.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Operator Hub'
2. Install Grafana Operator
3. Create a Grafana Custom Resource with .spec.ingress.enabled: true and .spec.ingress.tlsEnabled: false
4. Route has edge TLS enabled

**Expected behavior**
Expecte

[2021-12-08 22:20] tylerstanczak commented on #649
FYI @lsteck

[2021-12-09 04:38] rakeshk121 opened #650 "[Bug] Starting container process caused chdir to cwd permission denied"
**Describe the bug**
grafana-deployment pod is stuck in Init stage.

**Version**
Grafana version - v3.10.4
Openshift version - 4.7

**To Reproduce**
Steps to reproduce the behavior:
  1. kubectl create namespace grafana
2. kubectl create -f deploy/crds
3. kubectl create -f deploy/roles -n grafana
4. kubectl create -f deploy/cluster_roles
5. kubectl create -f deploy/operator.yaml -n grafana
6. kube

[2021-12-11 20:30] NissesSenap commented on #650
@rakeshk121 is there any reason why you can't try v4? I assume this is your first time using the operator and we are trying to focus on v4 as much as possible.

[2021-12-11 20:31] NissesSenap commented on #646
This is solved in https://github.com/grafana-operator/grafana-operator/pull/644 and it will be part of the next release.

[2021-12-11 20:31] #646 closed

[2021-12-13 10:43] aheritier-csgroup commented on #365
A configuration to access dashboard on a private github/gitlab  would be nice.
There is already a Grafana.spec.config.auth.github and gitlab in the operator API. Can i setup this config and use a private github url with the Dashboard url ?

[2021-12-13 11:23] Cellebyte commented on #365
I think a generic approach would be nice.

[2021-12-13 13:47] aheritier-csgroup commented on #365
I just reply to myself but for github, one can use the following format with an oauth token:

https://oauth2:AUTH_TOKEN@raw.githubusercontent.com/user/repo/main/dash.json?token=xxxxxxxxxx

[2021-12-14 10:19] Cellebyte commented on #639
@NissesSenap
Regarding the documentation of Kubernetes it was never supported.
The issue is that it is confusing which one should be used from the CRD for now and the future.

* `fsGroup` as an attribute is supported for the `podSecurityContext` `kubectl explain pod.spec.securityContext` -> https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#securitycontext-v1-core
* from my under

[2021-12-14 11:44] pb82 commented on #648
I tried debigging this. Still not quite sure about the flow but one problem i've observed is that when we create a new folder, another reconcile is triggered immediately. This again calls into `CreateOrUpdateFolder` but it doesn't recognize that the folder already exists, resulting in a `400 Bad Request`.

This is when creating dashboards / folders. For the problems with delete, i'm wondering if w

[2021-12-14 11:54] pb82 commented on #648
@rotarur Ok, so this behaviour is actually intended: the operator never deletes custom folders. I think the reasoning behind this is that we can't know if the folder was created outside of the Operator and is potentially used by unmanaged dashboards. This is where the operator disables deleting custom folders: https://github.com/grafana-operator/grafana-operator/blob/master/controllers/grafanadash

[2021-12-14 12:29] pb82 commented on #649
It looks like we're only supporting `tlsEnabled` for Ingress, not for Route: https://github.com/grafana-operator/grafana-operator/blob/master/controllers/model/grafanaIngress.go#L16

[2021-12-14 12:41] pb82 commented on #648
Possible improvement here: check if a custom folder contains dashboards, if there are none (after deleting the given dashboard) then the folder can also be removed.

[2021-12-14 12:46] pb82 commented on #649
We should support this for Routes as well if Ingress supports it.

[2021-12-14 12:52] samuelvl opened #652 "[Bug] Prometheus datasource is not imported until the controller-manager is restarted"
**Describe the bug**
Prometheus datasource is not imported until the controller-manager is restarted.

**Version**
Grafana operator version is `4.1.0` and Openshift is `4.9`.

[code]

**To Reproduce**
Install the operator in the `opendatahub` namespace (or any other) using the following Subscription and OperatorGroup:

[code]

Wait until the operator is installed:

[code]

Create a `Grafana` insta

[2021-12-14 13:00] pb82 commented on #652
I was able to reproduce this. The problem is that both resources are created at the same time and the Grafana pod is started before the operator updates the config map for data sources.

We should ideally start using the http API to interact with data sources. I'll see if there is another fix for this that we can apply before switching to the datasource api.

[2021-12-14 22:10] #215 closed

[2021-12-15 02:37] rakeshk121 commented on #650
@NissesSenap thanks for the response.  I have tried the v4 but it did not work for me.
[code]

Is the issue due to incompatibility with openshift- 4.7.0 ? Please help.

[2021-12-15 08:57] 1naboki1 opened #653 "Grafana Operator Internal Dashboard"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

After some searching for a public dashboard for the grafana operator internal metrics, i was not able to find one.

Is there any already existing?

**Describe alternatives you've considered**

Building one (when there is some spare time)

[2021-12-15 09:34] js-timbirkett commented on #554
I'm guessing that not bringing the fix to v3 is a polite way of saying: move to v4 😄 😬

[2021-12-15 09:57] NissesSenap commented on #650
If you are on OCP you can use OLM so you should just be able to use the UI if you want to install the operator.
I updated my master branch today and was able to deploy the operator using `kubectl apply -k deploy/manifests/`.
What version of kubectl are you using? Personally I'm using:

[code]

You can also use the kustomize cli as mentioned in the docs.

But since you are on OCP I would use OLM.

[2021-12-15 10:00] NissesSenap commented on #554
No we want this feature to be released under 3.10.4 using OLM and as explained we are stuck in the CI process and no one have prioritised to solve it: https://github.com/grafana-operator/grafana-operator/issues/554#issuecomment-975239377

@js-timbirkett if you are not using OCP and OLM 3.10.4 version image is built and available and you should be able to use it in helm. You can find 3.10.4 release

[2021-12-15 12:18] rakeshk121 commented on #650
@NissesSenap Im using openshift - 4.7 which has k8s version  as follows:
[code]
Does k8s 1.20 support the grafana operator 4.1 ?

I have as well tried to deploy the Grafana operator from the UI of openshift.
Version of grafana operator - v4.1 .
But the Grafana operator pod fails with 'CreateContainerError' as attached in the screenshot below.

![image](https://user-images.githubusercontent.com/229

[2021-12-15 17:41] guimou opened #655 "DataSource needs to be managed through grafana API"
Hi!
When creating a DataSource through OpenShift Advanced Cluster Management, ACM, the datasource does not work. Other components (dashboard, Grafana instance works well).
The exact same deployment through an oc apply -k (like what ACM is doing) works perfectly.

We were able to pinpoint the problem. ACM is adding this in the GrafanaDataSource CR metadata:
[code]
When the ownerReferences section i

[2021-12-15 23:15] NissesSenap commented on #650
Yes the grafana-operator is supported in kubernetes 1.20.

Well this is really interesting, i think you found a very special bug.

https://bugzilla.redhat.com/show_bug.cgi?id=1934177

A well written explication can be found here:
https://danielmangum.com/posts/runc-chdir-to-cwd/

I would advice you too update your cluster to a newer OCP version where this is fixed. This is probably not the only co

[2021-12-16 07:42] NissesSenap commented on #653
We haven't built any dashboard for the grafana-operator. But we would love PR:s in this area :)

[2021-12-16 07:43] NissesSenap commented on #655
@guimou can you please try version 4.1.0 (4.1.1) will be released soon instead.
Not that I think it will help but we will most likely not backport any fix around this issue to v3 so you will have to upgrade to v4 no matter what.

[2021-12-16 07:48] NissesSenap commented on #655
If it works with dashboard but not with datasource it's probably thanks to that we are using a configmap to insert the datasource.

As mentioned in: https://github.com/grafana-operator/grafana-operator/issues/652 `We should ideally start using the http API to interact with data sources`
So that would probably solve this issue while remove some technical debt.

[2021-12-16 21:00] NissesSenap commented on #639
Ahh thanks for pointing this out @Cellebyte, I didn't even look in our code I just assumed it was missing.
Then I will close this issue since we already have implemented
[code]

[2021-12-16 21:00] #639 closed

[2021-12-21 04:12] cheddarwhizzy commented on #402
While this would be a good feature to have, I think we're going to use [kubefed](https://github.com/kubernetes-sigs/kubefed) to sync our GrafanaDashboard resources between our source clusters and our destination cluster running the Grafana operator, and set the replicas to 0 for the operator and the Grafana deployment in the source clusters (or only install the CRDs). This way we don't lose the pl

[2021-12-21 05:55] NissesSenap commented on #402
@cheddarwhizzy that sounds really interesting, if you manage to get it to work it would be really nice to have a blog post or something similar on how you solved it.

[2022-01-02 14:15] yardenshoham commented on #511
@songshukeke how did you solve this issue?

[2022-01-02 14:17] yardenshoham commented on #569
@paulczar how did you solve this issue?

[2022-01-02 14:44] yardenshoham opened #659 "[Bug] error getting folders, expected status 200 but got 401"
**Describe the bug**
The operator does not import dashboards due to failing communication with the grafana pod folder api.

**Version**
v4.1.1

**To Reproduce**
My CR:
[code]

Dashboard:
[code]
**Expected behavior**
The dashboard should be imported successfully.

**Suspect component/Location where the bug might be occuring**
https://github.com/grafana-operator/grafana-operator/blob/86366864a6027f7

[2022-01-04 02:20] songshukeke commented on #511
I check my grafana-opearator logs and found that there's error with my dashboardlabelselector. I think u would solve the problem after checking logs

[2022-01-04 16:33] sujith140 opened #660 "Not able to change the deployment strategy from RollingUpdate to Recreate"
Hi Team,

Currently we are using a PVC with ReadWriteOnce Access Mode for Grafana Instance.
When we update the "Grafana" custom resource we are getting multi attach errors as the pvc cannot be mounted to multiple pods at a time. This is occurring because the default rollout strategy is Rolling Update.
I'm not able to change the deployment strategy to "ReCreate"
Can I get some help here?

[2022-01-07 12:03] ufateh commented on #652
I am facing the same issue. I am adding two scenarios which i tested to reproduce this issue:

1. If i create GrafanaDataSource first and then Grafana, I can see this issue.
2. If Grafana is created first and GrafanaDataSource later, it works fine. But if i delete this instance of Grafana and recreate another, it is not picking up the datasources unless i recreate the GrafanaDataSource. I have not

[2022-01-07 15:32] js-timbirkett commented on #554
Hmmm... the ingress in 3.10.4 is definitely broken as per the initial issue: https://github.com/grafana-operator/grafana-operator/blob/v3.10.4/pkg/controller/model/grafanaIngress.go#L66-L69

[2022-01-11 09:27] pb82 commented on #660
@sujith140 it's working for me, but you the strategy type needs to be `Recreate` and not `ReCreate`. You can use this:

[code]

[2022-01-11 12:36] pb82 commented on #659
Could it be because you're specifying this?

[code]

When using envFrom, you're also expected to pass in the admin user credentials through that secret, see: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/env_vars.md#requirements-when-providing-external-admin-credentials

[2022-01-11 15:39] yardenshoham commented on #659
That fixed it! Thank you @pb82!

[2022-01-11 15:39] #659 closed

[2022-01-14 16:46] ljuaneda opened #665 "Enable Grafana Operator for restricted network environments"
Grafana Operator must meet additional requirements to run properly in a restricted network, or disconnected, environment as described in Openshift documentation : https://docs.openshift.com/container-platform/4.9/operators/operator_sdk/osdk-generating-csvs.html?extIdCarryOver=true&sc_cid=701f2000001OH7JAAW#olm-enabling-operator-for-restricted-network_osdk-generating-csvs

[2022-01-15 18:03] yardenshoham commented on #576
#613 fixes this

[2022-01-15 18:32] yardenshoham commented on #556
Seeing as the code and CRDs are already in place, only the example was missing. Therefore #588 fixes this issue.

[2022-01-15 21:40] #556 closed

[2022-01-15 21:41] NissesSenap commented on #556
Thanks for pointing that out @yardenshoham , I'm closing the issue

[2022-01-18 11:57] pb82 commented on #660
@sujith140 any update on this?

[2022-01-18 12:39] pb82 commented on #665
@ljuaneda looking at the requirements from OpenShift, this seems doable.

[2022-01-18 12:41] pb82 commented on #655
@guimou we expect to fix this when switching to the API for data sources.

[2022-01-18 12:46] #650 closed

[2022-01-18 13:28] guimou commented on #655
OK, no worries. Do you want to leave this open til then, or do we close it?

[2022-01-18 14:45] NissesSenap commented on #655
We will keep it open, it's a good way to track it.

[2022-01-19 13:28] david-martin commented on #653
I was playing around with potential dashboards here and came up with the following.

I imported this dashboard for controller-runtime metrics https://grafana.com/grafana/dashboards/12122
It didn't show anything initially, but with a change to the 'instance' variable and the queries to use the `service` label instead, it might give a good starting point. (`label_values(controller_runtime_active_wor

[2022-01-20 13:03] tux-o-matic commented on #369
@HubertStefanski @NissesSenap, the example values of 100Mi and 300Mi doesn't change the fact that the Operator garbage collection doesn't run correctly and the container gets restarted daily by Kubernetes due to to Out of Memory exception.
Tested on newer Operator v3.6.0 since I originally opened this issue.

[2022-01-20 13:40] tux-o-matic commented on #369
Seems to be fixed by #308.

[2022-01-21 09:27] sujith140 commented on #660
Hi @pb82,

I tried adding the above configuration to grafana CRD, but the deployment is still showing the Strategy as RollingUpdate

[2022-01-24 04:24] kousui-dev opened #668 "Impact of Apache HTTP Server Vulnerabilities (CVE-2021-40438)"
I'm using Grafana Operator 3.9.0.
I have little knowledge of Grafana, so it may be a strange question,
I would like to ask a question to hear the opinions of experts.

Grafana Operator 3.9.0 is affected by the Apache HTTP Server vulnerability (CVE-2021-40438)
I want to know if I will receive it.

-Whether Grafana Operator 3.9.0 uses Apache HTTP Server?
-If so, what version of Apache HTTP Server?
-

[2022-01-24 12:02] mohan-nagandlla commented on #642
Any Updates on this

[2022-01-24 12:04] mohan-nagandlla commented on #642
HI @pb82 we can able to use the extra mounts facility to decide where the secrets or config maps can store

[2022-01-25 12:45] pb82 commented on #668
@kousui-dev the Grafana base image (if affected) can be overridden in the CR. Generally however we would recommend that you upgrade to the latest 4.1.1 release which should not be affected.

[2022-01-25 12:46] pb82 commented on #660
@sujith140 what version of the Operator are you using?

[2022-01-25 12:46] #434 closed

[2022-01-25 15:24] pbrissaud opened #669 "Error getting folders, expected status 200 but got 401"
**Describe the bug**
I get many many Kubernetes Events  **"Error getting folders, expected status 200 but got 401"**  but the dashboards are well uploaded on Grafana  ; take a little more time than usual but I think it's because the *admin* account is blocked (see grafana logs below). The bug affect all dashboards (in the operator dashboard or not) ; apparently not datasource

**Version**
Tried wi

[2022-01-25 15:35] rbounds opened #670 "Enable operator deploy via kustomize with out rbac-proxy"
**Is your feature request related to a problem? Please describe.**
Yes. I'd like to install the operator with out the rbac-proxy. The docs [here](https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-metrics) seem to describe a situation where I should install via kustomize then clobber the freshly created resources with stuff from config. This f

[2022-01-26 03:07] kousui-dev commented on #668
Thank you for the reply.

It didn't seem to overwrite in the CR below.
# oc get crd | grep grafana
grafanadashboards.integreatly.org                           2020-10-20T05:51:10Z
grafanadatasources.integreatly.org                          2020-10-20T05:51:10Z
grafanas.integreatly.org                                    2020-10-20T05:51:10Z

It seems that grafana 7.1.1 works with grafana-operator 3

[2022-01-26 18:32] daniel-garcia opened #671 "PagerDuty Notifier to support reading IntegrationKey from secret"
**Is your feature request related to a problem? Please describe.**
As a system administrator I maintain various secrets using vault / k8s secrets. The Pagerduty notifier CR, however, wants the IntegrationKey (a secret) coded into a CR. This configuration is stored as a secret in my organization. I would like to separate the configuration of the secret from the configuration of the notifier channel

[2022-01-27 16:17] pbrissaud commented on #669
Ok I think I found the problem :

**Context**
This cluster is new and replace an old cluster. Before the migration, I created the new cluster and deployed all the manifests from the "old" to this cluster (so same Grafana Ingress address). At the migration time, I just change DNS zone to point to the new cluster and this bug occured.

**Remediation**
I just set `ingress.enabled: false` in the old c

[2022-01-27 16:17] #669 closed

[2022-01-27 16:46] 1naboki1 commented on #653
I really like this approach, did you test this with multiple grafana operators in the same cluster?

In my use case i provide several grafana instances with their own operator (unfortunatly no multiple instances support from Operator).

Since i have workwise now a bit more time i will try to take this approach and combine it with the grafana metrics board.

[2022-01-28 08:18] ljuaneda commented on #665
@pb82 do you intend to add this feature in next release ?

[2022-01-28 08:20] ljuaneda commented on #665
also related to https://github.com/grafana-operator/grafana-operator/issues/333

[2022-01-31 13:13] RobertFloor opened #672 "[Bug] Datasource not available when using an oauth proxy."
**Describe the bug**
Datasource not available when using an oauth proxy. We have setup the Grafana operator with OAuth proxy acces for openshift as described in this pull request https://github.com/grafana-operator/grafana-operator/pull/637. It works successfully and we can login to Grafana using our openshift credentials. However we cannot get the Datasource from the operator to to work in this s

[2022-01-31 15:28] eloyvaldera-te opened #673 "[Bug] Issue upgrading from grafana v3.10.3 to v4.1.1"
**Describe the bug**
Upgrade from version v3.10.3 to v4.1.1 stuck in pending due to some requirements couldn't be found

**Version**
v3.10.3 and .v4.1.1
Openshift 4.6.40

**To Reproduce**
Steps to reproduce the behavior:
1. Install grafana operator v3.10.3
[code]
2. Wait until grafana is up and running
[code]

3. Delete current subscription as documentation said (https://github.com/grafana-operato

[2022-01-31 16:21] sujith140 commented on #660
Hi @pb82 The version of the operator is "3.10.3"
channel is "alpha"

[2022-02-01 12:39] pb82 commented on #673
@eloyvaldera-te The Ingress `apiGroup` has changed in OpenShift 4.8 and Grafana Operator 4.0+ is assuming that you are running at least OpenShift 4.8. You can either stay on 3.x or upgrade your cluster to at least 4.8.

[2022-02-01 12:44] pb82 commented on #672
@RobertFloor I'm not sure if this is related to the oauth-proxy. It could be an instance of this bug: https://github.com/grafana-operator/grafana-operator/pull/664

To verify, could you try restarting the Grafana pod (by deleting or scaling) to see if the datasource gets imported?

[2022-02-01 12:51] pb82 commented on #671
@daniel-garcia this is possible by useing env vars in the data source, see: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/env_vars.md#using-environment-variables-in-data-sources

[2022-02-01 12:55] pb82 commented on #673
We should do two things however:
1) make it clear in the docs what OpenShift versions are supported by which Operator versions
2) use CSV labels to prevent installation of incompatible combinations

[2022-02-01 14:27] eloyvaldera-te commented on #673
Hi @pb82

Thank you very much for your help, I think it would be nice if more information was included in the documents about the compatibility matrix.

I did not find any document about this compatibility matrix and if I try to install the grafana operator using OperatorHub by default v4 is selected even in Openshift 4.6

[2022-02-01 18:35] slenky opened #674 "[Bug] Can't create GrafanaDatasource for Tempo with traceToLogs"
**Describe the bug**
I am trying to create a Tempo datasource using that [example](https://grafana.com/docs/grafana/latest/datasources/tempo/#provision-the-tempo-data-source)
[code]

However, I recieve an error:
[code]

Some fields in jsonData are not up-to-date (at least according to Grafana docs they should be present):
[code]
**Version**
v.4.1.1

**To Reproduce**
Steps to reproduce the behavior

[2022-02-01 19:29] NissesSenap commented on #670
@rbounds I don't think we will support this. It would force in to doing breaking changes on the current yaml that we supply.
It might be something worth considering in the 5.0 release https://github.com/grafana-operator/grafana-operator/pull/667

You can always follow the script in: https://github.com/grafana-operator/grafana-operator/blob/master/hack/release.sh to see how we the current yaml.
All

[2022-02-01 20:34] NissesSenap commented on #408
So I have tried to think of good design solution on how to implement multi organizational support to a single grafana instance. I'm currently leaning on **not** supporting multiple organization in a single grafana instance.

I have tried to explain my reasoning why and I would love to get your feedback on this: https://github.com/grafana-operator/grafana-operator/pull/615

[2022-02-01 20:47] NissesSenap commented on #674
Thanks for bringing this to our attention @slenky.
We haven't implemented all the config values that exist in grafana since they get updated so regularly.
We would love to have this feature in the operator.

Is this something that you would be willing to try to implement on your own?
You can for example look at: https://github.com/grafana-operator/grafana-operator/pull/609

[2022-02-01 20:54] RobertFloor commented on #672
I have restarted the pods in the deployment by deleting the pods. The issue still persists.

I believe it has to do with the organization being set up to my openshift username. Perhaps I have to grant permissions:
<img width="969" alt="Schermafbeelding 2022-02-01 om 21 34 25" src="https://user-images.githubusercontent.com/1525856/152049577-13b50b68-28e0-4f1a-b2c5-5aae13208404.png">

Here is my use

[2022-02-01 20:55] NissesSenap commented on #668
@kousui-dev please follow the instructions in https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md#upgrade-from-3xx-to-4xx when upgrading to version 4.

As @pb82 mentioned you can use `grafana.spec.baseImage` to define any grafana imge that you want to use.

[2022-02-02 09:07] RobertFloor commented on #672
So we solved it ourselves,

The trick was to reapply the data source after changing the grafana custom resource. We thought it would use the saved data source but we had to re-add the data source after changing the Grafana object. (possibly because we deleted the old object which did not use a proxy before)

Also reading the dashboard was a bit tricky, we had to add the JSON for the dashboard in g

[2022-02-02 09:45] #672 closed

[2022-02-02 10:19] slenky commented on #674
@NissesSenap thanks for a good example and operator as well :) I've opened a PR to fix that.

[2022-02-02 17:56] rbounds commented on #670
Yeah. I saw the release.sh. I found more questions there than answers. Can you help me understand why you are using kustomize to build manifest then running kustomize create --autodetect ` on the result ? Why not just move all of the kustomize up the chain. Is this an attempt to reduce complexity for users?

[2022-02-03 15:56] bukovjanmic opened #676 "[Bug]Unable to download plugins for dashboards when behind proxy"
**Describe the bug**
Grafana operator init container fails to download plugins when behind proxy

**Version**
Latest version of grafana_init_plugins - 0.0.5

**To Reproduce**
Steps to reproduce the behavior:
1. Declare a plugin in GrafanaDashboard resource
2. Define proxy in spec.deployment.httpProxy
3. Plugins fail to download during Grafana initialization

**Expected behavior**
Plugins are downl

[2022-02-03 19:57] yannickbsaq opened #677 "[Bug] Issue upgrading from Grafana v3.10.3 to v4.1.1"
**Describe the bug**
Tried upgrading Grafana Operator from v3.10.3 to v4.1.1 and the operator's status is stuck on "Pending"

**Version**
v4.1.1

**To Reproduce**
Followed the steps from [https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md#upgrade-from-3xx-to-4xx](https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md#upgrade

[2022-02-05 10:33] #674 closed

[2022-02-08 18:52] HubertStefanski commented on #676
Hi @bukovjanmic, thanks for reporting this, seems like an easy fix in our deployment to accept the HTTPS_PROXY env var, I'll tag you in a pull request shortly

[2022-02-09 10:41] gilfrade opened #680 "[Bug] Cannot import more than 1 dashboard"
**Describe the bug**
Cannot import more than 1 dashboard. Works if i import 1 dashboard.

**Version**
v4.1.1

**To Reproduce**
Steps to reproduce the behavior:
1. Install deploy/manifest
2. Import two different GrafanaDashboard
4. See error

**Expected behavior**
Imports two dashoards.

**Suspect component/Location where the bug might be occuring**
`unknown` i tried grafana versions 7.1, 7.5, 8.3

[2022-02-11 10:39] johanderss opened #681 "Add support for exemplarTraceIdDestinations in Prometheus data source"
**Is your feature request related to a problem? Please describe.**
The Prometheus data source has support for exemplars but the fields need to be whitelisted in Grafana Operator.

**Describe the solution you'd like**
Add support for the following type in jsonData:

[code]
Example data source can be found here [Provision the Prometheus data source](https://grafana.com/docs/grafana/latest/datasource

[2022-02-13 07:17] Halytskyi opened #683 "Grafana operator endless (in loop) get dashboards when using url"
**Describe the bug**
I storing dashboards in my local git (Gitea). For download dashboards to Grafana I use simple manifest like:
[code]

Everything works, after downloading dashboards I don't see any new messages in Grafana Operator. But when I checked logs of Gitea I noticed that Grafana Operator send endless request to get dashboards. I don't think that it's expected behavior and from other sid

[2022-02-13 18:09] Halytskyi commented on #683
When I turned on debug logs for operator I see that it running "periodic dashboard resync" EACH 10 seconds.
[code]

Why we need that so often?

[2022-02-14 08:06] MikeJOBirch opened #685 "Jaeger as Datasource with oauth-proxy"
Hi I'm having trouble adding Jaeger as a datasource.
I am using the Redhat version of the Jaeger operator and have a proxy on the Jaeger query. How do I allow Grafana access to Jaeger-query service?
I'm getting 502 Bad gateway when I try to add it as a datasource.
The jaeger ingress is setup like this:

[code]

if I disable the security I can add Jaeger as a datasource, but  i would like to keep i

[2022-02-15 08:35] NissesSenap commented on #668
I will close this issue since it's something that you can change in your config.

[2022-02-15 08:35] #668 closed

[2022-02-15 08:38] NissesSenap commented on #683
In some ways this might be related to: https://github.com/grafana-operator/grafana-operator/issues/597
@Halytskyi we don't have a solution for this out of the box.

If you want a workaround I would recommend to stop using this feature and instead just use the standard yaml to import your dashboard.

[2022-02-15 12:36] pb82 commented on #685
@MikeJOBirch is there any logging on the Jaeger side that indicates if Grafana is making a request and if yes, why it fails?

[2022-02-15 12:46] pb82 commented on #683
@Halytskyi Ok, so there shouldn't be any reason to download the dashboard after the first time it succeeds. It could be because we're unable to determine if the dashboard is already in Grafana. We might need to at least specify the name in addition to the URL. Needs some investigation.

[2022-02-15 12:47] #681 closed

[2022-02-15 12:52] NissesSenap commented on #665
@ljuaneda if you can add a PR for this it would be great.

[2022-02-15 13:01] MikeJOBirch commented on #685
Hi i am now getting Jaeger: Bad Request. 400. Unable to load TLS certificate.
The logs when i try to connect the data source.

Jaeger logs:

`
{"level":"warn","ts":1644929763.0030396,"caller":"channelz/logging.go:62","msg":"[core]grpc: Server.Serve failed to create ServerTransport: connection error: desc = \"transport: http2Server.HandleStreams received bogus greeting from client: \\\"\\\\x16\\\\x

[2022-02-15 13:17] david-martin commented on #680
@gilfrade
I wasn't able to reproduce the problem you are seeing.

I created the 2 GrafanaDashboard CRs from you example above, and both import OK
![Screenshot 2022-02-15 at 13 02 34](https://user-images.githubusercontent.com/878251/154069063-3b9445b8-f3ba-4c6c-a9a2-b20fcbc3ae1e.png)

They both also render (1 with data, 1 without, but that may be because I don't have the right data)
![Screenshot 20

[2022-02-15 14:15] johanderss opened #686 "[Bug] Dashboards are constantly deleted and re-created"
**Describe the bug**
When using the `--namespaces` arg, dashboards keep being deleted and re-created during reconciliation.

**Version**
4.1.1

**To Reproduce**
1. Add the `--namespaces` arg when running the operator. E.g. `--namespaces=ns1,ns2`
2. Dashboards are deleted and re-created during re-conciliation

**Expected behavior**
Dashboards are created only once

**Suspect component/Location wher

[2022-02-15 19:39] NissesSenap commented on #686
Yeah I manage to recreate this using our image. The funny thing is that also manage to see restarts of the grafana instance. This might have something to do with the grafanadatasource, but I'm unsure.

But changing over and running `- --scan-all=True` and it works as intended.

[2022-02-15 19:57] NissesSenap commented on #686
I need to run but I think that when defining specific namespaces they all don't get collected in to a single list.
Instead they are parsed per namespace and then they hit the dashboardsToDelete and the operator will remove them. Then they are automatically re-added again.

https://github.com/grafana-operator/grafana-operator/blob/1b94fe6dc41907a4a3ffae3eca4cfe5fab859e35/controllers/grafanadashboar

[2022-02-15 23:11] badjware opened #687 "[Bug] live.max_connections configuration is not added to the grafana-config configmap"
**Describe the bug**
The config `live.max_connections` in the Grafana custom ressource  is not passed to the grafana.ini in the grafana-config configmap.

**Version**
v4.1.1

**To Reproduce**
Steps to reproduce the behavior:
1. Create a very simple grafana deployment with `live.max_connections` set to some value.
[code]
2. Inspect the grafana-config configmap. In my case it yield this:
[code]

**E

[2022-02-16 13:20] gilfrade commented on #680
Hello @david-martin , i tested with your Grafana CR and i still have this issue. Can you test with the operator deployment that i used? I only changed namespace from `system` to `monitor` and tried again with your Grafana CR and the dashboards indicated in this issue.

[grafana-operator.zip](https://github.com/grafana-operator/grafana-operator/files/8080125/grafana-operator.zip)

[2022-02-16 15:53] daha opened #688 "[Bug] Not possible to configure grafana-clickhouse-datasource from grafanadatasource"
**Describe the bug**
I'm trying to define a grafanadatasource for the [grafana-clickhouse-datasource](https://grafana.com/grafana/plugins/grafana-clickhouse-datasource/) plugin, but the required parameters `port`, `server`, `username` in `jsonData` are not part of the CRD so the parameters does make their way to the config map.

**Version**
v4.1.1

**To Reproduce**

1. Ensure the grafana-clickhous

[2022-02-16 22:02] addreas commented on #683
I think #689 might help with this, since I ended up adding some caching functionality at the same time as the rate limiting.

[2022-02-20 15:01] SerialVelocity commented on #592
Just hit this same issue when updating from 3.10.1 to 4.1.1.

@pb82 It looks like that workaround only works if you are on OpenShift with a route, or have an Ingress object making grafana publicly accessible.

@NissesSenap Could you remove the suffix for now until this is properly fixed as, by default, the dns config is `ndots:5` which means if you try and access `"http://%v.%v"` it will automatic

[2022-02-20 15:04] SerialVelocity commented on #592
It looks like https://github.com/grafana-operator/grafana-operator/pull/441 which went into 3.10.2 is what broke custom cluster names.

[2022-02-20 15:17] SerialVelocity commented on #592
Another workaround is adding a static host alias to your grafana-operator deployment:
[code]

[2022-02-21 09:20] MikeJOBirch commented on #685
Hi @pb82

Any update on this?

[2022-02-21 10:07] david-martin commented on #653
No, I haven't. That might require another template variable for namespace

Do follow up with how your approach goes

[2022-02-22 11:41] pb82 commented on #687
@badjware the [live](https://grafana.com/docs/grafana/latest/administration/configuration/#live) section is new and needs to be whitelisted in our ini generator: https://github.com/grafana-operator/grafana-operator/blob/master/controllers/config/grafanaIni.go

[2022-02-22 12:49] #652 closed

[2022-02-23 09:51] david-martin commented on #680
I've put the content into a gist for easier reference https://gist.github.com/david-martin/6a4f07c40ad6bed838a95722c859109a
There's a lot of resources, so a good course of action might be to diff them.
I'll post if I find anything

[2022-02-23 14:22] pavan541cs commented on #687
@pb82 Can I work on this issue?

[2022-03-01 12:34] pb82 commented on #688
@daha some of the required fields are not yet whitelisted. If you would like to, feel free to open a PR against this file: https://github.com/grafana-operator/grafana-operator/blob/master/api/integreatly/v1alpha1/grafanadatasource_types.go#L89

[2022-03-01 12:34] pb82 commented on #687
@pavan541cs yes, pease

[2022-03-03 15:29] daniel-garcia commented on #671
Thanks for pointing that out. IIRC, projected environment variables are not dynamically reloaded. So a pod with a projected secret ref will be in pending state until the secret exists. Then the pod will materialize with the secret at the time of pod creation. The net effect is, if you change the secret the pod has to be deleted/recreated for it to pick up with the new value.

[2022-03-03 19:13] CherryJia opened #694 "[Bug]Failed to login with Ldap user"
**Describe the bug**
we have enabled the ldap for our grafana, and be able to test from Console by search a specific user , but it failed to login in

**Version**
 v4.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Ldap
2. Test from server Admin Ldap console, works fine with my userid and get all the groups listed
<img width="1045" alt="image" src="https://user-images.githubuserco

[2022-03-05 16:17] Moulick opened #697 "[Bug] missing annotations to grafana deployment"
**Describe the bug**

Adding annotations to the spec.deployment.annotations does not add the annotations to the grafana deployment. It instead adds it to the podtemplate in the deployment

**Version**

grafana-operator:v3.10.4

**To Reproduce**
Steps to reproduce the behavior:
1. Apply below grafana CR
<details><summary>grafana.yaml</summary><p>

[code]
</p></details>

2. Check the grafana deploym

[2022-03-07 15:00] js-timbirkett opened #698 "Question: Is it possible to "unmanage" dashboards created by the operator?"
We have several teams that are looking at un-managing dashboards that are managed by the controller but we don't want to necessarily remove the GrafanaDashboard CR as it would delete the dashboard.

Is there any sort of deletion protection or behavioural hints I can pass the operator that might allow the un-managing of dashboards?

[2022-03-08 12:38] pb82 commented on #694
@CherryJia I'm not too familiar with LDAP, so I can only point you to our existing example: https://github.com/grafana-operator/grafana-operator/tree/master/deploy/examples/ldap

[2022-03-08 12:43] pb82 commented on #697
@Moulick at the moment we only allow annotations to be defined for the pod, while labels are applied to pod and deployment. I think we should do the same for both, so annotations should also be applied to the deployment.

[2022-03-08 12:49] pb82 commented on #698
@js-timbirkett there is no supported way of unmanaging a dashboard. What is the use case you're thinking of? Is it to allow manual changes to imported dashboards? In that case you have a few options:

* Make a copy of the dashboard and create it in Grafana (not through a CR). The Operator won't interfere with that copy.
* Scale down or uninstall the Grafana Operator. Grafana itself will keep runni

[2022-03-08 15:41] daha commented on #688
Closing this issue as the required fields are now whitelisted after merge of #696.

[2022-03-09 11:42] Moulick commented on #697
@pb82 added a fix for this, please approve running the Github workflow for the attached PR

[2022-03-09 15:07] wenerme opened #700 "[Bug]RBAC error - list namespace cause dashboard not insatlled"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

dashboard not installed

**Version**
Full semver version of the operator being used e.g. v3.10.1, v4.0.0

v4.2.0

**To Reproduce**
Steps to reproduce the behavior:
1. deploy grafana with`dashboardNamespaceSelector: { }`
2. add a dumy dashboard

[code]

[code]

**Expected behavior**

dashboard installed without error

[2022-03-10 09:42] CherryJia commented on #694
fixed

[2022-03-10 09:42] #694 closed

[2022-03-10 15:12] #673 closed

[2022-03-14 20:41] NickLarsenNZ commented on #569
@paulczar did you close this because you solved it? Do you mind sharing how?

[2022-03-15 06:21] sanasz91mdev opened #702 "Jaeger datasource on Grafana operaor installed on Openshift - Data source plugin does not export any Query Editor component [Bug]"
****Describe the bug****
When adding Jaeger datasource in Grafana operator on openshift .. The datasource is successfully connected as shown:

![image](https://user-images.githubusercontent.com/39674269/158318652-3286fbda-9d17-4dd0-8ae8-41b98c347961.png)

But when i am accessing the data source on dashboard, its not working ... what can be the reason?

But when i am accessing the data source on da

[2022-03-15 12:44] pb82 commented on #698
@js-timbirkett closing this, feel free to reopen if you have trouble with any of the suggestions.

[2022-03-15 12:44] #698 closed

[2022-03-15 12:45] pb82 commented on #700
@wenerme how did you install the Operator? When using OLM or kubebuilder you should end up with all the permissions provided, including namespace list.

[2022-03-15 12:52] pb82 commented on #702
@sanasz91mdev this looks like an issue with the datasource plugin itself. How are you installing the data source? By creating a GrafanaDatasource CR or do you create it directly in the Grafana UI? If via CR, can you please share it with us so we can try to reproduce the issue?

[2022-03-16 00:48] Halytskyi commented on #592
Very ugly workaround, but I used it too as no any more good solution for now.
But for now I can't use operator at all as it has very critical bag with creating dashboards via url (see https://github.com/grafana-operator/grafana-operator/issues/683) and as result I running operator deployment only when I upgrading Grafana or adding new dashboards (via url) and after few minutes I destroying it.

[2022-03-16 09:59] SerialVelocity commented on #592
Yeah, I also tend to shut down the operator when I have no changes to push to Grafana. It seems to hammer my API server with requests. Good to know about the URL issue as I have a tonne of URL dashboards as well.

[2022-03-16 18:35] sanasz91mdev commented on #702
i tried both, both ways i got the same error

tried via UI and tried via creating a CR GrafanaDatasource too

[2022-03-17 07:54] zfrhv opened #705 "[Bug] error getting folders, expected status 200 but got 401"
**Describe the bug**
after creating grafana instance, tried to create dashboard, but got errors in grafana operator:
[code]
and also in events:
[code]
I also gave cluster-admin to the service account, restarted the pod, and still got the same problems.

**Version**
4.1.1

**To Reproduce**
install grafana operator on openshift 4.8.19, create grafana instance:
[code]

and create the dashboard:
[code

[2022-03-17 08:16] zfrhv commented on #705
when removing the dashboardLabelSelector then no errors occure:
[code]
no any errors in the operator manager logs, 0 events, and also the dashboard is not being imported into grafana.

[2022-03-18 10:55] smuda opened #706 "[Bug] Dependency github.com/openshift/api@v3.9.0+incompatible is missing"
**Describe the bug**
When building from source and opting out of using proxy.golang.org (for example by setting GOPROXY=direct) there is an error of a missing revision:

[code]

Looking at github.com/openshift/api there are no tags at all which could probably explain the error. As building from source works when using proxy.golang.org I suppose there has been tags in the project previously which h

[2022-03-18 11:05] smuda opened #707 "Support building in network restricted environment"
**Is your feature request related to a problem? Please describe.**
When building the grafana operator from source within a network restricted environment, being able to use local images and GOPROXY/GOPRIVATE is a requirement.

**Describe the solution you'd like**
I'd like to be able to point to an internal image for building (instead of golang:1.16 from docker hub) and using internal storage for t

[2022-03-18 11:06] smuda commented on #706
One easy way to test this is using the Dockerfile I've created in #707 and build the image:

[code]

[2022-03-18 16:01] BapRx commented on #700
Hi, I have the same issue. I deployed grafana-operator using the Bitnami chart: https://github.com/bitnami/charts/tree/master/bitnami/grafana-operator
(versions tested: 2.2.10, 2.2.11)

The I have the following error:
[code]
The dashboard installation went through after commenting out the following, but that's not ideal.
[code]

[2022-03-20 13:43] Moulick commented on #697
https://github.com/grafana-operator/grafana-operator/pull/699 is open to fix this issue, let me know if there is something that needs to be done to get this wrapped up :). + I am more than happy to add a separate podAnnotations

[2022-03-21 19:09] NissesSenap commented on #705
@zfrhv if you don't define a dashboardLabelSelector the operator is unable to find the dashboard and that is why you won't get any error and the import doesn't happen.

Could you share how your entire grafanadashboard yaml looks like. My current assumption is that you have some kind of definition of folder in the json.
It's probably solved by defining `grafanadashboard.spec.customFolderName` in yo

[2022-03-21 19:59] andrewm-aero opened #708 "Support Arbitrary Plugin JsonData"
**Is your feature request related to a problem? Please describe.**
The `jsonData` field in the `GrafanaDatasource` CRD is unnecessarily limiting. Grafana has a plugin architecture, so it is simply not possible to have a field for validation for every plugin. Even if there was a bot that periodically scraped the list of all published plugins, and updated the CRD code to include every field for ever

[2022-03-22 06:55] smuda commented on #707
Lovely! I created PR #709

[2022-03-22 11:39] zfrhv commented on #705
hello,
im working in airgapped network so getting the files out may take a while.

but I just realized that im trying to import dashboard that I created in grafana 6.21.3 (helm chart) into grafana 4.1.1 (operator) 🤦‍♂️

it was dashboard with panels `type: text` and `type: alertList` (I didnt saw those options in grafana 4.1.1 ui)

my bad, sorry..

[2022-03-22 11:39] #705 closed

[2022-03-22 12:27] #697 closed

[2022-03-22 12:36] pb82 commented on #708
@andrewm-aero if I remember correctly, there was a problem with CRD generation when using a map. But that was on an older version of the operator-sdk. I can try it again. Not sure if there is any other good reason for whitelisting every single new field.

[2022-03-22 12:43] pb82 commented on #706
@smuda the openshift-api repository does not define any releases or tags. Is this working because the dependency is still cached somewhere? In that case yes, a workaround would be good. What would you suggest? The replace that you used seems to point to a tag that also needs to be cached?

[2022-03-22 12:46] pb82 commented on #702
@sanasz91mdev have you tried using a more recent Grafana base image? Jaeger is a built in plugin and it still looks like an issue with the plugin rather than the Operator. Would be good to try a more recent version.

[2022-03-22 12:51] pb82 commented on #700
@BapRx are you sure that you commented out the `dashboardLabelSelectors`? The operator would not import any dashboards if that was missing. Was it `dashboardNamespaceSelectors` by any chance?

[2022-03-22 13:03] pb82 commented on #700
I think we set up the permissions for the Operator to only run in namespaced mode. The documentation mentions that you need to apply cluster roles when using namspace label selectors (or the `--namespaces` flag): https://github.com/grafana-operator/grafana-operator/blob/7754cd15386ff6da1e3e7b820f8baf53e6dd9356/documentation/dashboards.md#discovering-dashboards-in-other-namespaces

However it looks

[2022-03-22 23:34] bsgrigorov opened #710 "Support for grafana v8"
**Is your feature request related to a problem? Please describe.**
When do we expect support for grafana version 8?

**Describe the solution you'd like**
Support and recommendations for v8 of grafana

**Describe alternatives you've considered**
Max version recommended right now is v7.5.15

[2022-03-23 09:44] kwenZh opened #711 "[Question] some questions about `GrafanaDashboard`"
when i use grafana-operator, There are some confusing questions here：

1 、 In what form are crds  `GrafanaDashboard` associated with grafana pod, configMap ？ i did not see any configMap after  deploy a `GrafanaDashboard`

2、 deploy a crds `GrafanaDashboard`,  after deploy a grafana replicaset,   is it will be refresh grafana‘s dashboards? it seems not

3、in default deploy grafana, path: `/opt/bitn

[2022-03-23 16:47] BapRx commented on #700
Hi thank your for your comment, you're right, I commented `dashboardNamespaceSelector`
[code]
The helm chart does create the cluster issuer:
`❯ k get clusterroles grafana-operator -oyaml`
[code]

I tried installing directly the manifest from the grafana-operator repo, without success. https://github.com/grafana-operator/grafana-operator/tree/master/deploy/cluster_roles

The only way to make it wor

[2022-03-24 07:50] juazugas opened #712 "Mismatch link to configmap filename ocp-injected-certs.y_a_ml"
In the README file the link points to the file `ocp-injected-certs.yaml` but the filename is `ocp-injected-certs.yml` (the extension name is different). I could suggest the PR for changing the README.md but since all the files have the four-letter extension, I think it makes more sense to rename the targeted file.

https://github.com/grafana-operator/grafana-operator/blob/aa20ca09dbcc755059c25c5eb

[2022-03-24 20:25] HubertStefanski commented on #710
Hi @bsgrigorov We don't have support for v8 on our roadmap currently, we still need to verify with our company's legal team whether we can use grafana v8 as part of this operator officially due to their switch to GPLV3. However, we do have ways of overriding the grafana image,

with these args:
[code]

or by using the `GRAFANA_IMAGE_URL` and `GRAFANA_IMAGE_TAG` env vars

Does this answer your ques

[2022-03-24 20:27] HubertStefanski commented on #712
@juazugas Thanks for bringing this up! we're always open to community pull requests, if you think you see an issue, don't hesitate to send one, and we'll review it ASAP :+1:  :smile:

[2022-03-24 20:29] bsgrigorov commented on #710
Ok thank you! If you don't mind I will leave this open for other to see and when there is an update on this please post it here. Much appreciated!
I did also try v8.4.4 and it worked, but I am not sure if we want to run it in production if it is not officially supported by the grafana operator team.

[2022-03-25 08:48] kwenZh commented on #711
thank you reply question !

1-2、 my step is:
[code]
is it normally?   My expectation is that it can be updated dynamically grafana's dashboards. but can not.
i check grafand config `grafana.spec.dashboardLabelSelector`  , it is  can match `GrafanaDashboard.metadata.labels`

3、 ok， i try to find some infos  in community

4、yes ,  i can use 3.10.3 version operatos normally

[2022-03-26 22:45] andrewm-aero commented on #708
If arbitrary maps aren't permitted as fields, a workaround would be to make those fields strings, and parse it as JSON within the operator.

[2022-03-29 11:44] pb82 commented on #711
@kwenZh the second dashboard `dashboard-2` should also get imported. Can you please provide both dashboard yaml definitions, then we can check if there is a problem.

[2022-03-29 11:48] pb82 commented on #710
@bsgrigorov we don't really support any Grafana version (in the sense that we guarantee that all features work through the operator). So you should be fine to use Grafana 8 already. If something doesn't work or isn't exposed yet through the operator, please open a Github issue and we can look into that.

[2022-03-29 11:51] pb82 commented on #708
I'll give this a try with a `map[string]string`. I can't see a reason at the moment for not doing that, I will report back with the results.

[2022-03-29 11:57] pb82 commented on #700
@BapRx the cluster role created from the helm chart also doesn't have the namespace list permission. We'll likely add those permissions back to the example cluster role, but you'd need to apply them yourself.

[2022-03-29 18:40] bsgrigorov commented on #710
Have any tests been made with grafana v8? I'm asking in terms of dashboards, datasources, alerts. I know that alerts are new and different in grafana v8.

[2022-03-30 04:14] smuda commented on #706
@pb82 If I read [stackoverflow](https://stackoverflow.com/questions/57355929/what-does-incompatible-in-go-mod-mean-will-it-cause-harm) correctly, there used to be tags in the openshift-api repository when the dependency was created and that tag has then been cached in proxy.golang.org which is normally used when resolving dependencies.

Looking at the release-3.9 branch, there is no go.mod but in

[2022-03-30 10:07] kwenZh commented on #711
now it recover, operator everything is ok. It's not clear why, i think it maybe rbac

[2022-03-30 10:07] #711 closed

[2022-03-30 10:51] kwenZh opened #713 "[Bug] grafana-operator error log: Grafana.integreatly.org \"grafana-operator-grafana\" is invalid: status.dashboards: Invalid value: \"object\":"
**Describe the bug**
There are occasional error logs in grafana-operator

[code]
and i describe Grafana yaml
[code]

and i have deploy `GrafanaDashboard` and it can load in grafana web normally

![image](https://user-images.githubusercontent.com/38367518/160814420-eff8881a-2b16-4b90-a2bd-7e268be5d111.png)

![image](https://user-images.githubusercontent.com/38367518/160814250-63573b45-c406-4149-a46

[2022-03-31 08:36] BapRx commented on #700
@pb82 ok, I'll update the helm chart with the new cluster roles once you update the examples. Thank you!

[2022-04-01 10:24] pavan541cs commented on #687
@pb82 I have raised a PR for this issue #714 . Please review and let me know if anything is missing

[2022-04-01 16:16] 1naboki1 commented on #710
I tested it with several grafana v8 Version(8.2.x , 8.3.4, 8.4.4 and 8.4.5) - and mainly with datasources, dashboards which are looking fine for me.

The problems, which makes me considering dropping the operator is with rendering  of grafana.ini - so far i could not work out any solutions for unsigned plugins like the checkmk plugin, or bubble chart.
Also websockets for grafana live can be a prob

[2022-04-02 20:03] bsgrigorov commented on #710
@1naboki1 have you tried the NotificationChannels with grafana v8?

[2022-04-05 07:43] JCL38-ORANGE opened #715 "[Bug]"json: cannot unmarshal object into Go value of type []grafanadashboard.GrafanaFolderResponse""
**Describe the bug**
I am facing with the error described in the title when I try provisioning a simple GrafanaDashboard resource
[code]

**Version**
Linux 2d1751a0-54cc-47d8-b4ca-cac502f1eddc 5.4.0-105-generic #119~18.04.1-Ubuntu SMP Tue Mar 8 11:21:24 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
Operator : 4.2.0
K8s : 1.21
Deployment type: running the operator deployed

**Grafana operator log file**

[2022-04-05 11:59] david-martin commented on #653
Hey @1naboki1 , did you get some time to combine this with the grafana metrics board?

[2022-04-06 06:53] JCL38-ORANGE commented on #715
Hello,

After analysis, the operator tried accessing grafana api by a bad route.
In the kind Grafana, I only add :
[code]
And now it works as expected.
So I close the issue.
Regards.

[2022-04-06 06:53] #715 closed

[2022-04-06 21:38] petercort commented on #712
#716 opened for this.

[2022-04-07 09:23] JCL38-ORANGE commented on #686
Hello,

Do you plan a new operator release soon in order to deliver [PR#690](https://github.com/grafana-operator/grafana-operator/pull/690) ?
Thanks and regards,
Jean-Christophe.

[2022-04-08 09:10] mohan-nagandlla commented on #642
Any updates on this

[2022-04-09 17:12] #671 closed

[2022-04-12 11:44] pb82 commented on #713
@kwenZh this is a known issue in 3.x, caused by the sdk not supporting maps with custom types in the status. Do you see any problems that are caused by this, like dashboards not getting imported? Otherwise I think you can ignore the error and it should be fixed in 4.x.

[2022-04-13 14:12] kwenZh commented on #713
ok , import dashboards is normally ,

[2022-04-15 02:51] bsgrigorov opened #720 "[Bug] Changing UID of GrafanaDashboard causes problems"
**Describe the bug**
Changing the uid field in the json of a GrafanaDashboard CR and deploying it causes problems. The grafana dashboard in grafana is not synced and cannot be updated because the API used by grafana-operator uses the uid to update the dashboard. Instead it cannot find the dashboard. Thus the operator tries to recreate the dashboard and fails and then tries to get it and fails agai

[2022-04-15 05:49] bsgrigorov commented on #720
I am also getting lots of grafana dashboard not found errors for various uids
[code]

[2022-04-18 06:42] kaushiksrinivas opened #722 "Delete datasource resource from the grafana server"
From the documentation of operator's data sources, below statement is mentioned.

**"A data source accepts all properties listed [here](https://grafana.com/docs/administration/provisioning/#example-datasource-config-file), but does not support apiVersion and deleteDatasources."**

Does this mean, grafana datasource controller do not provide option/feature to delete the datasource once it is create

[2022-04-21 00:00] #707 closed

[2022-04-21 00:16] smuda commented on #706
I found [issue 456](https://github.com/openshift/api/issues/456) where they discuss adding tags which seems to have been used earlier. There are also a number of references to that issue where other projects (like grafana-operator) updates their go.mod to use a specific commit, probably using something like `go get github.com/openshift/api@release-3.9`.

I'm going to create a PR with that exact ch

[2022-04-21 03:24] andrewm-aero opened #726 "Support GZipped JSON Dashboards"
**Is your feature request related to a problem? Please describe.**
I would like to provide gzip'ed JSON in the GrafanaDashboard resource

**(If applicable)If your feature request solves a bug please provide a link to the community issue**
N/A

**Describe the solution you'd like**
Just as there is a "spec.json" field, I would like a "spec.jsonGZ" field, which would contain a base64-encoded, gzip'ed

[2022-04-21 08:49] smuda commented on #706
@pb82 Would you be able to have a look at https://github.com/grafana-operator/grafana-operator/pull/724 and the blocking https://github.com/grafana-operator/grafana-operator/pull/725?

[2022-04-21 14:37] manvindar opened #728 "[Bug] GrafanaDashboard import does not work when oauth is enabled"
**Describe the bug**
When we create a grafana dashboard custom resource, it is not able to import dashboard and I get an error in events stating "error getting folders, expected status 200 but got 401". I believe it is not able to hit `/api/folders` after enabling oauth.

here's the full log of controller manager
[code]

**Version**
Full semver version of the operator being used v4.0.1

**Expected

[2022-04-22 06:30] NissesSenap commented on #720
I can see how this becomes an issue.

As a workaround what happens if you delete the old CRD and create a new one?
I guess you might need to delete the dashboard manually in grafana as well.

[2022-04-22 06:31] #687 closed

[2022-04-22 06:35] NissesSenap commented on #728
@manvindar can you update to the latest version of the operator and try again? Allot have changed since v4.0.0.

[2022-04-22 06:51] #712 closed

[2022-04-22 06:58] NissesSenap commented on #710
@1naboki1 why wouldn't you be willing to use the operator with grafana 8 in a "enterprise environment"?
I know of several companies that does and to my knowledge it works fine. As @pb82 points out if there is any bug with running v8 that please create a issue for it.

For us maintainers to update the base image from grafana 7 to grafana 8 would be a breaking change thus we would have to do a major

[2022-04-22 16:20] manstis opened #729 "Dashboard: Spec: When did Name disappear"
Hi, this could be simply because I am a newb.

We recently started getting errors deploying Grafana Dashboard explaining the `spec.name` field was not recognised.

This is an example of our config:
[code]
I notice `name` was evident in v2 but is missing in v3 (and v4):
- https://github.com/grafana-operator/grafana-operator/blob/v2.0.0/documentation/dashboards.md
- https://github.com/grafana-operat

[2022-04-22 19:25] bsgrigorov commented on #720
@NissesSenap I do helm deployments and when I update the CR it just updates it and grafana operator does not pick it up and throws errors in the logs. Perhaps this can be further investigated if there is a way to make it more stable?

[2022-04-23 05:37] NissesSenap commented on #720
Why do you change the uid in your helm chart?
Can you share your helm chart? To be able to debug this we would need a good way of reproducing the error.
And to understand why you do it this way.

[2022-04-25 08:27] gitgaoxiang opened #730 "[Bug]The nodeport setting does not take effect"
### when i deploy grafana，resources are as follows：
[code]
I set ingress false and service.ports[0].nodePort: 3000, but when i deploy this cr ,the true svc nodePort is not 3000
![image](https://user-images.githubusercontent.com/19486917/165049653-861db5de-7a9d-4484-aa8c-998e4c0fbec5.png)

also i debug this code and found this
![image](https://user-images.githubusercontent.com/19486917/165050029-a4

[2022-04-25 18:18] manvindar commented on #728
@NissesSenap  I tried the latest version and got the same error

[2022-04-26 01:09] gitgaoxiang opened #731 "[bug] GrafanaNotificationChannel cr not have UID will cause the program to crash"
When i test GrafanaNotificationChannel for alertmanager channel ,I couldn't find the instructions , So I intercepted the API /alert-notifications/test interface , and find this
[code]
but when i apply this

the grafana operator show this fail and down
![image](https://user-images.githubusercontent.com/19486917/165198872-4b9e1c4a-bedc-4e0e-ae85-950ebea60569.png)

I suggest to add webhook Validate f

[2022-04-26 05:35] pcperera opened #732 "Frequent periodic dashboard re-syncs fail with HTTP 429"
**Issue**

The **grafana-operator** runs periodic dashboard re-resync every 10 seconds. These periodic re-syncs fail with HTTP 429 when accessing grafana.com dashboard URL.

![image](https://user-images.githubusercontent.com/15628990/165223130-700c7168-3d0a-42f6-bbc2-c60a86b769df.png)

**Reproduce**

1. Deploy 10 GrafanaDashboard CRDs to generate dashboard from URL.
![image](https://user-images.gi

[2022-04-26 07:42] h-otter commented on #525
Hello, thanks for this useful software!

Is there any update about this issue? I am also eager for this feature.

Should I send a PR? In that case, would you tell me what I have to do in addition to #533?

[2022-04-26 20:30] NissesSenap commented on #731
@gitgaoxiang I would assume there is some pointer or something else that is missing that cases the crash.
Could you try to pinpoint what value that is causing the crash?
If so we could fix the config to make sure that this don't happen. And no matter what we need to fine it before potentially defining a validatingWebhook.

[2022-04-26 20:31] NissesSenap commented on #732
probably related to @https://github.com/grafana-operator/grafana-operator/pull/689

[2022-04-26 20:33] NissesSenap commented on #730
Looks like you found a bug. If you have the possibility please provide a PR for this @gitgaoxiang

[2022-04-26 20:43] NissesSenap commented on #729
Hi @manstis fun to get a old school user back.
Sadly we have done some mistakes in the operator and we have done a really bad job at doing version bumps of the CRD.
This is something that we have learned from after releasing v4 and we are thinking about this alot in the future.

The `GrafanaDashboard.spec.name` field is removed since it wasn't needed and we just grab the value from the dashboard i

[2022-04-26 20:45] NissesSenap commented on #726
It's a good point @andrewm-aero.
Other then solving this technically there would also be a great need for documentation on how to use this feature.

Is this something that you feel that you could help out to implement?

[2022-04-26 20:46] #706 closed

[2022-04-26 20:53] NissesSenap commented on #722
If you remove a datasource the grafana deployment should automatically be restarted since it's a configmap as you point out.
The reason is legacy. This is something that we are working on for the 5.0 release:

You can find more information here:

https://github.com/grafana-operator/grafana-operator/blob/master/documentation/roadmap/roadmap-v5.md#grafanadatasource-use-grafana-api

If you are willin

[2022-04-26 20:53] #722 closed

[2022-04-26 20:54] NissesSenap commented on #708
@pb82 have you had a chance to look in to this?

[2022-04-26 20:55] NissesSenap commented on #420
I will close this issue for now.
If anyone feels that they have the time to look in to it please feel free to do so.

[2022-04-26 20:55] #420 closed

[2022-04-26 20:57] NissesSenap commented on #510
Since this is a multi namespace support feature I will close this issue. This is something that we will add support for in 5.0
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/roadmap/roadmap-v5.md

[2022-04-26 20:57] #510 closed

[2022-04-26 20:58] #583 closed

[2022-04-26 20:58] andrewm-aero commented on #726
I'm familiar with working on k8s operators, so I'd be able to look at it, but my plate is full for the next month or so. I don't forsee this as a super urgent issue, so if you'd like to assign it to me, I'd happy to try and implement it when I get some time.

[2022-04-26 21:00] #676 closed

[2022-04-26 21:01] NissesSenap commented on #680
@david-martin have you had any time to look in this?
@gilfrade have you had time to look in to this?

[2022-04-26 21:02] NissesSenap commented on #686
Sorry for the deplay @JCL38-ORANGE , hopefully I will be able to cut a new release tomorrow: https://github.com/grafana-operator/grafana-operator/pull/734.

[2022-04-26 21:02] #686 closed

[2022-04-26 21:03] #700 closed

[2022-04-26 21:08] NissesSenap commented on #728
@manvindar can you share how your yaml of your grafana and your dashboard looks like?
We need a way of reproducing this issue.
I think it sounds strange that the admin account that we use to talk to the API would get some issues when using oauth since it's a bearer token. So unless you have enforced something in grafana that makes that impossible to use I think shouldn't be a problem.

[2022-04-26 21:18] NissesSenap commented on #726
Know the feeling. Sounds great, thanks allot

[2022-04-27 03:19] gitgaoxiang commented on #731
uid is required  for GrafanaNotificationChannel cr
[code]
when i add uid , it can apply success

[2022-04-27 07:59] manstis commented on #729
Hi @NissesSenap I think it fair to call me old school (however, if we are, I'd prefer "Old Skool" :smile: ).

I thank-you for your honesty regarding `apiVersion`. Our problem was in part caused by ourselves; so we can take equal responsibility. We installed KNative that brought in a newer version of the Grafana Operator and were left with a race as to which validated our Dashboard definitions. We'

[2022-04-27 07:59] #729 closed

[2022-04-27 11:35] manvindar commented on #728
hi @NissesSenap
Please find the yamls below

[code]

[code]

[2022-04-27 14:18] bukovjanmic opened #736 "Missing support for no_proxy setting"
Currently, there is no support for no-proxy setting in Grafana CR.

This creates a problem for our setup, as:

- grafana needs a proxy to download plugin during startup, or dashboards from grafana.com
- grafana needs to talk to internal SSO server (OIDC protocol) to authneticate users

The internal SSO server is not reachable via proxy.

Currently, we use a workaround like this:

[code]

But we th

[2022-04-28 13:32] #702 closed

[2022-04-28 16:22] david-martin commented on #680
Alas, no. I haven't thought about what to try from the uploaded resources (and how to go about trying them).

[2022-04-28 16:43] pbrissaud commented on #710
Hi,

I use this operator since September 2021 (in production too) and I can say that it's very stable. When a new Grafana is released, I update it and for the moment I didn't have any problems (I use all Grafana features except Alerting).

[2022-05-02 07:30] JCL38-ORANGE opened #738 "[Bug]GF_INSTALL_PLUGINS doesnt't work as expected"
**Describe the bug**
I try following the instructions described there https://github.com/grafana-operator/grafana-operator/blob/master/documentation/plugins.md in order to install additional plugin

**Version**
v4.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. Define a kind Secret with the following content
[code]

2. Check the log file of the grafana deployment
[code]

**Expected behav

[2022-05-02 11:39] JCL38-ORANGE commented on #686
Hello,
It seems that the problem is still present and more frequently with the 4.3.0 operator release :
[code]
Did I miss something ?
Thanks and regards,
Jean-Christophe.

[2022-05-02 15:26] mgiessing opened #739 "OpenShift oauth config normal users rbac needs?"
I'd like to ask if there is a guide on how to use configure grafana/grafana operator on OpenShift?
I followed this [oauth guide](https://github.com/grafana-operator/grafana-operator/tree/master/deploy/examples/oauth) and set it up properly, but even with the kubeadmin user I just had very limited access.

E.g. I'm not able to import dashboard as a lot of buttons/functions are missing:

<img width=

[2022-05-03 07:06] JCL38-ORANGE commented on #738
Hello,

It works when I declare plugins directly in the Dashboard CR :
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/dashboards.md
Could you confirm that this behavior is as expected ?
What is the role of the GF_INSTALL_PLUGINS variable ?
Thanks and regards,
Jean-Christophe.

[2022-05-03 13:46] paddy667 commented on #710
I was able to get the grafana operator working with alerting in v8 by turning off the new alerting features and reverting to the 'legacy' implementation. It can be done in the grafana CR e.g:

`apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: grafana
  namespace: grafana
spec:
  config:
    alerting:
      enabled: True
    unified_alerting:
      enabled: False
      min_inter

[2022-05-03 14:16] lucamaf opened #740 "[Bug] GrafanaDashboard is not getting created"
**Describe the bug**
Even if I created the object GrafanaDashboard this is not being created inside Grafana

**Version**
Operator being used 4.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 4.3.0 of Grafana Operator
2. Create a Grafana Object
3. Create a GrafanaDashboard using JSON spec
4. See Grafana Dashboard not being created inside Grafana

**Expected behavior**
Expe

[2022-05-04 09:10] nemerna commented on #740
I am facing Similar Issue with my grafana-operator V4.3.0
using the early version 3.x i can create dashboards and see them in grafana

[2022-05-04 11:18] alvarolop commented on #394
Hello @HubertStefanski, we are trying to deploy Grafana using the latest version of the Openshift Operator. According to the commit you shared, this commit is already in tag v4.3.0, but this is not working for us. Do you have any information if this is not available yet?

[2022-05-04 11:39] manvindar commented on #728
Hi @NissesSenap

do you have any update on this?

[2022-05-05 07:54] vosmax commented on #686
@JCL38-ORANGE I am experiecing the same issue with v4.3.0
A bunch of dashboards continuously are recreating with the message `dashboard successfully submitted`
GO starts with arg `- --scan-all=True`

[2022-05-05 12:00] addreas commented on #686
This is consistent with what I have observed as well, no longer deleting and recreating, but still submitting and causing new "versions" to be created. Haven't had time to look deeper into it yet, unfortunately.

Perhaps this could be a new issue, since the behaviour changed after #690?

[2022-05-05 16:40] NissesSenap commented on #686
Awesome @addreas! I will verify this tomorrow. And if it looks good i will merge it and cut a new release straight away.

[2022-05-05 17:02] vosmax commented on #686
@addreas I've tested you image and it works like a charm. Well done! Thank you the quick reaction!

2022-05-05T16:58:48.307Z	INFO	running periodic notificationchannel resync
2022-05-05T16:58:49.903Z	INFO	running periodic dashboard resync
2022-05-05T16:58:58.307Z	INFO	running periodic notificationchannel resync
2022-05-05T16:58:58.860Z	INFO	running periodic dashboard resync
2022-05-05T16:59:08.306Z

[2022-05-06 07:08] #730 closed

[2022-05-06 07:28] NissesSenap commented on #739
I assume this is a duplicate of https://github.com/grafana-operator/grafana-operator/issues/728

[2022-05-06 13:08] muyari opened #745 "Question: client_id and client_secret OpenShift"
Trying to figure out where I declare the following two variables in the grafana instance in OpenShift

GF_AUTH_AZUREAD_CLIENT_ID
GF_AUTH_AZUREAD_CLIENT_SECRET

  containers:
    - args:
       env:

I tried adding under the above location to no avail, any assistance or documentation would be amazing!!

[2022-05-06 14:02] gilfrade commented on #680
@NissesSenap I haven't tried again with the latest releases but i will check again.
@afritzler which version did you use? Can you show us your custom resources?

[2022-05-06 15:44] djnalluri opened #746 "[Bug] Seg Fault using v4.4.0"
**Describe the bug**
Go panics with the message: `invalid memory address or nil pointer dereference`

**Version**
v4.4.0

**To Reproduce**
Not a full reproduction but this is how I found it:
1. Installed operator to a single namespace via OLM (channel v4 and version 4.2.0 at the time)
2. Created CR for an instance
3. Time goes by and operator v4.4.0 gets released and installed automatically by OLM

[2022-05-07 01:41] gitgaoxiang commented on #731
@NissesSenap If GrafanaNotificationChannel  cr json not have UID ,such as：
[code]
When I debug program here,
![image](https://user-images.githubusercontent.com/19486917/167232694-1c4fe4fa-18a7-4bb7-9924-bee452cca2aa.png)
program will get UID and null pointer is abnormal.  can I submit pr to sovel this problem @NissesSenap

[2022-05-07 02:15] day0hero commented on #746
I hit this same thing tonight on OpenShift 4.10.

In addition to what is listed above, when I ran the manager container in debug mode I noticed that the serviceaccount needed cluster-viewer clusterRole.

[2022-05-07 02:16] gitgaoxiang opened #747 "[Bug] GrafanaNotificationChannel cr not have UID will cause the program to crash"
If GrafanaNotificationChannel  cr json not have UID ,such as：
[code]
When I debug program here,
![image](https://user-images.githubusercontent.com/19486917/167232694-1c4fe4fa-18a7-4bb7-9924-bee452cca2aa.png)

![image](https://user-images.githubusercontent.com/19486917/167233957-8dc828d7-1d9a-40f7-bbd5-dc359cd3094e.png)

program will get UID and null pointer is abnormal.  can I submit pr to sovel t

[2022-05-07 02:16] #731 closed

[2022-05-07 04:41] jacobsee commented on #746
That PR should fix it. As a workaround on 4.4.0 - make sure that your Grafana CR has a `spec.service` entry, even if it's empty.

![Screen Shot 2022-05-06 at 9 40 38 PM](https://user-images.githubusercontent.com/5027680/167238598-93bcddac-3ce8-4a54-9232-c37300283d39.png)

[2022-05-07 05:44] NissesSenap commented on #747
@gitgaoxiang we would be happy to get a PR to solve this. At the same time we don't have configuration validation on any other place in the operator, just like grafana itself doesn't.

It will be very hard for us to solve this everywhere in the operator. But as long as this functionality doesn't bring too much complexity i don't see why we wouldn't merge this kind of feature.

[2022-05-07 05:46] NissesSenap commented on #731
Duplicate of https://github.com/grafana-operator/grafana-operator/issues/747

[2022-05-07 06:13] NissesSenap commented on #680
@gilfrade i world do just like @david-martin did and simplify the yaml as much as possible.

My suggestion is to delete all existing grafana related yaml and especially the CRD.
Use the latest release and set it up with a minimal grafana config just like we have in the example and see if that works for you.

If it does try adding some extra config to your grafana instance and see if you get the is

[2022-05-07 15:20] day0hero commented on #746
@jacobsee - thanks! adding the empty service field did the trick. I ran against my existing cluster, and then deployed a new a cluster and ran against it. The pods controller-manager and grafana pods are all running.

[2022-05-08 16:35] #746 closed

[2022-05-08 16:36] NissesSenap commented on #746
@jacobsee fix is now merged. Now I will start working on the release :)

[2022-05-08 16:59] NissesSenap commented on #736
Hi @bukovjanmic I think you make a valid point.

Just as you say doing some `config.openshift.io/v1` would be a bit to openshift specific but since we support specifying httpProxy specifically I don't see why we don't support NO_PROXY as well.

I guess from a point of view we should have spiked this feature and pointed on pure environment variables but there was probably a good reason for implemen

[2022-05-08 17:02] NissesSenap commented on #710
I will close this issue since it's already supported.

[2022-05-08 17:02] #710 closed

[2022-05-08 17:07] NissesSenap commented on #740
@lucamaf  and @nemerna how does your grafana yaml look like?
I have written documentation trying to do some basic debugging around this.
Please read: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/debug.md

In general my greatest tip is to do everything as basic as possible and then add more fancy grafana features after you have seen that the dashboards are getting

[2022-05-08 17:12] NissesSenap commented on #738
@JCL38-ORANGE as pointed out in the docs did you try to restart the grafana deployment after defining this?
This is a built in feature in grafana so you won't see any errors about this in grafana-operator but in the grafana deployment.

[2022-05-08 17:15] NissesSenap commented on #745
@muyari this is probably what you are looking for: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/api.md#grafanaspecconfigauthazuread

There is no more specific docs for AzureAD but if you feel like writing some example yaml for it we would love the add it to the repo.

[2022-05-08 17:16] NissesSenap commented on #660
3.10.3 is out of support execept for when it comes to CVE:s and I would guess this feature don't exist in the 3 branch. Please upgrade to version 4.

I will close this issue.

[2022-05-08 17:16] #660 closed

[2022-05-08 17:29] NissesSenap commented on #728
@manvindar the operator is rather simple, it works by using the admin account, and grabs the credentials.

Then it just goes towards the API.
I don't know enough about grafana generic oauth solution but it wouldn't surprise me if it's possible to disable basic auth towards the API and enforce oauth 100%.

If this would happen you would break the operator.

Could you please verify that you can reac

[2022-05-08 17:36] NissesSenap commented on #739
My bad, I didn't read this issue enough.
I don't know OCP any more.
@obabec @robshelly @david-martin I assume that your OCP user needs some kind of specific role to be able to do something more inside grafana it self.

Or OCP oauth example thought of a view only kind of thing?
We should probably add this kind of information to: https://github.com/grafana-operator/grafana-operator/blob/master/deplo

[2022-05-08 17:46] NissesSenap commented on #497
I will close this issue since we decided to not implement this in the grafana-operator.
There is a loki-operator being activly worked on in the loki community: https://github.com/grafana/loki/tree/main/operator, feel free to jump in and help out.

[2022-05-08 17:46] #497 closed

[2022-05-08 17:49] NissesSenap commented on #496
Sorry for no update on this issue @pashafirdous, we won't create any fixes for v3.
Please give v4.x a try and we can see if we can solve your problem there.

[2022-05-09 10:09] mdujava opened #752 "[Bug] panic: "invalid memory address or nil pointer dereference""
**Describe the bug**
This looks like #336. Operator pod is in restart loop

**Version**
v4.4.0

**To Reproduce**

1. Install Grafana Operator
2. grafana-operator pod is created and started.
3. Create Grafana Instance (with default settings)
4. grafana-operator crashes after a few seconds
5. check the logs of that pod

**Expected behavior**
Grafana instance is created, operator pod is not restartin

[2022-05-09 11:25] JCL38-ORANGE commented on #738
Hello,

Thanks for the precision.
OK. I close the issue because it works when I declare it directly in the dashboard CR.
Regards,
Jean-Christophe.

[2022-05-09 11:25] #738 closed

[2022-05-09 18:00] faelin opened #753 "[Bug] esVersion type-constraint conflict in GrafanaDataSource Provisioning"
**Describe the bug**
The GrafanaDataSource YAML config (_Provided API_) enforces a type constraint of "String" on the **esVersion** key (`spec.datasources.jsonData.esVersion`)—which was established in the [Grafana Provisioning API v8.5](https://grafana.com/docs/grafana/latest/administration/provisioning/#data-sources)—but this field requires a value of "Int" in versions less than 8.x.

Currently,

[2022-05-09 19:20] ivan0177 commented on #752
Hi,
I have the same error in openshift 4.10.9.
The issue is not seen in grafana operator v4.3.0
Regards,
Ivan

[2022-05-10 04:38] lihongbj opened #754 "[Bug] 'deployment not ready' is reported and hang 'Phase: reconciling' status for grafana instance using v4.4.1 operator"
**Describe the bug**
 'deployment not ready' is reported in grafana instance and event using v4.4.1 operator, after operator is installed and grafana cr instance is created.

**Version**
v4.4.1

**To Reproduce**
Not a full reproduction but this is how I found it:

1.  Installed operator v4.4.1 to a single namespace `grafana` in OCP operator hub.
2.  Created CR for an instance
3.  check instance, f

[2022-05-10 06:15] jacobsee commented on #752
Please upgrade to v4.4.1 - this is fixed in that release. See #746.

[2022-05-10 07:02] R-Studio commented on #754
same issue here with Grafana Operator Version v4.4.0 & Version v4.4.1

[2022-05-10 07:04] morningspace commented on #754
Is there a way to workaround this before we can get an official fix?

[2022-05-10 11:38] pb82 commented on #754
@lihongbj have you had a chance to look at the operator logs?

[2022-05-10 11:53] pb82 commented on #753
Looks like we need to change the type of the field to `IntOrString` to remain backwards compatible.

[2022-05-10 11:57] pb82 commented on #752
thanks @jacobsee

[2022-05-10 11:57] #752 closed

[2022-05-10 11:58] pb82 commented on #745
@muyari has Edvin's suggestions worked for you?

[2022-05-10 11:59] pb82 commented on #740
@lucamaf can you share your dashboard CR?

[2022-05-10 14:27] morningspace commented on #754
@pb82 It looks there's really nothing special in operator logs. Or if there's any detailed log that we can enable? Here are details:

operator: kube-rbac-proxy
[code]
operator: manager
[code]

grafana-deployment:
[code]

[2022-05-10 14:36] morningspace commented on #754
Is it possible to install an old version of grafana operator?

[2022-05-12 12:04] R-Studio commented on #564
Any news on this? Or is this planned for Grafana 9?

[2022-05-12 13:31] NissesSenap commented on #564
I think that @apryor6 might have started to look in to a design proposal but I'm not sure.
If you are willing to take a stab at a design document @R-Studio that would be great.

[2022-05-12 15:56] bschoenmaeckers opened #755 "[Bug] Dashboard refreshes every 10 sec"
**Describe the bug**
Grafana dashboard refreshes every 10 seconds. This makes it really hard/annoying to use it.

**Version**
Operator V4.3.0
Grafana V8.5.0

**To Reproduce**
After creating a GrafanaDashboard crd, the operator successfully create the dashboard. But after every 10 seconds it pushes a resync to grafana, this will reload the browser viewing the dashboard. This causes the dashboard to

[2022-05-12 17:17] devops-42 opened #756 "[Bug] Can't instantiate Grafana from CRD"
Hi,

I followed the instructions for manual operator installation. First I cloned the repository:
[code]

Need to mention that I patched the namespace parameter in the files:

deploy/examples/GrafanaWithIngressHost.yaml
deploy/manifests/v4.4.1/deployment.yaml
deploy/manifests/v4.4.1/rbac.yaml

from `system` to `kube-system`.

Output of the `kustomize` command was:
[code]

Verified in dashboard tha

[2022-05-13 08:39] NissesSenap commented on #755
This is fixed in 4.4.0, but it contains a bug so please upgrade to 4.4.1

[2022-05-13 08:39] #755 closed

[2022-05-13 08:43] NissesSenap commented on #754
Can we get some basic kubernetes debugging.
What is the issue in the deployment.
Please share the deployment yaml that gets generated and share the `oc describe pod <grafana-deployment>`.

Also please provide the grafana yaml that you are using where you are getting this issue.

[2022-05-13 08:45] NissesSenap commented on #756
It's currently not supported to deploy the grafana instance in another namespace compared to the operator.
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/multi_namespace_support.md
This is a feature that we are working on in 5.0.

[2022-05-13 09:59] devops-42 commented on #756
Hi @NissesSenap ,

thanks for your help. I instantiated the CRD in the namespace `grafana-operator-system`, the deployment works now as expected.

I'm looking forward to 5.0 :)

[2022-05-13 09:59] #756 closed

[2022-05-13 10:41] morningspace commented on #754
Just a quick update, it looks ultimately I can deploy grafana and create dashboard successfully. Probably it's just in the middle of the process. After a while, I can see Grafana CR:

[code]

[2022-05-13 10:41] morningspace commented on #754
@lihongbj

[2022-05-16 06:18] R-Studio commented on #564
@NissesSenap Unfortunately, I don't think I have enough skills/experience to create a design document for this. (I've only been using Kubernetes/Container for 2 months😆)

[2022-05-16 08:36] manvindar commented on #728
hi @NissesSenap I get the below error, it is trying to redirect to public endpoint

<img width="892" alt="image" src="https://user-images.githubusercontent.com/1630333/168552493-9836ccc9-1495-4e42-a807-fffd7f560bde.png">

[2022-05-16 08:41] NissesSenap commented on #728
@HubertStefanski @pb82 do we have a way of forcing internal traffic?

[2022-05-16 08:47] NissesSenap commented on #728
@manvindar please update the client config to prefer the service.

[code]

This should probably be more highlighted in the docs. Would love to get a PR with this information if it solves the issue for you.

[2022-05-16 08:57] manvindar commented on #728
I tried that also, but it doesn't seem to affect anything

[2022-05-16 10:25] vosmax commented on #686
I'm with bad news, @addreas
I've done a deployment to another environment and the issue appeared again.
Even  `- --namespaces=` doesn't help, some dashboards are continuously recreating
Double checked I'm on v4.4.0
[code]

[2022-05-17 17:06] gilfrade commented on #680
New k8 cluster and installed operator version 4.4.1.
My test steps:
1º Installed `example-grafana` from this thread
2º Installed CR datastore and CR dashboards
3º Anonymously logged it and i could see multiple dashboards
4º Removed in this order, CR dashboards, CR datastores, CR `example-grafana`
5º Installed CR `example-grafana`, CR datastores, CR dashboards
6º Anonymously logged it and i could s

[2022-05-17 18:00] gilfrade commented on #680
Another Test:
* Created namespace `system`
* Installed operator and all the CR's
* Anonymously logged in and i could see all dashboards
* Uninstalled all and deleted namespace `system`
* Recreated namespace `system` and installed operator and all the CR's
* Anonymously logged in and i could see all dashboards
* Uninstalled all BUT DID NOT deleted namespace `system`
* Installed operator and all the

[2022-05-18 09:32] NissesSenap commented on #680
@gilfrade have you ever tried running multi namespace support for the dashboards?

https://github.com/grafana-operator/grafana-operator/blob/master/documentation/multi_namespace_support.md#watching-for-dashboards-in-all-namespaces

https://github.com/grafana-operator/grafana-operator/tree/master/deploy/cluster_roles

Please do and see if this works better.

[2022-05-18 10:18] gilfrade commented on #680
@NissesSenap I will look into that but i dont think it will solve this. In the documentation:
`The operator can import dashboards from either one, some or all namespaces. By default, it will only look for dashboards in its own namespace.`
and during my tests i made sure that operator was installed in the same namespace as CR grafana.

[2022-05-18 10:30] NissesSenap commented on #680
We have seen instances where multi namespace have been working better due to a previous bug.
So it's worth to try

[2022-05-19 20:44] eduardobaitello opened #758 "Support for env vars when using GrafanaNotificationChannel"
I'm creating a `GrafanaNotificationChannel` with `slack` type, which has a sensitive Webook URL configuration.

I'm trying to figure out how to use a secret + envVar for the Webhook URL, similar to [supported for datasources](https://github.com/grafana-operator/grafana-operator/blob/master/documentation/env_vars.md).

The grafana container has `$SLACK_WEBHOOOK_URL` exported as an environment varia

[2022-05-19 21:12] eduardobaitello commented on #758
Furthemore, I just realized that when declaring the URL explicitly,
[code]

The `GrafanaNotificationChannel` is created without encryption, and the Webhook value **becomes exposed on the UI**.
Once opening the UI and clicking on the **Save** button, the value becomes encrypted.

I think that this CRD will need support for `secureJsonData` as well to overcome this.

[2022-05-20 09:13] #720 closed

[2022-05-20 09:54] dasari-sai opened #759 "Require ID for google cloud monitoring datasource as stackdriver is used in older versions of grafana"
**Is your feature request related to a problem? Please describe.**
Yes I am trying to setup google cloud monitoring datasource using manifest in our gke environment. But couldn't find the proper ID to install the datasource. Could you please help me in this regards. I tried some like "google-cloud-monitoring"

**(If applicable)If your feature request solves a bug please provide a link to the commu

[2022-05-20 13:26] mitko577 commented on #583
Hello, are there any new solutions to the problem? We are using version 4.1.1 and still have this issue:

![image](https://user-images.githubusercontent.com/11834956/169537703-5bcb55d0-6ebf-48b0-b974-e4d9afb2e89b.png)

[2022-05-20 14:26] NissesSenap commented on #583
Solved in: https://github.com/grafana-operator/grafana-operator/pull/741

You can find the docs here:
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/deploy_grafana.md#operator-flags

[2022-05-21 00:17] raviqqe commented on #728
@manvindar Did you check this already? https://github.com/grafana-operator/grafana-operator/issues/659#issuecomment-1009923994

[2022-05-22 04:45] GiuseppeRaso commented on #740
I have the same problem, I am trying with the exact same examples in the repo (only the namespace is different) but the dashboard is not visible:

[code]

When I go in the logs, I see this problem:
[code]

Complete logs:
[code]

Version is 4.4.1, in a K3D cluster, installed through bitnami helm 2.5.8

[2022-05-22 10:08] anushanagireddy0430 opened #760 "Grafana throwing "Dashboard updated" popup even though auto refresh is off"
**Describe the bug**
Grafana throwing "Dashboard updated" pop up even though dashboard auto refresh is off.
This pop-up is appearing not only on dashboard page but also on datasource page as well.

**Version**
kubernetes: eks v1.20.11
Grafana-operator: 4.3.0
Grafana: 8.5.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install grafana operator v4.3.0
2. Use grafana v8.5.0
3. Add a dashboard

[2022-05-22 11:29] anushanagireddy0430 commented on #740
Similar issue in my case also when running grafana on https enabled.
Using grafana v8.0.3, operator v4.1.0.
Grafana dashboard CR created successfully, and able to see namespace folder in UI but dashboard is not created inside folder. events found when described dashboard CR.
![image](https://user-images.githubusercontent.com/40761006/169691648-2c04f0aa-8dd9-472e-988b-4e127715970d.png)

Bug Referen

[2022-05-23 03:39] anushanagireddy0430 commented on #760
Not able to reproduce this issue again.

[2022-05-23 06:33] anushanagireddy0430 commented on #760
Try to reproduce the same issue with grafana:8.5.0 and operator:4.1.0. Issue is not there.
Only problem is the operator being upgraded to 4.3.0.

[2022-05-23 15:23] gilfrade commented on #680
@NissesSenap, @afritzler,  dashboards using multi namespace works. In my tests i installed operator, CR grafana and CR datastores in `namespace system` and CR dashboards in `namespace system-test`. Could not replicate the previous issue, always worked. Still i think the issue remains and should be solved but you can close if you want.

I leave the resources i used to test multi namespaces, at leas

[2022-05-23 15:38] NissesSenap commented on #740
@lucamaf can you try the same thing as described in this comment: https://github.com/grafana-operator/grafana-operator/issues/680#issuecomment-1129787252

[2022-05-23 16:03] lucamaf commented on #740
that's not possible when you deploy using the community operator on openshift, there is no installation for the operator on the whole cluster

[2022-05-23 17:31] NissesSenap commented on #740
You can always manually try. It would be good to verify that it's the same issue

[2022-05-24 11:12] anushanagireddy0430 opened #761 "Random error logs for grafana and operator pod"
**Describe the bug**
Random error logs are generated by grafana pod and operator pod which are not expected

**Version**
operator: v4.1.0
grafana: v8.0.3

**To Reproduce**
Steps to reproduce the behavior:
1. Install grafana-operator v4.1.0
2. Install grafana with HA using EFS storage and postgresql database on EKS cluster
3. Add a dashboard using configmap and try accessing dashboard
4. Use kubect

[2022-05-24 11:35] naveenbharadwaj-nc opened #762 "zap-level or zap-log-level?"
Grafana-operator documentation mentions usage of --zap-level=n
However, zap itself uses --zap-log-level=n (https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/log/zap/zap.go#L280-L282)
When we used --zap-level in our custom grafana-operator, we faced a problem.
Is it a bug in documentation?

[2022-05-24 12:07] NissesSenap commented on #761
Could be related to: https://github.com/grafana-operator/grafana-operator/issues/648
Do you get the same errors when not running in HA mode?

[2022-05-24 12:09] NissesSenap commented on #760
This is solved in 4.4.1. Please upgrade to the latest version.

[2022-05-24 12:13] pb82 commented on #759
@dasari-sai we have an example for stackdriver data sources: https://github.com/grafana-operator/grafana-operator/blob/master/deploy/examples/datasources/Stackdriver.yaml

does that answer your question?

[2022-05-24 12:14] NissesSenap commented on #759
FYI: https://grafana.com/docs/grafana/latest/datasources/google-cloud-monitoring/

[2022-05-24 12:54] manvindar commented on #728
yes, I tried that too, but it's not working, also in that example, they are using anonymous auth which works anyways.
If I curl API after enabling OAuth using the service name then it redirects me to the ingress url as I commented above.

[2022-05-24 13:24] anushanagireddy0430 commented on #761
Yes, sometimes I am seeing same  in operator pod logs when run with single replica also.

[2022-05-24 14:28] Anshu-Garg opened #763 "Does grafana from OpenShift's community-operators catalog support disconnected install by the way of mirroring"
This is not a RFE but a question if disconnected install is supported for Grafana operator. We tried RedHat recommended steps for mirroring catalog but it did not work for us. While same worked for redhat-operator catalog

- We mirrored community-operators catalog for OCP 4.8 and pruned only grafana-operator  to enterprise registry
- Created ImageContentSourcePolicy
- Creates CatalogSource with im

[2022-05-25 05:44] anushanagireddy0430 opened #764 "Grafana log persistence"
**Is your feature request related to a problem? Please describe.**
Grafana logs are thrown to stdout and I am able to see in pod logs. But I am unable to track where pod logs are stored after exec into pod.

**Describe the solution you'd like**
I need to persist logs using a pvc ,need to store logs to file and point that file to filebeat to use ELK for logs visualization.

**Describe alternatives

[2022-05-25 15:08] #764 closed

[2022-05-25 15:10] anushanagireddy0430 commented on #764
Missed running grafana with log mode as file, set to only console. So unable to see grafana.log file.
Issue solved now.

[2022-05-25 19:59] HubertStefanski commented on #758
Hi @eduardobaitello Thanks for raising this, currently the notificationchannel feature only supports raw json as of now (for simplicity), your suggestion definitely makes sense, This would require adding some new structs to the notificationchannel struct from under https://github.com/grafana-operator/grafana-operator/blob/master/api/integreatly/v1alpha1/grafanadatasource_types.go#L66

[2022-05-26 14:30] anushanagireddy0430 commented on #760
Tested it. Working fine. Thanks for the update.

[2022-05-26 14:30] #760 closed

[2022-05-26 14:36] anushanagireddy0430 commented on #761
May be some more info help to solve this issue.
I have deployed grafana operator v4.4.1 and grafana v 8.5.0.
When I check operator pod logs the same issue is there. I am able to create and refresh dashboard successfully.(No logs found in garafana pod logs related to this random logs)
Note: We are using --scan-all option to scan dashboards created via configmap in other namespaces as well. I doubt

[2022-05-27 11:03] m1schka opened #766 "[Bug] Openshift Route using passthrough doesn't work"
**Describe the bug**
In case of using the ingress/route on openshift with the passthrough mechanism, the route cannot get created, because the path is always set [here](https://github.com/grafana-operator/grafana-operator/blob/master/controllers/model/grafanaRoute.go#L19)

**Version**
v4.4.1

**To Reproduce**
using a grafana like this:
[code]

resulting in:
[code]

**Expected behavior**
expect the

[2022-05-28 00:18] meln5674 commented on #726
Couldn't get anyone to fund me to do it on company time, but since I still actually need this, I'm doing this on my personal account on my own time now.

[2022-05-30 06:31] NissesSenap commented on #766
Yeah sadly this sounds reasonable. @m1schka are you willing/able to create a PR to solve this issue?

[2022-05-30 08:55] david-martin commented on #739
@mgiessing @NissesSenap
My understanding of how the oauth example works is:

* It uses grafanas `auth.proxy` feature
* The `username` header forwarded from the proxy
* It also uses `auto_sign_up` so user accounts are created in grafana if they don't exist

This config is all detailed in https://grafana.com/docs/grafana/latest/auth/auth-proxy/
and set in https://github.com/grafana-operator/grafana-

[2022-05-31 11:51] #762 closed

[2022-06-03 07:38] gitarns commented on #760
I've still got the same issue with 4.4.1 using the demo dashboard from configmap

[2022-06-03 12:59] Krasttt opened #769 "Add ability to contain TLS certificates in secret"
**Is your feature request related to a problem? Please describe.**
We need ability to store GafanaDataSource's `TlsCaCert`, `TlsClientCert` and `TlsClientKey` in secret.
Certificates in CRD in open view is not secure.

**Describe the solution you'd like**
Add ability to use SecretKeySelector for certificates.

Changes types of fields in GrafanaDataSourceSecureJsonData struct
For example:
[code]

*

[2022-06-06 14:19] NissesSenap commented on #769
This is already available as a env variable.
Please give https://github.com/grafana-operator/grafana-operator/blob/master/documentation/env_vars.md a try.

[2022-06-06 14:19] #769 closed

[2022-06-07 16:32] raviqqe commented on #728
Did you delete the original `admin` account created by the operator? I think you need to keep it in the Grafana instance although you may not be using it manually.

[2022-06-09 08:04] Nog-Frog opened #774 "[Bug] Admin password in db does not update when new admin account secret is created"
**Describe the bug**
When using Grafana with persistent storage, after a restart, a new secret with a new admin password is created, but this password is not updated in Grafana's storage, causing those credentials in the secret to be invalid.

**Version**
v4.4.1

**To Reproduce**
I've created a repo with a helm chart to help reproduce this bug: https://github.com/Nog-Frog/grafana-operator-bug-repr

[2022-06-12 07:23] Nog-Frog commented on #774
The main problem that this causes is that after the process I described in "how to reproduce", the operator fails to sync things like dashboards, since it reads the password from the secret and that password is invalid.

That I would describe as a bug - after a reset dashboards don't sync.

[2022-06-12 10:19] weisdd commented on #774
@Nog-Frog Personally, I'd rather think of it as an unsupported scenario, which translates into a feature request, not a bug report :)

In the same way, if a private key from a TLS pair is deleted, there's nothing you can do about it unless you have a backup. In the case of grafana-operator, there's no backup. A user can potentially rely on Velero to make a backup, manually store a copy of the pass

[2022-06-12 15:16] #642 closed

[2022-06-12 15:32] HubertStefanski commented on #766
@m1schka Can you verify that this is resolved through #773, feel free to reopen this if it still isn't resolved, thanks :thumbs4

[2022-06-12 15:32] #766 closed

[2022-06-13 07:31] R-Studio commented on #754
Any news?

[2022-06-13 09:23] bukovjanmic opened #776 "[Bug] Unable to use grafana-sentry-datasource plugin"
**Describe the bug**
When testing grafana-sentry-datasource plugin, we ran into several problems, two of which our showstoppers:

- the operator does not parse plugins from data sources. Contrary to the documentation (and as we studied from source code), the plugins names seem not to be automatically parsed from the GrafanaDatasource CR. It seems only GrafanaDashboard are processed.
- the necessar

[2022-06-13 10:07] bukovjanmic opened #777 "[Bug] Operator seems to talk to the Grafana instance too soon"
**Describe the bug**
When (re)-deploying Grafana, we see this in operator logs:

2022-06-13T08:55:17.606Z	ERROR	failed to get or create namespace folder for dashboard	{"folder": "ictsritip-monitoring", "dashboard": "", "error": "Get \"http://admin:***@grafana-service.ictsritip-monitoring.svc.cluster.local:3000/api/folders\": dial tcp 10.200.100.43:3000: connect: no route to host"}
github.com/go-lo

[2022-06-14 11:57] pb82 commented on #777
there is a readiness check for the deployment, we should figure out why it's not doing what we expect it to do.

[2022-06-14 12:02] pb82 commented on #776
@bukovjanmic the documentation is misleading here and should  be updated: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/plugins.md#install-plugins-as-dependencies-of-datasources-or-dashboards

We don't support plugins defined in data sources. You'll have to add them to a dashboard. Regarding the other issue, `x-kubernetes-preserve-unknown-fields: true` might be wor

[2022-06-14 18:13] #496 closed

[2022-06-15 13:33] jarduini commented on #739
hi @mgiessing, how did you make it work following this doc: https://github.com/grafana-operator/grafana-operator/tree/master/deploy/examples/oauth?

I'm getting an error {"error":"server_error","error_description":"The authorization server encountered an unexpected condition that prevented it from fulfilling the request.","state" when I deploy grafana using this guide.

[2022-06-16 13:30] #745 closed

[2022-06-20 21:41] yogeek opened #779 "[Bug] Upgrade from v3 to v4 causes operator pod to CrashLoopBackOff"
**Describe the bug**
Upgrade from v3.10.1 to v4.4.1 causes controller-manager pod to Crash

**Version**
Upgrade from v3.10.1 to v4.4.1

**To Reproduce**
Steps to reproduce the behavior:
1. Have a 3.10 version installed with a `Grafana` custom resource, and some `GrafanaDatasources` and `GrafanaDashboards` deployed
2. Modify the `GrafanaDashboards` resources to delete the `spec.name` field
3. Upgra

[2022-06-21 07:40] mariusstaicu commented on #774
This is a major issue for me since it is not documented and I lost access to my grafana instance in production.
If it is an unsupported feature, then a procedure on how to update grafana password in db or how to retrieve the password should be written.
I currently don't know how to reset the password or how to retrieve it, the only option I have is to delete the entire db and recreate the grafana

[2022-06-21 08:15] mariusstaicu commented on #774
later edit:
In order to reset the password in postgres using grafana-cli it is necessary to provide the grafana homedir and the grafana config generated by the operator, or else, it will only run the update script on the default sqlite database file in /var/lib/grafana/grafana.db:

`grafana-cli --homepath /usr/share/grafana/ --config /etc/grafana/grafana.ini admin reset-admin-password <pass>`

[2022-06-21 11:46] pb82 commented on #779
@yogeek did you follow the upgrade docs: https://github.com/grafana-operator/grafana-operator/blob/master/documentation/upgrade.md#upgrade-from-3xx-to-4xx ?

[2022-06-21 11:58] pb82 commented on #774
I believe what happens here is this: the operator creates a secret with the admin credentials and mounts it into the Grafana pod, where it is assigned to env vars used by Grafana. When the secret is deleted, a new one is created, by the env vars in the pod don't get updated. What you can do as a workaround is to restart the Grafana pod. That will force the env vars to be updated and your new crede

[2022-06-21 12:07] pb82 commented on #774
An improvement would be to automatically restart Grafana when the credentials change. This could be done by storing the hashed credentials as an annotation in the deployment.

[2022-06-22 07:39] yogeek commented on #779
@pb82 thanks for your help

I retry by following the documentation (the difference with my previous comment is that I deleted the previous grafana-operator deployment __before__ installing the new release) and the pod is not crashing anymore.
However I still have errors as shown in the following log

<details>
<summary>Details</summary>

[code]

</details>

[2022-06-22 09:35] pbrissaud opened #780 "[Bug] Grafana and Grafana Datasource stuck in Reconciling state"
**Describe the bug**
I updated the operator from 4.0.2 to 4.4.1 and Grafana to 8.5.1 to 9.0.1. All are working (I can connect to Grafana and I see all the dashboards) but Grafana and Grafana datasource (2 datasources: Prom and Loki) located in the operator namespace (called "grafana") are in reconciling state. I tried to delete the namespace and redeploy the operator and the resources but I get th

[2022-06-22 11:16] gilfrade commented on #680
I run into another issue, not sure if this is related. If i install dashboards CR and remove and reinstall again the dashboards are never imported again. In this test i'm using a `dataStorage` in the grafana CR.

Logs from controller seem related to this issue.
[code]

Grafana logs:
[code]

[2022-06-22 11:27] gilfrade commented on #680
I captured traffic between on grafana and i see this error to that post: `Dashboard title cannot be empty`

[2022-06-23 07:59] mosuke5 commented on #780
I am not a maintainer but I think that is correct.
Grafana has 3 StatusPhases [1] and should be PhaseReconciling if successful.

[1] https://github.com/grafana-operator/grafana-operator/blob/v4.4.1/api/integreatly/v1alpha1/grafana_types.go#L13-L17
[2] https://github.com/grafana-operator/grafana-operator/blob/v4.4.1/controllers/grafana/grafana_controller.go#L279-L281

[2022-06-23 13:55] sshingarapu opened #781 "Unable to create grafana dashboard with grafana operator"
Hi,

We have installed grafana operator with version 4.2.0 in GKE cluster and trying to create a sample dashboard but it is throwing invalid username.

Below is the error from the operator logs. I am able to login to the grafana console with the credentials taken from grafana.ini file but getting the issue while creating dashboard and hence cannot see in the grafana dashboard.

2022-06-23T13:35:13

[2022-06-23 21:09] pbrissaud commented on #780
Thanks @mosuke5 for these additional informations ! Why not create a 4th phase "Reconcilied" or simply rename the phase "Reconciling" in "Reconcilied "? The term "Reconciling" sounds as if a change is taking place and not as a complete state.

[2022-06-27 04:52] NissesSenap commented on #726
There is work ongoing. Go away bot :)

[2022-06-28 11:52] pb82 commented on #781
@sshingarapu are you overriding the credentials in the CR (via envFrom)? Can you share your Grafana CR here?

[2022-06-28 11:55] pb82 commented on #780
@pbrissaud @mosuke5 correct, since the Operator continuously reconciles the resources, I think `reconciling` is the correct phase.

[2022-06-28 11:55] #780 closed

[2022-06-28 11:59] pb82 commented on #779
@yogeek the Operator can't reach Grafana. Are you using some auth proxy on the Grafana pod? Have you tried switching `preferService` to true/false?

[2022-06-29 18:18] #740 closed

[2022-06-30 09:32] cschockaert opened #782 "Can specify the queryTimeout in jsonData for integreatly.org/v1alpha1 GrafanaDataSource"
Hello,

Can you add that feature?
We should be able to add a custom queryTimeout for a prometheus datasource. Seems that this field is located inside the jsonData bloc. Actually we inherit the default value of 60s.
The only way we have to make it work is to manually create a datasource in grafana.

Thanks

[2022-06-30 12:25] #759 closed

[2022-07-01 10:27] sshingarapu commented on #781
Thanks for your reply.

We resolved the issue. Issue is with admin secret which was not created earlier as we set skpCreateAdminAccount to true.

I think that is the reason operator is throwing invalid credentials. After setting the above parameter to false, the secret is getting created and able to create dashboards, datasources and notification channels etc..

[2022-07-02 16:14] #761 closed

[2022-07-05 11:50] #781 closed

[2022-07-05 12:00] pb82 commented on #680
#689 could help with that @gilfrade

[2022-07-05 12:06] pb82 commented on #728
@manvindar can you confirm that the admin credential secret is still available and that the operator is using those credentials?

[2022-07-05 12:55] #782 closed

[2022-07-05 14:38] cschockaert commented on #782
Thanks a lot 👍

[2022-07-05 17:30] yogeek commented on #779
@pb82 no auth proxy and no ingress for Grafana pod, but I did not specify the `preferService` indeed (if ingress is set to false, I guess it should fall back to use the Service by default isn't it ?)
Anyway, I do not have these messages anymore so I guess it came from the grafana pod that restarted and was not ready yet.

However, a last comment on the upgrade process : even with following the doc

[2022-07-08 13:07] anushanagireddy0430 opened #785 "Grafana Dashboard CR not working when enabed TLS in grafana"
Dashboard not getting created using CR "GrafanaDashboard" when grafana runs on https.
All the other CR's working perfectly when grafana runs on https.

Example: When we try to deploy a sample  service with grafana dashboard CR packaged into the helmchart of the sample service, dashboards of the sample service are not getting created automatically in grafana.
The label used in GrafanaDashboard CR i

[2022-07-09 11:42] weisdd commented on #728
@manvindar I've had an oidc-enabled grafana for over a year, and it all worked just fine. I think the issue here is due to two parameters that you set in the server section:

[code]

If you remove those two, grafana should not redirect you to the main domain anymore, and everything should work just fine.
Better to combine it with @NissesSenap recommendation:

[code]

[2022-07-09 12:03] weisdd commented on #785
Probably related to https://github.com/grafana-operator/grafana-operator/issues/642, which got fixed in: https://github.com/grafana-operator/grafana-operator/pull/772. It's not included in any release yet, so you can either wait for project maintainers to create one or just build an image yourself from the `master` branch.

[2022-07-09 16:05] weisdd commented on #774
@pb82 I've opened a PR that should make it work for ephemeral instances.
For stateful (which rely on an external database like @Nog-Frog has with postgres), a more complicated logic will have to be introduced through init containers as password can only be reset via [grafana-cli](https://grafana.com/docs/grafana/next/cli/#reset-admin-password). My PR does not address that.

[2022-07-11 04:53] anushanagireddy0430 commented on #785
Hi,
I have cloned it and tried to build. Getting below error.
![image](https://user-images.githubusercontent.com/40761006/178191150-5b1e6e80-eb1b-4071-b224-43ea63e8045b.png)
Do i need to set any env varaibles here. Anything i am missing?

[2022-07-11 09:12] HubertStefanski commented on #785
@pb82 @NissesSenap Should we think about a release soon? ^^

[2022-07-12 06:08] anushanagireddy0430 commented on #785
Hi Stefanski

Thanks for the update. I want to let you know that,
We need this feature and it would be good if you could release this feature asap. Please let us know when we can expect the release, so that we can plan our usecases accordingly.

[2022-07-12 09:49] pb82 commented on #785
@HubertStefanski @NissesSenap we have a fair number of bugfixes and features since the last release. So we're in a good spot to create a new one.

[2022-07-12 11:26] NissesSenap commented on #785
We will discuss a release during today's meeting. But since this is already solved I will close this issue.

[2022-07-12 11:26] #785 closed

[2022-07-12 11:28] NissesSenap commented on #736
This have been solved with #778

[2022-07-12 11:28] #736 closed

[2022-07-12 11:37] NissesSenap commented on #732
The PR is now merged and should now have backwards logic added to it.
We will release a new version soon, if you don't want to wait for that please build from the master branch.

I will close this issue and if you still have the same issue after you have verified the new release please reopen.

[2022-07-12 11:37] #732 closed

[2022-07-12 11:55] yogeek commented on #779
@pb82 no I did not because we couldn't afford loosing the corresponding CustomResource. I thought that the old CR would be handled after having done the change needed by the new model (e.g. removing some deprecated fields from the Grafan CR)

[2022-07-12 12:29] #726 closed

[2022-07-13 01:19] pruthvi6767 opened #788 "Add Native Support for API Endpoints as Datasource with Inifnity Plugin"
**Is your feature request related to a problem? Please describe.**
I have a usecase where I use a REST API Result Set as my Datasource to visualize metrics. I am using the infinity plugin to create the Datasource with Oauth2 Client Credentials. I see Grafana currently supports Times Series [Datastores](https://github.com/grafana/grafana/tree/main/pkg/tsdb) natively. Please consider this usecase
I

[2022-07-13 08:01] anushanagireddy0430 commented on #785
Thanks @HubertStefanski @NissesSenap for quick responses.
I will start using v4.5.0

[2022-07-13 11:04] anushanagireddy0430 commented on #785
Hi Team
I want to know which version of grafana can be used with operator v4.5.0
We are using "baseImage" option to provide a custom grafana image(grafana/grafana:<latest-version>).

**To be fully compatible with operator v4.5.0 which version of grafana we should use?**

[2022-07-13 16:19] #763 closed

[2022-07-13 16:47] ctrought opened #789 "[Bug] failed to update status with content for dashboard"
**Describe the bug**
Version 4.5 of the operator adds a status field to the Dashboard CRD. For large dashboards duplicating the `spec.json` and also placing into `status` might exceed maximum size in etcd causing update to fail. I'm not too familiar with the operator and if the same status content field is set for dashboards configured via URL, but I assume the error/limitation could be hit if any

[2022-07-14 06:23] R-Studio commented on #754
Any news?

[2022-07-15 08:49] weisdd commented on #789
I think we should be careful with what we store in the status field, because etcd has limits on its storage size: https://etcd.io/docs/v3.3/dev-guide/limit/
@addreas perhaps, something of your interest.

[2022-07-15 11:34] addreas commented on #789
If the content is already in the spec (either json, gzipJson, or jsonnet) it shouldn't be duplicated in the status as well. The status content is only intended as a cache for fetched dashboards. Luckily should be an easy fix.

Don't quite understand why the error would cause excessive load on the API server. Is the operator retrying a lot?

As for fetched dashboard my first though is to just gzip

[2022-07-15 19:20] ctrought commented on #789
I believe so, the log was filled with errors relating to updating the status. The CPU usage of the operator pod spiked quite high after the upgrade, ~0.5 cores while it ran at 0.02 prior to the update. It could likely be reproduced by configuring a dashboard via url that exceeds the size of etcd for the current cluster.

I had another look at the original dashboard that it was failing to update an

[2022-07-15 21:51] addreas commented on #789
Have had a quick look through and created a preliminary PR in #790. If you would want to give it a spin there's an image here: `ghcr.io/addreas/grafana-operator:v4.5.0-status-content-gzip`. Just a warning: that PR currently deletes any existing `spec.json` if there is a `spec.url` or `spec.grafanaCom` , which I'm not sure is completely sane. It does keep the CR smaller though.

Haven't investigate

[2022-07-16 12:06] weisdd commented on #789
@addreas The docs say the following:
[code]
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/dashboards.md#dashboard-properties
On one hand, looks like the contents were not supposed to land into the status field in the first place. On the other hand, rewriting the spec could potentially lead to a state drift (haven't experimented with it yet, just a thought experimen

[2022-07-18 12:20] R-Studio commented on #754
@NissesSenap thanks for your reply. The deployment of Grafana, Dashboards and Datasources (ingress...) are working, but the resource with kind "Grafana" is still hanging in the phase "reconciling". Maybe it is correct that the "Grafana" remains in phase "reconciling"?

[code]

[code]

[2022-07-18 15:55] weisdd commented on #777
@bukovjanmic That's weird. In my local setup, I don't see anything like in your example, all logs look fine:

[code]

1. Is it something that you see consistently? If not, how can we reproduce it?
2. Could you, please, share your full `Grafana` spec and also `livenessProbe` and `readinessProbe` sections of the generated deployment with grafana instance?

[2022-07-18 18:09] NissesSenap commented on #754
@R-Studio so everything is working for you except that it gives the wrong status?
Since the deployment is ready the health checks passes so the grafanan instance should be okay.

Can you share your grafana yaml?
What happens if you make the config supper basic? Does it pass then?

Do you have the same log entry as defined earlier in this issue? If not please share the logs.

Can you try to uninsta

[2022-07-20 14:23] NissesSenap commented on #779
@yogeek we didn't manage to do any migration from v3 to v4 without the deletion.
I understand that this isn't ideal but sadly we don't have any better suggestion.

[2022-07-20 16:33] yogeek commented on #779
@NissesSenap ok thank you for the transparency. We managed to solve this eventually with manual steps and backup/restore.
I am closing the issue
Thanks for the help 👍

[2022-07-20 16:33] #779 closed

[2022-07-20 16:56] #592 closed

[2022-07-22 10:31] anushanagireddy0430 opened #798 "Support to run Grafana with multiple replicas with default sqLite DB"
We tried to run grafana with 2 replicas using the default sqlite DB with elastic file storage as volume. I am not able to authenticate to grafana and I can see that DB is locked in logs

This feature request is related to bug - https://github.com/grafana/grafana/issues/16638

Grafana should be accessible when run in HA mode with default DB.

We can use postgresDB/SQL DB but my usecase doesn't supp

[2022-07-22 16:19] #739 closed

[2022-07-23 11:32] weisdd commented on #798
Official documentation says it's not a supported scenario, I don't think we can help with that:
"Setting up Grafana for high availability is fairly simple. You just need a shared database for storing dashboard, users, and other persistent data. So **the default embedded SQLite database will not work, you will have to switch to MySQL or Postgres.**"
https://grafana.com/docs/grafana/next/setup-grafa

[2022-07-23 11:36] weisdd commented on #789
@ctrought Please, let us know if you're happy with the fix. It's included in [v4.5.1](https://github.com/grafana-operator/grafana-operator/releases/tag/v4.5.1).

[2022-07-25 04:10] ctrought commented on #789
The proposal sounds good to me!

[2022-07-25 22:59] meln5674 opened #801 "Support [plugin] grafana.ini fields"
**Is your feature request related to a problem? Please describe.**
I was looking to use the operator to deploy a development grafana environment to test a custom plugin, but to my dismay, the grafana.ini properties needed to enable this under the [plugin] section are not present in the CRD

**(If applicable)If your feature request solves a bug please provide a link to the community issue**
N/A

**

[2022-07-26 01:14] meln5674 commented on #708
This doesn't appear to have gone anywhere since, however, in my travels, I found found that the "correct" way to do this is with a `encoding/json.RawMessage` field with a set of kubebuilder/operator-sdk markers, which leaves the data as a marshaled string, but still performs basic syntax validation. The catch is that it requires updating to controller-gen 0.6.2 . Not sure how you folks feel about

[2022-07-26 11:11] NissesSenap commented on #801
Is there any reason why the existing plugin solution isn't enough for you?
https://github.com/grafana-operator/grafana-operator/blob/master/documentation/plugins.md

We could still add the feature but in general one way of doing things is preferable.

[2022-07-26 11:39] #798 closed

[2022-07-26 11:42] pb82 commented on #789
fixed with #790

[2022-07-26 11:42] #789 closed

[2022-07-26 11:46] pb82 commented on #788
this will be fixed with #803

[2022-07-26 11:47] pb82 commented on #776
will be fixed by #803

[2022-07-26 11:49] NissesSenap commented on #683
@Halytskyi I will close this since I think this should be solved now.

[2022-07-26 11:49] #683 closed

[2022-07-26 11:54] pb82 commented on #774
We can deal with that situation now for stateless (no DB) installations. However, the Operator doesn't manage the database for stateless deployments and there is not much we can do if the credentials get lost. You'll have to fix it manually in the database or recreate them.

Once the credentials in the external database have been reset, you will also have to update them in the credential secret to

[2022-07-26 11:54] #774 closed

[2022-07-26 12:00] pb82 commented on #728
@manvindar would the solution from @weisdd work for you?

[2022-07-26 15:28] meln5674 commented on #801
Please take a look at the changeset. This is not instead of, but in
addition to, the method described in the document you linked, and that is
actually used in the test case. This is to add additional properties needed
for advanced plugin management like loading unsigned in-development plugins.

On Tue, Jul 26, 2022, 05:11 Edvin N ***@***.***> wrote:

[2022-07-26 17:55] gavacq commented on #632
Hi! I'm still experiencing https://github.com/grafana-operator/grafana-operator/issues/620 on `grafana-operator` `4.4.1` (using helm chart `2.5.4` from bitnami) deployed as an `Application` on ArgoCD.

I've explicitly disabled leader election and set the operator `updateStrategy` to `Recreate`.
**Logs**
[code]

`Application` config:
[code]
Relevant issues:
https://github.com/grafana-operator/grafa

[2022-07-26 18:46] NissesSenap commented on #632
@gavacq we don't support the helm chart, even though we are very happy that it exists. I don't know how the generate the CRD etc. This issue is around as a long term issue to be able to re-enable leader election in the future.

How does the deployment operator deployment look like that gets generated by the helm chart?
Verify that don't use leader election args.

In general my recommendation would

[2022-07-27 00:24] MacNale opened #805 "Grafana Operator vs Grafana Helm chart"
Community,

I am looking to deploy Grafana on my k8s cluster.  There are many choices to accomplish this task. Narrowed down to HELM chart and Grafana-Operator.  I am not sure about the differences between these types. I thought, operators are more useful for stateful services. I am not sure why would I use complicated operator to deploy Grafana.

Can you please make it clear about the differences

[2022-07-27 01:57] meln5674 commented on #805
One simple benefit I can think of is that you can update dashboards without restarting Grafana, since that is done via an API call, instead of updating a configmap and doing a rollout of a Deployment. My understanding is that datasources will eventually work this way too.

Another benefit is that the operator can also be used to "lock down" a namespace. Users can be given access to only create Gra

[2022-07-27 06:46] #801 closed

[2022-07-27 06:47] NissesSenap commented on #801
Thanks for the explanation, it was what we thought but I just wanted to make sure.
Thanks for the PR and it's now merged.

[2022-07-27 16:01] yogeek opened #808 "[Bug] Grafana deployment updated frequently without modification"
**Describe the bug**
As described in [this Slack conversation](https://kubernetes.slack.com/archives/C019A1KTYKC/p1658854592174569) with @NissesSenap, with grafana-operator 4.4.1, we observed that the grafana deployment seems to be updated very often whereas no change occured on the Grafana CustomResource.
Initially, what led us to this discovering was an investigation on `KubeAPIErrorBudgetBurn`

[2022-07-28 22:31] weisdd commented on #808
@yogeek sounds like a fun issue for us to dig into :)
1. In the issue description, you pointed at `v4.4.1` and `v4.5.1`. Have you noticed the same issue with any of the previous versions of the operator? If it was working fine with an older version, could you double-check that version just to make sure it's still the case with the current k8s cluster state?
2. I saw Istio in the list of mutating w

[2022-08-02 12:01] pb82 commented on #805
To add to the API vs. Config Map approach for creating dashboards: Config maps have a size limit and we've run into problems with dashboards that wouldn't fit into Config Maps.

Also, why not use both? There is a Helm chart for installing the Grafana Operator: https://github.com/bitnami/charts/tree/master/bitnami/grafana-operator

[2022-08-02 12:01] pb82 commented on #805
Closing this, answers have been provided.

[2022-08-02 12:01] #805 closed

[2022-08-02 12:04] pb82 commented on #680
Closing this, as #689 has been merged. Please reopen if the problem still exists.

[2022-08-02 12:04] #680 closed

[2022-08-03 22:32] yogeek commented on #808
Hi @weisdd and thanks for helping in this investigation.

Regarding your question about Istio : no grafana deployment is not istio-injected.

For the other questions, I will try to give you answer as soon as I have a little bandwidth to do the tests you mention.

[2022-08-05 02:11] eduardobaitello opened #811 "[Bug] NotificationChannels not reconciling after Grafana restart"
**Describe the bug**
When the Grafana deployment pod is recreated (either by deletion or eviction), the `grafananotificationchannels` are not reconciled by the Operator.

**Version**
v4.5.1

**To Reproduce**

For easy reproduction, I'm using Minikube + Bitnami Grafana Operator charts (but the behavior is the same in production environments).

The following `values.yaml` is used, which installs Gra

[2022-08-06 11:22] weisdd commented on #811
@eduardobaitello thanks for the comprehensive description!
From what I can see in the code, there's no logic inside notification channel controller to check if the channel still exists in the grafana instance. So, controller takes no action unless hash of the channel spec changes. Most likely, it's something easy-to-fix as we already have such logic for the dashboard controller. I'll take a closer

[2022-08-08 12:55] #753 closed

[2022-08-08 23:03] eduardobaitello commented on #811
@weisdd thanks for the feedback!

If there's anything I can help with, just let me know.

[2022-08-09 15:35] #708 closed

[2022-08-12 12:53] weisdd commented on #811
@eduardobaitello I've just opened a PR, it's likely to be reviewed next week.

[2022-08-12 14:59] weisdd commented on #758
@eduardobaitello

## Env expansion

Datasources are currently supplied to Grafana via a configuration file, that's why environment expansion works there: https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#env-provider

Notification channels are configured directly via API. Grafana doesn't seem to support expansion there. In fact, if you go to Grafana UI, pick webhook notifica

[2022-08-12 15:03] weisdd commented on #758
@HubertStefanski I think there's no need for any enhancements here as the operator already supports the desired configuration.

[2022-08-12 15:20] eduardobaitello commented on #758
I could be wrong, but I had already tested this.

I'll try again and let you know here, thanks!

[2022-08-14 02:16] eduardobaitello commented on #758
@weisdd thanks for the clarification.

I got your point, and it really makes sense.

A just tested as you suggested, and the Grafana Notification was created with the `url` encrypted in the Grafana database.

This is enough for what I need, so I am closing this issue. Thanks again! ❤️

[2022-08-14 02:16] eduardobaitello commented on #758
@weisdd thanks for the clarification.

I got your point, and it really makes sense.

A just tested as you suggested, and the Grafana Notification was created with the url` `encrypted in the Grafana database.

This is enough for what I need, so I am closing this issue. Thanks again! heart

[2022-08-14 02:16] #758 closed

[2022-08-15 06:43] arezvani opened #814 "Can not create grafana on different namespace from grafana-operator namespace"
I have set
[code]
and I have clusterRole and clusterRoleBinding but I can't create grafana instance of different namespace.
What should I do?

I also do this job with helm:
helm  template all bitnami/grafana-operator --set grafana.enabled=false --set operator.scanAllNamespaces=true -n grafana

and then apply yaml file of Grafana.
but nothing changed.

[2022-08-16 11:46] pb82 commented on #814
@arezvani that's the expected behaviour for the current version of the operator. We're aiming to improve on that (and other things) in the 5.0 release, which will have full multi namespace and multi instance support.

[2022-08-16 11:47] pb82 commented on #814
Closing as the behaviour is expected.

[2022-08-16 11:48] #788 closed

[2022-08-18 10:23] NissesSenap commented on #597
I don't think issue is valid any more. If it is please write in it and we can reopen it.

[2022-08-18 10:23] #597 closed

[2022-08-18 11:04] #811 closed

[2022-08-18 11:35] marcinsztalmi commented on #754
I've similar issue.
Operator version: v4.5.1
Deployed on openshift
Phase: reconciling
I was able to create data source CR but only this one.
For dashboards even simple one from operator examples is returning "deployment no ready"
Notifications also tested and not working. No event message.
Logs the same as for @morningspace
Unfortunately can't redeploy CDRs at this time.
Grafana CRs config is basi

[2022-08-19 05:51] marcinsztalmi commented on #754
My bad. Did not noticed that setting [dashboardLabelSelector ](https://github.com/grafana-operator/grafana-operator/blob/master/documentation/dashboards.md#dashboard-discovery)is mandatory.
After that dashboards and notifications are loaded successfully.

[2022-08-22 18:17] eduardobaitello commented on #811
I just tested the [v4.6.0](https://github.com/grafana-operator/grafana-operator/releases/tag/v4.6.0) release, and it's working now. Thanks!

[2022-08-23 10:35] theknight1509 opened #817 "Grafana playlist operator"
I have recently set up some dashboards as custom resources in our enterprise grafana instance. Because access control is somewhat restricted and we want to gitops every single configuration (if possible).
I would like to create a custom resource that defines a playlist, so that our teams can define playlists.

This is currently possible through the http api, but having usage and access to this api

[2022-08-24 22:18] g-chcht opened #818 "[Bug] GrafanaDashboard UID is not respected when using GrafanaDashboard.spec.url"
**Describe the bug**
When using GrafanaDashboard.spec.url, the operator will assign a generated uid even if the JSON file contains a hardcoded UID.

**Version**
4.6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dashboard with a hardcoded uid
2. Provision it using the field GrafanaDashboard.spec.url
3. Go to your grafana instance, find the dashboard by name
4. Go to dashboard set

[2022-08-25 13:45] weisdd commented on #818
@g-chcht As you can see from the code snippet below, the described behaviour is intentional:
https://github.com/grafana-operator/grafana-operator/blob/9520d854b05a7b0b62b1bdb6d115902deea998c9/controllers/grafanadashboard/dashboard_pipeline.go#L101-L103
In v5, we'll start using UID that is automatically assigned to CRs by kube-apiserver. Thus, I wouldn't expect your scenario to be supported in v4 o

[2022-08-25 13:53] g-chcht commented on #818
Thanks @weisdd

I have 2 issues with this:

1. It goes against the doc : https://github.com/grafana-operator/grafana-operator/blob/master/documentation/dashboards.md#dashboard-uids
2. The functional need is real and already addressed in the doc. Knowing the dashboard UID without the need to make a call to the API is fundamental for multiple cases:

- interlinking dashboards
- linking alerts to das

[2022-08-26 05:27] pruthvi6767 opened #819 "Fix Vulnerabilities in Operator Container Image (Quay.io)"
**Describe the bug**
Fix The V4.6.0 Container Image Vulnerabilities (CVE's)
- Outdated glibc (2.28 >= 2.34) [CVE-2022-23218](https://nvd.nist.gov/vuln/detail/CVE-2022-23218)
- pcre2

**Version**
v4.6.0
**To Reproduce**
CVE's Reported

**Expected behavior**
No Critical Vulnerabilities

[2022-08-26 15:56] jzelinskie opened #820 "PrometheusRules for queries used"
**Is your feature request related to a problem? Please describe.**

High performance Grafana deployments leverage Prometheus's recording rules in order to pre-compute the queries that drive their dashboards. Without them, large classes of queries become unusable.

**(If applicable)If your feature request solves a bug please provide a link to the community issue**

**Describe the solution you'd lik

[2022-08-28 15:54] NissesSenap commented on #819
@pruthvi6767 can you please share how you found this issue?
I looked at our quay.io report and it doesn't show anything about it: https://quay.io/repository/grafana-operator/grafana-operator/manifest/sha256:4c02098a5f40d58da5026011fe6e0ebac643bd0d449aec2ab6ffd7a6207618b9?tab=vulnerabilities&fixable=true

I have also run trivy to double check and I can't see anything about it:

[code]

I read throu

[2022-08-28 15:59] NissesSenap commented on #820
@jzelinskie could you please explain a bit more what you actually want us to do?

I'm a big fan of using the prometheus operator and prmetheusRules (I use both in production) but I don't know what that have to do with the grafana-operator?

[2022-08-30 15:25] dasari-sai opened #822 "Unable to resolve connection refused error from grafana-operator-controller-manager pod"
Hey All,

I've deployed grafana using official grafana-operator repository. [Link](https://github.com/grafana-operator/grafana-operator) Everything worked fine until I started to work on LDAP integration. I am facing issues while trying to add our ldap source info to grafana using the official ldap example available in your repository [Link](https://github.com/grafana-operator/grafana-operator/tre

[2022-08-31 16:49] weisdd commented on #822
hey @dasari-sai, Could you, please, update the issue description with formatted blocks? - All whitespaces are gone. Here's documentation for the reference: https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

[2022-09-01 18:59] DevOpsWorld2022 opened #823 "Grafana operator override any API Key created whenever grafana is restarted [Question]"
Grafana operator doesn't have provision to create api key . Even if we create manually on restart grafana operator remove the manually created API key

[2022-09-04 10:51] weisdd commented on #823
Hi @DevOpsWorld2022,
With ephemeral instances of grafana (no PVC or external SQL storage), whenever a pod is recreated, it starts fresh. Thus, whatever is not managed by the operator through CRs would not be restored.

If you need to preserve a manually created API key, then you'll have to change your storage backend. Examples:
- [PV](https://github.com/grafana-operator/grafana-operator/tree/maste

[2022-09-05 08:14] anushanagireddy0430 commented on #798
Hi @pb82 , @weisdd
Can we please reopen this issue.
Grafana is throwing unauthorized error and sigining-out with logs as below when run with HA using potgres database.
![image](https://user-images.githubusercontent.com/40761006/188401035-06aaa803-1c87-4cec-a75d-b7fdba28eef4.png)

**bash-5.1$ cat grafana.ini**
[auth.anonymous]
enabled = false

[log]
level = warn
mode = console

[paths]
data = /var/

[2022-09-05 09:13] pb82 commented on #798
@anushanagireddy0430 this Jira mentions using Sqlite which won't work in a HA setup. Can you please create a new issue for the problem you're seeing with Postgres?

[2022-09-05 15:03] btheado commented on #665
I was able to get the grafana operator working in an Openshift cluster disconnected from the internet.

First I followed steps similar to those mentioned in #763. As mentioned in #333, the ImageContentSourcePolicy will only work when the images are specified with using its sha256 digest. Since the images in ClusterServiceVersion are instead using tags, the grafana operator deployment gets stuck wi

[2022-09-09 12:19] NissesSenap commented on #819
Since I cant see anything and you haven't supplied any explanation @pruthvi6767 I will close this issue.

[2022-09-10 11:11] #808 closed

[2022-09-15 12:29] #728 closed

[2022-09-15 14:32] artificial-aidan commented on #808
I'm seeing the same thing, but with ingresses as well. No difference between the ingress objects when I get them, but every 5 seconds or so I'm seeing AdmissionReview requests, and the ingress controller processes them.

I also see these logs looping repeatedly.

[code]

Here is the yaml of the ingress:

[code]

I'm also seeing the same with the deployment. No difference between the 2. And the adm

[2022-09-19 06:55] R-Studio commented on #754
@marcinsztalmi I already configured the `dashboardLabelSelector` but no difference (Grafana is still in State `Reconciling`).
This is how my configuration about 'dashboardLabelSelector' looks like. (Because I use the Bitnami Helm Chart I have to use 'dashboardLabelSelectors' instead of 'dashboardLabelSelector':
[code]

[2022-09-19 11:09] R-Studio commented on #564
Any updates? 👀

[2022-09-20 05:21] elliotdobson commented on #604
Any updates on this? Are people deploying grafana-operator v4 with these excessive RBAC rights?

[2022-09-20 05:25] elliotdobson commented on #604
Actually, looks like it might be fixed in [this commit](https://github.com/grafana-operator/grafana-operator/commit/8e03830f308f4a03de7abc22503c202556f32f87)? @NissesSenap can you confirm?

[2022-09-20 06:13] NissesSenap commented on #604
@elliotdobson this PR https://github.com/grafana-operator/grafana-operator/pull/626 was done to clean up old v3 config from the v4/main branch.
We have tweaked some of the rbac rules that v4 uses but it's still not namespace specific if that is what you want.

We are looking in to some solution for this in v5 but we won't promise anything.

[2022-09-21 02:28] Halytskyi commented on #683
This is issue still not fixed.
Tried with grafana-operator 4.6.0 version and Grafana 7.5.16.

[2022-09-22 06:49] daufinsyd opened #825 "[Bug]error validating custom resource against new schema for Grafana grafana-test/main: [].status.dashboards: Invalid value: "object":"
**Describe the bug**
Hi,
I'm trying to upgrade the Operator from 3.10 to 4.x on Openshift using the documentation recommendations (uninstalling the operator and installing it anew).
However, the new operator fails to install because of this:
[code]

This is the status part of the grafana resource:
[code]

**Version**
v3.10, v4.6

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstall the 3

[2022-09-23 12:16] daufinsyd commented on #825
Steps to resolve the issue :
- Uninstall the operator
- backup and delete the faulty Grafana Object (using --cascade=orphan to prevent the grafana and storage deletion)
- recreate the Grafana object after removing the faulty part (status.dashboards)
- Install the operator anew.

[2022-09-23 12:16] #825 closed

[2022-09-24 11:11] #777 closed

[2022-09-30 15:15] Contentways opened #828 "Update to Grafana 9.x"
Hey,
please update to actual Grafana 9.x Version, when I install the Operator and I create a Grafana instance, it installs an old Grafana 7.5.x version.

[2022-10-01 13:43] weisdd commented on #828
@Contentways There are two ways to deploy a different version of grafana:

- Through `baseImage` attribute in CR https://github.com/grafana-operator/grafana-operator/blob/54a559220fb1364fec2ad3b3f37a4b5a2e33dbef/deploy/manifests/v4.6.0/crds.yaml#L704

E.g.:
[code]

- Through an argument to the operator itself. E.g.: `--grafana-image-tag=9.0.2`

FYI: The next major release of the operator will depl

[2022-10-01 15:14] #818 closed

[2022-10-04 10:27] alexandermarston opened #829 "[Bug] Dashboard repeatedly updating/refreshing"
**Describe the bug**
This could be similar to issue #755

Grafana Dashboards are being updated between 10 seconds to a minute, repeatedly, causing the dashboard page in the browser to constantly refresh which can be quite annoying.

In the Grafana instance itself, I can see the following logs repeated which seem to indicate folders being created:

[code]

Whereas, in the Operator we can observe th

[2022-10-04 11:37] NissesSenap commented on #828
The default image will be 9.x in grafana-operator 5.0
Due to grafana 9 contains breaking changes we don't want to update the default image in the operator.
Please follow @weisdd information to set the image you want.

If you want to follow along on whats happening in v5 you can look at: https://github.com/grafana-operator/grafana-operator-experimental

[2022-10-04 11:37] #828 closed

[2022-10-04 11:44] wandersonwhcr commented on #814
@arezvani you can change `WATCH_NAMESPACE` environment variable from `grafana-operator-controller-manager` deployment. If you are using Kustomize, you can patch this resource to watch `grafana` namespace:

[code]

[code]

[2022-10-04 11:57] pb82 commented on #829
@alexandermarston can you share the dashboard where you see this behaviour?

[2022-10-04 11:59] alexandermarston commented on #829
All of our GrafanaDashboards are created in the `platform` namespace in Kubernetes. We also have a customFolderName defined as 'Platform' in a few of our dashboards - could this be with it's unhappy? It's trying to create a new folder in Grafana for the namespace the dashboard is in, but it already exists?

[2022-10-04 11:59] alexandermarston commented on #829
Of course, please see below:

[code]

[2022-10-04 12:11] weisdd commented on #829
Grafana doesn't allow users to have folders in different case:
<img width="623" alt="image" src="https://user-images.githubusercontent.com/46579601/193815923-042c955c-de1f-406d-8d72-5900a31c8f20.png">
Seems like we can slightly adjust logic in the operator to make it discard case while inspecting a list of already-existing folders.

[2022-10-04 12:18] alexandermarston commented on #829
I was able to resolve the issue with the folders and it seems that isn't actually my issue with the updating dashboards.

I can see the following in the logs which matches the exact time my dashboard is refreshed in the browser.

[code]

[2022-10-04 17:33] #820 closed

[2022-10-04 22:11] elliotdobson commented on #604
Ah right I'm mistaken. #626 did fix the changes in #327 (specifically 6e385d2) with regards to the Grafana Operator being able to find GrafanaDashboards in all namespaces. However that is not actually what we're discussing in this issue.

The original issue is not fixed in master which is the `manager-role` ClusterRole found [here](https://github.com/grafana-operator/grafana-operator/blob/master/d

[2022-10-05 03:32] NissesSenap commented on #604
We have started to think of how we could solve this in v5 of the operator which we are currently working on https://github.com/grafana-operator/grafana-operator-experimental/pull/30
It's nothing that we will backport to V4.

[2022-10-05 16:50] alexandermarston commented on #829
It turns out some of our dashboard manifests had duplicate names/uids, so the operator was POSTing these dashboard to the API which was causing them to overwrite each-other on the Grafana side.

Not sure if there is something on the Operator side that can be done to flag issues like these?

[2022-10-05 23:48] jzelinskie commented on #820
Sorry for letting this go stale. IIRC, my thought was that if you know the queries used in dashboards, you could use them to create recording rules for Prometheus in order to make those queries more performant.

[2022-10-06 03:51] NissesSenap commented on #820
Ahh then i understand.
I would say this is out of scope for the operator even if it would be a very interesting tool.

You don't want all your queries to be defined as Prometheus rules especially since they come with a cost and you have to rewrite the queries that you have in your dashboards/alerts to actually use them.

What would be really interesting though would be a cli tool that you could po

[2022-10-06 14:01] weisdd opened #832 "[Bug] contentCache is not used for url-based dashboards"
**Describe the bug**

Content cache is not working for url-based dashboards. - It never get populated in the CR status section.

**Version**

v4.7.0

**To Reproduce**

Steps to reproduce the behavior:

1. Deploy something like that:

[code]

2. Check `status.contentCache` - it remains empty.

**Expected behavior**

Cache is used, so the operator doesn't go to external resources each 10 seconds.

*

[2022-10-06 21:22] celestialorb opened #834 "Allow Specification for Topology Spread Constraints"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to specify the topology spread constraints of the Grafana deployment.

**Describe the solution you'd like**
I'd like to see the field with the appropriate type added to the Grafana API specification under `deployment` for `topologySpreadConstraints`.

**Describe alternatives you've considered**
The closest avail

[2022-10-07 17:32] #822 closed

[2022-10-10 06:07] R-Studio commented on #754
@pb82 I have just updated it, but still in state `Reconciling`. But I think everything else works.

[2022-10-11 11:36] #832 closed

[2022-10-13 11:39] HubertStefanski commented on #362
@dkdr I believe we're on a good path in https://github.com/grafana-operator/grafana-operator-experimental/ if you're interested to check it out (we'll merge experimental to the main branch eventually)

[2022-10-13 12:30] #823 closed

[2022-10-18 11:33] pb82 commented on #834
@celestialorb that's a reasonable request. The change should be relatively straightforward, so if anyone wants to send a PR we'd happily merge it.

[2022-10-18 13:30] NickLarsenNZ opened #837 "[Bug] GrafanaDataSource CRD does not line up with the documented structure"
**Describe the bug**
There is little documentation for how to setup a `GrafanaDataSource` for `Tempo` (at least from what I could find). Because of that, I have referred to the [Grafana documentation for the Tempo Datasource][documentation].

**Version**
4.7.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `GrafanaDataSource` that matches the [documentation] structure:
[code]
2. Wh

[2022-10-18 20:14] NissesSenap commented on #837
We don't support all fields specified in grafana, they are to many changes for us to continuously update. Instead we add features when people ask for them just like you are now.

Look at the example tempo crd: https://github.com/grafana-operator/grafana-operator/blob/master/deploy/examples/datasources/Tempo.yaml.
Just like the error says you need to have `lokiSearch` under tracesToLogs. This can a

[2022-10-18 20:22] NissesSenap commented on #525
Sorry for not providing any update on this issue.

Our current feeling is that organizations isn't something that should be used inside grafana. We have spoken some with the grafana team about this topic and they agree and that is why organizations isn't supported in there cloud offering.

From our point of view the solution is to use multiple grafana instances. We know that this feature currently

[2022-10-18 20:22] #525 closed

[2022-10-18 20:29] NissesSenap commented on #564
Unified Alerting have been deprecated in grafana 9 and grafana alerting https://grafana.com/docs/grafana/latest/alerting/ is now the name of the game.
https://grafana.com/blog/2021/06/14/the-new-unified-alerting-system-for-grafana-everything-you-need-to-know

This feature won't be implemented due to this. Since it's a allot of work and maintenance to take on a new controller.
If you want grafana a

[2022-10-18 20:29] #564 closed, assigned to nobody

[2022-10-18 20:33] NissesSenap commented on #440
Is my memory wrong or haven't we solved this @weisdd?

[2022-10-18 20:34] NissesSenap commented on #408
Sorry for not providing any update on this issue.

Our current feeling is that organizations isn't something that should be used inside grafana. We have spoken some with the grafana team about this topic and they agree and that is why organizations isn't supported in there cloud offering.

From our point of view the solution is to use multiple grafana instances. We know that this feature currently

[2022-10-18 20:34] #408 closed

[2022-10-18 20:37] NissesSenap commented on #829
In version 5 we will change the way the controller manages the dashboards and duplicate uids won't be possible. But it's not possible for us to check on dashboards if one updates or is created.
It would force us to download all the dashboards and parse through all of them and verify that it's not the case.
The operator don't keep this kind of information in memory.

So sadly it's nothing that we c

[2022-10-18 20:37] #829 closed

[2022-10-19 09:39] weisdd commented on #440
@NissesSenap yep, this functionality is already offered by the operator.

Just for the audience:
- When the operator downloads a dashboard from a URL, it saves a cache in the `status.contentCache` of CR.
- By default, the cache never expires. When this behaviour is not desirable, a user can add `contentCacheDuration` field to the `GrafanaDashboard` CR stating how frequently the updates should happ

[2022-10-19 09:55] #440 closed

[2022-10-19 20:41] gr-ahh commented on #754
We are seeing this on Grafana Operator v4.4.1 in OpenShift.

Seems like the Schema for GrafanaDashboard has the "labels" object, while the GrafanaDataSource and GrafanaNotificationChannel does not.

A notificationchannel deployment with label app=grafana would result in instant reconcilling of object.

Redeploying the deployment without the label app=grafana would be successful.

We need the app=g

[2022-10-21 22:09] NickLarsenNZ commented on #837
Thanks @NissesSenap, `customJsonData` is what I need :)

[2022-10-21 22:09] #837 closed

[2022-10-24 06:05] R-Studio opened #840 "Implement CRD's for Grafana 9 Alert Rules, Alert Groups, Contact Points, Notification Policies and Silences"
**Is your feature request related to a problem? Please describe.**
No existing problem.

**Describe** the solution you'd like
Grafana Alerting is a great new feature, but the current grafana-operator does not support a CRD definition for the decoupled alerts, contact points, alert groups, notification policies and silences. The desired solution would be CRDs for each of these so that the new alert

[2022-10-24 06:05] R-Studio opened #911 "Implement CRD's for Grafana 9 Alert Rules, Alert Groups, Contact Points, Notification Policies and Silences"
**Is your feature request related to a problem? Please describe.**
No existing problem.

**Describe** the solution you'd like
Grafana Alerting is a great new feature, but the current grafana-operator does not support a CRD definition for the decoupled alerts, contact points, alert groups, notification policies and silences. The desired solution would be CRDs for each of these so that the new alert

[2022-10-25 08:04] hsolberg opened #842 "[Bug] CRD naming conventions"
**Describe the bug**
CRD contains fields with period punctuation mark (aka -> `.`). This breaks the possibility to query what those fields holds, for instance sub-fields and description/context.

**Version**
v4.6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following command `kubectl explain grafana.spec.config`
2. Observe the options:
[code]
3. Try to get the definitions for an

[2022-10-31 19:40] gr-ahh commented on #754
Is anyone from Grafana looking into this?

Seems to be substantial issue considering any GrafanaDashboard using labels (which is required for the artifact to be picked up by the operator) to have the artifact in reconciling status.

[2022-10-31 21:27] NissesSenap commented on #754
@gr-ahh this project isn't supported by grafana. It's a project maintained and developed by mostly redhat employees but not exclusively, we work on this project on our spare time and it's not part of our paid job.

To answer your question, no we are currently not working on it. We haven't gotten any instructions on how to reproduce this issue and this specific issue contains problem from multiple

[2022-10-31 21:29] NissesSenap commented on #754
Since this issue contains multiple issues and i don't know which one is which any more i will close this issue.

Please feel free to create a new issue where you give reproducible steps.
And please update to the latest version of the operator, else it will be very hard for us to debug any issues.

I will lock and comments in this issue.

[2022-10-31 21:29] #754 closed

[2022-11-01 22:01] elamaran11 commented on #402
@cheddarwhizzy Please let us know if we have a working solution for this. I have a need to manage remote Grafana Instance with Amazon Managed Grafana to create Dashboards.

[2022-11-04 06:18] LiaoSirui opened #843 "need to config grafana hostAliases"
**Is your feature request related to a problem? Please describe.**
I have a self-deployed dex idp without dns resolver and want to inject via hostAliases

**Describe the solution you'd like**

add a field:

[code]

[2022-11-04 14:18] NickLarsenNZ opened #844 "[Feature] Manage Grafana Service Accounts, Store tokens in Secret"
**Is your feature request related to a problem? Please describe.**

It would be nice if Service Accounts can be specified and have their tokens stored in Kubernetes Secrets.

**Describe the solution you'd like**

Perhaps a new CRD (eg: `GrafanaServiceAccount`) to manage ServiceAccounts (which replace API Keys in Grafana) as code.

Allow the secret(s) to be created in other namespaces too.

**Descr

[2022-11-08 10:57] anushanagireddy0430 opened #845 "Error creating dashboard, expected status 200 but got 400 - controller_grafanadashboard"
Grafana dashboard creation failed with below error when a string/substring in the Grafana title matches with string/substring of namespace or with other dashboard title.
Error:
 Warning  ProcessingError  7s (x18 over 2m45s)  controller_grafanadashboard  error creating dashboard, expected status 200 but got 400

Grafana operator version: v4.5.0
Grafana version: v9.0.2

Steps to reproduce the behavi

[2022-11-08 13:04] pb82 commented on #844
Thanks @NickLarsenNZ this could be something to add to the v5 of the operator.

[2022-11-08 13:10] pb82 commented on #842
@hsolberg we use the same names as the Grafana config (e.g. https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#authbasic). Changing those names would be a breaking change, also in v5 we will not have explicitly listed config options in the CRD anymore.

[2022-11-08 13:11] #842 closed

[2022-11-08 13:12] pb82 commented on #840
This could be interesting for v5 (https://github.com/grafana-operator/grafana-operator-experimental).

[2022-11-08 14:20] NickLarsenNZ commented on #844
@pb82, A little off-topic, but in the same vein - could reusable Panels be managed via a CRD? I don't see anything in the [Grafana API](https://grafana.com/docs/grafana/latest/developers/http_api/) so maybe not, but I see it in the UI.

[2022-11-09 07:33] exe-r commented on #665
Any update regarding this? Limits the usage of the operator, as a lot of installations are usually disconnected

[2022-11-16 06:45] joe00712 opened #846 "Unable to get LDAP server and port configuration after deploying openshift grafana community operator"
Hi.

Thanks for you support.

I am using Openshift commmunity grafana-operator 4.7.1 over openshift 4.8
 - quay.io/grafana-operator/grafana-operator:v4.7.1
 - https://github.com/grafana-operator/grafana-operator

As mentioned in the ldap example: https://github.com/integr8ly/grafana-operator/tree/master/deploy/examples/ldap I have created
 - Created the configmap

![image](https://user-images.gith

[2022-11-17 16:19] xphyr opened #847 "[Bug] Grafana Operator deploys version 7.5.16 by default, needs to be updated to 7.5.17"
**Describe the bug**
Current release of Grafana Operator deploys version 7.5.16 of Grafana. The latest release of the Chrome browser (and browsers based on Chrome such as Microsoft Edge) trigger a bug in the QueryFields/Input Fields of Grafana see [QueryFields/Input fields are broken in the recent Chrome browser](https://github.com/grafana/grafana/issues/54535)

A fix for this issue is in Grafana

[2022-11-17 16:20] xphyr commented on #847
I am working on the PR update to this and will submit once I have tested it.

[2022-11-17 16:43] xphyr commented on #847
This can be addressed in the 4.7.1 release of the grafana operator by updating your current Grafana CR with: `spec.baseImage: docker.io/grafana/grafana:7.5.17` as shown below:

[code]

[2022-11-17 19:16] #834 closed

[2022-11-18 01:20] andrewm-aero opened #850 "[Bug] Regression of Bug 381"
**Describe the bug**
Default rolling deployment strategy uses maxSurge and maxUnavailable of 25, not 25%, leading to downtime with any fewer than 26 replicas. This appears to be a regression of https://github.com/grafana-operator/grafana-operator/issues/381.

**Version**
docker.io/bitnami/grafana-operator:4.7.1-debian-11-r0

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a Grafana res

[2022-11-18 13:18] Bastian82 commented on #837
Hi,
Can you tell me which version of grafana-operator has `customJsonData` implemented? Im using bitnami helm chats
` docker.io/bitnami/grafana-operator:4.7.1-debian-11-r0`
but got error:
`error: error validating "STDIN": error validating data: ValidationError(GrafanaDataSource.spec.datasources[0]): unknown field "customJsonData" in org.integreatly.v1alpha1.GrafanaDataSource.spec.datasources; if y

[2022-11-18 13:30] NissesSenap commented on #837
We don't support the bitnami helm chart so I don't know how they follow the grafana-operator versions.
But this fix was solved in https://github.com/grafana-operator/grafana-operator/pull/803 and it was released in 4.6.0
https://github.com/grafana-operator/grafana-operator/releases/tag/v4.6.0

[2022-11-22 13:05] pb82 commented on #850
It looks like this has either never been fixed on master or was fixed and then changed back: https://github.com/grafana-operator/grafana-operator/blob/master/controllers/model/grafanaDeployment.go#L152

We're still setting 25 (as a number) instead of 25%

[2022-11-22 13:06] pb82 commented on #847
Closing this, fix has been merged

[2022-11-23 08:58] joe00712 commented on #846
Hi @pb82 ,

Thanks for you support.

Yes I have checked file inside the Grafana container. File (ldap.toml) exist inside the container at the give location.
PFA snippets.

![image](https://user-images.githubusercontent.com/92432275/203505939-dedbe89d-e834-4eb3-8df4-7ae4ee93082a.png)

![image](https://user-images.githubusercontent.com/92432275/203505453-86dcf832-c610-40fe-b5d0-dab8a319198b.png)

[2022-11-23 09:09] joe00712 commented on #846
Grafana.ini
![image](https://user-images.githubusercontent.com/92432275/203508203-e3169f29-44f5-4687-ae58-0891a9d886eb.png)

[2022-11-28 04:42] joe00712 commented on #846
Hi @joe00712

Thanks for your support.

I have checked all the config files and location. All files are placed at required locations.
Any suggestions ? Or any part i am missing.

[2022-11-28 08:39] pb82 commented on #846
@joe00712 it all looks correct, the only thing I can think of would be a Syntax error in the ldap config file. Are there any relevant logs in the Grafana pod?